<div class="tableofcontents">
    <div class="ToCTitle">Table of Contents</div>
    <div class="ToCListContain">
        <div class="ToCHeaders"><a href="/voe/#BeforeStart">Prerequisites</a></div>
        <div class="ToCPhase ToCPhaseHeader">How to get in!</div>
        <div class="ToCPhase ToCPhaseHeader">Items you should bring!</div>
        <div class="ToCHeaders">Early Phase</div>
        <!-- put stuff before the boss spawns here -->


        <div class="ToCHeaders">Boss(es)</div>
        <!-- put stuff after the boss spawns down here -->
    </div>
</div>