@page "/news/anet-announces-gw3"
<HeadContent>
    <meta name="description" content="ArenaNet has announced Guild Wars 3 at Summer Games Fest 2026!">
    <link rel="canonical" href="https://convergencecorp.net/news/anet-announces-gw3" />
    <meta property="og:title" content="Guild Wars 3 announced! | Convergence Corp!" />
    <meta property="og:url" content="https://convergencecorp.net/news/anet-announces-gw3" />
    <meta property="og:image" content="https://convergencecorp.net/images/news/gw3announcement.png" />
    <meta property="og:description" content="ArenaNet has announced Guild Wars 3 at Summer Games Fest 2026!" />
</HeadContent>


<article class="news-article">
    <h1>ArenaNet announces Guild Wars 3!</h1>
    <div>Author: SunMatrix</div>
    <div>Published: <span class="time">June 5th, 2026</span></div>
    <div>Last Updated: <span class="time">June 5th, 2026</span></div>

    <section>
        <h2>Summer Games Fest 2026</h2>
        <p>
            One of the largest gaming events of the year, 
            <a target="_blank" href="https://www.summergamefest.com/events/summer-game-fest">Summer Games Fest 2026</a> was watched live by millions across multiple streaming platforms.
            The Guild Wars 3 announcement trailer played halfway through the show.
        </p>
        <div class="video-container">
            <iframe 
                width="560" 
                height="315" 
                src="https://www.youtube.com/embed/ITPzxITngqA?si=trIFViIUrd3ZF4L0" 
                title="YouTube video player" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
            </iframe>
        </div>
        <p>
            After the trailer played, the camera turned to Colin Johanson, Head of ArenaNet Studio in center stage.
            "The time is right for the next evolution of the MMORPG, and that game is Guild Wars 3!"
        </p>
        <p>
            Additionally, he told the audience that the game would be launching on PC and PS5, 
            as well as to signup for the newsletter at <a target="_blank" href="https://guildwars3.com#newsletter">guildwars3.com</a>!
        </p>

    </section>
    <section>
        <h2>Guild Wars 3!</h2>
        <p>
            Over 1000 years before the events of the original Guild Wars, 
            Guild Wars 3 lets you play as a member of the Vaelwardens, a guild sworn to protect the land and people of Orr.
            You'll glide, ride, leap, and wall-run to explore the magical frontiers of Orr.
        </p>
        <p>
            Guild Wars 3 is an action-adventure MMORPG, 
            a modern evolution of the genre that blends rich action-combat, 
            character building, and skill collection. Play solo or form a band of adventurers, 
            forging impactful and enduring bonds with fellow players, a formative cast of memorable NPCs, 
            and the nature spirits that call Orr home.
        </p>
    </section>
    <section>
        <h2>Wishlist the Game!</h2>
        <p>
            The store pages are already up and running on Steam and the Playstation store.
        </p>
        <ul>
            <li><a target="_blank" href="https://store.steampowered.com/app/4743930/Guild_Wars_3/">Steam</a></li>
            <li><a target="_blank" href="https://store.playstation.com/en-us/concept/10019646/">Playstation</a></li>
        </ul>
    </section>
    <section>
        <h2>Beta in Fall 2027</h2>
        <p>
            Register for the newsletter at <a target="_blank" href="https://guildwars3.com#newsletter">guildwars3.com</a>
            for a chance to play the beta.
            They will send a confirmation email, so make sure to check your mail!
        </p>
    </section>
    <section>
        <h2>Anets new discord server!</h2>
        <p>
            Earlier this week, ArenaNet made a post on 
            <a target="_blank" href="https://www.guildwars2.com/en/news/join-the-official-guild-wars-community-discord-server/">guildwars2.com</a><sup><a href="/news/anet-announces-gw3#source1">1</a></sup>
            inviting everyone to join their brand new official <a target="_blank" href="https://discord.gg/guildwars">Guild Wars discord server</a>.
            This discord is ArenaNets only official server for the entire Guild Wars franchise.
        </p>
        <img src="/images/news/guildwars-discord-banner.jpg" style="width:100%;"/>
    </section>
    <section>
        <h2>Other brand new Socials!</h2>
        <ul style="margin-top:0px;">
            <li><a target="_blank" href="https://x.com/PlayGuildWars3">https://x.com/PlayGuildWars3</a></li>
            <li><a target="_blank" href="https://www.instagram.com/GuildWars3">https://www.instagram.com/GuildWars3</a></li>
        </ul>
    </section>
    <section>
        <h3>Sources</h3>
        <div id="source1"><sup>1)</sup> "Join the Official <em>Guild Wars</em> Community Discord Server!"</div>
        <a target="_blank" href="https://www.guildwars2.com/en/news/join-the-official-guild-wars-community-discord-server/">https://www.guildwars2.com/en/news/join-the-official-guild-wars-community-discord-server/</a>
        <div><sup>2)</sup> "Celebrating the Announcement of <em>Guild Wars 3</em>"</div>
        <a target="_blank" href="https://www.guildwars2.com/en/news/celebrating-the-announcement-of-guild-wars-3/">https://www.guildwars2.com/en/news/celebrating-the-announcement-of-guild-wars-3/</a>
        <div><sup>3)</sup> <a target="_blank" href="https://www.guildwars3.com">guildwars3.com</a></div>
        <div><sup>4)</sup> Guild Wars 3 | Announcement Trailer </div>
        <a target="_blank" href="https://www.youtube.com/watch?v=ITPzxITngqA">https://www.youtube.com/watch?v=ITPzxITngqA</a>

    </section>p;
</article>
