@page "/News/DragonBash2026"

<HeadContent>
    <meta name="description" content="Checkout what's new in Dragon Bash 2026!">
    <link rel="canonical" href="https://convergencecorp.net/News/DragonBash2026" />
    <meta property="og:title" content="Dragon Bash 2026! | Convergence Corp!" />
    <meta property="og:url" content="https://convergencecorp.net/News/DragonBash2026" />
    <meta property="og:image" content="https://convergencecorp.net/images/news/dragonbash2026.png" />
    <meta property="og:image:height" content="200"/>
    <meta property="og:image:width" content="250"/>
    <meta property="og:description" content="Checkout what's new in Dragon Bash 2026!" />
</HeadContent>

<article class="news-article">
    <h1>Dragon Bash 2026!</h1>
    <div>Author: SunMatrix</div>
    <div>Published: <span class="time">June 7th, 2026</span></div>
    <div>Last Updated: <span class="time">June 7th, 2026</span></div>
    <p>
        The annual Dragon Bash festival has started! 
        Starting June 2nd and going for 3 weeks until June 23rd, 
        Dragon Bash is a celebration of Tyria's victories over the Elder Dragons.
    </p>
    <section>
        <h2>New Guides on Convergence Corp!</h2>
        <p>
            I've started making festival guides as a part of the website, 
            checkout the Dragon Bash guide at <a target="_blank" href="/Festivals/DragonBash">https://convergencecorp.net/festivals/dragonbash</a>
        </p>
        
    </section>
    <section>
        <h2>New this year!</h2>
        <p>New rewards for participating in this years festivities!</p>
        <p>
            This years reward for completing the Annuals is the 
            <a target="_blank" href="https://wiki.guildwars2.com/wiki/Bear-Blessed_Visage_Box">Bear-Blessed Visage Box</a>.
        </p>
        <figure>
            <img src=@Assets["/images/Festivals/DragonBash/DB2026/DragonBash-BearVisage.png"]/>
            <figcaption>Bear-Blessed Visage</figcaption>
        </figure>
        <p>
            You can purchase the <a target="_blank" href="https://wiki.guildwars2.com/wiki/Plush_Primo_Backpack"> Plush Primo Backpack</a> for 5 
            Jorbreakers <img src="https://render.guildwars2.com/file/D1679CEA0B0207B8D196F1F39C913C14CB282901/591443.png" style="width:20px;" alt="Jorbreaker" />
            at the Prizes vendor.
        </p>
        <figure>
            <img src=@Assets["/images/Festivals/DragonBash/DB2026/DragonBash-PlushPrimoBackpack.png"] />
            <figcaption>Plush Primo Backpack</figcaption>
        </figure>
        <p>
            The new <a target="_blank" href="https://wiki.guildwars2.com/wiki/Mini_Papillon">Mini Papillon </a>can be adopted for 10 Jorbreakers
            <img src="https://render.guildwars2.com/file/D1679CEA0B0207B8D196F1F39C913C14CB282901/591443.png" style="width:20px;" alt="Jorbreaker" /> from the Prizes vendor.
        </p>
        <figure>
            <img src=@Assets["/images/Festivals/DragonBash/DB2026/DragonBash-MiniPapillon.png"] />
            <figcaption>
                Mini Papillon
            </figcaption>
        </figure>
        <p>
            Deft Lahar has 5 new Dragon Bash Homestead recipes for 5 Zhaitaffy
            <img src="https://render.guildwars2.com/file/1A53C833985AF29F60470C5DEEA61704F6B97E1E/591442.png" style="width:20px;" alt="Zhaitaffy"/> each.
            
        </p>
        <div>Recipes:</div>
        <ul style="margin-top:3px;padding-inline-start:10px;">
            <li>Plush Primo</li>
            <li>Bear Totem</li>
            <li>Leopard Totem</li>
            <li>Raven Totem</li>
            <li>Wolf Totem</li>
        </ul>
        
        <p>
            A new cooking recipe, <a target="_blank" href="https://wiki.guildwars2.com/wiki/Elder_Draco-Pop">Elder Draco-Pop 
                <img src="https://render.guildwars2.com/file/F631C3C301017DA7A49FF9DE76E9B9630F6E5F0A/3780224.png" style="width:20px;" alt="DracoPop" /></a>, for 200 Zhaitaffy
            <img src="https://render.guildwars2.com/file/1A53C833985AF29F60470C5DEEA61704F6B97E1E/591442.png" style="width:20px;" alt="Zhaitaffy" />.
            It gives 3% to all stats and +20% Karma.
        </p>
        <p>
            A set of new <a href="https://wiki.guildwars2.com/wiki/Icebone_weapons">Icebone Weapons</a>! You can get one from the Annual achievements as well as one each week from the weekly achievements.
        </p>
        <figure>
            <img src=@Assets["/images/Festivals/DragonBash/DB2026/DragonBash-IceboneGreatsword.png"] style="max-width:500px;" />
            <figcaption>
                Icebone Greatsword
            </figcaption>
        </figure>
    </section>
    <section>
        <h2>Summer Game Fest Bonus event!</h2>
        <p>
            In parallel with the Dragon Bash festival, there is also a bonus event for Summer Game Fest.
            Complete events in Tyria for some skins.
        </p>
        <h3>Summer Game Fest Boost</h3>
        <p>For the duration of the bonus event, everyone gets the "Summer Game Fest Boost", which increases Magic Find, Exp gain, WvW and PvP reward track progress.</p>

        <h3>Summer First Steps</h3>
        <p>Complete 5 events in level 1-15 maps to get <img src="" /><a target="_blank" href="">Guild Warrior Shoulders</a></p>
        <figure>
            <img src=@Assets["/images/news/SGF26/SGF26Shoulders.png"] alt="Guild Warrior Shoulders" />
            <figcaption>Guild Warrior Shoulders</figcaption>
        </figure>
        <h3>Summer Max Level</h3>
    <p>
        Complete 5 events in Orr for 3 <a target="_blank" href="https://wiki.guildwars2.com/wiki/Guaranteed_Wardrobe_Unlock">Guaranteed Wardrobe Unlocks</a>
        <img src="https://render.guildwars2.com/file/493706BEC3081BAC3C8075A280FBBF43D76039BC/1518934.png" alt="Guaranteed Wardrobe Unlock" style="width:32px;" /> .
    </p>
        <h3>Summer Guild Wars</h3>
        <p>Complete 15 events anywhere in Tyria for the <a target="_blank" href="https://wiki.guildwars2.com/wiki/Guild_Warrior_Cape_Skin">Guild Warrior Cape Skin</a>.</p>
        <figure>
            <img src=@Assets["/images/news/SGF26/SGF26Cape.png"] alt="Guild Warrior Cape"/>
            
            <figcaption>Guild Warrior Cape</figcaption>
        </figure>
    </section>
</article>