@page "/News/EctosJune2026"
<HeadContent>
    <meta name="description" content="June 2026 State of the Ectos!">
    <link rel="canonical" href="https://convergencecorp.net/News/EctosJune2026" />
    <meta property="og:title" content="State of the Ectos! | Convergence Corp!" />
    <meta property="og:url" content="https://convergencecorp.net/News/EctosJune2026" />
    <meta property="og:image" content="https://convergencecorp.net/images/news/stateofectos2026.png" />
    <meta property="og:image:height" content="200" />
    <meta property="og:image:width" content="250" />
    <meta property="og:description" content="June 2026 State of the Ectos!" />
</HeadContent>
<article class="news-article">
    <h1>State of the Ectos June 2026!</h1>
    <div>Author: SunMatrix</div>
    <div>Published: <span class="time">June 25th, 2026</span></div>
    <div>Last Updated: <span class="time">June 25th, 2026</span></div>
    <p>
        Every year the market changes as new content gets released.
        Some farms get nerfed, others get buffed and players adjust their patterns to try and take advantage.
    </p>
    <section>
        <h2>At this point in time</h2>
        <p>
            This year we had the release of Visions of Eternity and its mirror farms to thank for bringing in thousands more ecto for everybody.
            While the mirror farm has been nerfed from its original state, it managed to tank the ecto market from around 32 to 21 silver in just under a month.
            After the nerf, ectos have been hovering around 18.5 silver for the last 6 months.
        </p>
    </section>
    <section>
        <h2>The near future of ectos</h2>
        <p>
            Now, with the Festival of Four Winds being only a few short weeks away, ectos have been slowly climbing back to 25 silver. 
            When the festival inevitably begins, they will be jumping again as they have in previous years.
            Last year we saw a particularly large spike in ecto prices from 35 silver to over 50 silver
            because ArenaNet unexpectedly decided to lower the exchange rate for <a target="_blank" href="https://wiki.guildwars2.com/wiki/Zephyrite_Supply_Box">Zephyrite Supply Boxes</a> from 2 ectos for 7 to 1 ecto per 7.
        </p>
        <p>
            If they stick with the same rate this year, I'm predicting ectos to reach over 40 silver each, gaining a solid 9 silver per ecto for those who buy at 25 silver.
        </p>
        <p>
            If they decide to go back to 2 per 7, I expect the price of ectos to rise into the 30s, netting a smaller, but still positive profit for anyone buying now.
        </p>
        <p>
            For the near future, I recommend buying all the ectos you can to sell during the Festival of Four Winds.
        </p>
    </section>
    <section>
        <h2>The next year of ectos</h2>
        <p>
            When the Festival of Four Winds ends, ecto prices will naturally fall from their elevated values. 
            On September 1st, we can expect the last patch of Visions of Eternity to bring with it a new legendary weapon to help keep prices up, 
            but also a new set of mirrors to farm in the final map.
        </p>
        <p>
            Beyond the end of VoE, I'm not expecting any new major ecto sinks from the Hall of Monuments for Guild Wars 3. 
            We might be heading into another era of lower priced ectos until Guild Wars 3 can get off the ground and Guild Wars 2 can get back to making expansions.
        </p>
    </section>
    <section>
        <h2>In conclusion</h2>
        <p>
            The next month of ectos is going to be very lucrative, but sell them all before the festival ends, as they'll end up being a losing asset in the long run.
        </p>
    </section>
</article>