<section>
    <h2 id="Activities">Activities!</h2>
    <p>
        Dragon Bash has many activities in and around Hoelbrak!
    </p>
        
    <!--Moa Racing-->
    <h3 id="MoaRacing">Moa Racing</h3>
    <img src=@Assets["/images/Festivals/DragonBash/Dragonbash-MoaRacers.png"] style="width:100%;" />
    <p>An event near Legends Waypoint [&BIwDAAA=] where you can bet on racing moas. Talk to Tigg to bet 10 Zhaitaffy on each of the moas before the race begins.</p>
    <p>Note: You need the Zhaitaffy in your inventory to bet on the moas.</p>
    <h4>Related Achievements</h4>
    <ul>
        <li>
            <img src="https://render.guildwars2.com/file/53CC4EBAD60ADB409273D2AC5A640C72935CDEF2/2163496.png" style="width:48px;" />
            (Annual) Winner's Circle - Pick the winning moa racer 5 times.
        </li>
        <li>
            <img src="https://render.guildwars2.com/file/FF9DF23C6DE40E3F09EC1AE06169379048DA3C94/602783.png" style="width:48px;" />
            Winner's Circle - Pick the winning moa racer 10 times.
        </li>
    </ul>


    <!--Dragon Arena-->
    <h3 id="Arena">Dragon Arena</h3>
    <img src=@Assets["/images/Festivals/DragonBash/DragonBash-Arena.png"] style="width:100%;" />
    <p>Fight waves of holographic dragon minions.</p>
    <p>Public instances throw 10 players together and will start the events automatically.</p>
    <p>
        Private instances are limited to a 5 man party.
        You can enter the private Dragon Arena by entering the portal on the north east side of the arena.
        You can raise/lower the difficulty of the arena by talking to Taddra (from 1 to 10).
    </p>
    <h4>Related Achievements:</h4>
    <ul style="margin-top:0px;">
        <li>
            <img src="https://render.guildwars2.com/file/53CC4EBAD60ADB409273D2AC5A640C72935CDEF2/2163496.png" style="width:48px;" />
            (Annual) Masters of the Arena - Defeat all 6 holographic champions.
        </li>
        <li>
            <img src="https://render.guildwars2.com/file/FF9DF23C6DE40E3F09EC1AE06169379048DA3C94/602783.png" style="width:48px;" />
            Masters of the Arena - Defeat all 6 holographic champions.
        </li>
        <li>
            <img src="https://render.guildwars2.com/file/53CC4EBAD60ADB409273D2AC5A640C72935CDEF2/2163496.png" style="width:48px;" />
            Arena Slayer - Defeat the first 5 holographic champions.
        </li>
        <li>
            <img src="https://render.guildwars2.com/file/FF9DF23C6DE40E3F09EC1AE06169379048DA3C94/602783.png" style="width:48px;" />
            Eye Survived - Defeat the Eye of Zhaitan at difficulty 3 or above. This requires doing a Private Instance.
        </li>
        <li>
            <img src="https://render.guildwars2.com/file/FF9DF23C6DE40E3F09EC1AE06169379048DA3C94/602783.png" style="width:48px;" />
            Saltspray Survived - Defeat the Saltspray Dragon champion at difficulty 3 or above. This requires doing a Private Instance.
        </li>
    </ul>


    <!--Hologram Stampede-->
    <h3 id="Stampede">Hologram Stampede</h3>
    <p>
        Every 15 minutes, a Hologram Stampede starts in 1 of 4 maps.
        Wayfairer Foothills, Dredgehaunt Cliffs, Lornar's Pass, or Snowden Drifts.
        You can see what map will be starting next by looking at the Dragon Bash event in the top right.
    </p>
    <img src=@Assets["/images/Festivals/DragonBash/DragonBash-StampedeRotation.png"] style="max-height:400px;" />
        
    <p>
        Each Hologram Stampede has 3 phases.
        Each phase places several Hologram Projectors around the map.
        Activate the projectors and defeat the hologram dragon minions!
    </p>
    <img src=@Assets["/images/Festivals/DragonBash/DragonBash-StampedeStand.png"] style="max-height:300px;" />
    <h4>Related Achievements:</h4>
    <ul style="margin-top:0px;">
        <li>
            <img src="https://render.guildwars2.com/file/53CC4EBAD60ADB409273D2AC5A640C72935CDEF2/2163496.png" style="width:48px;" />
            (Annual) So Lifelike - Vanquish holographic dragon minions 300 times.
        </li>
        <li>
            <img src="https://render.guildwars2.com/file/53CC4EBAD60ADB409273D2AC5A640C72935CDEF2/2163496.png" style="width:48px;" />
            (Annual) Hologram Herder - Participate in Hologram Stampede 5 times.
        </li>
        <li>
            <img src="https://render.guildwars2.com/file/FF9DF23C6DE40E3F09EC1AE06169379048DA3C94/602783.png" style="width:48px;" />
            Hologram Herder - Participate in Hologram Stampede 10 times.
        </li>
    </ul>

        
    <!--Pinata Bashing (Adventure)-->
    <h3 id="PinataAdventure">Piñata Bashing (Adventure)</h3>
    <img src=@Assets["/images/Festivals/DragonBash/DragonBash-PinataBashing.png"] style="width:100%;" />
    <p>An adventure starting near Upper Balcony Waypoint [&BAgFAAA=]. Smash as many piñatas within the time limit as you can!</p>
    <p>Your skills are replaced by special Piñata bashing skills.</p>
    <ul>
        <li>
            <div>
                <img src=@Assets["/images/Festivals/DragonBash/Sohothin's_Roar.png"] style="width:40px;" />
                Piñata Popper
            </div>
            <div>Swing your Piñata hammer, if you pop a Piñata it refreshes all your skills.</div>
        </li>
        <li>
            <div>
                <img src=@Assets["/images/Festivals/DragonBash/Engage_and_Assault.png"] style="width:40px;" />
                Pinata Bowl
            </div>
            <div>
                Throw yourself towards an area, breaking any piñatas in your path.
                Recharges Dragon Launch if you break a piñata.
            </div>
        </li>
        <li>
            <div>
                <img src=@Assets["/images/Festivals/DragonBash/Sohothin's_Speed.png"] style="width:40px;" />
                Dragon Launch
            </div>
            <div>Leap forward into the air. Resets Piñata Bowl.</div>
        </li>
    </ul>
    <h4>Related Achievements:</h4>
    <ul style="margin-top:0px;">
        <li>
            <img src="https://render.guildwars2.com/file/53CC4EBAD60ADB409273D2AC5A640C72935CDEF2/2163496.png" style="width:48px;" />
            (Annual) Piñata Pummeler - Earn a silver medal or better in the Piñata Pummeler adventure.
        </li>
        <li>
            <img src="https://render.guildwars2.com/file/FF9DF23C6DE40E3F09EC1AE06169379048DA3C94/602783.png" style="width:48px;" />
            Piñata Pro - Earn a gold medal in the Piñata Pummeler adventure.
        </li>
    </ul>


    <!--Dragon Bash Rally (the race)-->
    <h3 id="Rally">Dragon Bash Rally</h3>
    <img src=@Assets["/images/Festivals/DragonBash/DragonBash-RallyLineup.png"] style="width:100%;" />
    <p>
        A mount race starting near Trade Commons Waypoint [&BIYDAAA=],
        the mount race can either be done as part of the race event
        or as the Time Trial adventure.
    </p>
    <p>Roller Beetles can be rented for 10 silver directly across from the waypoint.</p>
    <img src=@Assets["/images/Festivals/DragonBash/DragonBash-BeetleRental.png"] style="width:100%;" />
    <h4>Related Achievements:</h4>
    <ul style="margin-top:0px;">
        <li>
            <img src="https://render.guildwars2.com/file/53CC4EBAD60ADB409273D2AC5A640C72935CDEF2/2163496.png" style="width:48px;" />
            (Annual) Going the Distance - Complete 15 laps. The race event awards extra progress.
        </li>
        <li>
            <img src="https://render.guildwars2.com/file/FF9DF23C6DE40E3F09EC1AE06169379048DA3C94/602783.png" style="width:48px;" />
            I Can Outrun a Dragon - Complete the mount race within the time limit. 3:00
        </li>
        <li>
            <img src="https://render.guildwars2.com/file/FF9DF23C6DE40E3F09EC1AE06169379048DA3C94/602783.png" style="width:48px;" />
            Record Basher - Complete the mount race within the challenge time limit. 1:30
        </li>
    </ul>
</section>