@page "/about"
<h1>About</h1>

<p>
    <a href="/">convergencecorp.net</a> is a website for the sharing of information on the Convergences game mode in the game Guild Wars 2.
</p>

<!--currently unreachable without manually entering /about in the browser-->