@page "/addons"
<PageTitle>Addons | Convergence Corp!</PageTitle>
<HeadContent>
    <meta name="description" content="Addons for Guild Wars 2! Blish Hud, Raidcore Nexus, Arcdps, and more!"/>
    <link rel="canonical" href="https://convergencecorp.net/addons" />
</HeadContent>
<section>
    <h1>Addons</h1>
    <p class="warning">
        WARNING: MODIFYING GUILD WARS 2 THROUGH ANY 3RD PARTY TOOLS IS NOT SUPPORTED BY ARENANET OR NCSOFT.
        DO NOT CONTACT SUPPORT ABOUT GAME CLIENT ISSUES WHILE USING THESE TOOLS. THERE IS NO HELP OR WARRANTY.
        THIS IS ENTIRELY AT YOUR OWN RISK AND YOU ASSUME ALL RESPONSIBILITY.
    </p>
    <p>
        There are NO official addons for Guild Wars 2.
        There are NO required addons for Convergences in Guild Wars 2.
        There are NO addons made specifically for Convergences.
        Some are more useful than others, and most are built around being used in an addon manager.
    </p>

    <h3>Addon Managers:</h3>
    <ul>
        <li>
            <h4><a href="https://blishhud.com/">Blish Hud</a></h4>
            <p>Guild Wars 2's largest and most powerful addon overlay.</p>
        </li>
        <li>
            <h4><a href="https://burrito.orthogonalprojects.com/">Burrito</a></h4>
            <p>An overlay tool for Guild Wars 2. It is built to run on Linux with no awkward workarounds.</p>
        </li>
        <li>
            <h4><a href="https://raidcore.gg/Nexus">Raidcore Nexus</a></h4>
            <p>Next-gen Addon Manager & Loader for Guild Wars 2.</p>
        </li>

    </ul>
    <h3>Standalone Addons:</h3>
    <ul>
        <li>
            <h4><a href="https://www.deltaconnected.com/arcdps/">Arcdps</a></h4>
            <p>The most popular DPS meter for Guild Wars 2.</p>
        </li>
    </ul>

    <h4>Convergence logging with arcdps</h4>
    <div class="caution">
        <h5>Caution:</h5>
        <p>
            These convergence logs will NOT be nice.
            You should become familiar with where your logs save to and how to use <a href="https://github.com/baaron4/GW2-Elite-Insights-Parser">Elite Insights</a> on your own computer.
            They won't upload to <a href="https://gw2wingman.nevermindcreations.de/">gw2wingman</a>.
            They're too big for <a href="https://dps.report">dps.report</a> to process.
            They will also come in multiple parts, as convergences don't keep you in combat for the whole fight.
             It's generally a bad decision to try and log convergences if you don't have experience handling logs.
        </p>
    </div>
    <figure style="max-width:500px;float:right;">
        <image src="/images/arc/arcNPCID.png" alt="NPC Name and ID in ArcDPS" style="width:100%;"/>
        <figcaption>Alt+Shift+S a selected NPC to get its Name and ID</figcaption>
    </figure>
    <p>
        Any mob in the world can be tracked and logged when you enter combat with it.
        Raid and Strike bosses are automatically tracked.
        For everything else, you need to manually input their mob ids.
        To find this, with arcdps active, click on the mob and press alt+shift+S.
        The window that pops up will have the ID in the top left. name (1234).
    </p>
    <p>
        From there, alt+shift+T brings up the arcdps options. 
        Click the logging tab, and at the bottom right you can add new ids to track.
        For most mobs, uncheck the gadget checkbox and click apply.
    </p>
    <figure style="max-width:500px;float:right;clear:right;">
        <image src="/images/arc/ArcLogging.png" alt="Logging location in ArcDPS options" style="width:100%;"/>
        <figcaption>Click Logging and add IDs in the bottom right.</figcaption>
    </figure>
    <p>
    For Convergences, these are the IDs:
    </p>
    <ul>
        <li>
            
            <h4><image src="/images/SotO/Secrets_of_the_Obscure_logo.png" style="width:75px;"/>Secrets of the Obscure</h4>
            <dl>
                <dt>Demon Knight</dt>
                <dd>26142(CM)</dd>
                <dt>Dreadwing</dt>
                <dd>26106(CM)</dd>
                <dt>Hell Sister</dt> 
                <dd>26146(CM)</dd>
                <dt>Sorrow</dt>
                <dd>26126(CM)</dd>
                <dt>Umbriel</dt>
                <dd>26196(normal) | 26681(CM)</dd>
            </dl>
        </li>
        
        <li>
            <h4><image src="/images/JW/Janthir_Wilds_logo.png" style="width:75px;"/>Janthir Wilds</h4>
            <dl >
                <dt>Decima</dt>
                <dd>26720(normal & CM)</dd>
                <dt>Greer</dt>
                <dd>26889(normal & CM)</dd>
                <dt>Ura</dt>
                <dd>27017(normal & CM)</dd>
            </dl>
        </li>
    </ul>
</section>