@page "/addons"

<section>
    There's no required addons for Convergences in Guild Wars 2. 
    There are also none made specifically for Convergences.
    Some are more useful than others, but most are built around a being used in an addon manager.

    <h3>Addon Managers:</h3>
    <ul>
        <li>
            <a href="https://blishhud.com/">Blish Hud</a>
        </li>
        <li>
            <a href="https://raidcore.gg/Nexus">Raidcore Nexus</a>
        </li>
    </ul>
    <h3>Standalone Addons:</h3>
    <ul>
        <li>
            <a href="https://www.deltaconnected.com/arcdps/">Arcdps - The most popular GW2 DPS meter</a>
        </li>
    </ul>

    Setting up logging for arcdps with convergences
    Any mob in the world can be tracked and logged when you enter combat with it. 
    Most aren't because noone really cares, the exceptions being strike and raid bosses. 
    For everything else, you need to manually input their mob ids. To find this, with arcdps active, click on the mob and press alt+shift+S. 
    The window that pops up will have the ID in the top left. name (1234).

    From there, alt+shift+T brings up the arcdps options. 
    Click the logging tab, and at the bottom right you can add new ids to track.
    For most mobs, uncheck the gadget checkbox and click apply.

    For Convergences, these are the IDs:
    <h4>Secrets of the Obscure</h4>
    <ul>
        <li>Demon Knight - 26142</li>
        <li>Dreadwing - 26106</li>
        <li>Hell Sister - 26146</li>
        <li>Sorrow - 26126</li>
        <li>Umbriel - 26196</li>
    </ul>

    <h4>Janthir Wilds</h4>
    <ul>
        <li>Decima - 26720</li>
        <li>Greer - 26889</li>
    </ul>

    <h4>Warning:</h4>
    These convergence logs will NOT be nice. 
    You should become familiar with where your logs save to, and how to use Elite Insights on your own computer. 
    They won't upload to gw2wingman, and they're too big for dps.report to process. 
    They will also come in multiple parts, as convergences don't keep you in combat for the whole fight.
</section>