@page "/addons"
<PageTitle>Addons | Convergence Corp!</PageTitle>
<HeadContent>
    <meta name="description" content="Addons for Guild Wars 2! Blish Hud, Raidcore Nexus, Arcdps, and more!"/>
    <link rel="canonical" href="https://convergencecorp.net/addons" />
    <meta property="og:title" content="Addons | Convergence Corp!" />
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://convergencecorp.net/addons"/>
    <meta property="og:image" content="https://convergencecorp.net/favicon/android-chrome-512x512.png"/>
    <meta property="og:description" content="Addons for Guild Wars 2! Blish Hud, Raidcore Nexus, Arcdps, and more!"/>
    <meta property="og:site_name" content="Convergence Corp!"/>
</HeadContent>
<section>
    <h1>Addons</h1>
    <p class="warning">
        WARNING: MODIFYING GUILD WARS 2 THROUGH ANY 3RD PARTY TOOLS IS NOT SUPPORTED BY ARENANET OR NCSOFT.
        DO NOT CONTACT SUPPORT ABOUT GAME CLIENT ISSUES WHILE USING THESE TOOLS. THERE IS NO HELP OR WARRANTY.
        THIS IS ENTIRELY AT YOUR OWN RISK AND YOU ASSUME ALL RESPONSIBILITY.
    </p>
    <p>
        There are NO official addons for Guild Wars 2.
        There are NO required addons for Convergences in Guild Wars 2.
        There are NO addons made specifically for Convergences.
        Some are more useful than others, and most are built around being used in an addon manager.
    </p>
    <!--CCAddons1-->
    <Ad dataAdSlot="1766164692" dataAdFormat="horizontal"/>
    <h2>Addon Managers:</h2>
    <ul>
        <li>
            <h3><a href="https://blishhud.com/">Blish Hud</a></h3>
            <p>Guild Wars 2's largest and most powerful addon overlay.</p>
        </li>
        <li>
            <h3><a href="https://burrito.orthogonalprojects.com/">Burrito</a></h3>
            <p>An overlay tool for Guild Wars 2. It is built to run on Linux with no awkward workarounds.</p>
        </li>
        <li>
            <h3><a href="https://raidcore.gg/Nexus">Raidcore Nexus</a></h3>
            <p>Next-gen Addon Manager & Loader for Guild Wars 2.</p>
        </li>

    </ul>
    <h2>Standalone Addons:</h2>
    <ul>
        <li>
            <h3><a href="https://www.deltaconnected.com/arcdps/">Arcdps</a></h3>
            <p>The most popular DPS meter for Guild Wars 2.</p>
        </li>
    </ul>
    <!--CCAddons2-->
    <Ad dataAdSlot="9323917057" dataAdFormat="horizontal" />
    <h2>Convergence logging with arcdps</h2>
    <div class="caution">
        <h3>Caution:</h3>
        <p>
            Logging Convergences creates large files, often over 30MB each.
        </p>
    </div>
    <p>
        Logging Convergences requires map logging. 
        Instead of logging a specific boss, you log the whole map from the moment you enter it to when you leave.
        This allows you to have just 1 file for a Convergence, but it does become rather large.
    </p>
    <p>
        To log a map in ArcDPS, simply add the Map IDs to the Logging section, and check the 'save map logs' checkbox.
    </p>
    <image src="/images/arc/maplogging.png" style="display:flex;justify-self:center;max-width:100%;"/>
    <p>
        The Map IDs are:
    </p>
    <ul>
        <li>1523 - Convergence: Outer Nayos (Public)</li>
        <li>1527 - Convergence: Outer Nayos (Private Squad)</li>
        <li>1562 - Convergence: Mount Balrior (Private Squad)</li>
        <li>1571 - Convergence: Mount Balrior (Public)</li>
    </ul>
    <p>
        After the map completes, find the file on your computer.
        You can then either process it yourself with <a href="https://github.com/baaron4/GW2-Elite-Insights-Parser">Elite Insights</a>, or upload it straight to <a href="https://dps.report">https://dps.report</a>.
    </p>
</section>