@page "/addons"
<PageTitle>CC | Addons!</PageTitle>

<section>
    <h1>Addons</h1>
    <p class="warning">
        WARNING: MODIFYING GUILD WARS 2 THROUGH ANY 3RD PARTY TOOLS IS NOT SUPPORTED BY ARENANET OR NCSOFT.<br>
        DO NOT CONTACT SUPPORT ABOUT GAME CLIENT ISSUES WHILE USING THESE TOOLS. THERE IS NO HELP OR WARRANTY.<br>
        THIS IS ENTIRELY AT YOUR OWN RISK AND YOU ASSUME ALL RESPONSIBILITY.
    </p>
    <p>
        There are no official addons for Guild Wars 2.<br>
        There are no required addons for Convergences in Guild Wars 2.<br>
        There are no addons made specifically for Convergences.<br>
        Some are more useful than others, but most are built around being used in an addon manager.
    </p>

    <h3>Addon Managers:</h3>
    <ul>
        <li>
            <a href="https://blishhud.com/">Blish Hud</a>
        </li>
        <li>
            <a href="https://burrito.orthogonalprojects.com/">Burrito</a> - Built for Linux with no awkward workarounds.
        </li>
        <li>
            <a href="https://raidcore.gg/Nexus">Raidcore Nexus</a>
        </li>

    </ul>
    <h3>Standalone Addons:</h3>
    <ul>
        <li><a href="https://www.deltaconnected.com/arcdps/">Arcdps - The most popular GW2 DPS meter</a></li>
    </ul>

    <h4>Convergence logging with arcdps</h4>
    <div class="caution">
        <h5>Caution:</h5>
        These convergence logs will NOT be nice.<br>
        You should become familiar with where your logs save to and how to use <a href="https://github.com/baaron4/GW2-Elite-Insights-Parser">Elite Insights</a> on your own computer.<br>
        They won't upload to <a href="https://gw2wingman.nevermindcreations.de/">gw2wingman</a>.<br>
        They're too big for <a href="https://dps.report">dps.report</a> to process.<br>
        They will also come in multiple parts, as convergences don't keep you in combat for the whole fight.<br>
        It's generally a bad decision to try and log convergences if you don't have experience handling logs.<br>
    </div>
    Any mob in the world can be tracked and logged when you enter combat with it.<br>
    Raid and Strike bosses are automatically tracked.<br>
    Others aren't because noone really cares.<br> 
    For everything else, you need to manually input their mob ids.<br>
    To find this, with arcdps active, click on the mob and press alt+shift+S.<br>
    The window that pops up will have the ID in the top left. name (1234).<br>
    <image src="/images/arc/arcNPCID50.png" alt="NPC Name and ID in ArcDPS" style="width:500px; max-width:100%;"/><br>
    From there, alt+shift+T brings up the arcdps options. <br>
    Click the logging tab, and at the bottom right you can add new ids to track.<br>
    For most mobs, uncheck the gadget checkbox and click apply.<br>
    <image src="/images/arc/arcAdditionalLogging50.png" alt="Logging location in ArcDPS options" style="width:500px; max-width:100%;"/><br>
    <br>
    For Convergences, these are the IDs:<br>
    <ul>
        <li>
            <h4>Secrets of the Obscure</h4>
            <ul>
                <li>Demon Knight - 26142</li>
                <li>Dreadwing - 26106</li>
                <li>Hell Sister - 26146</li>
                <li>Sorrow - 26126</li>
                <li>Umbriel - 26196(public) - 26681(CM)</li>
            </ul>
        </li>
        
        <li>
            <h4>Janthir Wilds</h4>
            <ul>
                <li>Decima - 26720</li>
                <li>Greer - 26889</li> <!-- is this number correct? got no logs -->
            </ul>
        </li>
    </ul>
</section>