@page "/builds"
<PageTitle>Builds | Convergence Corp!</PageTitle>
<HeadContent>
    <meta name="description" content="Builds for Convergences in Guild Wars 2!">
    <link rel="canonical" href="https://convergencecorp.net/builds" />
    <meta property="og:title" content="Builds | Convergence Corp!" />
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://convergencecorp.net/builds"/>
    <meta property="og:image" content="https://convergencecorp.net/favicon/android-chrome-512x512.png"/>
    <meta property="og:description" content="Builds for Convergences in Guild Wars 2!"/>
    <meta property="og:site_name" content="Convergence Corp!"/>
</HeadContent>

<section>
    <h1>Builds!</h1>
    <p>
        Any endgame content in GW2 can be better with a good build! Convergences are no different.
        I'm not going to create a bunch of builds for you, as there are already plenty of websites for them.
    </p>
    <Ad dataAdSlot="5155046688" dataAdFormat="horizontal" />

    <h2>Build Sites</h2>
    <p>Here are some GW2 build websites in alphabetical order:</p>
    <ul>
        <li>
            <h3>Accessibility Wars</h3>
            <p><a href="https://aw2.help" target="_blank">https://aw2.help</a></p>
            <p>Accessible Builds for the Guild Wars 2 Community</p>
        </li>
        <li>
            <h3>Discretize</h3>
            <p><a href="https://next.discretize.eu" target="_blank">https://next.discretize.eu</a></p>
            <p>International high-end fractal guild</p>
        </li>
        <li>
            <h3>GuildJen</h3>
            <p><a href="https://guildjen.com/gw2-builds" target="_blank">https://guildjen.com/</a></p>
            <p>GW2 Builds for PvE, PvP, WvW, Raid, Fractal, Strike Missions, Open World, Solo, Group, Events, Story, etc.</p>
        </li>
        <li>
            <h3>Hardstuck</h3>
            <p><a href="https://hardstuck.gg" target="_blank">https://hardstuck.gg</a></p>
            <p>High-end and LI builds for all game modes.</p>
        </li>
        <li>
            <h3>MetaBattle</h3>
            <p><a href="https://metabattle.com/wiki/MetaBattle_Wiki" target="_blank">https://metabattle.com</a></p>
            <p>A wide variety of builds for all game modes.</p>
        </li>
        <li>
            <h3>SnowCrows</h3>
            <p><a href="https://snowcrows.com" target="_blank">https://snowcrows.com</a></p>
            <p>Optimized Raid, Beginner, LI and Open World Builds.</p>
        </li>
    </ul>
    <Ad dataAdSlot="3841965018" dataAdFormat="horizontal" />
    <h2>Adjustments for Convergences:</h2>
    <p class="caution">note: Power builds benefit from the items below, while others do not. Therefore, it is recommended to bring a power build to convergences.</p>

    
    <h3>
        <image src="/images/SotO/Secrets_of_the_Obscure_logo.png" alt="SotO Logo" style="width:75px;" />
        <image src="/images/JW/Janthir_Wilds_logo.png" alt="JW Logo" style="width:75px;" />
        SotO and JW items
    </h3>
    
    <p>
        These items work in both SotO and JW convergences.
    </p>
    <ul>
        <li>
            <h4>
                <image src="https://render.guildwars2.com/file/7A9EA9E0C702F8BA595973FED3A853646B2E07F8/222720.png" alt="potion of demon slaying" style="width:50px;"/>
                <a href="https://wiki.guildwars2.com/wiki/Powerful_Potion_of_Demon_Slaying" target="_blank">Powerful Potion of Demon Slaying</a>
            </h4>
            <p>
                (1 hour): 10% Damage vs. Demons, Kryptis, and Titanspawn. -10% Damage from Demons, Kryptis, and Titanspawn.
            </p>
        </li>
        <li>
            <h4>
                <image src="https://render.guildwars2.com/file/991BD2CC63CFE343C5E55D49F657C95E71FD0439/340600.png" alt="sigil of demon slaying" style="width:50px;"/>
                <a href="https://wiki.guildwars2.com/wiki/Superior_Sigil_of_Demon_Slaying" target="_blank">Superior Sigil of Demon Slaying</a>
            </h4>
            <p>
                3% Strike Damage, +7% Strike Damage vs. Demons, Kryptis, and Titanspawn. Totals to 10% Strike Damage when satisfied.
            </p>
        </li>
        <li>
            
            <h4><image src="https://render.guildwars2.com/file/DFF4EB43AD0803F60D105658052321A0BE1AF02C/3592832.png" alt="eagle relic" style="width:50px;" />
                <a href="https://wiki.guildwars2.com/wiki/Relic_of_the_Eagle" target="_blank">Relic of the Eagle</a>
            </h4>
            <p>
                10% damage when enemy under 50% hp. 
            </p>
            <p>
                Swap to Eagle when transitioning to the third boss phase (start of 50%).
            </p>
        </li>
    </ul>

    <p>
        Consider taking a <a href="https://wiki.guildwars2.com/wiki/Sigil#Stacking_bonus" target="_blank">stacking sigil</a> to convergences. They're easy to build up during the phases before the boss spawns.
    </p>

    <Ad dataAdSlot="6907112055" dataAdFormat="horizontal" />

    <h3><image src="/images/SotO/Secrets_of_the_Obscure_logo.png" alt="SotO Logo" style="width:75px;" />SotO only items</h3>

    <p>SotO Convergences are always at night, making the Sigil of Night useful.</p>
    <ul>
        <li>
            <h4>
                <image src="https://render.guildwars2.com/file/CFDC642093029E790C03381D73C703BDFFA9CDFF/499391.png" alt="sigil of night" style="width:50px;" />
                <a href="https://wiki.guildwars2.com/wiki/Superior_Sigil_of_the_Night" target="_blank">Superior Sigil of Night</a>
            </h4>
            <p>
                3% Strike Damage, +7% Strike Damage at night. Totals to 10% Strike Damage.
            </p>
        </li>
    </ul>
</section>
      