@page "/builds"
<section>
    Any endgame content in GW2 can be better with a good build! Convergences are no different. 
    I'm not going to create a bunch of builds for you, as there are already plenty of websites for them.
    <p>It's recommended you bring a raid/strike build.</p>
    <p>Here are some build sites in alphabetical order:</p>
    <ul>
        <li>
            <a href="https://www.discretize.eu">Discretize.eu (focused on fractals)</a>
        </li>
        <li>
            <a href="https://hardstuck.gg">Hardstuck.gg</a>
        </li>
        <li>
            <a href="https://metabattle.com/wiki/MetaBattle_Wiki">Metabattle.com</a>
        </li>
        <li>
            <a href="https://snowcrows.com">Snowcrows.com</a>
        </li>
    </ul>

    
    For Convergences, there are a couple things you can do that will be more effective than a standard raid build IF you are using a Power build.
    <h3>SotO and JW items</h3>
    <ul>
        <li>
            The <a href="https://wiki.guildwars2.com/wiki/Superior_Sigil_of_Demon_Slaying">Superior Sigil of Demon Slaying</a> gives a 10% boost to damage.
        </li>
        <li>
            The <a href="https://wiki.guildwars2.com/index.php?title=Powerful_Potion_of_Demon_Slaying">Powerful Potion of Demon Slaying</a> is also a 10% damage boost. Sometimes people put out a <a href="https://wiki.guildwars2.com/wiki/Demon-Slaying_Station">Demon Slaying Station</a>, which gives the same enhancement.
        </li>
        <li>
            A <a href="https://wiki.guildwars2.com/wiki/Relic_of_the_Eagle">Relic of the Eagle</a> can be swapped to when transitioning to the 3rd phase(start of 50%) of a boss for additional damage.
        </li>
    </ul>

    <h3>SotO only items</h3>
    <ul>
        <li>
            A <a href="https://wiki.guildwars2.com/wiki/Superior_Sigil_of_the_Night">Superior Sigil of Night</a> can be used during SotO convergences because they are always at night, giving more damage.
        </li>
    </ul>
    
    <p>Sadly, condi and heal builds get no concessions in convergences.</p>
</section>
     