@page "/builds"
<PageTitle>Builds | Convergence Corp!</PageTitle>
<HeadContent>
    <meta name="description" content="Builds for Convergences in Guild Wars 2!">
    <link rel="canonical" href="https://convergencecorp.net/builds" />
</HeadContent>

<section>
    <h1>Builds!</h1>
    <p>
        Any endgame content in GW2 can be better with a good build! Convergences are no different.
        I'm not going to create a bunch of builds for you, as there are already plenty of websites for them.
    </p>
    <p>Here are some GW2 build websites in alphabetical order:</p>
    <table>
        <tr>
            <th>Name</th>
            <th>Link</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>Discretize</td>
            <td><a href="https://next.discretize.eu">https://next.discretize.eu</a></td>
            <td>International high-end fractal guild</td>
        </tr>
        <tr>
            <td>Hardstuck</td>
            <td><a href="https://hardstuck.gg">https://hardstuck.gg</a></td>
            <td>High-end and LI builds for all game modes.</td>
        </tr>
        <tr>
            <td>MetaBattle</td>
            <td><a href="https://metabattle.com/wiki/MetaBattle_Wiki">https://metabattle.com</a></td>
            <td>A wide variety of builds for all game modes.</td>
        </tr>
        <tr>
            <td>SnowCrows</td>
            <td><a href="https://snowcrows.com">https://snowcrows.com</a></td>
            <td>High-end Raiding builds</td>
        </tr>
    </table>

    <h2>Adjustments for Convergences:</h2>
    <p class="caution">note: power builds benefit from the below items, while others do not. Therefore, it's recommended to bring a power build to convergences.</p>

    <h3>SotO and JW items</h3>
    <p>
        These items work in both SotO and JW convergences.
    </p>
    <ul>
        <li>
            <image src="https://render.guildwars2.com/file/7A9EA9E0C702F8BA595973FED3A853646B2E07F8/222720.png" alt="potion of demon slaying" style="width:50px;"/>
            <h5><a href="https://wiki.guildwars2.com/wiki/Powerful_Potion_of_Demon_Slaying">Powerful Potion of Demon Slaying</a></h5>
            <p>
                (1 hour): 10% Damage vs. Demons, Kryptis, and Titanspawn. -10% Damage from Demons, Kryptis, and Titanspawn.
            </p>
        </li>
        <li>
            <image src="https://render.guildwars2.com/file/991BD2CC63CFE343C5E55D49F657C95E71FD0439/340600.png" alt="sigil of demon slaying" style="width:50px;"/>
            <h5><a href="https://wiki.guildwars2.com/wiki/Superior_Sigil_of_Demon_Slaying">Superior Sigil of Demon Slaying</a></h5>
            <p>
                3% Strike Damage, +7% Strike Damage vs. Demons, Kryptis, and Titanspawn. Totals to 10% Strike Damage when satisfied.
            </p>
        </li>
        <li>
            <image src="https://render.guildwars2.com/file/DFF4EB43AD0803F60D105658052321A0BE1AF02C/3592832.png" alt="eagle relic" style="width:50px;"/>
            <h5><a href="https://wiki.guildwars2.com/wiki/Relic_of_the_Eagle">Relic of the Eagle</a></h5>
            <p>
                10% damage when enemy under 50% hp. Swap to Eagle when transitioning to the third boss phase (start of 50%).
            </p>
        </li>
    </ul>

    <h3>SotO only items</h3>
    <ul>
        <li>
            <image src="https://render.guildwars2.com/file/CFDC642093029E790C03381D73C703BDFFA9CDFF/499391.png" alt="sigil of night" style="width:50px;"/>
            <h5><a href="https://wiki.guildwars2.com/wiki/Superior_Sigil_of_Force">Superior Sigil of Night</a></h5>
            <p>
                3% Strike Damage, +7% Strike Damage at night. Totals to 10% Strike Damage. SotO Convergences are always at night, so this is always at the full 10%.
            </p>
        </li>
    </ul>
    <p>
        Consider taking a stacking sigil to convergences. They're easy to build up during the phases before the boss spawns.
    </p>
</section>
     