@page "/Deprecated"
<h2>Old Stuff</h2>
<p>
    This page has links to old pages that I will no longer update.
</p>
<p>
    Stuff may be broken in there.
</p>
<ul>
    <li>
        <a href="/VoEOld">VoE Expac hype page</a>
        Deprecated: January 3rd, 2026
    </li>
</ul>