@page "/"

<PageTitle>Convergence Corp!</PageTitle>
<HeadContent>
    <meta name="description" content="Convergence Corp! A website for all things Convergences in Guild Wars 2!">
    <link rel="canonical" href="https://convergencecorp.net" />
</HeadContent>
<!-- home page text  -->
<h1>Convergence Corp, a website for Convergences!</h1>
<p>
    <a href="https://discord.gg/HyVZqAuAQ2">Join the Discord!</a>
</p>
<p> 
    Check out the <a href="/schedule">schedule</a> to find a convergence group running soon&trade;.
</p>