@page "/"

<PageTitle>Convergence Corp!</PageTitle>

<!-- home page text  -->
<h3>Convergence Corp, a website for Convergences!</h3>
<p><a href="https://discord.gg/HyVZqAuAQ2">Join the Discord!</a></p>
Check out the <a href="/schedule">schedule</a> to find a convergence group running soon&trade;.<br>