@page "/"

<PageTitle>Convergence Corp!</PageTitle>

<!-- home page text  -->
<h3>Convergence Corp, a guild for Convergences!</h3>
<p><a href="https://discord.gg/HyVZqAuAQ2">Join the Discord!</a></p>
<p>I'll add more later, but for now checkout the <a href="/builds">builds</a> or <a href="/schedule">schedule</a> sections!</p>

<h5>Progress:</h5>
<ul>
    <li>
        General Converging - not started
    </li>
    <li>
        SotO
        <ul>
            <li>pre - not started</li>
            <li>first two minutes - done</li>
            <li>split phase - done</li>
            <li>DK - researching...</li>
            <li>DW - researching...</li>
            <li>HS - researching...</li>
            <li>Sorrow - researching...</li>
            <li>Umbriel - researching...</li>
        </ul>
    </li>
    <li>
        JW
        <ul>
            <li>pre - not started</li>
            <li>dolyak escort - done</li>
            <li>thumper phase - researching...</li>
            <li>Decima - researching...</li>
            <li>Greer - researching...</li>
        </ul>
    </li>
    <li>Builds - done</li>
    <li>Schedule - done</li>
    <li>Addons - done</li>
    <li>Movement
        <ul>
            <li>Mounts - Researching...</li>
            <li>Items - Researching...</li>
            <li>Masteries - needs makeover</li>
        </ul>
    </li>
    <li>
        Rants - done
    </li>
</ul>