@page "/jw"
@using ConvergenceCorpBlazor.Components.Pages.JWGuide
@rendermode InteractiveServer

<PageTitle>JW | Convergence Corp!</PageTitle>
<HeadContent>
    <meta name="description" content="Guides for Guild Wars 2: Janthir Wilds Convergences">
    <link rel="canonical" href="https://convergencecorp.net/jw" />
    <meta property="og:title" content="JW | Convergence Corp!" />
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://convergencecorp.net/jw"/>
    <meta property="og:image" content="https://convergencecorp.net/favicon/android-chrome-512x512.png"/>
    <meta property="og:description" content="Guides for Guild Wars 2: Janthir Wilds Convergences"/>
    <meta property="og:site_name" content="Convergence Corp!"/>
</HeadContent>
<div>
    <h1><image src="/images/JW/Janthir_Wilds_logo.png" alt="JW Logo" style="width:100px;"/>Janthir Wilds</h1>
    <div id="jwgreedectoc">
        <div id="jwtoc">
            <h2>Table of Contents</h2>
            <ol>
                <li>
                    <a href="/jw/#BeforeStart">Before you start!</a>
                    <ol>
                        <li><a href="/jw/#GettingIn">How to get into the Convergence</a></li>
                        <li><a href="/jw/#Itemstobring">Items you should bring</a></li>
                        <li><a href="/jw/#LowlandExpertise">Lowland Expertise</a></li>
                    </ol>
                </li>
                <li><a href="/jw/#Dolyak">Dolyak Escort</a></li>
                <li><a href="/jw/#building">Camp Building</a></li>
                <li>
                    <a href="/jw/#Thumper">Thumper Phase</a>
                    <ol>
                        <li><a href="/jw/#splittingup">Splitting up the squad</a></li>
                        <li><a href="/jw/#sideevents">Side Events</a></li>
                        <li><a href="/jw/#weather">Weather</a></li>
                        <li><a href="/jw/#misttides">Mist Tides</a></li>
                    </ol>
                </li>
                <li>
                    <a href="/jw/#JWShared">Shared Boss Mechanics</a>
                    <ol>
                        <li><a href="/jw/#Calibrated">Calibrated Essence</a></li>
                        <li><a href="/jw/#phase">Phase Transitions</a></li>
                    </ol>
                </li>
                <li>
                    <a href="/jw/#Decima">Decima, the Stormsinger</a>
                    <ol>
                        <li><a href="/jw/#DecStrat">Strategy</a></li>
                        <li><a href="/jw/#DecRotation">Rotation</a></li>
                        <li><a href="/jw/#DecPassives">Passives</a></li>
                        <li><a href="/jw/#DecSkills">Skills</a></li>
                        <li><a href="/jw/#DecEC">Enlightened Conduit</a></li>
                        <li><a href="/jw/#DecGreens">Greens</a></li>
                    </ol>
                </li>
                <li>
                    <a href="/jw/#Greer">Greer, the Blightbringer</a>
                    <ol>
                        <li><a href="/jw/#GreerStrat">Strategy</a></li>
                        <li><a href="/jw/#GreerGnR">Gree and Reeg</a></li>
                        <li><a href="/jw/#GreerSkills">Skills</a></li>
                    </ol>
                </li>
                <li>
                    <a href="/jw/#Ura">Ura, the Steamshrieker</a>
                    <ol>
                        <li><a href="/jw/#UraStrat">Strategy</a></li>
                        <li><a href="/jw/#UraPassive">Passives</a></li>
                        <li><a href="/jw/#UraSkills">Skills</a></li>
                        <li><a href="/jw/#UraFuma">Fumaroller</a></li>
                    </ol>
                </li>
            </ol>
        </div>
        <image id="greandec" src="/images/JW/GreerandDecima.png" alt=""/>
    </div>

    <JWPre />
    <Dolyak />
    <Building/>
    <Thumper />
    <JWShared />
    <Decima />
    <Greer />
    <Ura />
</div>