@page "/jw"
@using ConvergenceCorpBlazor.Components.Pages.JWGuide
@rendermode InteractiveServer

<PageTitle>JW | Convergence Corp!</PageTitle>
<HeadContent>
    <meta name="description" content="Guides for Guild Wars 2: Janthir Wilds Convergences">
    <link rel="canonical" href="https://convergencecorp.net/jw" />
</HeadContent>
<div>
    <h1>Janthir Wilds</h1>
    <JWPre />
    <Dolyak />
    <Building/>
    <Thumper />
    <JWShared />
    <Decima />
    <Greer />
    <Ura />
</div>