@page "/jw"
@using ConvergenceCorpBlazor.Components.Pages.JWGuide

<PageTitle>CC | JW!</PageTitle>
<div>
    <h1>Janthir Wilds</h1>
    <button type="button" class="collapsiblebutton" onclick="openCollapsible(event, 'DolyakCollapsible')">Dolyak Escort</button>
    <div id="DolyakCollapsible" class="collapsiblecontent" style="display:none;">
        <Dolyak />
    </div>
    <br>
    <button type="button" class="collapsiblebutton" onclick="openCollapsible(event, 'ThumperCollapsible')">Thumper</button>
    <div id="ThumperCollapsible" class="collapsiblecontent" style="display:none;">
        <Thumper />
    </div>
    <br>
    <button type="button" class="collapsiblebutton" onclick="openCollapsible(event, 'DecimaCollapsible')">Decima</button>
    <div id="DecimaCollapsible" class="collapsiblecontent" style="display:none;">
        <Decima />
    </div>
    <br>
    <button type="button" class="collapsiblebutton" onclick="openCollapsible(event, 'GreerCollapsible')">Greer</button>
    <div id="GreerCollapsible" class="collapsiblecontent" style="display:none;">
        <Greer />
    </div>
    <br>
</div>

<script>
    function openCollapsible(evt, name){
        var ele = document.getElementById(name);
        if(ele.style.display == "none"){
            ele.style.display = "block";
            evt.target.classList.toggle("active");
        }
        else{
            ele.style.display = "none";
            evt.target.classList.toggle("active");
        }
    }
</script>