@page "/movement"
@using ConvergenceCorpBlazor.Components.Pages.MovementPages
<PageTitle>Movement | Convergence Corp!</PageTitle>
<HeadContent>
    <meta name="description" content="Learn the important movement skills for Convergences in Guild Wars 2">
    <link rel="canonical" href="https://convergencecorp.net/movement" />
    <meta property="og:title" content="Movement | Convergence Corp!" />
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://convergencecorp.net/movement"/>
    <meta property="og:image" content="https://convergencecorp.net/favicon/android-chrome-512x512.png"/>
    <meta property="og:description" content="Learn the important movement skills for Convergences in Guild Wars 2"/>
    <meta property="og:site_name" content="Convergence Corp!"/>
</HeadContent>
<h1 id="Top">Movement!</h1>
<p>
    In Convergence CMs, Gold is &lt;20 minutes.
    Being able to move fast between the different areas of the map can save several minutes in a run.
    Learn what items, mounts, and masteries you need to move faster around the map!
</p>
<p>
    Click -> 
    <a href="/movement#Mounts">Mounts</a>
    <a href="/movement#Items">Items</a>
    <a href="/movement#Masteries">Masteries</a>
    <a href="/movement#Gliding">Gliding</a>
</p>
<!--CCMovement1-->
<!--
<Ad dataAdSlot="2511204497" dataAdFormat="horizontal" />
-->
<MMounts />
<MItems />
<MMasteries />
<MGliding />
