@page "/movement"
<PageTitle>CC | Movement!</PageTitle>

<h1>Movement!</h1>
In convergences, being able to move well matters.
<h3>Masteries</h3>
There are several masteries that deal with movement. While they're not all required for convergences, most are used at least once during each run.
<ul>
    <li style="border: 1px solid red;">
        <h4>Central Tyria</h4>
        <ul>
            <li>
                Pact Commander - 19 points
                <ul>
                    <li>Noblesse Oblige - Faster reviving of downed players. This is DISABLED in Challenge Mode content, such as Raids, Strikes, and Convergences.</li>
                    <li>Advanced Logistics - autoloot. Not having to run around looting every mob is a huge time save.</li>
                </ul>
            </li>
        </ul>
    </li>
    <li style="border: 1px solid green;">
        <h4>Heart of Thorns</h4>
        <ul>
            <li>
                Gliding - 31 points
                <ul>
                    <li>Glider Basics - The basic ability to glide.</li>
                    <li>Updraft Use - Use updrafts with the glider.</li>
                    <li>Lean Techniques - Move forward and back to speedup and slowdown while gliding. Drains endurance.</li>
                    <li>Stealth Gliding - Stealth while gliding by dodging.</li>
                    <li>Advanced Gliding - Gliding doesn't drain endurance. Lean Techniques still do.</li>
                    <li>Ley Line Gliding - Ley lines can be rode while gliding.</li>
                </ul>
            </li>
            <li>
                Itzel Lore - 1 point
                <ul>
                    <li>Bouncing Mushrooms - You can bounce off bouncing mushrooms.</li>
                </ul>
            </li>
            <li>
                Ancient Magics - 10 points
                <ul>
                    <li>Spectral Aid - While not a movement skill, it's a great skill to use if you're downed, dealing a large chunk of damage over a large area and hopefully killing a random mob to get you up.</li>
                </ul>
            </li>
        </ul>
    </li>

    <li style="border: 1px solid purple">
        <h4>Path of Fire</h4> 
        <ul>
            <li>
                Raptor Mount - 10 points
                <ul>
                    <li>Round up - Raptor engage skill now pulls nearby enemys together.</li>
                    <li>Canyon Jumping - Raptor can leap further.</li>
                    <li>Ravenous Discipline - All mounts get increased damage on their engage skill.</li>
                </ul>
                <p>
                    The raptor is a good A to B mount, having an average run speed, but a jump that lets you move smaller distances very fast. If it could be used from combat, it would be more useful than warclaw in get away from x situations.
                </p>
            </li>
            <li>
                Springer Mount - 14 points
                <ul>
                    <li>Masterful Descent - All mounts gain greater fall damage tolerance (not immune, just reduced damage).</li>
                </ul>
                <p>The springer gets outclassed in all ways by the skyscale and warclaw. The only reason to put points into it is for the fall damage reduction.</p>
            </li>
            <li>
                Skimmer Mount - 14 points
                <ul>
                    <li>
                        Nimble Benevolence - All mounts get Nimble Recovery. If you get knocked off or engage with a mount, you'll gain swiftness and protection.
                    </li>
                </ul>
                <p>
                    The SotO convergences have some water, making the skimmer good for getting out of the water if you fall in. 
                </p>
            </li>
            <li>
                Jackal Mount - 14 points
                <ul>
                    <li>Adroit Evasion - All mounts gain evasion on movement abilities.</li>
                </ul>
                <p>While not all that useful outside of PoF, granting evasion on movement abilities for all mounts makes it worth spending the points on the jackal.</p>
            </li>
            <li>
                Roller Beetle Mount - 12 points - Requires LW4
                <ul> 
                    <li>
                        Big Air - perform tricks in the air and regain endurance. penalized if you land badly.
                    </li>
                </ul>
                <p>
                    The roller beetle is a great mount if you have a long distance to cover and relatively flat land to traverse, having the ability to go just as fast as the griffon. 
                </p>
            </li>
            <li>
                Griffon Mount - 12 points - Must complete PoF story to unlock the <a href="https://wiki.guildwars2.com/wiki/Crystal_Desert_(achievements)#Open_Skies:_Sunspear_Sanctuary">unlock quest achievement</a>.
                <ul>
                    <li>
                        Soaring Rescue - You can mount and dismount your griffon midair.
                    </li>
                    <li>
                        Aerial Prowess - You can dive and climb.
                    </li>
                    <li>
                        Aerial Finesse - Flap while diving to get more speed.
                    </li>
                </ul>
            </li>
            <li>
                Skyscale Mount - 12 points - Requires LW4
                <ul>
                    <li>
                        Air Rescue - You can mount and dismount your skyscale midair.
                    </li>
                    <li>
                        Wall Launch - You can launch off a wall, gaining some height.
                    </li>
                </ul>
                The skyscale is extremely versatile, having the highest vertical and able to fly. 
            </li>
            <li>
                Crystal Champion - 14 points - Requires LW4
                <ul>
                    <li>Bond of Life - You share YOUR hp with your mount. While this makes you tankier while mounted, if you lose your hp while mounted, you go down instead of just dismounting.</li>
                    <li>Bond of Vigor - Increases the endurance regen rate significantly for a short time. I use this often to gain more height or speed.</li>
                    <li>Bond of Faith - Lets you launch from your mount a good distance very quickly. It's weakness is you can't really control it while in use.</li>
                </ul>
            </li>
        </ul>
    </li>

    <li style="border: 1px solid blue;">
        <h4>Ice Brood Saga</h4>
        <ul>
            <li>
                United Legions Waystation Synchonization - 12 points
                <ul>
                    <li>
                        Ash Legion Mount Stealth - Mounts can now stealth.</li>
                </ul>
            </li>
        </ul>
    </li>

    <li style="border: 1px solid cyan;">
        <h4>End of Dragons</h4>
        <ul>
            <li>
                Jade Bots - 15 points
                <ul>
                    <li>Gliding Booster - The Jade Bot boosts upward while gliding.</li>
                    <li>Rescue Protocol - The Jade Bot can now help rally you when you are downed. Allowed to equip tier 10 power cores.</li>
                </ul>
            </li>
            <li>Turtle Mount - 20 points total
                <ul>
                    <li>Sharing is Caring - 50% increased health to all mounts.</li>
                </ul>
                Not particularly useful in convergences, the turtle can be used to attempt to get people stuck in the walls out.
            </li>
        </ul>
    </li>

    <li style="border:1px solid gold">
        <h4>Secrets of the Obscure</h4>
        <ul>
            <li>
                Heart of the Obscure Research - 14 points
                <ul>
                    <li>Updraft Generator - Use updrafts with flying mounts</li>
                    <li>Ley-Loom Operation - Ride ley-lines with flying mounts</li>
                </ul>
            </li>
            <li>
                Flight Training - 25 points - This line includes the SotO skyscale masteries as well as some general flying ones.
                <ul>
                    <li>Who Rescues Whom? - Mount and dismount midair.</li>
                    <li>Fireball - Skyscale gets a fireball attack.</li>
                    <li>Wall Spring - Allows skyscale to leap off the side of a wall to gain additional air. If you also have the PoF mastery, it's improved.</li>
                    <li>Enhanced Updrafts - Allows flying mounts to use updrafts.</li>
                    <li>Combat Launch - While in combat, launch up and get on skyscale.</li>
                    <li>Ley-Line Acclimation - Flying mounts can ride ley-lines.</li>
                    <li>Rising Spirits - Flying mounts regain endurance upon using an updraft or leyline.</li>
                </ul>
            </li>
            <li>
                Astral Ward - 20 points - No movement,  but you'll want these if you are making a Obsidian legendary armor set.
                <ul>
                    <li>Obsidian Armor Crafting - Legendary armor recipes are purchasable from Lyhr.</li>
                </ul>
            </li>
            <li>
                Inner Nayos - 16 points - No movement, but gives bonuses related to Convergences.
                <ul>
                    <li>Sieging Fireball - Skyscale's Fireball now does siege damage.</li>
                    <li>Wizard's Blessing - turning in essence gives <a href="https://wiki.guildwars2.com/wiki/Wizard%27s_Blessing_(effect)">Wizard's Blessing</a>.</li>
                    <li>Wisp Pockets - Essence can be gathered even in wisp form.</li>
                    <li>Essence Attunement - Essence can now be stacked to 50. Picking up essence now heals.</li>
                    <li>Convergence Mastery - More rewards from convergences.</li>
                </ul>
            </li>
        </ul>
    </li>

    <li style="border: 1px solid darkblue">
        <h4>Janthir Wilds</h4>
        <ul>
            <li>
                Warclaw Mount - 20 points
                <ul>
                    <li>Nine Lives - no fall damage while on the warclaw.</li>
                    <li>Feline Reflexes - midair jumping while on the warclaw.</li>
                    <li>Wild Claws - when dashing with the warclaw, if you hit a foe you gain a little endurance at the end of the dash.</li>
                    <li>Feral Fury - Skill 4 and 1 do increased CC.</li>
                    <li>Well Rested - 20% endurance regen for ALL mounts.</li>
                </ul>
                The warclaw is a great mount for rough terrain, as it can just bounce over anything that's not flat.<br>
                It also has great CC skills, having the ability to put out over 1k breakbar damage in under 10 seconds.
            </li>
        </ul>
    </li>
</ul>