@page "/movement"
@using ConvergenceCorpBlazor.Components.Pages.MovementPages
<PageTitle>Movement | Convergence Corp!</PageTitle>
<HeadContent>
    <meta name="description" content="Movement in Guild Wars 2, includes mounts and masteries that relate to movement.">
    <link rel="canonical" href="https://convergencecorp.net/movement" />
</HeadContent>
<h1>Movement!</h1>
In convergences, being able to move well matters.
<MMounts />
<MItems />
<MMasteries />
<MGliding />
