@page "/movement"
@using ConvergenceCorpBlazor.Components.Pages.MovementPages
<PageTitle>CC | Movement!</PageTitle>

<h1>Movement!</h1>
In convergences, being able to move well matters.
<MMounts />
<MItems />
<MMasteries />

