@page "/rants"
<PageTitle>CC | Rants!</PageTitle>
<h1>Rants!</h1>

<h4>Reddit posts I've made ranting about gw2.</h4>
<ul>
    <li>
        November 21, 2024 - <a href="https://www.reddit.com/r/Guildwars2/comments/1gwt5jz/mount_balrior_convergence_strategy_for_phase_1/">Mount Balrior Convergence Strategy</a>
    </li>
    <li>
        September 25, 2024 - <a href="https://www.reddit.com/r/Guildwars2/comments/1fp8hdc/unstable_rift_motivations/">Unstable Rift Motivations</a>
    </li>
    <li>
        July 16, 2024 - <a href="https://www.reddit.com/r/Guildwars2/comments/1e4rcyj/a_proposal_for_a_new_ui_for_raidsstrikes/">A proposal for a new UI for raids/strikes</a>
    </li>
    <li>
        May 20, 2024 - <a href="https://www.reddit.com/r/Guildwars2/comments/1d2yzvf/some_ideas_to_improve_the_convergence_cm/">Improving Convergence Cm Leaderboards (and group content leaderboards in general)</a>
    </li>
</ul>


