td{
    border:1px solid white;
    padding:10px;
}
table{
    width:100%;
    max-width: 1000px;
    justify-self:center;
}
#recordsBlurb{
    justify-self:center;
}
@media(max-width:640px)  {
    section{
        overflow-x:scroll;
    }  
}
