@page "/Records"

<PageTitle>CC | Records!</PageTitle>
<h3>Records!</h3>
<p>
    Tracking the best times for each Convergence CM. If you achieve a new #1, send me a message in Discord with proof and I'll update it :)
</p>
<p>
    Tracking started on June 5th 2025, safe to assume if that's the date, it was achieved before that.
</p>
<table>
    <tr style="text-align:center;">
        <th>Boss</th>
        <th>NA Time</th>
        <th class="recDate">Date</th>
        <th></th>
        <th>EU Time</th>
        <th>Date</th>
    </tr>
    <tr>
        <td>Secrets of the Obscure</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Demon Knight</td>
        <td>12:42.800</td>
        <td class="recDate">6/5/2025</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Dreadwing</td>
        <td>13:06.280</td>
        <td class="recDate">6/5/2025</td>
        <td>#2</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Hell Sister</td>
        <td>16:06.040</td>
        <td class="recDate">6/5/2025</td>
        <td>#2</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Sorrow</td>
        <td>13:02.200</td>
        <td class="recDate">6/5/2025</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Umbriel</td>
        <td>15:48.600</td>
        <td class="recDate">6/5/2025</td>
        <td>#2</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Janthir Wilds</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Decima</td>
        <td>17:50.440</td>
        <td class="recDate">6/5/2025</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Greer</td>
        <td>17:44.200</td>
        <td class="recDate">6/5/2025</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Ura</td>
        <td>18:36.480</td>
        <td class="recDate">6/5/2025</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>