@page "/records"
@rendermode InteractiveServer
<PageTitle>Records | Convergence Corp!</PageTitle>
<HeadContent>
    <meta name="description" content="Tracking the best Convergence CM times!"/>
    <link rel="canonical" href="https://convergencecorp.net/records" />
    <meta property="og:title" content="Records | Convergence Corp!" />
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://convergencecorp.net/records"/>
    <meta property="og:image" content="https://convergencecorp.net/favicon/android-chrome-512x512.png"/>
    <meta property="og:description" content="Tracking the best Convergence CM times!"/>
    <meta property="og:site_name" content="Convergence Corp!"/>    
</HeadContent>
<section id="recordssection">
<h1 style="align-self:center;">Records!</h1>
<div id="recordsBlurb">
    Tracking the best times for each Convergence CM. If you achieve a new #1, send me a message in Discord with proof and I'll update it :)
</div>
<!-- CCRecordsBanner -->
<Ad dataAdSlot="5580529464" adClasses="adBanner" dataAdFormat="horizontal" />
    
<table>
    <tr>
        <th><image src="/images/flags/usaflaground64px.png" style="width:32px;" /> North America</th>
    </tr>
    <tr style="text-align:center;">
        <th>Boss</th>
        <th>Time</th>
        <th>Date</th>
        <th></th>
        <th>Commander</th>
        <th>Guild</th>
    </tr> 
    <tr>
        <th>Secrets of the Obscure</th>
    </tr>
    <tr>
        <td>Demon Knight</td>
        <td>11:26.240</td>
        <td class="recDate">11/20/2025</td>
        <td></td>
        <td>JMDHouse</td>
        <td>Silverwastes Anonymous [SAS]</td>
    </tr>
    <tr>
        <td>Dreadwing</td>
        <td>12:21.360</td>
        <td class="recDate">11/27/2025</td>
        <td></td>
        <td>JMDHouse</td>
        <td>Silverwastes Anonymous [SAS]</td>
    </tr>
    <tr>
        <td>Hell Sister</td>
        <td>12:59.680</td>
        <td class="recDate">11/27/2025</td>
        <td></td>
        <td>JMDHouse</td>
        <td>Silverwastes Anonymous [SAS]</td>
    </tr>
    <tr>
        <td>Sorrow</td>
        <td>12:58.440</td>
        <td class="recDate">12/04/2025</td>
        <td></td>
        <td>JMDHouse</td>
        <td>Silverwastes Anonymous [SAS]</td>
    </tr>
    <tr>
        <td>Umbriel</td>
        <td>13:48.640</td>
        <td class="recDate">12/04/2025</td>
        <td></td>
        <td>JMDHouse</td>
        <td>Silverwastes Anonymous [SAS]</td>
    </tr>
    <tr>
        <th>Janthir Wilds</th>
    </tr>
    <tr>
        <td>Decima</td>
        <td>16:01.320</td>
        <td class="recDate">11/13/2025</td>
        <td></td>
        <td>Bread</td>
        <td>We Fight Sleep [COFE]</td>
    </tr>
    <tr>
        <td>Greer</td>
        <td>16:03.000</td>
        <td class="recDate">11/13/2025</td>
        <td></td>
        <td>Bread</td>
        <td>We Fight Sleep [COFE]</td>
    </tr>
    <tr>
        <td>Ura</td>
        <td>15:35.400</td>
        <td class="recDate">11/30/2025</td>
        <td></td>
        <td>Ohnage</td>
        <td>Underground Legends [uL]</td>
    </tr>
</table>

<!-- CCRecordsBanner2 -->
<Ad dataAdSlot="9771928050" adClasses="adBanner" dataAdFormat="horizontal" />

<!-- EU table-->
<table>
    <tr>
            <th><image src="/images/flags/euflaground64px.png" style="width:32px;" /> Europe</th>
    </tr>
    <tr style="text-align:center;">
        <th>Boss</th>
        <th>Time</th>
        <th class="recDate">Date</th>
        <th></th>
        <th>Commander</th>
        <th>Guild</th>
    </tr>
    <tr>
        <th>Secrets of the Obscure</th>
    </tr>
    <tr>
        <td>Demon Knight</td>
        <td>9:53.880</td>
        <td class="recDate">12/9/2024</td>
        <td></td>
        <td>Mike</td>
        <td>Void Lounge [VL]</td>
    </tr>
    <tr>
        <td>Dreadwing</td>
        <td>10:20.640</td>
        <td class="recDate">9/9/2024</td>
        <td></td>
        <td>Mike</td>
        <td>Void Lounge [VL]</td>
    </tr>
    <tr>
        <td>Hell Sister</td>
        <td>11:59.640</td>
        <td class="recDate">12/9/2024</td>
        <td></td>
        <td>Mike</td>
        <td>Void Lounge [VL]</td>
    </tr>
    <tr>
        <td>Sorrow</td>
        <td>10:53.080</td>
        <td class="recDate">11/4/2024</td>
        <td></td>
        <td>Mike</td>
        <td>Void Lounge [VL]</td>
    </tr>
    <tr>
        <td>Umbriel</td>
        <td>12:08.000</td>
        <td class="recDate">12/23/2024</td>
        <td></td>
        <td>Mike</td>
        <td>Void Lounge [VL]</td>
    </tr>
    <tr>
        <th>Janthir Wilds</th>
    </tr>
    <tr>
        <td>Decima</td>
        <td>12:18.040</td>
        <td class="recDate">12/01/2025</td>
        <td></td>
        <td>Mike</td>
        <td>Void Lounge [VL]</td>
    </tr>
    <tr>
        <td>Greer</td>
        <td>12:18.160</td>
        <td class="recDate">12/01/2025</td>
        <td></td>
        <td>Mike</td>
        <td>Void Lounge [VL]</td>
    </tr>
    <tr>
        <td>Ura</td>
        <td>11:59.720</td>
        <td class="recDate">11/24/2025</td>
        <td></td>
        <td>Mike</td>
        <td>Void Lounge [VL]</td>
    </tr>
</table>
    
    <!-- CCRecordsBanner3 -->
    <Ad dataAdSlot="7155072806" adClasses="adBanner" dataAdFormat="horizontal" />
    


    <div class="caution"style="justify-self:center">Note: The Chinese version of Guild Wars 2 has different balance than the NA/EU servers.</div>
    <!-- CN Table -->
    <table>
        <tr>
            <th><image src="/images/flags/cnflaground64px.png" style="width:32px;" /> China</th>
        </tr>
        <tr style="text-align:center;">
            <th>Boss</th>
            <th>Time</th>
            <th class="recDate">Date</th>
            <th></th>
            <th>Commander</th>
            <th>Guild</th>
        </tr>
        <tr>
            <th>Secrets of the Obscure</th>
            
        </tr>
        <tr>
            <td>Demon Knight</td>
            <td>-</td>
            <td class="recDate">-</td>
            <td></td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Dreadwing</td>
            <td>-</td>
            <td class="recDate">-</td>
            <td></td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Hell Sister</td>
            <td>-</td>
            <td class="recDate">-</td>
            <td></td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Sorrow</td>
            <td>-</td>
            <td class="recDate">-</td>
            <td></td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Umbriel</td>
            <td>-</td>
            <td class="recDate">-</td>
            <td></td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <th>Janthir Wilds</th>
            
        </tr>
        <tr>
            <td>Decima</td>
            <td>10:37</td>
            <td class="recDate">-</td>
            <td></td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Greer</td>
            <td>11:16</td>
            <td class="recDate">-</td>
            <td></td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Ura</td>
            <td>10:17</td>
            <td class="recDate">-</td>
            <td></td>
            <td>-</td>
            <td>-</td>
        </tr>
    </table>
</section>

<script>
    var x = document.getElementsByClassName("recDate");
    for(var y of x){
        let d = new Date(y.innerText);
        let z = d.toLocaleDateString();
        if(z != "Invalid Date"){
            y.innerText = d.toLocaleDateString();
        }
    }
</script>