@page "/Records"
<PageTitle>CC | Records!</PageTitle>
<section id="recordssection">
<h3>Records!</h3>
<p>
    Tracking the best times for each Convergence CM. If you achieve a new #1, send me a message in Discord with proof and I'll update it :)
</p>
<p>
    Tracking started on June 5th 2025, safe to assume if that's the date, it was achieved before that.
</p>
<table style="width:100%;max-width:1000px;">
    <tr>
        <th>NA</th>
    </tr>
    <tr style="text-align:center;">
        <th>Boss</th>
        <th>Time</th>
        <th class="recDate">Date</th>
        <th></th>
        <th>Commander</th>
        <th>Guild</th>
    </tr>
    <tr>
        <td>Secrets of the Obscure</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Demon Knight</td>
        <td>12:42.800</td>
        <td class="recDate">6/5/2025</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Dreadwing</td>
        <td>13:01.160</td>
        <td class="recDate">6/5/2025</td>
        <td></td>
        <td></td>
        <td>All about Cats</td>
    </tr>
    <tr>
        <td>Hell Sister</td>
        <td>13:51.560</td>
        <td class="recDate">6/5/2025</td>
        <td></td>
        <td></td>
        <td>All about Cats</td>
    </tr>
    <tr>
        <td>Sorrow</td>
        <td>13:02.200</td>
        <td class="recDate">6/5/2025</td>
        <td></td>
        <td></td>
        <td>Skein Gang[SG]</td>
    </tr>
    <tr>
        <td>Umbriel</td>
        <td>15:48.000</td>
        <td class="recDate">6/5/2025</td>
        <td></td>
        <td></td>
        <td>All about Cats</td>
    </tr>
    <tr>
        <td>Janthir Wilds</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Decima</td>
        <td>17:50.440</td>
        <td class="recDate">6/5/2025</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Greer</td>
        <td>17:44.200</td>
        <td class="recDate">6/5/2025</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Ura</td>
        <td>18:25.120</td>
        <td class="recDate">6/7/2025</td>
        <td>#2</td>
        <td></td>
        <td></td>
    </tr>
</table>

<br>
<br>
<table style="width:100%;max-width:1000px;">
    <tr>
        <th>EU</th>
    </tr>
    <tr style="text-align:center;">
        <th>Boss</th>
        <th>Time</th>
        <th class="recDate">Date</th>
        <th></th>
        <th>Commander</th>
        <th>Guild</th>
    </tr>
    <tr>
        <td>Secrets of the Obscure</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Demon Knight</td>
        <td></td>
        <td class="recDate">6/5/2025</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Dreadwing</td>
        <td></td>
        <td class="recDate">6/5/2025</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Hell Sister</td>
        <td></td>
        <td class="recDate">6/5/2025</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Sorrow</td>
        <td></td>
        <td class="recDate">6/5/2025</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Umbriel</td>
        <td></td>
        <td class="recDate">6/5/2025</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Janthir Wilds</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Decima</td>
        <td>17.10.920</td>
        <td class="recDate">6/5/2025</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Greer</td>
        <td>16:06.040</td>
        <td class="recDate">6/5/2025</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Ura</td>
        <td>17:11</td>
        <td class="recDate">6/7/2025</td>
        <td></td>
        <td>Phandrel</td>
        <td></td>
    </tr>
</table>
</section>