@page "/records"
@rendermode InteractiveServer
<PageTitle>Records | Convergence Corp!</PageTitle>
<HeadContent>
    <meta name="description" content="Tracking the best Convergence CM times!"/>
    <link rel="canonical" href="https://convergencecorp.net/records" />
</HeadContent>
<section id="recordssection">
<h1>Records!</h1>
<p>
    Tracking the best times for each Convergence CM. If you achieve a new #1, send me a message in Discord with proof and I'll update it :)
</p>
<!-- CCRecordsBanner -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-9528830556914643"
     data-ad-slot="5580529464"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<table style="width:100%;max-width:1000px;">
    <tr>
        <th>NA</th>
    </tr>
    <tr style="text-align:center;">
        <th>Boss</th>
        <th>Time</th>
        <th>Date</th>
        <th></th>
        <th>Commander</th>
        <th>Guild</th>
    </tr> 
    <tr>
        <td>Secrets of the Obscure</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Demon Knight</td>
        <td>12:42.800</td>
        <td class="recDate">-</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Dreadwing</td>
        <td>12:51.320</td>
        <td class="recDate">7/31/25</td>
        <td></td>
        <td>JMDHouse</td>
        <td>Silverwastes Anonymous [SAS]</td>
    </tr>
    <tr>
        <td>Hell Sister</td>
        <td>13:51.560</td>
        <td class="recDate">-</td>
        <td></td>
        <td></td>
        <td>All About Cats</td>
    </tr>
    <tr>
        <td>Sorrow</td>
        <td>13:02.200</td>
        <td class="recDate">-</td>
        <td></td>
        <td></td>
        <td>Skein Gang[SG]</td>
    </tr>
    <tr>
        <td>Umbriel</td>
        <td>15:48.000</td>
        <td class="recDate">-</td>
        <td></td>
        <td></td>
        <td>All About Cats</td>
    </tr>
    <tr>
        <td>Janthir Wilds</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Decima</td>
        <td>16:10.840</td>
        <td class="recDate">6/21/2025</td>
        <td></td>
        <td>Cheese</td>
        <td></td>
    </tr>
    <tr>
        <td>Greer</td>
        <td>16:37.040</td>
        <td class="recDate">6/21/2025</td>
        <td></td>
        <td>Cheese</td>
        <td></td>
    </tr>
    <tr>
        <td>Ura</td>
        <td>17:23.760</td>
        <td class="recDate">6/21/2025</td>
        <td></td>
        <td>Cheese</td>
        <td></td>
    </tr>
</table>

<br>
<!-- CCRecordsBanner2 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-9528830556914643"
     data-ad-slot="9771928050"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<br>
<table style="width:100%;max-width:1000px;">
    <tr>
        <th>EU</th>
    </tr>
    <tr style="text-align:center;">
        <th>Boss</th>
        <th>Time</th>
        <th class="recDate">Date</th>
        <th></th>
        <th>Commander</th>
        <th>Guild</th>
    </tr>
    <tr>
        <td>Secrets of the Obscure</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Demon Knight</td>
        <td>9:53.880</td>
        <td class="recDate">12/9/2024</td>
        <td></td>
        <td>Mike</td>
        <td>Void Lounge [VL]</td>
    </tr>
    <tr>
        <td>Dreadwing</td>
        <td>10:20.640</td>
        <td class="recDate">9/9/2024</td>
        <td></td>
        <td>Mike</td>
        <td>Void Lounge [VL]</td>
    </tr>
    <tr>
        <td>Hell Sister</td>
        <td>11:59.640</td>
        <td class="recDate">12/9/2024</td>
        <td></td>
        <td>Mike</td>
        <td>Void Lounge [VL]</td>
    </tr>
    <tr>
        <td>Sorrow</td>
        <td>10:53.080</td>
        <td class="recDate">11/4/2024</td>
        <td></td>
        <td>Mike</td>
        <td>Void Lounge [VL]</td>
    </tr>
    <tr>
        <td>Umbriel</td>
        <td>12:08.000</td>
        <td class="recDate">12/23/2024</td>
        <td></td>
        <td>Mike</td>
        <td>Void Lounge [VL]</td>
    </tr>
    <tr>
        <td>Janthir Wilds</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Decima</td>
        <td>14:19.960</td>
        <td class="recDate">7/28/2025</td>
        <td></td>
        <td>Mike</td>
        <td>Void Lounge [VL]</td>
    </tr>
    <tr>
        <td>Greer</td>
        <td>13:42.600</td>
        <td class="recDate">8/4/2025</td>
        <td></td>
        <td>Mike</td>
        <td>Void Lounge [VL]</td>
    </tr>
    <tr>
        <td>Ura</td>
        <td>13.30.280</td>
        <td class="recDate">8/4/2025</td>
        <td></td>
        <td>Mike</td>
        <td>Void Lounge [VL]</td>
    </tr>
</table>
</section>

<script>
    var x = document.getElementsByClassName("recDate");
    for(var y of x){
        let d = new Date(y.innerText);
        let z = d.toLocaleDateString();
        if(z != "Invalid Date"){
            y.innerText = d.toLocaleDateString();
        }
    }
</script>