@page "/rewards"
@using ConvergenceCorpBlazor.Components.Pages.RewardsTables
<PageTitle>Rewards | Convergence Corp!</PageTitle>
<HeadContent>
    <meta name="description" content="Rewards for Convergences in Guild Wars 2!">
    <link rel="canonical" href="https://convergencecorp.net/rewards" />
    <meta property="og:title" content="Rewards | Convergence Corp!" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://convergencecorp.net/rewards" />
    <meta property="og:image" content="https://convergencecorp.net/favicon/android-chrome-512x512.png" />
    <meta property="og:description" content="Rewards for Convergences in Guild Wars 2!" />
    <meta property="og:site_name" content="Convergence Corp!" />
</HeadContent>

<h1>Rewards!</h1>
<h2>Every Convergence</h2>
<h3>Daily rewards</h3>
<p>Every boss will drop these once a day</p>
<RewardsTable tableNumber=1/>
<h3>Every Run</h3>
<p>Every single run will drop this</p>
<RewardsTable tableNumber=2 />
<h2>Secrets of the Obscure</h2>
<p>These drop from the SotO Convergences</p>
<RewardsTable tableNumber=3 />

<h2>Janthir Wilds</h2>
<p>These drop from the JW Convergences</p>
<RewardsTable tableNumber=4 />

<h2>Visions of Eternity</h2>
<p>These drop from the VoE Convergences</p>
<RewardsTable tableNumber=5 />