/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid darkred;
  background-color: darkred;
  width:100%;
  max-width:1000px;
  justify-self:center;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  color:#d7d7d7;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: rgb(216, 0, 0);
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: red;
  color:white;
}

/* Style the tab content */
.tabcontent {
    display: none;
    border: 1px solid darkred;
    border-top: none;
    width: 100%;
    max-width: 1000px;
    justify-self: center;
    align-items: center;
    flex-direction: column;
}

