@page "/schedule"

<h1>Convergence Groups!</h1>
<p>Run a group? Message me on discord with what time(s) you run!</p>

NA Times in Eastern/Pacific
<ul>
    <li>
        Monday
        <ul>
            <li>
                11/8am - <a href="twitch.tv/DarensWithS">twitch.tv/DarensWithS</a> 
            </li>
        </ul>
    </li>
    <li>
        Tuesday
    </li>
    <li>
        Wednesday
    </li>
    <li>
        Thursday
    </li>
    <li>
        Friday
        <ul>
            <li>
                9/6pm - The Sleepiest Warriors [SLPY] - <a href="twitch.tv/projektdyad">twitch.tv/projektdyad</a>
            </li>
        </ul>
    </li>
    <li>
        Saturday
        <ul>
            <li>
                2pm/11am - Convergence Corp [CC] - Sunmatrix.4168 - <a href="https://discord.gg/HyVZqAuAQ2">Discord</a>
            </li>
        </ul>
    </li>
    <li>
        Sunday
        <ul>
            <li>
                2pm/11am - Ownly [FUN] - Williams.1024 - <a href="https://discord.gg/vQ5asNhZYB">Discord</a>
            </li>
        </ul>
    </li>
</ul>