@page "/schedule"
@using ConvergenceCorpBlazor.Components.Pages.ScheduleRegions
@rendermode InteractiveServer

<PageTitle>Schedule | Convergence Corp!</PageTitle>
<HeadContent>
    <meta name="description" content="Convergence Schedule, find a group converging soon&trade;"/>
    <link rel="canonical" href="https://convergencecorp.net/schedule" />
</HeadContent>
<h1>Convergence Groups!</h1>
<p>Run a group? Message me on <a href="https://discord.gg/HyVZqAuAQ2">discord</a> or <a href="https://www.reddit.com/message/compose/?to=SunMatrix64">reddit</a> or ingame at SunMatrix.4168 with what time(s) you run!</p>
<div>
    <p class="caution">
        Disclaimer: This list of groups is what I've gathered myself.<br>
        The groups shown here might decide to run at different times or days without notice, or even not at all.<br>
        I'm not on EU/CN. Any groups on there are just what I've been told.
    </p>
</div>
<p>
    Current time: <span id="CurTime" class="time"></span>!
</p>
<div class="tab">
<button type="button" class="tablinks active" onclick="openTab(event, 'NA')" id ="defaultOpen">NA</button> <!-- id defaultOpen is deprecated -->
<button type="button" class="tablinks" onclick="openTab(event, 'EU')">EU</button>
<button type="button" class="tablinks" onclick="openTab(event, 'CN')">CN</button>
</div>

<!--NA is the default, if you wanna change default, just change it to display:none, and another to display:block -->
<div id="NA" class="tabcontent" style="display:block;">
    <ScheduleNA />
</div>

<div id="EU" class="tabcontent" style="display:none;">
    <ScheduleEU />
</div>

<div id="CN" class="tabcontent" style="display:none;">
   <ScheduleCN />
</div>

<script>

function openTab(evt, tabName){
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; ++i){
        tabcontent[i].style.display = "none";
    }


    tablinks = document.getElementsByClassName("tablinks");
    for(i = 0; i < tablinks.length; ++i){
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " active";
}

function updateDateTime(){
    const now = new Date();
    var curtime = document.getElementById("CurTime");
    const currentDateTime = now.toLocaleTimeString([], {
        hour:'numeric',
          minute:'2-digit',
          timeZoneName:'short'
    });
    curtime.innerText = currentDateTime;
}
updateDateTime();
setInterval(updateDateTime, 10000);
</script>

    