@page "/soto"
@using ConvergenceCorpBlazor.Components.Pages.SotOGuide
@rendermode InteractiveServer

<PageTitle>SotO | Convergence Corp!</PageTitle>
<HeadContent>
    <meta name="description" content="Guides for Guild Wars 2: Secrets of the Obscure Convergences"/>
    <link rel="canonical" href="https://convergencecorp.net/soto" />
</HeadContent>


<div>
    <h1>Secrets of the Obscure</h1>
    <SotOPre />
    <TwoMinPhase/>
    <Split />
    <SotOShared />
    <Demonknight />
    <Dreadwing />
    <Hellsister />
    <Sorrow />
    <Umbriel />
</div>
