@page "/soto"
@using ConvergenceCorpBlazor.Components.Pages.SotOGuide
@rendermode InteractiveServer

<PageTitle>SotO | Convergence Corp!</PageTitle>
<HeadContent>
    <meta name="description" content="Guides for Guild Wars 2: Secrets of the Obscure Convergences"/>
    <link rel="canonical" href="https://convergencecorp.net/soto" />
    <meta property="og:title" content="SotO | Convergence Corp!" />
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://convergencecorp.net/soto"/>
    <meta property="og:image" content="https://convergencecorp.net/favicon/android-chrome-512x512.png"/>
    <meta property="og:description" content="Guides for Guild Wars 2: Secrets of the Obscure Convergences"/>
    <meta property="og:site_name" content="Convergence Corp!"/>
</HeadContent>
<div>
    <h1 style="text-align:center"><image src="/images/SotO/Secrets_of_the_Obscure_logo.png" style="width:100px;"/>Secrets of the Obscure</h1>
    <SotOTableOfContents />
    <SotOPre />
    <TwoMinPhase/>
    <Split />
    <SotOShared />
    <Demonknight />
    <Dreadwing />
    <Hellsister />
    <Sorrow />
    <Umbriel />
</div> 
