@page "/soto"
@using ConvergenceCorpBlazor.Components.Pages.SotOGuide
@rendermode InteractiveServer

<PageTitle>CC | SotO!</PageTitle>


<div>
    <h1>Secrets of the Obscure</h1>

    <button type="button" class="collapsiblebutton @(this.Collapsed ? "" : "active")" @onclick="@Toggle">
        First Two Minutes
    </button>
    <TwoMinPhase Collapsed="@Collapsed"/>
    <br>
    
    <button type="button" class="collapsiblebutton" onclick="openCollapsible(event, 'SplitCollapsible')">Split Phase: Lieutenants and Generals</button>
    <div id="SplitCollapsible" class="collapsiblecontent" style="display:none;">
        <Split />
    </div>
    <br>

    <button type="button" class="collapsiblebutton" onclick="openCollapsible(event, 'DKCollapsible')">Final Boss: Demon Knight</button>
    <div id="DKCollapsible" class="collapsiblecontent" style="display:none;">
        <Demonknight />
    </div>
    <br>

    <button type="button" class="collapsiblebutton" onclick="openCollapsible(event, 'DWCollapsible')">Final Boss: Dreadwing</button>
    <div id="DWCollapsible" class="collapsiblecontent" style="display:none;">
        <Dreadwing />
    </div>
    <br>

    <button type="button" class="collapsiblebutton" onclick="openCollapsible(event, 'HSCollapsible')">Final Boss: Hell Sister</button>
    <div id="HSCollapsible" class="collapsiblecontent" style="display:none;">
        <Hellsister />
    </div>
    <br>

    <button type="button" class="collapsiblebutton" onclick="openCollapsible(event, 'SorrowCollapsible')">Final Boss: Sorrow</button>
    <div id="SorrowCollapsible" class="collapsiblecontent" style="display:none;">
        <Sorrow />
    </div>
    <br>

    <button type="button" class="collapsiblebutton" onclick="openCollapsible(event, 'UmbCollapsible')">Final Boss: Umbriel</button>
    <div id="UmbCollapsible" class="collapsiblecontent" style="display:none;">
        <Umbriel />
    </div>
    <br>
</div>

<script>
    function openCollapsible(evt, name){
        var ele = document.getElementById(name);
        if(ele.style.display == "none"){
            ele.style.display = "block";
            evt.target.classList.toggle("active");
        }
        else{
            ele.style.display = "none";
            evt.target.classList.toggle("active");
        }
    }
</script>

@code {
    public bool Collapsed = true;

    private void Toggle(){
        Collapsed = !Collapsed;
    }
}