@page "/soto"
@using ConvergenceCorpBlazor.Components.Pages.SotOGuide

<PageTitle>CC | SotO!</PageTitle>


<div>
    <h1>Secrets of the Obscure</h1>
    <TwoMinPhase/>
    <Split />
    <Demonknight />
    <Dreadwing />
    <Hellsister />
    <Sorrow />
    <Umbriel />
</div>