@page "/videos"

<PageTitle>CC | Videos!</PageTitle>

<section>
    <h2>Videos!</h2>
    <p>I like watching videos about gw2. Here's some I found that I think represent what gw2 is really about.</p>
    <p>Send me videos you think should be on the list as well :)</p>
    <ul>
        <li></li>
    </ul>
</section>