@page "/voe"
@using ConvergenceCorpBlazor.Components.Pages.VoEGuide
@rendermode InteractiveServer

<PageTitle>VoE | Convergence Corp!</PageTitle>
<HeadContent>
    <meta name="description" content="Guild Wars 2: Visions of Eternity, coming October!"/>
    <link rel="canonical" href="https://convergencecorp.net/voe" />
</HeadContent>
<h1><image src="/images/VoE/VoE_logo_gradient_800.png" alt="VoE Logo" style="width:100px;" />Visions of Eternity</h1>
<ComingSoon />