@page "/voe"
@using ConvergenceCorpBlazor.Components.Pages.VoEGuide
@using ConvergenceCorpBlazor.Components.Widget;
@rendermode InteractiveServer

<PageTitle>VoE | Convergence Corp!</PageTitle>
<HeadContent>
    <meta name="description" content="Guild Wars 2: Visions of Eternity, coming October!"/>
    <link rel="canonical" href="https://convergencecorp.net/voe" />
    <meta property="og:title" content="VoE | Convergence Corp!" />
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://convergencecorp.net/voe"/>
    <meta property="og:image" content="https://convergencecorp.net/favicon/android-chrome-512x512.png"/>
    <meta property="og:description" content="Guild Wars 2: Visions of Eternity, out now!"/>
    <meta property="og:site_name" content="Convergence Corp!"/>
</HeadContent>
<h1><image src="/images/VoE/VoE_logo_gradient_800.png" alt="VoE Logo" style="width:100px;" />Visions of Eternity</h1>
<VoEPublicTimes/>
<image id="voeupdates" src="/images/VoE/gw2-ex6-voe-feature-table.jpg" alt="voe feature table" />