.video-container {
    position:relative;
    padding-bottom:56.25%; /*16:9 */
    height:0;
}
.video-container iframe{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.carousel{
    width:100%;
    max-width:1000px;
    position:relative;
}

.slide{
    display:none;
}
.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight:bold;
    font-size:18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover{
    background-color: rgba(0,0,0,0.8);
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    border-radius: 50%;
    display:inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color:#ff7300;
}

@media(max-width:1031px){
    #VoEHeader{
        display:none;
    }
}
/*headless gap between these atm*/
@media(min-width:640px){
    #VoEMobileHeader{
        display:none;
    }
}