@rendermode InteractiveServer
<!-- VoEHeaderAd -->
<div id="VoEHeader">
    <ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-9528830556914643"
     data-ad-slot="8445569796"></ins>
    <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
</div>
<div id="VoEMobileHeader">
    <!-- VoEMobileHeader -->
    <ins class="adsbygoogle"
     style="display:inline-block;width:300px;height:100px"
     data-ad-client="ca-pub-9528830556914643"
     data-ad-slot="1210077607"></ins>
    <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
</div>
<div class="video-container">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/JTsj7PnlTgI?si=K8Mcb0-9CESzb1QL" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
<h2>Visions of Eternity is coming <span id="VoERelease"></span>!</h2>
<p>
    Rumor has it that the Inquest are searching for the island of Castora.
    Embark on your own voyage to search for the remote island and stop the Inquest's schemes!
</p>
<p>
    Visions of Eternity will include two new maps at launch, and two additional maps in later updates.
</p>
<ins class="adsbygoogle"
     style="display:block; text-align:center;"
     data-ad-layout="in-article"
     data-ad-format="fluid"
     data-ad-client="ca-pub-9528830556914643"
     data-ad-slot="7833489416"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<h2>Features</h2>
<h3>Elite Specializations & Combat Updates</h3>
<p>Each class will get a new elite specialization, unlocking new playstyles, traits, and utility skills.</p>
<div id="espec-carousel" class="carousel">
    <div class="slide" style="background-image:url(/images/VoE/Elite-Specializations/troubadour-background.jpg);"></div>
    <div class="slide" style="background-image:url(/images/VoE/Elite-Specializations/galeshot-background.jpg);"></div>
    <div class="slide" style="background-image:url(/images/VoE/Elite-Specializations/luminary-background.jpg);"></div>
    <div class="slide" style="background-image:url(/images/VoE/Elite-Specializations/antiquary-background.jpg);"></div>
    <div class="slide" style="background-image:url(/images/VoE/Elite-Specializations/ritualist-background.jpg);"></div>
    <div class="slide" style="background-image:url(/images/VoE/Elite-Specializations/paragon-background.jpg);"></div>
    <div class="slide" style=""></div>
    <div class="slide" style=""></div>
    <div class="slide" style=""></div>
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<div style="text-align:center;max-width:1000px;">
    <span class="dot" onclick="currentSlide(1)"><image src="/images/VoE/Elite-Specializations/Spec1Icon.png" style="width:200%;"/></span>
    <span class="dot" onclick="currentSlide(2)"><image src="/images/VoE/Elite-Specializations/Spec8Icon.png" style="width:200%;"/></span>
    <span class="dot" onclick="currentSlide(3)"><image src="/images/VoE/Elite-Specializations/Spec9Icon.png" style="width:200%;"/></span>
    <span class="dot" onclick="currentSlide(4)"><image src="/images/VoE/Elite-Specializations/Spec4Icon.png" style="width:200%;"/></span>
    <span class="dot" onclick="currentSlide(5)"><image src="/images/VoE/Elite-Specializations/Spec6Icon.png" style="width:200%;"/></span>
    <span class="dot" onclick="currentSlide(6)"><image src="/images/VoE/Elite-Specializations/Spec2Icon.png" style="width:200%;"/></span>
    <span class="dot" onclick="currentSlide(7)"><image src="/images/VoE/Elite-Specializations/Spec3Icon.png" style="width:200%;"/></span>
    <span class="dot" onclick="currentSlide(8)"><image src="/images/VoE/Elite-Specializations/Spec5Icon.png" style="width:200%;"/></span>
    <span class="dot" onclick="currentSlide(9)"><image src="/images/VoE/Elite-Specializations/Spec7Icon.png" style="width:200%;"/></span>
</div>
<div id="espec-carousel-bottom">
    <div class="slide-bot">
        <h4 class="espec-name">Troubadour</h4>
        <h5 class="profession"><image src="https://render.guildwars2.com/file/E43730AD49A903C3A1B4F27E41DE04EA51A775EC/156636.png" style=""/>Mesmer</h5>
    </div>
    <div class="slide-bot">
        <h4 class="espec-name">Galeshot</h4>
        <h5 class="profession"><image src="https://render.guildwars2.com/file/49B10316B424F4E20139EB5E51ADCF24A8724E9B/156640.png" style=""/>Ranger</h5>
    </div>
    <div class="slide-bot">
        <h4 class="espec-name">Luminary</h4>
        <h5 class="profession"><image src="https://render.guildwars2.com/file/C32BE61FC55C962524624F643897ECF1A9C80462/156634.png" style=""/>Guardian</h5>
    </div>
    <div class="slide-bot">
        <h4 class="espec-name">Antiquary</h4>
        <h5 class="profession"><image src="https://render.guildwars2.com/file/F9EC00E23F630D6DB20CDA985592EC010E2A5705/156641.png" style=""/>Thief</h5>
    </div>
    <div class="slide-bot">
        <h4 class="espec-name">Ritualist</h4>
        <h5 class="profession"><image src="https://render.guildwars2.com/file/AE56F8670807B87CF6EEE3FC7E6CB9710959E004/156638.png" style=""/>Necromancer</h5>
    </div>
    <div class="slide-bot">
        <h4 class="espec-name">Paragon</h4>
        <h5 class="profession"><image src="https://render.guildwars2.com/file/0A97E13F29B3597A447EEC04A09BE5BD699A2250/156643.png" style=""/>Warrior</h5>
    </div>
    <div class="slide-bot">
        <h4 class="espec-name">n/a</h4>
        <h5 class="profession"><image src="https://render.guildwars2.com/file/5CCB361F44CCC7256132405D31E3A24DACCF440A/156632.png" style=""/>Engineer</h5>
    </div>
    <div class="slide-bot">
        <h4 class="espec-name">n/a</h4>
        <h5 class="profession"><image src="https://render.guildwars2.com/file/7C9309BE7A2A48C6A9FBCC70CC1EBEBFD7593C05/961390.png" style=""/>Revenant</h5>
    </div>
    <div class="slide-bot">
        <h4 class="espec-name">Evoker</h4>
        <h5 class="profession"><image src="https://render.guildwars2.com/file/77B793123251931AFF9FCA24C07E0F704BC4DA49/156630.png" style=""/>Elementalist</h5>
    </div>

</div>
<script>
    var slideIndex = 1;
    function plusSlides(n){
        showSlides(slideIndex += n);
    }
    function currentSlide(n){ 
        showSlides(slideIndex = n);
    }
    function showSlides(n){
        let i;
        var slides = document.getElementsByClassName("slide");
        var slidebots = document.getElementsByClassName("slide-bot");
        var dots = document.getElementsByClassName("dot");
        if(n > slides.length){slideIndex=1;}
        if(n < 1){slideIndex = slides.length;}
        for(i = 0; i < slides.length; ++i){
            slides[i].style.display = "none";
            slidebots[i].style.display = "none";
        }
        for(i = 0; i < dots.length; ++i){
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex-1].style.display = "block";
        slidebots[slideIndex-1].style.display = "block";
        dots[slideIndex-1].className += " active";
    }
    showSlides(slideIndex);
</script>
<p>There is an open beta week for elite specs coming August 20-27th.</p>
<image src="/images/VoE/Elite-Specializations/VoEspecreleasecalander.jpg" alt="spec release schedule" style="width:100%" />
<h3>Skimmer Mastery</h3>
<p>The Skimmer will get new masteries, allowing you to hover, dive, and soar faster than before!</p>
<image src="/images/VoE/Skimmer1.png" style="width:600px;max-width:100%;" />
<h3>New Instanced Content</h3>
<p>
    Raids and Strikes will be combined into the same system, with improvements for access for new players and streamlining rewards.
</p>
<p>
    Two new Raid encounters with CMs and a LCM will come in later updates.
</p>
<p>A new Convergence will come in a later update.</p>
<p>A new Fractal with a CM will come in the final update.</p>
<image src="/images/VoE/VoECrab.jpg" alt="crab" style="width:100%;" />
<h3>New Legendaries</h3>
<p>
    Six new legendaries are coming in Visions of Eternity!
    <ul>
        <li><image src="https://render.guildwars2.com/file/496D18124459C2B21B75A957B9351451A473E91F/1228228.png" alt="legendary weapon icon" style="width:50px;"/>Three Weapons</li>
        <li><image src="https://render.guildwars2.com/file/962F99162FDE4AF471DF9E3BCA712CD6F5050B53/2149899.png" alt="coallescence icon" style="width:50px;"/>Ring</li>
        <li><image src="https://render.guildwars2.com/file/A5587E6C220ECF0601523947DE33A0B34048800D/2149863.png" alt="vision icon" style="width:50px;"/>Accessory</li>
        <li><image src="https://render.guildwars2.com/file/FA1D042B0845BED8DA3CFA0FAA0837D5EB0207A6/61297.png" alt="aquabreather icon" style="width:50px;"/>Aquabreather</li>
    </ul>
</p>
<p>
    One of the weapons and the aquabreather will come when VoE launches.
    The ring, accessory, and other weapons will come later.
</p>
<h3>New Homestead</h3>
<p>
    If you own Janthir Wilds and Visions of Eternity, you will unlock a new Castoran homestead!
    The new layouts feature lets you save the layout of your homestead decorations.
    The layout can be used to swap between maps and shared with other players. 
</p>
<p>This requires owning Janthir Wilds</p>
<image src="/images/VoE/VoEHomestead.jpg" alt="Homestead" style="width:100%;" />
<h3>Fashion Templates</h3>
<p>
    Similar to build and equipment templates, fashion templates allow you to save the aesthetics of your armor, back pieces, outfits and dyes.
</p>
<p>
    This will be a core feature, no expansion required.
</p>
<ins class="adsbygoogle"
     style="display:block; text-align:center;"
     data-ad-layout="in-article"
     data-ad-format="fluid"
     data-ad-client="ca-pub-9528830556914643"
     data-ad-slot="8253998105"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<h2>Prepurchase Visions of Eternity</h2>
<image src="/images/VoE/voe-pre-purchase-1920x1080.jpg" alt="pre purchase loot" style="width:100%;" />
<p>
    You can prepurchase Visions of Eternity at <a href="https://buy.guildwars2.com/en-us/visions-of-eternity">https://buy.guildwars2.com/en-us/visions-of-eternity</a>.
</p>
<h3>Preorder Rewards</h3>
<p>Preordering any edition gets you these:</p>
<ul>
    <li><image src="https://render.guildwars2.com/file/0C3A66D84A0B311E2CD679C545D5CD704039FBCC/3653515.png" alt="plumed hat icon" style="width:50px;" /> Plumed Commodore's Hat helm skin</li>
    <li><image src="https://render.guildwars2.com/file/16D70F7A5C06D415E50EEF07986C46FBDB4D1E80/222818.png" alt="title icon" style="width:50px;"/> "Eternal Alchemist" title</li>
    <li><image src="https://render.guildwars2.com/file/335F2935AFB5C5E0A6FD140EE8E25B154CA278A9/3653507.png" alt="chromatic resin weapon skin choice box icon" style="width:50px;" /> Chromatic Resin weapon skin choice box</li>
</ul>

<p>
    There are 3 editions for the expac: Standard, Deluxe, Ultimate.
</p>
<h3>Purchase Rewards</h3>
<p>These items are included with their respective edition and come to you ingame through the mail. No preorder needed.</p>
<ul>
    <li>
        <h4>Standard Edition</h4>
        <p>Everything listed above, and also:
            <ul>
                <li><image src="https://render.guildwars2.com/file/58085D0B0C10C3594E96046B95BE963B7A293BB5/1314214.png" alt="shared inv slot icon" style="width:50px;"/>Shared Inventory Slot</li>
                <li><image src="https://render.guildwars2.com/file/D14FB2BAC00D58919D39B45140A7B7A7139AB2E3/1423770.png" alt="level 80 boost icon" style="width:50px;" />Max Level Boost</li>
            </ul>
        </p>
    </li>
    <li>
        <h4>Deluxe Edition</h4>
        <p>
            Everything in the Standard Edition, plus these extras:
            <ul>
                <li><image src="https://render.guildwars2.com/file/0439E8C4BBCD2B0D17E016F02A0E08AE327831CB/3653513.png" alt="skimmer skin" style="width:50px;"/>Castoran Tentacled Skimmer Skin</li>
                <li><image src="https://render.guildwars2.com/file/4B0140DD1AAFE49C9A020ECF7FD0C27DD8227E0D/3653549.png" alt="fairy dust gathering tools icon" style="width:50px;"/>Set of Permanent Fairy Dust gathering tools</li>
                <li><image src="/images/VoE/Character_Slot_Expansion.png" style="width:50px;"/>Character Slot</li>
                <li><image src="https://render.guildwars2.com/file/496C7A44E19FEE44264BA6573C03E4C60B310C4B/729529.png" alt="ID Repair kit icon" style="width:50px;"/>Identity Repair Kit</li>
            </ul>
        </p>
    </li>
    <li>
        <h4>Ultimate Edition</h4>
        <p>
            Everything in the Deluxe Edition, plus 4000 <image src="https://render.guildwars2.com/file/220061640ECA41C0577758030357221B4ECCE62C/502065.png" style="width:25px"/> gems.
        </p>
    </li>
</ul>
<image src="/images/VoE/Ex6-Logo-Full-720.gif" style="width:100%;"/>



<script>
    var releaseTime = new Date("10/28/25 16:00:00 UTC-0").toLocaleDateString([], {
        month:'long',
        day:'numeric',
        weekday:'long',
        hour:'numeric',
        minute:'2-digit',
        timeZoneName:'short'
    });
    document.getElementById("VoERelease").innerText = releaseTime;
</script>