@rendermode InteractiveServer

<iframe width="560" height="315" src="https://www.youtube.com/embed/JTsj7PnlTgI?si=K8Mcb0-9CESzb1QL" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

<h2>Visions of Eternity is coming <span id="VoERelease"></span>!</h2>
<p>
    Rumor has it that the Inquest are searching for the island of Castora.
    Embark on your own voyage to search for the remote island and stop the Inquest's schemes!
</p>
<p>
    Visions of Eternity will include two new maps at launch, and two additional maps in later updates.
</p>
<h2>Features</h2>
<h3>Elite Specializations & Combat Updates</h3>
<p>Each class will get a new elite specialization, unlocking new playstyles, traits, and utility skills.</p>
<p>There is a beta test week coming August 20-27th.</p>
<h3>Skimmer Mastery</h3>
<p>The Skimmer will get new masteries, allowing you to hover, dive, and soar faster than before!</p>
<image src="/images/VoE/Skimmer1.png" style="width:600px;max-width:100%;" />
<h3>New Instanced Content</h3>
<p>
    Raids and Strikes will be combined into the same system, with improvements for access for new players and streamlining rewards.
</p>
<p>
    Two new Raid encounters with CMs and a LCM will come in later updates.
</p>
<p>A new Convergence will come in a later update.</p>
<p>A new Fractal with a CM will come in the final update.</p>
<image src="/images/VoE/VoECrab.jpg" alt="crab" style="width:100%;" />
<h3>New Legendaries</h3>
<p>
    Six new legendaries are coming in Visions of Eternity!
    <ul>
        <li>Three Weapons</li>
        <li>Ring</li>
        <li>Accessory</li>
        <li>Aquabreather</li>
    </ul>
</p>
<p>
    One of the weapons and the aquabreather will come at the launch of the expansion.
    The ring, accessory, and other weapons will come later.
</p>
<h3>New Homestead</h3>
<p>
    If you own Janthir Wilds and Visions of Eterntity, you will unlock a new Castoran homestead!
    The new layouts feature lets you save the layout of your homestead decorations.
    The layout can be used to swap between maps and shared with other players.
</p>
<p>This requires owning Janthir Wilds</p>
<image src="/images/VoE/VoEHomestead.jpg" alt="Homestead" style="width:100%;" />
<h3>Fashion Templates</h3>
<p>
    Similar to build and equipment templates, fashion templates allow you to save the aesthetics of your armor and dyes.
</p>
<p>
    This will be a core feature, no expansion required.
</p>

<h2>Prepurchase Visions of Eternity</h2>
<image src="/images/VoE/voe-pre-purchase-1920x1080.jpg" alt="pre purchase loot" style="width:100%;" />
<p>
    You can prepurchase Visions of Eternity at <a href="https://buy.guildwars2.com/en-us/visions-of-eternity">https://buy.guildwars2.com/en-us/visions-of-eternity</a>.
    Prepurchasing any edition before the release date gets you three rewards:
    <ul>
        <li>Plumed Commodore's Hat helm skin</li>
        <li>"Eternal Alchemist" title</li>
        <li>1 Chromatic Resin weapon skin choice box</li>
    </ul>
</p>
<p>
    There are 3 editions for the expac: Standard, Deluxe, Ultimate.
</p>
<ul>
    <li>
        <h3>Standard Edition</h3>
        <p>Everything listed above, and also:
            <ul>
                <li>Shared Inventory Slot</li>
                <li>Max Level Boost</li>
            </ul>
        </p>
    </li>
    <li>
        <h3>Deluxe Edition</h3>
        <p>
            Everything in the Standard Edition, plus these extras:
            <ul>
                <li>Castoran Tentacled Skimmer Skin</li>
                <li>Set of Permanent Fairy Dust gathering tools</li>
                <li>Character Slot</li>
                <li>Identity Repair Kit</li>
            </ul>
        </p>
    </li>
    <li>
        <h3>Ultimate Edition</h3>
        <p>
            Everything in the Deluxe Edition, plus 4000 gems.
        </p>
    </li>
</ul>
<image src="/images/VoE/Ex6-Logo-Full-720.gif" style="width:100%;"/>



<script>
    var releaseTime = new Date("10/28/25 16:00:00 UTC-0").toLocaleDateString([], {
        month:'long',
        day:'numeric',
        weekday:'long',
        hour:'numeric',
        minute:'2-digit',
        timeZoneName:'short'
    });
    document.getElementById("VoERelease").innerText = releaseTime;
</script>