<section>
    <h3>Demon Knight</h3>
    <!-- description here -->
    Demon Knight is a tyrannical general in Eparch's army.<br>
    He has managed to cultivate a <span style="color:rgb(0,255,255)">Wrathful Aura</span> about him that actively hurts anyone nearby.<br>

    <br> 
    <h4>Strategy</h4>
    Demon Knight is pretty simple.<br>
    If you get <span style="color:rgb(255,127,39)">Wrath of Firmament</span> on you, take it far away from the group.<br>
    If you get hit by a <span style="color:rgb(34,177,76)">Tyrant's Contempt</span> orb and pulled, quickly mount your warclaw to escape being blasted by <span style="color:rgb(255,0,0)">Callous Retribution</span>.<br>
    When Demon Knights breakbar is up, break it ASAP. The longer it's up, the more damaging <span style="color:rgb(0,255,255)">Wrathful Aura</span> becomes.<br>
    This mostly affects the players that have <span style="color:rgb(255,127,39)">Wrath of Firmament</span>, as they have to leave the safety of the groups healers.<br>
    <br>

    <h4>Demon Knight's Skills</h4>
    <ul>
        <li>
            <h5 style="color:rgb(0, 225, 255)">Wrathful Aura(Passive)</h5>
            Demon Knight has an aura that hurts players nearby.<br>
            When the breakbar is up, this <span style="color:rgb(0,255,255)">aura</span> hurts significantly more and has greater range.<br>
            Break the breakbar ASAP whenever it comes up to prevent <span style="color:rgb(0,255,255)">Wrathful Aura</span> from becoming an issue.<br>
        </li>
        <li>
            <h5 style="color:rgb(255,127,39)">Wrath of Firmament(Meteors)</h5>
            Death Knight fires a beam into the air, summoning meteors that target players.<br>
            The later in the fight, the more meteors that get summoned.<br>
            <image src="images/SotO/DK/DKMeteorOne25.png" alt="Demon Knight shoots a beam into the air" style="width:100%;max-width:200px;"></image><br>
            DK firing a beam into the air.<br>
            <br>
            The targeted players get giant multilayered circular AoEs and orange firey borders indicating that they have the meteor.<br>
            The targeted players should run far away from the main group, so the <span style="color:rgb(255,127,39)">Wrath of Firmament</span> meteors doesn't fall on them.<br>
            <image src="images/SotO/DK/DKMeteorTwo25.png" alt="Player with meteor standing away from the group" style="width:100%;max-width:600px;"></image><br>
            A targeted player with rings and firey borders.<br>
            <!-- Get a pic of impact -->
            <br>
        </li>
        <li>
            <h5 style="color:rgb(255, 113, 78)">Shards of Wrath(Meteor Secondary)</h5> <!-- should be another orange -->
            Additional meteors follow the initial <span style="color:rgb(255,127,39)">Wrath of Firmament</span> meteor.<br>
            They bombard the area around the initial impact in two large rings.<br>
            <image src="images/SotO/DK/DKMeteorFour25.png" alt="Secondary meteors land around the initial impact site" style="width:100%;max-width:500px;"></image><br>
        </li>
        <li>
            <h5 style="color:rgb(34,177,76)">Tyrant's Contempt(Orbs)</h5>
            Death Knight fires <span style="color:rgb(34,177,76)">6 orbs that create an aoe</span>, then each <span style="color:rgb(181,230,29)">explode into 6 more orbs</span>.<br>
            <span style="color:rgb(181,230,29)">Each of the 6 orbs</span> move outward, and then converge back to where they started.<br>
            The <span style="color:rgb(181,230,29)">orbs</span> will pull anyone they touch to where they are converging.<br>
            Demon Knight then combos <span style="color:rgb(255,0,0)">CR</span> on the orbs that were able to grab the most players.<br>
            If you get caught by an <span style="color:rgb(181,230,29)">orb</span>, quickly warclaw out to avoid getting combod.<br>
            <image src="/images/SotO/DK/DKTC25.png" alt="" style="width:100%;max-width:600px;"></image><br>
            Demon Knight using <span style="color:rgb(34,177,76)">Tyrant's Contempt</span>. The two on the left are <span style="color:rgb(181,230,29)">exploding into more orbs</span>, while the three on the right are preparing to explode.<br>
        </li>
        <li>
            <h5 style="color:rgb(0,162,232)">Tyrant's Teeth</h5>
            Demon Knight shoots out multiple lines across the ground, damaging anyone standing in the way.<br>
            After a few seconds, they pulse again for more damage.<br>
            The later in the fight, the more lines Demon Knight shoots out at once.<br>
            <image src="/images/SotO/DK/DKTT25.png" alt="Tyrant's Teeth" style="width:100%;max-width:500px;"></image><br>
            Demon Knight creating 6 <span style="color:rgb(0,162,232);">Tyrant's Teeth</span> in phase 4.<br>
            <image src="/images/SotO/DK/DKTTPulse25.png" alt="Tyrant's Teeth Pulsing" style="width:100%;max-width:500px;"></image><br>
            Six <span style="color:rgb(0,162,232);">Tyrant's Teeth</span> pulsing a few seconds later.<br>
        </li>
        <li>
            <h5 style="color:rgb(255,0,0);">Callous Retribution</h5>
            Demon Knight shoots a large red beam, downing anyone caught in it.<br>
            DK aims for the largest group caught by the <span style="color:rgb(34,177,76)">Tyrant's Contempt</span> orbs.<br>
            <!-- image here -->
            <image src="/images/SotO/DK/DKCR.png" alt="Callous Retribution" style="width:100%;max-width:400px;"></image>
        </li>
        <li>
            <h5 style="color:rgb(255, 255, 0);">Sweeping Judgment</h5>
            Still trying to figure this out, it's after TT/CR and before TW.<br>
        </li>
        <li>
            <h5 style="color:rgb(163,73,164);">Telluric Wrath(Rings)</h5>
            Demon Knight creates 3 rings. The middle ring goes off first, then the inner and outer rings go off at the same time.<br>
            <image src="/images/SotO/DK/DKTW25.png" alt="Tulleric Wrath" style="width:100%;max-width:500px;"></image><br>
        </li>
    </ul>
</section>