<section>
    <h3>Demon Knight</h3>
    <!-- description here -->
    <br>
    <h4>Strategy</h4>
    Demon Knight is pretty simple. If you get a meteor on you, take it far away from the group.<br>
    If you get hit by a <span style="color:rgb(34,177,76)">Tyrant's Contempt</span> orb and pulled, quickly mount your warclaw to escape being blasted by <span style="color:rgb(255,0,0)">Callous Retribution</span>.<br>

    <br>
    <h4>Demon Knights's Skills</h4>
    <ul>
        <li>
            <h5>Wrathful Aura</h5>
            Demon Knight has an aura that hurts players nearby.<br>
            When the breakbar is up, this aura hurts significantly more and has greater range.<br>
            <div class="caution">
                Theory: This might be a shared damage between all nearby players.<br>
                This would explain why the people that get to DK the fastest each phase have a bad time.<br>
            </div>
            
        </li>
        <li>
            <h5>Shards of Wrath(Meteor Secondary)</h5>
        </li>
        <li>
            <h5>Wrath of Firmament(Meteors)</h5>
        </li>
        <li>
            <h5 style="color:rgb(34,177,76)">Tyrant's Contempt(Orbs)</h5>
            Death Knight fires 6 orbs that create an aoe, then each <span style="color:rgb(181,230,29)">explode into 6 more orbs</span>.<br>
            Each of the 6 orbs then moves in a random direction, before converging on a single point.<br>
            If you're hit by an orb, they will pull you to where they are converging.<br>
            Demon Knight then combos <span style="color:rgb(255,0,0)">CR</span> on the orbs that got the most players.<br>
            <image src="/images/SotO/DK/DKTC25.png" alt="" style="width:100%;max-width:600px;"></image><br>
            Demon Knight using <span style="color:rgb(34,177,76)">Tyrant's Contempt</span>. The two on the left are <span style="color:rgb(181,230,29)">exploding into more orbs</span>, while the three on the right are preparing to explode.<br>
        </li>
        <li>
            <h5 style="color:rgb(0,162,232)">Tyrant's Teeth</h5>
            Demon Knight shoots out multiple lines across the ground, damaging once initially, then pulsing a few seconds later for even more damage.<br>
            The later in the fight, the more lines Demon Knight shoots out.<br>
            <image src="/images/SotO/DK/DKTT25.png" alt="Tyrant's Teeth" style="width:100%;max-width:500px;"></image><br>
            Demon Knight creating 6 <span style="color:rgb(0,162,232);">Tyrant's Teeth</span> in phase 4.<br>
            <image src="/images/SotO/DK/DKTTPulse25.png" alt="Tyrant's Teeth Pulsing" style="width:100%;max-width:500px;"></image><br>
            Six <span style="color:rgb(0,162,232);">Tyrant's Teeth</span> pulsing a few seconds later.<br>
        </li>
        <li>
            <h5 style="color:rgb(255,0,0)">Callous Retribution</h5>
            Demon Knight shoots a large red beam, downing anyone caught in it.<br>
            DK aims for the largest group caught by the <span style="color:rgb(34,177,76)">Tyrant's Contempt</span> orbs.<br>
        </li>
        <li>
            <h5>Sweeping Judgment</h5>
            Still trying to figure this out, it's after TT/CR and before TW. possibly the middle ring that goes off first?
        </li>
        <li>
            <h5>Telluric Wrath(Rings)</h5>
        </li>
    </ul>
</section>