<section>
    <h3>Dreadwing</h3>
    Dreadwing is a fire breathing wyvern based kryptis.<br>
    <br>
    <h4>Strategy</h4>
    <br>
    <h4>Dreadwing's Skills</h4>
    <ul>
        <li>
            Phase 1
            <ul>
                <li>
                    <h5>Branded Rain of Fire</h5>
                    Dreadwing flys up in the air and fires 5 fireballs in an arc.<br>
                    After finishing the fireball arc, Dreadwing slams down, dealing massive damage to anyone underneath.<br>
                    There are 2 versions, near arc and far arc.<br>
                </li>
                <li>
                    <h5>Cracks in Reality</h5>
                    Dreadwing rips a crack in reality forward. It goes a fixed distance then splits 60 degrees to the left and right.<br>
                    The lines do this 4 times, creating a hexagonal pattern.<br>
                </li>
                <li>
                    <h5 style="color:rgb(255,255,0)">Tail Swipe</h5>
                    Dreadwing swipes their tail in an arc.<br>
                    Players hit are knocked back.<br>
                    <image src="/images/SotO/DW/DWTailSwipe25.png" alt="Dreadwing using Tail Swipe" style="width:100%;max-width:500px;"></image><br>
                </li>
                <li>
                    <h5>Charge</h5>
                    Dreadwing charges in a random direction, knocking away anyone in their way.<br>
                </li>
                <li>
                    <h5 style="color:rgb(34,177,76)">Breathe Fire</h5>
                    Dreadwing breathes a cone of flames in front of him.<br> <!-- does this burn or just damage? or just burn? -->
                    <image src="/images/SotO/DW/DWBreathefireone25.png" alt="Dreadwing preparing to Breathe Fire" style="width:100%;max-width:600px;"></image><br>
                    <image src="/images/SotO/DW/DWBreathefiretwo50.png" alt="Dreadwing breathing fire" style="width:100%;max-width:600px;"></image><br>
                </li>
                <li>
                    <h5>Shearing Winds</h5>
                    Dreadwing flaps their wings, creating high winds that push players back.<br>
                    Dreadwings breakbar becomes available while using this, break it to stop it.<br>
                </li>
                
            </ul>
        </li>
        <li>
            Phase 4
            <ul>
                <li>
                    <h5 style="color:orange">Fireball</h5>
                    Dreadwing shoots out a large fireball that bounces across the ground.<br>
                    It leaves behind a trail of fire.<br>
                    <image src="/images/SotO/DW/DWFireball25.png" alt="A bouncing fireball" style="width:100%;max-width:500px;"></image><br>
                    A <span style="color:orange;">Fireball</span> <span style="color:darkred">bouncing</span> to the right.<br>
                </li>
            </ul>
        </li>
    </ul>
</section>