<section id="Dreadwing">
    <h2>Dreadwing</h2>
    <p>
        Dreadwing is a fire breathing wyvern based kryptis.
    </p>
    <h3>Strategy</h3>
    <p>
        Dreadwing has several fire based attacks and physical attacks with their body.
        You can avoid most of their attacks by just sticking behind and to the left of them.
        When DW starts flapping their wings, CC quickly to break the breakbar and get some exposed DPS time.
    </p>
    <h3>Dreadwing's Skills</h3>
    <ul>
        <li>
            <h4>Phase 1</h4>
            <ul>
                <li>
                    <h5 style="color:rgb(0,181,50);">Branded Rain of Fire</h5>
                    <p>
                        Dreadwing flys up in the air and fires 5 fireballs in an arc.
                        After finishing the fireball arc, Dreadwing slams down, dealing massive damage to anyone underneath.
                        There are 2 versions, near arc and far arc.
                    </p>
                    <figure>
                        <image src="/images/SotO/DW/DWRoF.png" alt="Rain of Fire" style="width:100%;max-width:800px;"/>
                        <figcaption>Rain of Fire</figcaption>
                    </figure>
                </li>
                <li> 
                    <h5 style="color:rgb(255,0,0);">Cracks in Reality</h5>
                    <p>
                        Dreadwing rips a crack in reality. These have multiple patterns.
                        I've seen hexagonal and diamond type patterns.
                    </p>
                </li>
                <li>
                    <h5 style="color:rgb(255,255,0)">Tail Swipe</h5>
                    <p>
                        Dreadwing swipes their tail in an arc.
                        Players hit are knocked back.
                    </p>
                    <figure>
                        <image src="/images/SotO/DW/DWTailSwipe25.png" alt="Dreadwing using Tail Swipe" style="width:100%;max-width:500px;"/>
                        <figcaption></figcaption>
                    </figure>
                </li>
                <li>
                    <h5 style="color:rgb(255, 0, 242);">Charge</h5>
                    <p>
                        Dreadwing charges in a random direction, knocking away anyone in their way.
                    </p>
                </li>
                <li>
                    <h5 style="color:rgb(34,177,76)">Breathe Fire</h5>
                    <p>
                        Dreadwing breathes a cone of flames in front of him.
                    </p><!-- does this burn or just damage? or just burn? -->
                    <figure>
                        <image src="/images/SotO/DW/DWBreathefireone25.png" alt="Dreadwing preparing to Breathe Fire" style="width:100%;max-width:600px;"/>
                        <figcaption></figcaption>
                    </figure>
                    
                    <figure>
                        <image src="/images/SotO/DW/DWBreathefiretwo50.png" alt="Dreadwing breathing fire" style="width:100%;max-width:600px;"/>
                        <figcaption></figcaption>
                    </figure>
                </li>
                <li>
                    <h5 style="color:rgb(0, 217, 255);">Shearing Winds</h5>
                    <p>
                        Dreadwing flaps their wings, creating high winds that push players back.
                        Dreadwings breakbar becomes available while using this, break it to stop it.
                        See: <span style="color:rgb(0,255,255);">Sorrow's Shearing Winds</span>.
                    </p>
                </li>
                
            </ul>
        </li>
        <li>
            <h4>Phase 4</h4>
            <ul>
                <li>
                    <h5 style="color:orange">Fireball</h5>
                    <p>
                        Dreadwing shoots out a large fireball that bounces across the ground.
                        It leaves behind a trail of fire.
                    </p>
                    <figure>
                        <image src="/images/SotO/DW/DWFireball25.png" alt="A bouncing fireball" style="width:100%;max-width:500px;"/>
                        <figcaption>A <span style="color:orange;">Fireball</span> <span style="color:darkred">bouncing</span> to the right.</figcaption>
                    </figure>
                </li>
            </ul>
        </li>
    </ul>
</section>