<section id="HellSister">
    <h2>Hell Sister</h2>
    <p>
        General of Eparch's Army
    </p>
    <p>
        Hell Sister is a powerful humanoid Kryptis.
    </p>
    <h3>Strategy</h3>
    <p>
        Hell Sister has several hard hitting skills.
        She starts pushing people away in the third phase(50%->25%).
        She pushes and pulls people in the fourth phase(25%->0%).
        Bring a lot of blocks or shields to prevent getting one shot and stability so the <span style="color:rgb(255,0,0);">Abyss Rifts</span> don't push you 10 miles away.
    </p>
    
    <h3>Hell Sister's Skills</h3>
    <p>
        Hell Sister uses all of her skills from phase 1.
    </p>
    <ul>
        <li>
            <h4 style="color:rgb(0, 128, 255);">Kryptis Blast</h4>
            <p>
                Hell Sister fires a cone attack inbetween every other skill.
                This skill alone has the potential to down several people at once.
            </p>
        </li>
        <li>
            <h4 style="color:rgb(255,0,0);">Abyss Rift</h4>
            <p>
                Hell Sister tears open 2 <span style="color:rgb(255,0,0);">Abyss Rifts</span> in the ground, going in opposite directions.
                After going a fixed distance, they split into 2 more <span style="color:rgb(255,0,0);">rifts</span>, 60 degrees to the left and right.
                They do this 4 times, creating a hexagonal pattern.
                These <span style="color:rgb(255,0,0);">rifts</span> hurt a lot and will push you even while youre down.
                You can dodge or use stability to get through the <span style="color:rgb(255,0,0);">rifts</span>.
            </p>
            <figure style="max-width:600px;">
                <image src="\images\SotO\HS\SotOConvergeHSAbyssRift25.png" alt="Hell Sister using Abyss Rift" style="width:100%;"/>
                <figcaption></figcaption>
            </figure>
        </li>
        <li>
            <h4 style="color:rgb(204,67,0)">Deadly Attraction</h4>
            <p>
                Hell Sister glares at anyone looking her direction.
                If you're caught, she hits hard, puts 5 stacks of confusion and taunts you.
                This can be negated by blocks. Shields and cleanses can also be used to counter this.
            </p>
            <figure>
                <image src="/images/SotO/HS/HSDA.png" alt="Deadly Attraction" style="width:100%;max-width:400px;"/>
            </figure>
        </li>
        <li>
            <h4 style="color:rgb(0,255,0);">Ball of Torment</h4>
            <p>
                Hell Sister shoots out several balls targeted at players.
                Once the balls land, they bounce in a random direction?
                Need more on this, theyre very hard to see.
            </p>
        </li>
        <li>
            <h4 style="color:rgb(255,242,0);">Riftwalk</h4>
            <p>
                Does 0 damage. Hell Sister teleports to a new location.
            </p>
            <figure>
                <image src="/images/SotO/HS/HSRiftwalk25.png" alt="Rift Walk" style="width:100%;max-width:400px;"/>
            </figure>
        </li>
    </ul>
</section>