<section>
    <h3>Hell Sister</h3>
    <h4>Abyss Rift</h4>
    <image src="\images\SotO\HS\SotOConvergeHSAbyssRift25.png" alt="Hell Sister using Abyss Rift" style="width:100%;max-width:600px;"></image>
    <br>
    Hell Sister tears open 2 rifts in the ground, going in opposite directions.<br>
    After going a medium distance, they split into 2 more rifts, 60 degrees to the left and right.<br>
    This creates a hexagonal pattern.<br>
    They do this 4 times. When the lines collide, they stop producing more lines.<br>
    These lines hurt a lot and will push you, even while youre down.<br>
</section>