<section>
    <h3>Hell Sister</h3>
    General of Eparch's Army<br>
    <br>

    Hell Sister is a powerful humanoid Kryptis.<br>
    <br>
    <h4>Strategy</h4>
    Hell Sister has several hard hitting skills.<br>
    She starts pushing people away in the third phase(50%->25%).<br>
    She pushes and pulls people in the fourth phase(25%->0%).<br>
    Bring a lot of blocks or shields to prevent getting one shot and stability so the <span style="color:rgb(255,0,0);">Abyss Rifts</span> don't push you 10 miles away.<br>
    <br>
    <h4>Hell Sister's Skills</h4>
    Hell Sister uses all of her skills from phase 1.
    <ul>
        <li>
            <h5 style="color:rgb(0, 128, 255);">Kryptis Blast</h5>
            Hell Sister fires a cone attack inbetween every other skill.<br>
            This skill alone has the potential to down several people at once.<br>
        </li>
        <li>
            <h5 style="color:rgb(255,0,0);">Abyss Rift</h5>
                Hell Sister tears open 2 <span style="color:rgb(255,0,0);">Abyss Rifts</span> in the ground, going in opposite directions.<br>
                After going a fixed distance, they split into 2 more <span style="color:rgb(255,0,0);">rifts</span>, 60 degrees to the left and right.<br>
                They do this 4 times, creating a hexagonal pattern.<br>
                These <span style="color:rgb(255,0,0);">rifts</span> hurt a lot and will push you even while youre down.<br>
                You can dodge or use stability to get through the <span style="color:rgb(255,0,0);">rifts</span>.<br>
            <image src="\images\SotO\HS\SotOConvergeHSAbyssRift25.png" alt="Hell Sister using Abyss Rift" style="width:100%;max-width:600px;"></image><br>
        </li>
        <li>
            <h5 style="color:rgb(204,67,0)">Deadly Attraction</h5>
            Hell Sister glares at anyone looking her direction.<br>
            If you're caught, she hits hard, puts 5 stacks of confusion and taunts you.<br>
            This can be negated by blocks. Shields and cleanses can also be used to counter this.<br>
            <image src="/images/SotO/HS/HSDA.png" alt="Deadly Attraction" style="width:100%;max-width:400px;"></image>
        </li>
        <li>
            <h5 style="color:rgb(0,255,0);">Ball of Torment</h5>
            Hell Sister shoots out several balls targeted at players.<br>
            Once the balls land, they bounce in a random direction?<br>
            Need more on this, theyre very hard to see.<br>
        </li>
        <li>
            <h5 style="color:rgb(255,242,0);">Riftwalk</h5>
            Does 0 damage. Hell Sister teleports to a new location.<br>
            <image src="/images/SotO/HS/HSRiftwalk25.png" alt="Rift Walk" style="width:100%;max-width:400px;"></image><br>
        </li>
    </ul>
</section>