<section>
    <h3>Hell Sister</h3>
    General of Eparch's Army<br>
    <br>

    Hell Sister is a powerful humanoid Kryptis.<br>
    <br>
    <h4>Strategy</h4>
    <br>
    <h4>Hell Sister's Skills</h4>
    Hell Sister uses all of her skills from phase 1.
    <ul>
        <li>
            <h5>Kryptis Blast</h5>
            Hell Sister fires a cone attack inbetween every other skill.
        </li>
        <li><h5>Deadly Attraction</h5></li>
        <li><h5>Ball of Torment</h5></li>
        <li>
            <h5>Riftwalk</h5>
            Does 0 damage. Hell Sister teleports to a new location.<br>
        </li>
        <li>
            <h5 style="color:red;">Abyss Rift</h5>
                Hell Sister tears open 2 <span style="color:red;">Abyss Rifts</span> in the ground, going in opposite directions.<br>
                After going a fixed distance, they split into 2 more <span style="color:red;">rifts</span>, 60 degrees to the left and right.<br>
                They do this 4 times, creating a hexagonal pattern.<br>
                These  <span style="color:red;">rifts</span> hurt a lot and will push you even while youre down.<br>
            <image src="\images\SotO\HS\SotOConvergeHSAbyssRift25.png" alt="Hell Sister using Abyss Rift" style="width:100%;max-width:600px;"></image><br>
            </li>
    </ul>
</section>