<section>
    <h3>Sorrow</h3>
    Sorrow is a wyvern based kryptis that has strong astral powers. It can control gravity.<br>
    Stability and blocks help significantly in this fight.

    <h4>Sorrow's Skills</h4> <!--collapse this somehow -->
    <ul>
        <li>
            Phase 1 (100% -> 75%)
            <ul>
                <li>
                    Cosmic Energy<br>
                    A passive debuff to the player, applied by other skills.<br>
                    Low Gravity and Increased move speed.<br>
                    Does NOT negate fall damage.<br>
                </li>
                <li>
                    Stormfall (lightning)<br>
                    A passive attack, a bonus to other skills.<br>
                    Fissures of astral force.<br>
                    These do significant damage and should be avoided.<br>
                </li>
                <li>
                    Sorrow's Brood<br>
                    Sorrow summons their spawn from Gravity Bombs.<br>
                </li>
                <li>
                    Gravity Bomb + Stormfall + Sorrow's Brood<br>
                    Gravity bomb creates a field of burning and will inflict Cosmic Energy.<br>
                </li>
                <li>
                    Sorrow Barrage<br>
                    Sorrow flys up in the air and fires 5 gravity bombs in an arc.<br>
                    After finishing the Gravity Bomb arc Sorrow slams down, dealing massive damage to anyone underneath.<br>
                    There are 2 versions, near arc and far arc.<br>
                </li>
                <li>
                    Tail Swipe + Stormfall<br>
                    Sorrow swipes with their tail in an arc, knocking back anyone hit<br>
                </li>
                <li>
                    Charge + Stormfall<br>
                </li>
                <li>
                    Shearing Winds (wing flapping) + Stormfall<br>
                    Sorrow flaps their wings, crating high winds that knock back.<br>
                    Sorrow has a breakbar during this skill, break it to stop the skill.<br>
                </li>
            </ul>
        </li>
        <li>Phase 2 (75% -> 50%)
            <ul>
                <li>
                    Gravity Well + Stormfall
                    Sorrow slams the ground in front of them, knocking down anyone hit.
                    Danger - This deals HIGH damage, don't stand directly infront of the boss.
                    This creates a shockwave that knocks back.
                    Leads into Gravity Field
                </li>
                <li>
                    Gravity Field (toilet)
                    Spins everyone around the center, inflicting slow, confusion, and torment.
                </li>
            </ul>
        </li>
        Sorrow has no additional skills past phase 2.
    </ul>
</section>