<section>
    <h3>Sorrow</h3>
    Controls Gravity | Summons Singularities<br>
    <br>
    
    Sorrow is a wyvern based kryptis that has strong enough astral powers to control gravity.<br>
    Stability and blocks help significantly in this fight.<br>
    <br>

    <h4>Strategy</h4>

    <h4>Sorrow's Passives</h4>
    <ul>
        <li>
            <h5 style="color:cyan">Cosmic Energy</h5> <!-- put the icon for Cosmic Energy here -->
            A debuff applied by some of Sorrows skills.<br>
            Low Gravity and Increased move speed.<br>
            Does NOT negate fall damage.<br>
        </li>
        <li>
            <h5 style="color:#5868AE">Stormfall (lightning)</h5>
            A bonus to Sorrows other skills, <span style="color:#5868AE">Stormfall</span> activates on every skill used.<br>
            Fissures of astral force that last for a few seconds.<br>
            These do significant damage and should be avoided.<br>
            <image src="/images/SotO/Sorrow/SorrowStormfall25.png" alt="A screen full of Stormfall" style="width:100%;max-width:700px;"></image><br>
            A screen full of <span style="color:#5868AE">Stormfalls</span>.
        </li>
        <li>
            <h5 style="color:blue">Sorrow's Brood</h5>
            Each <span style="color:rgb(255, 69, 162)">Gravity Bomb</span> from <span style="color:fuchsia">Sorrow Barrage</span> also summons a <span style="color:blue">Sorrow's Brood</span>.<br>
            SB are based off <a href="https://wiki.guildwars2.com/wiki/Minor_Electric_Wyvern">Minor Electric Wyverns</a>.<br>
            SB Skills:
            <ul>
                <li>
                    Electric Breath - SB shoots out lightning breath and sweeps in an arc.
                </li>
                <li>Dash - SB dashes in the direction of its targeted player.</li>
                <li>Tail Swipe - self descriptive.</li>
                <li>Wicked Bite - self descriptive.</li>
            </ul>

        </li>
    </ul>

    <h4>Sorrow's Skills</h4> <!--collapse this somehow -->
    <ul>
        <li>
            Phase 1 (100% -> 75%)
            <ul>
                <li>
                    <h5 style="color:rgb(255, 69, 162)">Gravity Bomb</h5>
                    Gravity bomb creates a field of burning and will inflict Cosmic Energy.<br>
                    When used in <span style="color:fuchsia">Sorrow Barrage</span>, spawns a Sorrow's Brood inside the <span style="color:rgb(255, 69, 162)">GB</span>.<br>
                    <image src="/images/SotO/Sorrow/SorrowGB25.png" style="width:100%;max-width:600px;" alt="Five Gravity Bombs with Sorrow's Brood inside, after Sorrow Barrage has finished"></image><br>
                    A finished <span style="color:fuchsia">Sorrow Barrage</span>, five <span style="color:rgb(255, 69, 162)">Gravity Bombs</span> with <span style="color:blue">Sorrow's Brood</span>. Near version.<br>
                </li>
                <li>
                    <h5 style="color:fuchsia">Sorrow Barrage</h5>
                    Sorrow flys up in the air and fires 5 <span style="color:rgb(255, 69, 162)">gravity bombs</span> in an arc.<br>
                    After finishing the <span style="color:rgb(255, 69, 162)">Gravity Bomb</span> arc Sorrow slams down, dealing massive damage to anyone underneath.<br>
                    There are 2 versions, near arc and far arc.<br>
                </li>
                <li>
                    <h5 style="color:rgb(255,165,0)">Tail Swipe</h5>
                    Sorrow swipes with their tail in an arc, knocking back anyone hit<br>
                </li>
                <li>
                    <h5 style="color:rgb(218, 120, 0)">Tail Slash</h5>
                    Follows <span style="color:rgb(255,165,0)">Tail Swipe</span>, but only sometimes.<br>
                    Sorrow jumps into the air and slashes down with their tail. Same affects as <span style="color:rgb(255,165,0)">Tail Swipe</span>.<br>
                    <image src="/images/SotO/Sorrow/SorrowTailSlash50.png" alt="Sorrow Tail Slash" style="width:100%;max-width:500px;"></image>
                </li>
                <li>
                    <h5 style="color:rgb(255,255,0);">Charge</h5>
                    Sorrow charges in a random direction, knocking away anyone in their way.<br>
                </li>
                <li>
                    <h5 style="color:rgb(0,255,255);">Shearing Winds (wing flapping)</h5> <!--light bluish for this -->
                    Sorrow flaps their wings, creating high winds that knock back.<br>
                    Sorrow has a breakbar during this skill, break it!<br>
                    <image src="/images/SotO/Sorrow/SorrowShearingWinds.png"></image><br>
                    Sorrow blowing everyone to the left side of the screen with <span style="color:rgb(0,255,255);">Shearing Winds</span>.<br>
                </li>
                <li>
                    <h5 style="color:rgb(0,128,128)">71654 (nameless in the logs)</h5>
                    Sorrow slams their right hand on the ground in front of them, creating a shockwave.<br>
                    Sorrow rarely uses this, typically only once or twice in the whole fight.<br>
                    Same effect as <span style="color:rgb(0,255,0);">Gravity Well</span>.<br>
                </li>
                <li>
                    <h5 style="color:rgb(0,255,0)">Gravity Well</h5>
                    Sorrow slams their left hand, then their right hand on the ground in front of them, knocking down anyone hit.<br>
                    Danger - This deals HIGH damage, don't stand directly infront of the boss.<br>
                    This creates a shockwave that knocks back.<br>
                    Leads into <span style="color:rgb(187,255,0)">Gravity Field</span>.<br>
                    <image src="/images/SotO/Sorrow/SorrowGravityWell.png" alt="Gravity Well" style="width:100%;max-width:600px;"></image><br>
                    The shockwave from <span style="color:rgb(0,255,0);">Gravity Well</span>.
                </li>
                <li>
                    <h5 style="color:rgb(187, 255, 0)">Gravity Field (toilet)</h5>
                    Spins everyone counterclockwise around the center, pulling inward.<br>
                    Inflicts slow, confusion, and torment.<br>
                    Follows <span style="color:rgb(0,255,0);">Gravity Well</span>.<br>
                    <image src="/images/SotO/Sorrow/SorrowGravityField25.png" style="width:100%;max-width:500px;"></image>
                </li>
            </ul>
        </li>
        Sorrow has no additional skills past the first phase.<br>
    </ul>
</section>