<section id="Sorrow">
    <h2>Sorrow</h2>
    <p>
        Controls Gravity | Summons Singularities
    </p>
    <p>
        Sorrow is a wyvern based kryptis that has strong enough astral powers to control gravity.
        Stability and blocks help significantly in this fight.
    </p>
    <h3>Strategy</h3>
    <h3>Sorrow's Passives</h3>
    <ul>
        <li>
            <h4 style="color:cyan">Cosmic Energy</h4> <!-- put the icon for Cosmic Energy here -->
            <p> 
                A debuff applied by some of Sorrows skills.
                Low Gravity and Increased move speed.
                Does NOT negate fall damage.
            </p>
        </li>
        <li>
            <h4 style="color:#5868AE">Stormfall (lightning)</h4>
            <p>
                A bonus to Sorrows other skills, <span style="color:#5868AE">Stormfall</span> activates on every skill used.
                Fissures of astral force that last for a few seconds.
                These do significant damage and should be avoided.
            </p>
            <figure style="max-width:700px;">
                <image src="/images/SotO/Sorrow/SorrowStormfall25.png" alt="A screen full of Stormfall" style="width:100%;"/>
                <figcaption>A screen full of <span style="color:#5868AE">Stormfalls</span>.</figcaption>
            </figure>
            
        </li>
        <li>
            <h4 style="color:blue">Sorrow's Brood</h4>
            <p>
                Each <span style="color:rgb(255, 69, 162)">Gravity Bomb</span> from <span style="color:fuchsia">Sorrow Barrage</span> also summons a <span style="color:blue">Sorrow's Brood</span>.
                SB are based off <a href="https://wiki.guildwars2.com/wiki/Minor_Electric_Wyvern">Minor Electric Wyverns</a>.
            </p>
            <p>
                SB Skills:
            </p>
            <ul>
                <li>
                    <h5>Electric Breath</h5>
                    <p>SB shoots out lightning breath and sweeps in an arc.</p>
                </li>
                <li>
                    <h5>Dash</h5>
                    <p>SB dashes in the direction of its targeted player.</p>
                </li>
                <li>
                    <h5>Tail Swipe</h5>
                    <p>self descriptive.</p>
                </li>
                <li>
                    <h5>Wicked Bite</h5>
                    <p>self descriptive.</p>
                </li>
            </ul>
        </li>
    </ul>
    <h3>Sorrow's Skills</h3> <!--collapse this somehow -->
    <ul>
        <li>
            <h4>Phase 1 (100% -> 75%)</h4>
            <ul>
                <li>
                    <h5 style="color:rgb(255, 69, 162)">Gravity Bomb</h5>
                    <p>
                        Gravity bomb creates a field of burning and will inflict Cosmic Energy.
                        When used in <span style="color:fuchsia">Sorrow Barrage</span>, spawns a Sorrow's Brood inside the <span style="color:rgb(255, 69, 162)">GB</span>.
                    </p>
                    <figure style="max-width:600px;">
                        <image src="/images/SotO/Sorrow/SorrowGB25.png" style="width:100%;" alt="Five Gravity Bombs with Sorrow's Brood inside, after Sorrow Barrage has finished"/>
                        <figcaption>A finished <span style="color:fuchsia">Sorrow Barrage</span>, five <span style="color:rgb(255, 69, 162)">Gravity Bombs</span> with <span style="color:blue">Sorrow's Brood</span>. Near version.</figcaption>
                    </figure>
                </li>
                <li>
                    <h5 style="color:fuchsia">Sorrow Barrage</h5>
                    <p>
                        Sorrow flys up in the air and fires 5 <span style="color:rgb(255, 69, 162)">gravity bombs</span> in an arc.
                        After finishing the <span style="color:rgb(255, 69, 162)">Gravity Bomb</span> arc Sorrow slams down, dealing massive damage to anyone underneath.
                        There are 2 versions, near arc and far arc.
                    </p>
                </li>
                <li>
                    <h5 style="color:rgb(255,165,0)">Tail Swipe</h5>
                    <p>
                        Sorrow swipes with their tail in an arc, knocking back anyone hit
                    </p>
                </li>
                <li>
                    <h5 style="color:rgb(218, 120, 0)">Tail Slash</h5>
                    <p>
                        Follows <span style="color:rgb(255,165,0)">Tail Swipe</span>, but only sometimes.
                        Sorrow jumps into the air and slashes down with their tail. Same affects as <span style="color:rgb(255,165,0)">Tail Swipe</span>.
                    </p>
                    <figure>
                        <image src="/images/SotO/Sorrow/SorrowTailSlash50.png" alt="Sorrow Tail Slash" style="width:100%;max-width:500px;"/>
                        <figcaption></figcaption>
                    </figure>
                    
                </li>
                <li>
                    <h5 style="color:rgb(255,255,0);">Charge</h5>
                    <p>
                        Sorrow charges in a random direction, knocking away anyone in their way.
                    </p>
                </li>
                <li>
                    <h5 style="color:rgb(0,255,255);">Shearing Winds (wing flapping)</h5>
                    <p>
                        Sorrow flaps their wings, creating high winds that knock back.
                        Sorrow has a breakbar during this skill, break it!
                    </p>
                    <figure>
                        <image src="/images/SotO/Sorrow/SorrowShearingWinds.png" alt="Shearing Winds" style="width:100%;max-width:600px;"/>
                        <figcaption>Sorrow blowing everyone to the left side of the screen with <span style="color:rgb(0,255,255);">Shearing Winds</span>.</figcaption>
                    </figure>
                </li>
                <li>
                    <h5 style="color:rgb(0,128,128)">71654 (nameless in the logs)</h5>
                    <p>
                        Sorrow slams their right hand on the ground in front of them, creating a shockwave.
                        Sorrow rarely uses this, typically only once or twice in the whole fight.
                        Same effect as <span style="color:rgb(0,255,0);">Gravity Well</span>.
                    </p>
                </li>
                <li>
                    <h5 style="color:rgb(0,255,0)">Gravity Well</h5>
                    <p>
                        Sorrow slams their left hand, then their right hand on the ground in front of them, knocking down anyone hit.
                        Danger - This deals HIGH damage, don't stand directly infront of the boss.
                        This creates a shockwave that knocks back.
                        Leads into <span style="color:rgb(187,255,0)">Gravity Field</span>.
                    </p>
                    <figure>
                        <image src="/images/SotO/Sorrow/SorrowGravityWell.png" alt="Gravity Well" style="width:100%;max-width:600px;"/>
                        <figcaption>The shockwave from <span style="color:rgb(0,255,0);">Gravity Well</span>.</figcaption>
                    </figure>
                </li>
                <li>
                    <h5 style="color:rgb(187, 255, 0)">Gravity Field (toilet)</h5>
                    <p>
                        Spins everyone counterclockwise around the center, pulling inward.
                        Inflicts slow, confusion, and torment.
                        Follows <span style="color:rgb(0,255,0);">Gravity Well</span>.
                    </p>
                    <figure style="max-width:500px;">
                        <image src="/images/SotO/Sorrow/SorrowGravityField25.png" style="width:100%;"/>
                    </figure>
                </li>
            </ul>
        </li>
        <p>Sorrow has no additional skills past the first phase.</p>
    </ul>
</section>