<section>
    <h2 id="BeforeStart">Before you start!</h2>
    <h3 id="HowToGetIn">How to get into the Convergence</h3>
    <figure style="max-width:300px;float:right;clear:right;">
        <image src="/images/SotO/Shared/SotOEntranceMinimap.png" alt="convergenceentrancemini" style="width:100%;"></image>
        <figcaption>Walk up the stairs, and to the right</figcaption>
    </figure>
    <p>
        For the Secret of the Obscure convergences, go to the Wizard's Tower.
        From the waypoint, walk up the stairs and go into the room on the right.
        The entrance is a portal archway on the west side of the Wizard's Tower(blue swirl on minimap).
    </p>
    <figure style="max-width:600px;float:none;clear:none;">
        <image src="/images/SotO/Shared/SotoConvergenceEntrance.png" alt="convergenceentrance" style="width:100%;"></image>
        <figcaption>SotO Convergence Entrance</figcaption>
    </figure>
    <p>
        SotO public convergences happen every 3 hours.
        You can check when they are by typing '/wiki et' in game or going to <a href="https://wiki.guildwars2.com/wiki/Event_timers">https://wiki.guildwars2.com/wiki/Event_timers</a>.
    </p>
    <p>
        Private convergences can be opened whenever you want.
        To open one, it costs an <a href="https://wiki.guildwars2.com/wiki/Unstable_Rift_Motivation">Unstable Rift Motivation</a>.
        It's recommended you bring a full 50 man squad with you.
    </p>
    <h3 id="ItemsToBring">Items you should bring</h3>
</section>