<section>
    <h2 id="BeforeStart">Before you start!</h2>
    <h3 id="HowToGetIn">How to get into the Convergence</h3>
    <figure style="max-width:300px;float:right;clear:right;">
        <image src="/images/SotO/Shared/SotOEntranceMinimap.png" alt="convergenceentrancemini" style="width:100%;"></image>
        <figcaption>Walk up the stairs, and to the right</figcaption>
    </figure>
    <p>
        For the Secret of the Obscure convergences, go to the Wizard's Tower.
        From the waypoint, walk up the stairs and go into the room on the right.
        The entrance is a portal archway on the west side of the Wizard's Tower(blue swirl on minimap).
    </p>
    <figure style="max-width:600px;float:none;clear:none;">
        <image src="/images/SotO/Shared/SotoConvergenceEntrance.png" alt="convergenceentrance" style="width:100%;"></image>
        <figcaption>SotO Convergence Entrance</figcaption>
    </figure>
    <p>
        Public Convergences can be entered for free at designated times. Public Convergences are always normal mode.
    </p>
    <SotOPublicTimes/>
    <p>
        Private convergences can be opened whenever you want.
        To open one, it costs an <a href="https://wiki.guildwars2.com/wiki/Unstable_Rift_Motivation">Unstable Rift Motivation</a>.
        Private Convergences can choose between normal or challenge mode.
        It's recommended you bring a full 50 man squad with you.
    </p>
    <h3 id="ItemsToBring">Items you should bring</h3>
    <ul>
        <li>
            <image src="https://render.guildwars2.com/file/7A9EA9E0C702F8BA595973FED3A853646B2E07F8/222720.png" alt="potion of demon slaying" style="width:50px;"/>
            <h5><a href="https://wiki.guildwars2.com/wiki/Powerful_Potion_of_Demon_Slaying">Powerful Potion of Demon Slaying</a></h5>
            (1 hour): 10% Damage vs. Demons, Kryptis, and Titanspawn. -10% Damage from Demons, Kryptis, and Titanspawn.
        </li>
        <li>
            <image src="https://render.guildwars2.com/file/CFDC642093029E790C03381D73C703BDFFA9CDFF/499391.png" alt="sigil of night" style="width:50px;"/>
            <h5><a href="https://wiki.guildwars2.com/wiki/Superior_Sigil_of_Force">Superior Sigil of Night</a></h5>
            3% Strike Damage, +7% Strike Damage at night. Totals to 10% Strike Damage. SotO Convergences are always at night, so this is always at the full 10%.
        </li>
        <li>
            <image src="https://render.guildwars2.com/file/991BD2CC63CFE343C5E55D49F657C95E71FD0439/340600.png" alt="sigil of demon slaying" style="width:50px;"/>
            <h5><a href="https://wiki.guildwars2.com/wiki/Superior_Sigil_of_Demon_Slaying">Superior Sigil of Demon Slaying</a></h5>
            3% Strike Damage, +7% Strike Damage vs. Demons, Kryptis, and Titanspawn. Totals to 10% Strike Damage when satisfied.
        </li>
    </ul>
    <p>
        Consider taking a <a href="https://wiki.guildwars2.com/wiki/Sigil#Stacking_bonus">stacking sigil</a>. It's easy to fully stack it during the pre and split phases.
    </p>
</section>