<div id="SotOToC">
    <h2>Table of Contents</h2>
    <ol>
        <li>
            <a href="/soto/#BeforeStart">Before you start!</a>
            <ol>
                <li><a href="/soto/#HowToGetIn">How to get into the Convergence!</a></li>
                <li><a href="/soto/#ItemsToBring">Items you should bring</a></li>
            </ol>
        </li>
        <li>
            <a href="/soto/#FirstTwoMin">First Two Minutes</a>
            <ol>
                <li><a href="/soto/#FirstTwoMain">Main Group</a></li>
                <li><a href="/soto/#TrebGroup">Treb Group</a></li>
                <li><a href="/soto/#ThreeChamps">Three Champions</a></li>
            </ol>
        </li>
        <li>
            <a href="/soto/#SplitPhase">Split Phase</a>
            <ol>
                <li><a href="/soto/#Splitting">Splitting</a></li>
                <li><a href="/soto/#Trebs">Trebs</a></li>
                <li><a href="/soto/#NW">North West</a></li>
                <li><a href="/soto/#NE">North East</a></li>
                <li><a href="/soto/#SW">South West</a></li>
                <li><a href="/soto/#SE">South East</a></li>
                <li><a href="/soto/#Mid">Mid with <span style="color:orange;">Zojja</span></a></li>
                <li><a href="/soto/#DeadGeneral">My general died, what's next?</a></li>
                <li><a href="/soto/#GoalTime">Goal Time</a></li>
            </ol>
        </li>
        <li>
            <a href="/soto/#SharedMechs">Shared Boss Mechanics</a>
            <ol>
                <li><a href="/soto/#SharedZojja">Zojja</a></li>
                <li><a href="/soto/#SharedEssence">Essence</a></li>
                <li><a href="/soto/#SharedPhasing">Phasing</a></li>
            </ol>
        </li>
        <li>
            <a href="/soto/#DemonKnight">Demon Knight</a>
        </li>
        <li>
            <a href="/soto/#Dreadwing">Dreadwing</a>
        </li>
        <li>
            <a href="/soto/#HellSister">Hell Sister</a>
        </li>
        <li>
            <a href="/soto/#Sorrow">Sorrow</a>
        </li>
        <li>
            <a href="/soto/#Umbriel">Umbriel</a>
        </li>
    </ol>
</div>