ol{
    list-style:decimal;
}
li{
    margin:0px;
}

#SotOToC{
    font-size:14px;
    width:100%;
    max-width: 800px;
    padding:10px;
    background-color:rgb(55,55,55);
    justify-self: center;
}
#ToCListContain{
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
}
#ToCListPreContainer{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: space-between;
}

#ToCBossesContainer{
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: space-between;
}