<section>
    <h3>Shared Boss Mechanics</h3>
    <ul>
        <li>
            <h4 style="color:rgb(255, 128, 0);">Zojja</h4>
            <p>
                During the boss phase, <span style="color:rgb(255,128,0);">Zojja</span> is using her power to make the boss vulnerable.
                If her health falls to 0, she will pull everyone back to the Wizard's Tower.
                Feed her the essence dropped by the boss to keep her healthy.
            </p>
            
        </li>
        <li>
            <h4>Essence</h4>
            <p>
                The bosses drop essence every 10% of their health and at the end of each phase.
                DPS players should hold onto it as long as they can for a significant power boost.
                Healers and boondps players should be feeding theirs to <span style="color:rgb(255,128,0)"> Zojja</span> to keep her healthy.
                Don't overfeed her when her HP is full, as the essence just gets wasted.
            </p>
        </li>
        <li>
            <h4>Phasing</h4>
            <p>
                Every 25%, the boss will move to a new island.
                Which island they go to is random, and they won't revisit an island they've already been to.
                The last phase will always go to the middle island.
            </p>
            
        </li>
    </ul>
</section>