<div id="SotOToC">
    <h2 style="text-align:center;">Table of Contents</h2>
    
    <div id="ToCListContain">
        <div>
            <h3 style="text-align:center;"><a href="/soto/#BeforeStart">Before Entering!</a></h3>
            <ol style="justify-items:center;">
                <li><a href="/soto/#HowToGetIn">How to get in!</a></li>
                <li><a href="/soto/#ItemsToBring">Items you should bring!</a></li>
            </ol>
        </div>

        <h3 style="text-align:center;">Pre Boss</h3>
        <div id="ToCListPreContainer">
            <div>
                <h4><a href="/soto/#FirstTwoMin">First Two Minutes</a></h4>
                <ol>
                    <li><a href="/soto/#FirstTwoMain">Main Group</a></li>
                    <li><a href="/soto/#TrebGroup">Treb Group</a></li>
                    <li><a href="/soto/#ThreeChamps">Three Champions</a></li>
                </ol>
            </div>
            <div>
                <h4><a href="/soto/#SplitPhase">Split Phase</a></h4>
                <ol>
                    <li><a href="/soto/#Splitting">Splitting</a></li>
                    <li><a href="/soto/#Trebs">Trebs</a></li>
                    <li><a href="/soto/#NW">North West</a></li>
                    <li><a href="/soto/#NE">North East</a></li>
                    <li><a href="/soto/#SW">South West</a></li>
                    <li><a href="/soto/#SE">South East</a></li>
                    <li><a href="/soto/#Mid">Mid with <span style="color:orange;">Zojja</span></a></li>
                    <li><a href="/soto/#DeadGeneral">My general died, what's next?</a></li>
                    <li><a href="/soto/#GoalTime">Goal Time</a></li>
                </ol>
            </div>
            <div>
                <h4><a href="/soto/#SharedMechs">Shared Boss Mechanics</a></h4>
                <ol>
                    <li><a href="/soto/#SharedZojja">Zojja</a></li>
                    <li><a href="/soto/#SharedEssence">Essence</a></li>
                    <li><a href="/soto/#SharedPhasing">Phasing</a></li>
                </ol>
            </div>
            </div>
            <h3 style="text-align:center;">Bosses</h3>
            <div id="ToCBossesContainer">
                
            <div>
                <h4><a href="/soto/#DemonKnight">Demon Knight</a></h4>
                <ol>
                    <li><a href="/soto/#DKStrategy">Strategy</a></li>
                    <li><a href="/soto/#DKSkills">Skills</a></li>
                </ol>
            </div>
            <div>
                <h4><a href="/soto/#Dreadwing">Dreadwing</a></h4>
                <ol>
                    <li><a href="/soto/#DWStrategy">Strategy</a></li>
                    <li><a href="/soto/#DWSkills">Skills</a></li>
                </ol>
            </div>
            <div>
                <h4><a href="/soto/#HellSister">Hell Sister</a></h4>
                <ol>
                    <li><a href="/soto/#HSStrategy">Strategy</a></li>
                    <li><a href="/soto/#HSSkills">Skills</a></li>
                </ol>
            </div>
            <div>
                <h4><a href="/soto/#Sorrow">Sorrow</a></h4>
                <ol>
                    <li><a href="/soto/#SorrowStrategy">Strategy</a></li>
                    <li><a href="/soto/#SorrowPassives">Passives</a></li>
                    <li><a href="/soto/#SorrowSkills">Skills</a></li>
                </ol>
            </div>
            <div>
                <h4><a href="/soto/#Umbriel">Umbriel</a></h4>
                <ol>
                    <li><a href="/soto/#UmbStrategy">Strategy</a></li>
                    <li><a href="/soto/#UmbPhasing">Phasing</a></li>
                    <li><a href="/soto/#UmbSkills">Skills</a></li>
                </ol>
            </div>
        </div>
    </div>
</div>