<section>
    <h3>Before you start!</h3>
    <h4>How to get into the Convergence</h4>
    For the Secret of the Obscure convergences, go to the Wizard's Tower.<br>
    <image src="/images/SotO/Shared/SotOEntranceMinimap.png" alt="convergenceentrancemini" style="width:100%;max-width:300px;"></image><br>
    From the waypoint, walk up the stairs and go into the room on the right.<br>
    The entrance is a portal archway on the west side of the Wizard's Tower(blue swirl on minimap).<br>
    <image src="/images/SotO/Shared/SotoConvergenceEntrance.png" alt="convergenceentrance" style="width:100%;max-width:600px;"></image><br>
    <br>
    SotO public convergences happen every 3 hours.<br>
    You can check when they are by typing '/wiki et' in game or going to <a href="https://wiki.guildwars2.com/wiki/Event_timers">https://wiki.guildwars2.com/wiki/Event_timers</a>.<br>
    <br>
    Private convergences can be opened whenever you want.<br>
    To open one, it costs an <a href="https://wiki.guildwars2.com/wiki/Unstable_Rift_Motivation">Unstable Rift Motivation</a>.<br>
    It's recommended you bring a full 50 man squad with you.<br>
    <br>
</section>