<section>
    <h3>Split Phase</h3>
    The split phase starts once all three <span style="color:red">champions</span> in <span style="color:yellow">mid</span> have been killed.<br>
    Each corner (<span style="color:cyan">NW</span> <span style="color:hotpink">NE</span> <span style="color:yellowgreen">SW</span> <span style="color:green">SE</span>), becomes active and spawns 5 lieutenants each.<br>
    Kill all 5 lieutenants in a corner and that corners general will spawn.<br>
    <br>

    <h4>Splitting</h4>
    Each corner should get 2 subgroups each.<br>
    2 subgroups should stay <span style="color:yellow">mid</span> to defend <span style="color:orange;">Zojja</span> from the <span style="color:red">spites</span>.<br>
    <image src="/images/SotO/splits/SotOConvergenceSplits.png" style="width:100%;max-width:500px"></image>
    <br>

    <h4 style="color:rgb(0, 140, 255);">Trebs</h4>
    Ignore all <span style="color:rgb(0, 140, 255);">trebs</span>. They die when the general in their corner is killed.<br>
    They don't deal enough damage to <span style="color:orange;">Zojja</span> before all the generals are killed.<br>
    <br>

    <h5 style="color:cyan">North West - The Spire</h5>
    The north west corner is a complicated corner.<br>
    Start at 1 in the bottom left<br>
    1 to 2, use your warclaw to bounce over the rocky terrain.<br>
    2 to 3, combat mount your skyscale and dash to 3. Alternatively, use the skyscale launcher at L or just scale the rocks up to 3.<br>
    3 to 4 can be glided or warclawd over.<br>
    4 to 5, use the mushroom at M.<br>
    If someone has a <a href="https://wiki.guildwars2.com/wiki/White_Mantle_Portal_Device">White Mantle Portal Device</a>, they can portal the group from 4 to 5.<br>
    If you're the person using the device, make sure to declare to the group that you are doing so to avoid confusion.<br>
    They have a 30 minute CD and so can only be used once every other run.<br>
    Setup the portal while the group fights lieutenant 4.<br>
    After killing the 5th lieutenant, jump off immediately and griffon to the general.<br>
    <br>
    <image src="/images/SotO/splits/SotOSplitNW75.png" alt="Route for Northwest Split" style="width:100%; max-width: 600px;"/><br>
    <br>

    <h5 style="color:hotpink">North East - Watcher of the Woods</h5>
    The north east corner is an easier corner, start at 1 and follow the path!<br>
    When dropping down from 1, make sure to use a mount or glide. You'll die from fall damage.<br>
    <image src="/images/SotO/splits/SotOSplitNE75.png" alt="Route for Northeast Split" style="width:100%; max-width: 600px;"/><br>
    <br>

    <h5 style="color:yellowgreen">South West - Twisted Cathedral</h5>
    The south west corner is more complicated than the others, having multiple levels and a bit of an unintuitive path.<br>
    From mid, head to the bottom at lieutenant 1.<br>
    Warclaw/Raptor to 2.<br>
    From 2 to 3, you can use your skyscale and either scale up the side of the pillar directly, or use the smaller pillar directly southeast as a step stool.<br>
    Someone can also bring along a <a href="https://wiki.guildwars2.com/wiki/White_Mantle_Portal_Device">White Mantle Portal Device</a> to portal the group from 2 to 3.<br>
    If you're the person using the device, make sure to declare to the group that you are doing so to avoid confusion.<br>
    They have a 30 minute CD and so can only be used once every other run.<br>
    Setup the portal while the group fights lieutenant 2.<br>
    The gap from 3 to 4 can be skyscaled, warclawed, or glided over if you have the gliding skill Ride the Ley Line.<br>
    After getting on the upper level, it's pretty easy from there.<br>

    <image src="/images/SotO/splits/SotOSplitSW50.png" alt="Route for Southwest Split"  style="width:100%;max-width:600px;"/><br>
    <br>

    <h5 style="color:green">South East - The Killing Fields</h5>
    The south east corner is pretty simple.<br>
    Start up top with 1, and follow the path :)<br>
    <image src="/images/SotO/splits/SotOSplitSE75.png" alt="Route for Southeast Split" style="width:100%;max-width:600px;"/><br>
    <br>

    <h5 style="color:yellow">Mid with <span style="color:Orange">Zojja</span> - Valley of the Damned</h5>
    <span style="color:red">Spites</span> are still spawning and walking to <span style="color:Orange">Zojja</span>, defend her!<br>
    <image src="images/SotO/splits/SotOSpites.png" alt="A spoonful of Spites" style="width:100%;max-width:500px;">A spoonful of Spites</image><br>
    Common Kryptis are also still attacking her.<br>
    Clear them as you go, but the primary focus should be on the <span style="color:red">spites</span> and keeping <span style="color:orange;">Zojja</span> healthy.<br>

    <image src="/images/SotO/splits/SotOSplitMid50-2.png" alt="Mid with Zojja :)" style="width:100%; max-width:500px"/>
    <br>
    <br>

    <h5>My general died, whats next?</h5>
    Once your corners general dies, head <span style="color:yellow">mid</span> to help them defend <span style="color:orange">Zojja</span>.<br>
    Only help another corner if they are SIGNIFICANTLY behind (on lieutenant 4 or before).<br>
    Heading to another corner will only scale up their lieutenants and general.<br>
    When all four generals have been defeated, one of the five final bosses will start.<br>
    <br>

    <h5>Goal Time</h5>
    Getting a good time in a Convergence CM means more rewards!<br>
    SotO convergences: Gold 20 minutes, Silver 25 minutes, and bronze 30 minutes.<br>
    There's a timer labeled "Convergence ends in:" in the top right. Gold correlates to 10 minutes left on the timer.<br>
    <image src="/images/SotO/splits/SotOCMTimer50.png" style="width:100%;max-width:300px;"></image>
    <br>
    Easier bosses will have more lenient gold times, but the same challenge to get on the leaderboard.<br>
    <br>
    <h6>Time left on timer at end of split phase for Umbriel Gold:</h6>
    <ul>
        <li>
            &lt;20 minutes: unlikely to get gold.
        </li>
        <li>
            21 minutes: ok chance at gold.
        </li>
        <li>
            22 minutes: likely gold.
        </li>
        <li>
            23+ minutes: chance at leaderboard spots.
        </li>
    </ul>
</section>