<section>
    <h3>Split Phase</h3>
    <p>
        The split phase starts once all three <span style="color:rgb(255,0,0);">champions</span> in <span style="color:rgb(255,255,0);">mid</span> have been killed.
    Each corner (<span style="color:rgb(0,255,255)">NW</span> <span style="color:rgb(255,105,180);">NE</span> <span style="color:rgb(154,205,50);">SW</span> <span style="color:rgb(0,128,0);">SE</span>), becomes active and spawns 5 lieutenants each.
    Kill all 5 lieutenants in a corner and that corners general will spawn. Kill the general and the corner will be finished. 
    When all four corners are finished, the split phase ends and the boss phase begins.
    </p>

    <figure style="max-width:300px;">
        <image src="/images/SotO/splits/SotOConvergenceSplits.png" alt="islands" style="width:100%;"></image>
        <figcaption>Split to the Islands!</figcaption>
    </figure>
    <h4>Splitting</h4>
    <p>
        Each corner should get 2 subgroups each.
        2 subgroups should stay <span style="color:yellow">mid</span> to defend <span style="color:orange;">Zojja</span> from the <span style="color:red">spites</span>.
    </p>

    <h4 style="color:rgb(0, 140, 255);">Trebs</h4>
    <p>
        Ignore all <span style="color:rgb(0, 140, 255);">trebs</span>. They die when the general in their corner is killed.
        They don't deal enough damage to <span style="color:rgb(255,165,0);">Zojja</span> before all the generals are killed.
    </p>

    <figure style="float:left;clear:left;max-width:400px;">
        <image src="/images/SotO/splits/SotOSplitNW75.png" alt="Route for Northwest Split" style="width:100%;"/>
        <figcaption>Northwest</figcaption>
    </figure>
    <h5 style="color:cyan">North West - The Spire</h5>
    <p>
        The north west corner is a complicated corner.
        Start at 1 in the bottom left.
        1 to 2, use your warclaw to bounce over the rocky terrain.
        2 to 3, combat mount your skyscale and dash to 3. Alternatively, use the skyscale launcher at L or just scale the rocks up to 3.
        3 to 4 can be glided or warclawd over.
        4 to 5, use the mushroom at M.
        If someone has a <a href="https://wiki.guildwars2.com/wiki/White_Mantle_Portal_Device">White Mantle Portal Device</a>, they can portal the group from 4 to 5.
        If you're the person using the device, make sure to declare to the group that you are doing so to avoid confusion.
        They have a 30 minute CD and so can only be used once every other run.
        Setup the portal while the group fights lieutenant 4.
        After killing the 5th lieutenant, jump off immediately and griffon to the general.
    </p>

    <figure style="max-width: 400px;">
        <image src="/images/SotO/splits/SotOSplitNE75.png" alt="Route for Northeast Split" style="width:100%;"/>
        <figcaption>Northeast</figcaption>
    </figure>
    <h5 style="color:hotpink">North East - Watcher of the Woods</h5>
    <p>
        The north east corner is an easier corner, start at 1 and follow the path!
        When dropping down from 1, make sure to use a mount or glide. You'll die from fall damage.
    </p>
<br>
    <figure style="max-width:400px;clear:left; float:left;">
        <image src="/images/SotO/splits/SotOSplitSW50.png" alt="Route for Southwest Split"  style="width:100%;"/>
        <figcaption>Southwest</figcaption>
    </figure>
    <h5 style="color:yellowgreen">South West - Twisted Cathedral</h5>
    <p>
        The south west corner is more complicated than the others, having multiple levels and a bit of an unintuitive path.
        From mid, head to the bottom at lieutenant 1.
        Warclaw/Raptor to 2.
        From 2 to 3, you can use your skyscale and either scale up the side of the pillar directly, or use the smaller pillar directly southeast as a step stool.
        Someone can also bring along a <a href="https://wiki.guildwars2.com/wiki/White_Mantle_Portal_Device">White Mantle Portal Device</a> to portal the group from 2 to 3.
        If you're the person using the device, make sure to declare to the group that you are doing so to avoid confusion.
        They have a 30 minute CD and so can only be used once every other run.
        Setup the portal while the group fights lieutenant 2.
        The gap from 3 to 4 can be skyscaled, warclawed, or glided over if you have the gliding skill Ride the Ley Line.
        After getting on the upper level, it's pretty easy from there.
    </p>

    <figure style="max-width:400px;">
        <image src="/images/SotO/splits/SotOSplitSE75.png" alt="Route for Southeast Split" style="width:100%;"/>
        <figcaption>Southeast</figcaption>
    </figure>
    <h5 style="color:green">South East - The Killing Fields</h5>
    <p>
        The south east corner is pretty simple.
        Start up top with 1, and follow the path :)
    </p>
    <figure style="float:left;clear:left;max-width:400px;">
        <image src="/images/SotO/splits/SotOSplitMid50-2.png" alt="Mid with Zojja :)" style="width:100%;"/>
        <figcaption>Mid</figcaption>
    </figure>
    <figure style="clear:right;">
         <image src="images/SotO/splits/SotOSpites.png" alt="A spoonful of Spites" style="width:100%;"/>
         <figcaption>A spoonful of Spites</figcaption>
    </figure>
    <h5 style="color:yellow">Mid with <span style="color:Orange">Zojja</span> - Valley of the Damned</h5>
    <p>
        <span style="color:red">Spites</span> are still spawning and walking to <span style="color:Orange">Zojja</span>, defend her!
        Common Kryptis are also still attacking her.
        Clear them as you go, but the primary focus should be on the <span style="color:red">spites</span> and keeping <span style="color:orange;">Zojja</span> healthy.
    </p>
    

    <h5>My general died, whats next?</h5>
    <p>
        Once your corners general dies, head <span style="color:yellow">mid</span> to help them defend <span style="color:orange">Zojja</span>.
        Only help another corner if they are SIGNIFICANTLY behind (on lieutenant 4 or before).
        Heading to another corner will only scale up their lieutenants and general.
        When all four generals have been defeated, one of the five final bosses will start.
    </p>

    <figure style="max-width:300px;float:left; clear:left;">
        <image src="/images/SotO/splits/SotOCMTimer50.png" style="width:100%;" /> 
        <figcaption>Timer</figcaption>
    </figure>
    <h5>Goal Time</h5>
    <p>
        Getting a good time in a Convergence CM means more rewards!
        SotO convergences: Gold 20 minutes, Silver 25 minutes, and Bronze 30 minutes.
        There's a timer labeled "Convergence ends in:" in the top right. Gold correlates to 10 minutes left on the timer.
        Easier bosses will have more lenient gold times, but the same challenge to get on the leaderboard.
    </p>
    <h6>Time left on timer at end of split phase for Umbriel Gold:</h6>
    <ul>
        <li>
            &lt;20 minutes: unlikely to get gold.
        </li>
        <li>
            21 minutes: ok chance at gold.
        </li>
        <li>
            22 minutes: likely gold.
        </li>
        <li>
            23+ minutes: chance at leaderboard spots.
        </li>
    </ul>
</section>