<section>
    <h2 id="FirstTwoMin">First Two Minutes</h2>
    <p>
        The first two minutes of every SotO Convergence starts the same.
        While <span style="color:rgb(255,128,0);">Zojja</span> stands in the middle of the map, waves of Kryptis start attacking. 
    </p>
    <h3 id="FirstTwoMain" style="color:rgb(255,255,0)">Main Group</h3>
    <p>
        <span style="color:rgb(255,0,0);">Spites</span> will appear at <span style="color:rgb(255,0,0);">1, 2</span> and <span style="color:rgb(255,0,0);">3</span> in order.
        They <span style="color:rgb(255,0,0);">walk</span> toward <span style="color:rgb(255,128,0);">Zojja</span>, exploding when they reach her.
        A <span style="color:rgb(255,0,0);">Spite</span> that has its breakbar broken will stop moving and take increased damage for a few seconds.
        Normal kryptis will also randomly spawn around the middle island and attack <span style="color:rgb(255,128,0);">Zojja</span>.
    </p>
    <figure style="justify-self:center;">
        <image src="images/SotO/splits/SotOSpites.png" alt="A spoonful of Spites" style="width:100%;" />
        <figcaption>A spoonful of <span style="color:rgb(255,0,0);">Spites</span></figcaption>
    </figure>

    <h3 id="TrebGroup" style="color:rgb(0, 140, 255)">Treb Group (2 subgroups)</h3>
    <p>
        Every 30 seconds, a <span style="color:rgb(0, 140, 255)">trebuchet</span> spawns. They always spawn in the same order, starting at <span style="color:rgb(0, 140, 255);">position 1</span>.
        After killing a <span style="color:rgb(0, 140, 255)">treb</span>, quickly move onto the next one.
        The last <span style="color:rgb(0, 140, 255)">treb</span>, <span style="color:rgb(0, 140, 255)">4</span>, spawns when the timer hits 0.
        After killing the last <span style="color:rgb(0, 140, 255)">treb</span>, head back to mid to help with the <span style="color:rgb(255,0,0)">champions</span>.
    </p>

    <h3 id="ThreeChamps" style="color:rgb(255,0,0);">Three Champions</h3>
    <p>
        When the timer reaches zero, 3 <span style="color:rgb(255,0,0);">champions</span> will spawn. 
        One at each spot <span style="color:rgb(255,0,0);">1</span>, <span style="color:rgb(255,0,0);">2</span>, <span style="color:rgb(255,0,0);">3</span>.
        They will initially be invulnerable until they <span style="color:rgb(255,0,0);">walk</span> about halfway to <span style="color:rgb(255,128,0);">Zojja</span>.
        Try and spread evenly to these champs, not killing them one by one. I recommend sending 3 subs to West, 3 subs to NE, and 2 subs to SE.
        The 2 subs killing the <span style="color:rgb(0, 140, 255)">trebs</span> should return and help with the SE champ.
    </p>
    <p>
        After all 3 <span style="color:rgb(255,0,0);">champions</span> are killed, the split phase will begin.<br>
    </p>
    <figure style="max-width:800px;justify-self:center;">
        <image src="/images/SotO/SotOConvergenceMapFirst2Min50.png" alt="TwoMinuteMap" style="width:100%;"></image>
        <figcaption>The first two minutes</figcaption>
    </figure>
</section>