<section class="@(Collapsed ? "collapse" : "")">
    <h3>First Two Minutes</h3>

    The first two minutes of every SotO Convergence starts the same.<br>
    <span style="color:orange;">Zojja</span> is in the middle and waves of kryptis try to attack her.<br>
    <br>

    <h5 style="color:yellow">Main Group</h5>
    <span style="color:red;">Spites</span> will appear at <span style="color:red;">1, 2</span> and <span style="color:red;">3</span> in order.<br>
    <image src="images/SotO/splits/SotOSpites.png" alt="A spoonful of Spites" style="width:100%;max-width:500px;">A spoonful of Spites</image><br>
    They <span style="color:red;">walk</span> toward <span style="color:orange;">Zojja</span>, exploding when they reach her.<br>
    These spites can be cc'd to stop their movement for a few seconds to slow their progress while you dps them.<br>
    Normal kryptis will also spawn around the middle island and attack <span style="color:orange">Zojja</span>.<br>
    <br>

    <h5 style="color:rgb(0, 140, 255)">Treb Group (2 subgroups)</h5>
    Every 30 seconds, a <span style="color:rgb(0, 140, 255)">trebuchet</span> spawns. It's always the same order and starts at <span style="color:rgb(0, 140, 255);">1</span>.<br>
    After killing a <span style="color:rgb(0, 140, 255)">treb</span>, quickly move onto the next one.<br>
    The last <span style="color:rgb(0, 140, 255)">treb</span>, <span style="color:rgb(0, 140, 255)">4</span>, spawns when the timer hits 0.<br>
    After killing the last <span style="color:rgb(0, 140, 255)">treb</span>, head back to mid to help with the <span style="color:red">champions</span>.<br>
    <br>

    <h5 style="color:red">Three Champions</h5>
    When the timer reaches zero, 3 <span style="color:red">champions</span> will spawn. One at each spot <span style="color:red;">1</span>, <span style="color:red;">2</span>, <span style="color:red;">3</span>.<br>
    They will initially be invulnerable until they <span style="color:red">walk</span> about halfway to <span style="color:orange;">Zojja</span>.<br>
    Try and spread evenly to these champs, not killing them one by one.<br>
    <br>
    After all 3 champions are killed, the split phase will begin.<br>

    <image src="/images/SotO/SotOConvergenceMapFirst2Min50.png" style="width:100%;max-width:800px;"></image>
</section>

@code {
    [Parameter]
    public bool Collapsed{get;set;} = true;
}