<section class="@(Collapsed ? "collapse" : "")">
    <h3>First Two Minutes</h3>
    <p>
    The first two minutes of every SotO Convergence starts the same.
    <span style="color:orange;">Zojja</span> is in the middle and waves of kryptis try to attack her.
    </p>
    <h5 style="color:yellow">Main Group</h5>
    <figure>
        <image src="images/SotO/splits/SotOSpites.png" alt="A spoonful of Spites" style="width:100%;" />
        <figcaption>A spoonful of Spites</figcaption>
    </figure>
    <p><span style="color:red;">Spites</span> will appear at <span style="color:red;">1, 2</span> and <span style="color:red;">3</span> in order.
        They <span style="color:red;">walk</span> toward <span style="color:orange;">Zojja</span>, exploding when they reach her.
        These spites can be cc'd to stop their movement for a few seconds to slow their progress while you dps them.
        Normal kryptis will also spawn around the middle island and attack <span style="color:orange">Zojja</span>.
    </p>

    <h5 style="color:rgb(0, 140, 255)">Treb Group (2 subgroups)</h5>
    <p>
        Every 30 seconds, a <span style="color:rgb(0, 140, 255)">trebuchet</span> spawns. It's always the same order and starts at <span style="color:rgb(0, 140, 255);">1</span>.
        After killing a <span style="color:rgb(0, 140, 255)">treb</span>, quickly move onto the next one.
        The last <span style="color:rgb(0, 140, 255)">treb</span>, <span style="color:rgb(0, 140, 255)">4</span>, spawns when the timer hits 0.
        After killing the last <span style="color:rgb(0, 140, 255)">treb</span>, head back to mid to help with the <span style="color:red">champions</span>.
    </p>

    <h5 style="color:red">Three Champions</h5>
    <p>
        When the timer reaches zero, 3 <span style="color:red">champions</span> will spawn. One at each spot <span style="color:red;">1</span>, <span style="color:red;">2</span>, <span style="color:red;">3</span>.
        They will initially be invulnerable until they <span style="color:red">walk</span> about halfway to <span style="color:orange;">Zojja</span>.
        Try and spread evenly to these champs, not killing them one by one. I recommend sending 3 subs to West, 3 subs to NE, and 2 subs to SE. The 2 subs killing the <span style="color:rgb(0, 140, 255)">trebs</span> should return and help with the SE champ.
    </p>
    <p>
        After all 3 <span style="color:red">champions</span> are killed, the split phase will begin.<br>
    </p>
    <figure style="max-width:800px;float:none;">
        <image src="/images/SotO/SotOConvergenceMapFirst2Min50.png" alt="TwoMinuteMap" style="width:100%;"></image>
        <figcaption>The first two minutes</figcaption>
    </figure>
    
</section>

@code {
    [Parameter]
    public bool Collapsed{get;set;} = true;
}