<section id="Umbriel">
    <h2>Umbriel, Halberd of House Aurkus</h2>
    <h3>Frightful Gaze | Conjures Aspects</h3>
    <p>
        Umbriel is currently the toughest fight in convergences.
        He wields 2 double sided axes, using his skills to entangle players and land massive blows with large stacks of <image src="https://render.guildwars2.com/file/79FF0046A5F9ADA3B4C4EC19ADB4CB124D5F0021/102848.png" alt="bleeding" style="width:20px;"/>bleeding. 
    </p>

    <h3>Strategy</h3>
    <p>
        Umbriel uses his <span style="color:rgb(255,0,0);">Rending Storm</span> axes to snare and weaken his foes with conditions to setup for big damage attacks.
        To combat this, bring plenty of condi cleanse and blocks to prevent being bogged down by conditions.
        When Umbriel uses <span style="color:rgb(255,165,0);">Frightening Speed</span>, get out of the numbered orange circles immediately.
        Remembering where the <span style="color:rgb(255,0,0);">RS</span> axes are will help to avoid them while running out of <span style="color:rgb(255,165,0);">FS</span>.
        If you have a Warclaw, it can be mounted and escape the oranges very quickly, even if you're snared.
    </p>

    <h3>Phasing</h3>
    <figure style="float:right;clear:right;max-width:600px;">
        <image src="/images/SotO/Umb/UmbwithAspects.png" alt="Umbriel's Aspects" style="width:100%;"/>
        <figcaption>Umbriel at 0% with his Aspects.</figcaption>
    </figure>
    <p>
        At the end of each phase Umbriel summons aspects.
        Each aspect applies a different condition.
    </p>
    Aspect Types:
    <dl>
        <dt>Death</dt>
        <dd><image src="https://render.guildwars2.com/file/559B0AF9FB5E1243D2649FAAE660CCB338AACC19/102840.png" alt="Poisoned" style="width:20px;"/>Poison</dd>
        <dt>Exposure</dt>
        <dd><image src="https://render.guildwars2.com/file/3A394C1A0A3257EB27A44842DDEEF0DF000E1241/102850.png" alt="Vulnerability" style="width:20px;"></image>Vulnerability</dd>
        <dt>Fear</dt>
        <dd<image src="https://render.guildwars2.com/file/6CB0E64AF9AA292E332A38C1770CE577E2CDE0E8/102853.png" alt="Weakness" style="width:20px;"/>Weakness</dd>
        <dt>Lethargy</dt>
        <dd><image src="https://render.guildwars2.com/file/F60D1EF5271D7B9319610855676D320CD25F01C6/961397.png" alt="Slow" style="width:20px;"/>Slow</dd>
        <dt>Torment</dt>
        <dd><image src="https://render.guildwars2.com/file/10BABF2708CA3575730AC662A2E72EC292565B08/598887.png" alt="Torment" style="width:20px;"/>Torment</dd>
    </dl>

    <p>
        Each phase Umbriel summons 2 of each aspect listed below.
    </p>
    <ul>
        <li>Phase 1(75%): Death & Exposure</li>
        <li>Phase 2(50%): Fear & Lethargy & Torment</li>
        <li>Phase 3(25%): Death & Exposure & Lethargy & Torment</li>
        <li>Phase 4(0%): Death & Exposure & Fear & Lethargy & Torment</li>
    </ul>
    <p>
        After defeating all of the aspects, Umbriel's breakbar will open. CC him and the phase will end.
    </p>
    <figure style="max-width:600px;float:none;">
        <image src="/images/SotO/Umb/UmbBreakbar.png" alt="Umbriel's Breakbar" style="width:100%;"/>
        <figcaption>Break Umbriel's Breakbar to end the phase!</figcaption>
    </figure>    

    <h3>Umbriel's Skills</h3> <!--collapse this somehow -->
    <ul>
        <li>
            <h4>Umbriel's Autoattacks</h4>
            <p>
                Umbriel alternates between these two skills while his specials are on cooldown.
            </p>
            <ul>
                <li>
                    <h5>Bleeding Edge</h5>
                    <p>
                        Umbriel slashes in a cone, hitting anyone in front of him.
                        Inflicts <image src="https://render.guildwars2.com/file/79FF0046A5F9ADA3B4C4EC19ADB4CB124D5F0021/102848.png" alt="bleeding" style="width:20px;"/>Bleeding.
                    </p>
                </li>
                <li>
                    <h5>Scouring Blade</h5>
                    <p>
                        Umbriel jumps towards his target and attacks in a cone with his axes.
                    </p>
                </li>
            </ul>
        </li>
        
        <li>
            <h4>Umbriel's Specials</h4>
            <p>
                Umbriel uses his special skills when they come off cooldown.
            </p>
            <ul>
                <li>
                    <h4>Phase 1 (100% -> 75%)</h4>
                    <ul>
                        <li>
                            <h5 style="color:rgb(255,0,0);">Rending Storm (Axes) CD: 20 seconds</h5>
                            <p>
                                Umbriel spawns several axes that move around.
                                The axes will <image src="https://render.guildwars2.com/file/D5F6EBC4630F0E10F3DDB7A6DBB63592CD4B00BC/2440717.png" alt="pull" style="width:20px;" />pull inwards, <image src="https://render.guildwars2.com/file/397A613651BFCA2832B6469CE34735580A2C120E/102844.png" alt="immob" style="width:20px;"/>immobilize, <image src="https://render.guildwars2.com/file/070325E519C178D502A8160523766070D30C0C19/102838.png" alt="cripple" style="width:20px;"/>cripple, <image src="https://render.guildwars2.com/file/79FF0046A5F9ADA3B4C4EC19ADB4CB124D5F0021/102848.png" alt="bleeding" style="width:20px;"/>bleed, and <image src="/icons/Exposed.png" alt="exposed" style="width:20px;"/>expose you.
                            </p>
                            <figure style="max-width:800px;float:none;">
                                <image src="/images/SotO/Umb/UmbrielRendingStormPre.png" alt="Umbriel preparing to use Rending Storm" style="width:100%;"/>
                                <figcaption>Umbriel using <span style="color:rgb(255,0,0);">Rending Storm</span>, indicated by the arrows coming out of the group.</figcaption>
                            </figure>
                        </li>
                        <li>
                            <h5 style="color:rgb(0,128,0);">Dissecting Dance(aoe on umbriel) CD: &gt;10 seconds</h5>
                            <p>
                                Umbriel spins around, swinging his axes wildly.
                                Inflicts <image src="https://render.guildwars2.com/file/79FF0046A5F9ADA3B4C4EC19ADB4CB124D5F0021/102848.png" alt="bleeding" style="width:20px;"/>Bleeding.
                                The timing of <span style="color:rgb(0,128,0);">Dissecting Dance</span> is very inconsistent, sometimes being over 40 seconds between each use.
                                I believe it's a filler skill for when the other special skills are all on CD.
                            </p>
                            <figure style="max-width:500px;float:none;">
                                <image src="/images/SotO/Umb/SotOConvergeUmbDD50.png" alt="Umbriel using Dissecting Dance" style="width:100%;"/>
                                <figcaption>Umbriel using <span style="color:rgb(0,128,0);">Dissecting Dance</span> with some <span style="color:rgb(255,0,0);">Rending Storm</span> axes nearby.</figcaption>
                            </figure>
                            
                        </li>
                    </ul>
                </li>
                <li>
                    <h4>Phase 2 (75% -> 50%)</h4>
                    <ul>
                        <li>
                            <h5 style="color:rgb(255,165,0);">Frightening Speed (Numbered Oranges) CD: 40 seconds</h5>
                            <p>
                                Umbriel charges for a few seconds, then dashes from orange to orange in order.
                                <span style="color:rgb(255,165,0);">FS</span> is unblockable and deals significant damage, you WILL go down if you stay inside.
                                Get out of them or die.
                                If you're snared by a <span style="color:rgb(255,0,0);">RS</span> axe, cleanse if you can or get on your warclaw and jump away.
                            </p>
                            <figure style="max-width:1000px;float:none;">
                                <image src="/images/SotO/Umb/SotOUmbFS50.png" alt="Umbriel using Frightening Speed" style="width:100%;"/>
                                <figcaption>Umbriel using <span style="color:rgb(255,165,0);">Frightening Speed</span>. In the bottom right, an <span style="color:rgb(255,0,0);">RS axe</span> is communicating that it's about to move.</figcaption>
                            </figure>
                        </li>
                    </ul>
                </li>
                <li>
                    <h4>Phase 3 (50% -> 25%)</h4>
                    <ul>
                        <li>
                            <h5 style="color:rgb(0, 174, 255);">Dread Visage (Large Eye) CD: 50 seconds</h5>
                            <p>
                                Umbriel charges a large eye over himself.
                                When charging, you'll get a <span style="color:rgb(255,255,0);">yellow border</span> on all sides of your screen.
                                After a few seconds it triggers, inflicting Vulnerability and several seconds of Fear to anyone looking in his general direction.
                                Simply turn your character around and wait for it to go off.
                            </p>
                            <figure style="max-width:400px;float:none;">
                                <image src="/images/SotO/Umb/SotOConvergeUmbDV50.png" alt="Umbriel using Dread Visage" style="width:100%; "/>
                                <figcaption>Umbriel using <span style="color:rgb(0,174,255)">Dread Visage</span>.</figcaption>
                            </figure>
                        </li>
                    </ul>
                </li>
                <li>
                    <h4>Phase 4 (25% -> 0%)</h4>
                    <p>Umbriel has no additional skills in the 4th phase.</p>
                    <p>
                        <span style="color:rgb(0,174,255);">Dread Visage</span> is combined with <span style="color:rgb(255,165,0);">Frightening Speed</span>.
                        While <span style="color:rgb(0,174,255);">DV</span> has it's normal 50 second timing, it now also happens when <span style="color:rgb(255,165,0);">FS</span> does.
                    </p>
                    <p>
                        The simplest method is to just run away and look away from all of the <span style="color:rgb(255,165,0);">FS</span> circles until <span style="color:rgb(0,174,255);">DV</span> goes off.
                        <span style="color:rgb(0,174,255);">DV</span> usually goes off around the 3rd or 4th <span style="color:rgb(255,165,0);">FS</span> numbered orange.
                    </p>
                    <figure style="float:none;max-width:1200px;">
                        <image src="/images/SotO/Umb/SotoConvergeUmbP450.png" style="width:100%;" alt="Umbriel using Freightning Speed with Dread Visage"/>
                        <figcaption>Phase 4 - Umbriel using <span style="color:rgb(255,165,0);">Freightening Speed</span> in combination with <span style="color:rgb(0,174,255);">Dread Visage</span>. Some <span style="color:rgb(255,0,0);">Rending Storm</span> axes are nearby.</figcaption>
                    </figure>
                </li>
            </ul>
        </li>
    </ul>
</section>