<section>
    <h3>Umbriel, Halberd of House Aurkus</h3>

    Umbriel is currently the toughest fight in convergences.<br>
    Umbriel wields 2 double sided axes, using his skills to entangle players and land massive blows with large stacks of bleeding.<br>
    <br>

    <h4>Umbriel's Skills</h4> <!--collapse this somehow -->
    <ul>
        <li>
            Umbriel's Autoattacks<br>
            Umbriel alternates between these two skills while his specials are on cooldown.<br>
            <br>
            <ul>
                <li>
                    Bleeding Edge<br>
                    Umbriel slashes in a cone, hitting anyone in front of him.<br>
                    Inflicts Bleeding<br>
                </li>
                <li>
                    Scouring Blade<br>
                    Umbriel hits people in front of him with his axes.<br>
                </li>
            </ul>
        </li>
        
        <li>
            Umbriel's Specials<br>
            Umbriel uses his special skills when they come off cooldown.
            <br>
            <ul>
                <li>
                    Phase 1 (100% -> 75%)
                    <ul>
                        <li>
                            <h5 style="color:red;">Rending Storm (Axes) CD: 20 seconds</h5>
                            Umbriel spawns several axes that move around.<br>
                            The axes will pull, immobilize, cripple, bleed, and expose you.<br>
                        </li>
                        <li>
                            <h5 style="color:green">Dissecting Dance(aoe on umbriel) CD: &gt;10 seconds</h5>
                            Umbriel spins around, swinging his axes wildly.<br>
                            Inflicts Bleeding<br>
                            The timing of Dissecting Dance is very inconsistent, sometimes being over 40 seconds between each use.<br>
                            I believe it's a filler skill for when the other special skills are all on CD.<br>
                            <image src="/images/SotO/Umb/SotOConvergeUmbDD50.png" alt="Umbriel using Dissecting Dance" style="width:100%; max-width:500px;"></image><br>
                            Umbriel using <span style="color:green">Dissecting Dance</span> with some <span style="color:red">Rending Storm</span> axes nearby.
                        </li>
                    </ul>
                </li>
                <li>
                    Phase 2 (75% -> 50%)
                    <ul>
                        <li>
                        <h5 style="color:orange;">Frightening Speed (Numbered Oranges) CD: 40 seconds</h5>
                        Umbriel charges for a few seconds, then dashes from orange to orange in order.<br>
                        These oranges deal significant damage and will down most people.<br>
                        Get out of them or die.<br>
                        If you're stuck, get on your warclaw and jump away.<br>
                        </li>
                    </ul>
                </li>
                <li>
                    Phase 3 (50% -> 25%)
                    <ul>
                        <li>
                            <h5 style="color:rgb(0, 174, 255);">Dread Visage (Large Eye) CD: 50 seconds</h5>
                            Umbriel charges a large eye over himself.<br>
                            When charging, you'll get a <span style="color:yellow;">yellow border</span> on all sides of your screen.<br>
                            After a few seconds it triggers, inflicting Vulnerability and several seconds of Fear to anyone looking in his general direction.<br>
                            Simply turn your character around and wait for it to go off.<br>
                            <image src="/images/SotO/Umb/SotOConvergeUmbDV50.png" alt="Umbriel using Dread Visage" style="width:100%; max-width:400px;"></image><br>
                            Umbriel using <span style="color:rgb(0,174,255)">Dread Visage</span>.
                        </li>
                    </ul>
                </li>
                <li>
                    Phase 4 (25% -> 0%)<br>
                    Umbriel has no additional skills in the 4th phase.<br>
                    <ul>
                        <li>
                            <span style="color:rgb(0,174,255);">Dread Visage</span> is combined with <span style="color:orange;">Frightening Speed</span>.<br>
                            While <span style="color:rgb(0,174,255);">DV</span> has it's normal 50 second timing, it now also happens when <span style="color:orange;">FS</span> does.<br>

                            The simplest method is to just run away and look away from all of the <span style="color:orange;">FS</span> circles until <span style="color:rgb(0,174,255);">DV</span> goes off.<br>
                            <span style="color:rgb(0,174,255);">DV</span> usually goes off around the 3rd or 4th <span style="color:orange;">FS</span> numbered orange.<br>
                        </li>
                    </ul>
                    <image src="/images/SotO/Umb/SotoConvergeUmbP450.png" style="width:100%; max-width:1200px;" alt="Umbriel using Freightning Speed with Dread Visage"></image><br>
                    Phase 4 - Umbriel using <span style="color:orange;">Freightening Speed</span> in combination with <span style="color:rgb(0,174,255);">Dread Visage</span>. Some <span style="color:red;">Rending Storm</span> axes are nearby.<br>
                </li>
            </ul>
        </li>
    </ul>
</section>