<section>
    <h3>Umbriel, Halberd of House Aurkus</h3>

    Umbriel is currently the toughest fight in convergences.<br>
    Umbriel wields 2 double sided axes, using his skills to entangle players and land massive blows with large stacks of bleeding.<br>
    <br>

    <h4>Umbriel's Skills</h4> <!--collapse this somehow -->
    <ul>
        <li>
            Phase 1 (100% -> 75%)
            <ul>
                <li>
                    Rending Storm (Axes)<br>
                    Umbriel spawns several axes that move around.<br>
                    The axes will pull, immobilize, cripple, bleed, and expose you.<br>

                </li>
            </ul>
        </li>
        <li>
            Phase 2 (75% -> 50%)
            <ul>
                <li>
                    Frightening Speed (Numbered Oranges)<br>
                    Umbriel charges for a few seconds, then dashes from orange to orange in order.<br>
                    These oranges deal significant damage and will down most people.<br>
                    Get out of them or die.<br>
                    If you're stuck, get on your warclaw and speed away if possible. It can even be mounted while immobilized by the axes.<br>
                </li>
            </ul>
        </li>
        <li>
            Phase 3 (50% -> 25%)
            <ul>
                <li>
                    Dread Visage (Large Eye)<br>
                    Umbriel charges a large eye over himself.<br>
                    After a few seconds it triggers, inflicting Vulnerability and several seconds of Fear to anyone looking in his direction.<br>
                    Simply turn your character around and wait for it to go off.<br>
                </li>
            </ul>
        </li>
        <li>
            Phase 4 (25% -> 0%)<br>
            There are no additional skills in the last phase.<br>
            However, Umbriel starts using Dread Visage while using Frightening Speed.<br>
            The simplest method is to just run away and look away from all of the circles until the eye goes off.<br>
            The eye usually goes off around the 3rd or 4th numbered orange.
        </li>
    </ul>
</section>