footer {
    background-color: black;
    color: darkgrey;
    box-shadow: 0 50vh 0 50vh #000;
    display: flex;
    flex-direction: column;
    align-items: center;
}
p{
    margin-top:0px;
    padding-top:20px;
}