footer{
    background-color: black;
    color:darkgrey;
    box-shadow: 0 50vh 0 50vh #000;
}

#footerbannerad{
    display:block;
}
#mobilefooterad{
    display:none;
}

@media(max-width:700px){
    #footerbannerad{
        display:none;
    }
    #mobilefooterad{
        display:block;
    }
}