@rendermode InteractiveServer

<footer> <!-- nothing here but us feet -->
    <!-- FooterBanner Ad -->
    <!--
    <Ad dataAdSlot="5973256643"/>
    -->
    <!--
        <NavLink href="/about">about</NavLink>
    -->
    <p>
        <a href="/">[Home]</a>
        <a href="/Deprecated">[Old Stuff]</a>
        
    </p>
    <p>
        Like the website? Help support the server fees over on
        <a href="https://www.patreon.com/cw/SunMatrix" target="_blank" style="display:flex; flex-direction:row; align-items:center; justify-self:center;">
            <image src="/images/Brands/Patreon/PATREON_SYMBOL_1_WHITE_RGB.svg" style="height:24px;padding-right:10px;" />
            <span style="font-size:20px;">[Patreon]</span>
        </a>
    </p>

    <p>
        Convergence Corp is a fan site and is not associated in any way to ArenaNet and it's properties.
    </p>
    <p>
        © ArenaNet LLC. All rights reserved. NCSOFT, ArenaNet, Guild Wars, Guild Wars 2, GW2, Guild Wars 2: Heart of Thorns, Guild Wars 2: Path of Fire, Guild Wars 2: End of Dragons, Guild Wars 2: Secrets of the Obscure, Guild Wars 2: Janthir Wilds, and Guild Wars 2: Visions of Eternity and all associated logos, designs, and composite marks are trademarks or registered trademarks of NCSOFT Corporation.
    </p>
</footer>

