<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="" Match="NavLinkMatch.All">
            <img src="/favicon/favicon-32x32.png"> Convergence Corp!
        </a>
    </div>
</div>

<!-- why is there an invis checkbox? -->
<input type="checkbox" title="Navigation menu" class="navbar-toggler" /> 

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="soto">
                <span class="bi bi-stars" aria-hidden="true"></span> Secrets of the Obscure
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="jw">
                <span class="bi bi-tree" aria-hidden="true"></span> Janthir Wilds
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="records">
                <span class="bi bi-tree" aria-hidden="true"></span> Records
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="builds">
                <span class="bi bi-tree" aria-hidden="true"></span> Builds
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="schedule">
                <span class="bi" aria-hidden="true"></span> Schedule
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="addons">
                <span class="bi" aria-hidden="true"></span> Addons
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="movement">
                <span class="bi" aria-hidden="true"></span> Movement
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="rants">
                <span class="bi" aria-hidden="true"></span> Rants
            </NavLink>
        </div>
    </nav>
</div>

