<ul>
    <li>
        Monday
        <ul>
        </ul>
    </li>
    <li>
        Tuesday
    </li>
    <li>
        Wednesday
    </li>
    <li>
        Thursday
        <ul>
        </ul>
    </li>
    <li>
        Friday
        <ul>
        </ul>
    </li>
    <li>
        Saturday
        <ul>
        </ul>
    </li>
    <li>
        Sunday
        <ul>
        </ul>
    </li>
    <li>
        During the week
        <ul>
        </ul>
    </li>
</ul>

@code{
    //no china times :(
}

<script>
    var times = document.getElementsByClassName("CNtime");
    for(var time of times){
        time.innerText = new Date(time.innerText).toLocaleTimeString([], {
            hour:'numeric',
            minute:'2-digit'
        });
    }
</script>