<!-- April 2026 ALL regions Table -->
<table>
    <tr style="text-align:center;">
        <th>Boss</th>
        <th>Time</th>
        <th>Date</th>
        <th>Region</th>
        <th>Commander</th>
        <th>Guild</th>
    </tr>
    <tr>
        <th>Secrets of the Obscure</th>
    </tr>
    <tr>
        <td>Demon Knight</td>
        <td>11:53.200</td>
        <td class="recDate">04/20/2026</td>
        <td><image src="/images/flags/usaflaground64px.png" style="width:24px;" /></td>
        <td>Darens</td>
        <td></td>
    </tr>
    <tr>
        <td>Dreadwing</td>
        <td>12:46.240</td>
        <td class="recDate">04/27/2026</td>
        <td><image src="/images/flags/usaflaground64px.png" style="width:24px;" /></td>
        <td>Darens</td>
        <td></td>
    </tr>
    <tr>
        <td>Hell Sister</td>
        <td>13:30.080</td>
        <td class="recDate">04/27/2026</td>
        <td><image src="/images/flags/usaflaground64px.png" style="width:24px;" /></td>
        <td>Darens</td>
        <td></td>
    </tr>
    <tr>
        <td>Sorrow</td>
        <td>13:08.200</td>
        <td class="recDate">04/27/2026</td>
        <td><image src="/images/flags/usaflaground64px.png" style="width:24px;" /></td>
        <td>Darens</td>
        <td></td>
    </tr>
    <tr>
        <td>Umbriel</td>
        <td>13:58.400</td>
        <td class="recDate">04/27/2026</td>
        <td><image src="/images/flags/usaflaground64px.png" style="width:24px;" /></td>
        <td>Darens</td>
        <td></td>
    </tr>
    <tr>
        <th>Janthir Wilds</th>
    </tr>
    <tr>
        <td>Decima</td>
        <td>16:50.280</td>
        <td class="recDate">04/20/2026</td>
        <td><image src="/images/flags/usaflaground64px.png" style="width:24px;" /></td>
        <td>SunMatrix</td>
        <td>Convergence Corp [CC]</td>
    </tr>
    <tr>
        <td>Greer</td>
        <td>16:15.840</td>
        <td class="recDate">04/27/2026</td>
        <td><image src="/images/flags/usaflaground64px.png" style="width:24px;" /></td>
        <td>Darens</td>
        <td></td>
    </tr>
    <tr>
        <td>Ura</td>
        <td>15:06.640</td>
        <td class="recDate">04/27/2026</td>
        <td><image src="/images/flags/usaflaground64px.png" style="width:24px;" /></td>
        <td>Darens</td>
        <td></td>
    </tr>
</table>
<script>
    var x = document.getElementsByClassName("recDate");
    for(var y of x){
        let d = new Date(y.innerText);
        let z = d.toLocaleDateString();
        if(z != "Invalid Date"){
            y.innerText = d.toLocaleDateString();
        }
    }
</script>