<!-- April 2026 EU Table -->
<table>
    <tr>
        <th><image src="/images/flags/euflaground64px.png" style="width:32px;" /> Europe</th>
    </tr>
    <tr style="text-align:center;">
        <th>Boss</th>
        <th>Time</th>
        <th>Date</th>
        <th>Region</th>
        <th>Commander</th>
        <th>Guild</th>
    </tr>
    <tr>
        <th>Secrets of the Obscure</th>
    </tr>
    <tr>
        <td>Demon Knight</td>
        <td>12:57.520</td>
        <td class="recDate">05/18/2026</td>
        <td></td>
        <td>MookChivalry</td>
        <td></td>
    </tr>
    <tr>
        <td>Dreadwing</td>
        <td>12:53.400</td>
        <td class="recDate">05/18/2026</td>
        <td></td>
        <td>MookChivalry</td>
        <td></td>
    </tr>
    <tr>
        <td>Hell Sister</td>
        <td>14:09.120</td>
        <td class="recDate">05/18/2026</td>
        <td></td>
        <td>MookChivalry</td>
        <td></td>
    </tr>
    <tr>
        <td>Sorrow</td>
        <td>13:28.520</td>
        <td class="recDate">05/18/2026</td>
        <td></td>
        <td>MookChivalry</td>
        <td></td>
    </tr>
    <tr>
        <td>Umbriel</td>
        <td>14:22.720</td>
        <td class="recDate">05/18/2026</td>
        <td></td>
        <td>MookChivalry</td>
        <td></td>
    </tr>
    <tr>
        <th>Janthir Wilds</th>
    </tr>
    <tr>
        <td>Decima</td>
        <td>17:49.640</td>
        <td class="recDate">04/15/2026</td>
        <td></td>
        <td>Evelynn</td>
        <td>[CUTE]</td>
    </tr>
    <tr>
        <td>Greer</td>
        <td>16:45.960</td>
        <td class="recDate">06/03/2026</td>
        <td></td>
        <td>Evelynn</td>
        <td>[CUTE]</td>
    </tr>
    <tr>
        <td>Ura</td>
        <td>16:37.840</td>
        <td class="recDate">06/03/2026</td>
        <td></td>
        <td>Evelynn</td>
        <td>[CUTE]</td>
    </tr>
</table>
<script>
    var x = document.getElementsByClassName("recDate");
    for(var y of x){
        let d = new Date(y.innerText);
        let z = d.toLocaleDateString();
        if(z != "Invalid Date"){
            y.innerText = d.toLocaleDateString();
        }
    }
</script>