<!-- April 2026 NA Table -->
<table>
    <tr>
        <th><image src="/images/flags/usaflaground64px.png" style="width:32px;" /> North America</th>
    </tr>
    <tr style="text-align:center;">
        <th>Boss</th>
        <th>Time</th>
        <th>Date</th>
        <th>Region</th>
        <th>Commander</th>
        <th>Guild</th>
    </tr>
    <tr>
        <th>Secrets of the Obscure</th>
    </tr>
    <tr>
        <td>Demon Knight</td>
        <td>11:53.200</td>
        <td class="recDate">04/20/2026</td>
        <td></td>
        <td>Darens</td>
        <td></td>
    </tr>
    <tr>
        <td>Dreadwing</td>
        <td>12:48.080</td>
        <td class="recDate">04/18/2026</td>
        <td></td>
        <td>MarshAll</td>
        <td></td>
    </tr>
    <tr>
        <td>Hell Sister</td>
        <td>13:44.920</td>
        <td class="recDate">04/16/2026</td>
        <td></td>
        <td>JMDHouse</td>
        <td>The Silverwastes Anonymous [SAS]</td>
    </tr>
    <tr>
        <td>Sorrow</td>
        <td>14:11.920</td>
        <td class="recDate">04/18/2026</td>
        <td></td>
        <td>MarshAll</td>
        <td></td>
    </tr>
    <tr>
        <td>Umbriel</td>
        <td>14:20.160</td>
        <td class="recDate">04/20/2026</td>
        <td></td>
        <td>Darens</td>
        <td></td>
    </tr>
    <tr>
        <th>Janthir Wilds</th>
    </tr>
    <tr>
        <td>Decima</td>
        <td>17:16.840</td>
        <td class="recDate">04/18/2026</td>
        <td></td>
        <td>SunMatrix</td>
        <td>Convergence Corp [CC]</td>
    </tr>
    <tr>
        <td>Greer</td>
        <td>16:57.040</td>
        <td class="recDate">04/18/2026</td>
        <td></td>
        <td>SunMatrix</td>
        <td>Convergence Corp [CC]</td>
    </tr>
    <tr>
        <td>Ura</td>
        <td>16:14.320</td>
        <td class="recDate">04/18/2026</td>
        <td></td>
        <td>SunMatrix</td>
        <td>Convergence Corp [CC]</td>
    </tr>
</table>
<script>
    var x = document.getElementsByClassName("recDate");
    for(var y of x){
        let d = new Date(y.innerText);
        let z = d.toLocaleDateString();
        if(z != "Invalid Date"){
            y.innerText = d.toLocaleDateString();
        }
    }
</script>