<!-- April 2026 ALL regions Table -->
<table>
    <tr style="text-align:center;">
        <th>Boss</th>
        <th>Time</th>
        <th>Date</th>
        <th>Region</th>
        <th>Commander</th>
        <th>Guild</th>
    </tr>
    <tr>
        <th>Secrets of the Obscure</th>
    </tr>
    <tr>
        <td>Demon Knight</td>
        <td>12:00.400</td>
        <td class="recDate">04/16/2026</td>
        <td><image src="/images/flags/usaflaground64px.png" style="width:32px;" /></td>
        <td>JMDHouse</td>
        <td>The Silverwastes Anonymous [SAS]</td>
    </tr>
    <tr>
        <td>Dreadwing</td>
        <td>13:26.760</td>
        <td class="recDate">04/16/2026</td>
        <td><image src="/images/flags/usaflaground64px.png" style="width:32px;" /></td>
        <td>JMDHouse</td>
        <td>The Silverwastes Anonymous [SAS]</td>
    </tr>
    <tr>
        <td>Hell Sister</td>
        <td>13:44.920</td>
        <td class="recDate">04/16/2026</td>
        <td><image src="/images/flags/usaflaground64px.png" style="width:32px;" /></td>
        <td>JMDHouse</td>
        <td>The Silverwastes Anonymous [SAS]</td>
    </tr>
    <tr>
        <td>Sorrow</td>
        <td>14:50.200</td>
        <td class="recDate">04/16/2026</td>
        <td><image src="/images/flags/usaflaground64px.png" style="width:32px;" /></td>
        <td>JMDHouse</td>
        <td>The Silverwastes Anonymous [SAS]</td>
    </tr>
    <tr>
        <td>Umbriel</td>
        <td>14:23.080</td>
        <td class="recDate">04/16/2026</td>
        <td><image src="/images/flags/usaflaground64px.png" style="width:32px;" /></td>
        <td>JMDHouse</td>
        <td>The Silverwastes Anonymous [SAS]</td>
    </tr>
    <tr>
        <th>Janthir Wilds</th>
    </tr>
    <tr>
        <td>Decima</td>
        <td>17:49.640</td>
        <td class="recDate">04/15/26</td>
        <td><image src="/images/flags/euflaground64px.png" style="width:32px;" /></td>
        <td>Evelynn</td>
        <td>[CUTE]</td>
    </tr>
    <tr>
        <td>Greer</td>
        <td>17:40.520</td>
        <td class="recDate">04/15/26</td>
        <td><image src="/images/flags/euflaground64px.png" style="width:32px;" /></td>
        <td>Evelynn</td>
        <td>[CUTE]</td>
    </tr>
    <tr>
        <td>Ura</td>
        <td>16:50.040</td>
        <td class="recDate">04/15/26</td>
        <td><image src="/images/flags/euflaground64px.png" style="width:32px;" /></td>
        <td>Evelynn</td>
        <td>[CUTE]</td>
    </tr>
</table>
<script>
    var x = document.getElementsByClassName("recDate");
    for(var y of x){
        let d = new Date(y.innerText);
        let z = d.toLocaleDateString();
        if(z != "Invalid Date"){
            y.innerText = d.toLocaleDateString();
        }
    }
</script>