@page "/schedulev2"
@using ConvergenceCorpBlazor.Components.Pages.Schedule.v2.ScheduleRegionsV2;

@rendermode InteractiveServer
<PageTitle>Schedule2 | Convergence Corp!</PageTitle>
<HeadContent>
    <meta name="description" content="Convergence Schedule, find a group converging soon&trade;"/>
    <link rel="canonical" href="https://convergencecorp.net/schedulev2" />
    <meta property="og:title" content="ScheduleV2 | Convergence Corp!" />
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://convergencecorp.net/schedulev2"/>
    <meta property="og:image" content="https://convergencecorp.net/favicon/android-chrome-512x512.png"/>
    <meta property="og:description" content="Convergence Schedule, find a group converging soon&trade;"/>
    <meta property="og:site_name" content="Convergence Corp!"/>
</HeadContent>
<h1>Schedule!</h1>
<p>
    Run a group? Message me on <DiscordLink disctype=1 /> or ingame at SunMatrix.4168 with what time(s) you run!
</p>
<!-- CCScheduleBanner1 -->
<!--
<Ad dataAdSlot="2101321590" dataAdFormat="horizontal" />
-->
<p class="caution">
    Disclaimer: This list of groups is what I've gathered myself.<br>
    The groups shown here might decide to run at different times or days without notice, or even not at all.<br>
    I'm not on EU/CN. Any groups on there are just what I've been told.
</p>
<p><CurrentTime /></p>
<p>
    <a href="/schedule">Go back to the old Schedule!</a>
</p>
<ScheduleNAv2/>

<!-- CCScheduleAfter -->
<!--
<Ad dataAdSlot="7724526827" dataAdFormat="horizontal" />
-->