@page "/jw"
@using ConvergenceCorpBlazor.Components.Pages.JanthirWilds;
@using ConvergenceCorpBlazor.Components.Pages.JanthirWilds.Bosses.Decima;
@using ConvergenceCorpBlazor.Components.Pages.JanthirWilds.Bosses.Greer;
@using ConvergenceCorpBlazor.Components.Pages.JanthirWilds.Pre;
@using ConvergenceCorpBlazor.Components.Pages.JanthirWilds.Shared;
@using ConvergenceCorpBlazor.Components.Pages.JanthirWilds.Bosses.Ura;


@rendermode InteractiveServer

<PageTitle>JW | Convergence Corp!</PageTitle>
<HeadContent>
    <meta name="description" content="Guides for Guild Wars 2: Janthir Wilds Convergences">
    <link rel="canonical" href="https://convergencecorp.net/jw" />
    <meta property="og:title" content="JW | Convergence Corp!" />
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://convergencecorp.net/jw"/>
    <meta property="og:image" content="https://convergencecorp.net/favicon/android-chrome-512x512.png"/>
    <meta property="og:description" content="Guides for Guild Wars 2: Janthir Wilds Convergences"/>
    <meta property="og:site_name" content="Convergence Corp!"/>
</HeadContent>
<div>
    <h1 style="text-align:center;"><image src="/images/JW/Janthir_Wilds_logo.png" alt="JW Logo" style="width:100px;"/>Janthir Wilds</h1>
    <JanthirTableOfContents/>
    <JWPre />
    <Dolyak />
    <Building/>
    <Thumper />
    <JWShared />
    <Decima />
    <Greer />
    <Ura />
</div>