<!-- NA Feb26 Table -->
<table>
    <tr>
        <th><image src="/images/flags/usaflaground64px.png" style="width:32px;" /> North America</th>
    </tr>
    <tr style="text-align:center;">
        <th>Boss</th>
        <th>Time</th>
        <th>Date</th>
        <th></th>
        <th>Commander</th>
        <th>Guild</th>
    </tr>
    <tr>
        <th>Secrets of the Obscure</th>
    </tr>
    <tr>
        <td>Demon Knight</td>
        <td>12:34.880</td>
        <td class="recDate">02/16/2026</td>
        <td></td>
        <td>SunMatrix</td>
        <td>Convergence Corp[CC]</td>
    </tr>
    <tr>
        <td>Dreadwing</td>
        <td>12:01.520</td>
        <td class="recDate">02/23/2026</td>
        <td></td>
        <td>Darens</td>
        <td></td>
    </tr>
    <tr>
        <td>Hell Sister</td>
        <td>12:38.200</td>
        <td class="recDate">02/23/2026</td>
        <td></td>
        <td>Darens</td>
        <td></td>
    </tr>
    <tr>
        <td>Sorrow</td>
        <td>13:34.440</td>
        <td class="recDate">02/16/2026</td>
        <td></td>
        <td>SunMatrix</td>
        <td>Convergence Corp[CC]</td>
    </tr>
    <tr>
        <td>Umbriel</td>
        <td>14:44.640</td>
        <td class="recDate">02/23/2026</td>
        <td></td>
        <td>Darens</td>
        <td></td>
    </tr>
    <tr>
        <th>Janthir Wilds</th>
    </tr>
    <tr>
        <td>Decima</td>
        <td>16:04.560</td>
        <td class="recDate">02/23/2026</td>
        <td></td>
        <td>Fornalha</td>
        <td>The Silverwastes Anonymous [SAS]</td>
    </tr>
    <tr>
        <td>Greer</td>
        <td>14:59.880</td>
        <td class="recDate">02/21/2026</td>
        <td></td>
        <td>SunMatrix</td>
        <td>Convergence Corp[CC]</td>
    </tr>
    <tr>
        <td>Ura</td>
        <td>13:15.760</td>
        <td class="recDate">02/21/2026</td>
        <td></td>
        <td>SunMatrix</td>
        <td>Convergence Corp[CC]</td>
    </tr>
</table>
<script>
    var x = document.getElementsByClassName("recDate");
    for(var y of x){
        let d = new Date(y.innerText);
        let z = d.toLocaleDateString();
        if(z != "Invalid Date"){
            y.innerText = d.toLocaleDateString();
        }
    }
</script>