<section id="Ura">
    <h2>Ura, the Steamshrieker</h2>
    <p>Mistress of Effluence</p>
    <!--description of Ura here? -->
    <h3 id="UraStrat">Strategy</h3>
    <p>
        Bring CC! Ura gets a new breakbar every 5%! 
        During the fight, Ura builds up stacks of Rising Pressure, buffing her defensive and offensive stats by 5% for each stack. 
        Break the breakbar to remove them.
        Avoid standing infront of Ura. Her bubble attack always goes to the front.
        Consider dumping some healers in favor of more boondps for more dps.
    </p>
    <h3 id="UraPassive">Ura's Passives</h3>
    <ul>
        <li> 
            <h5 style="color:rgb(255,208,0);">Rising Pressure <image src="/images/JW/Ura/UraRisingPressure.png" alt="rising pressure icon"/></h5>
            <p>
                 When Ura's breakbar is up, she gains stacks of <span style="color:rgb(255, 208, 0);">Rising Pressure</span>. Every stack gives Ura 5% increased damage and 5% damage reduction. 
                CC the breakbar and the stacks she's built up will fall off.
            </p>
        </li>
        <li>
            <h5 style="color:rgb(255, 0, 0);">Scalding Aura</h5>
            <p>
                Ura has a super heated puddle of acid underneath her the entire fight. Applies burning.
            </p>
        </li>
    </ul>
    <h3 id="UraSkills">Ura's Skills</h3>
    <!-- Ura skill IDs:
        Sulfuric Froth          76380,74947,74931
        Toxic Gyser             76232,75923,75149,75076
        Acid Spray              76113,75236
        Propel                  76358,74857,74669
        Pressure Blast          76169,76092,75258,74754

        unsure if convergence skills, might be raid only
        Eruption Vent           76287,75200
        Steam Prison            76173,74711   //I think this is the actual bubble?
        Return                  76307,74961
        Bloodstone Saturation   75056
    -->
    <ul>
        <li>
            <h5 style="color:rgb(0, 255, 255);">Slam</h5>
            Ura slams side to side, then raises up and slams a cone in front of her.
            <figure style="float:none;max-width:600px;">
                <image src="/images/JW/Ura/UraSlamThree.png" alt="SlamThree" style="width:100%"/>
                <figcaption>Ura's third <span style="color:rgb(0,255,255);">Slam</span></figcaption>
            </figure>
        </li>
        <li>
            <h5 style="color:rgb(75, 123, 255);">Pressure Blast - Bubble</h5>
            <p>
                Ura reaches forward with her hands and <span style="color:rgb(75,123,255);">Pressure Blasts</span> directly in front of her. 
                Don't stand in front of her or you'll get lifted. 
                The bubbles spread to nearby players, potentially lifting the whole group even if only one person was standing in the aoe.
            </p>
            <div id="PressureBlastFigures">
                <figure style="float:none;max-width:600px;">
                    <image src="/images/JW/Ura/UraPressureBlastOne.png" alt="Pressure Blast" style="width:100%;"></image>
                    <figcaption>Ura using <span style="color:rgb(75,123,255)">Pressure Blast</span> and everyone avoiding it.</figcaption>
                </figure>
                <figure style="float:none;max-width:600px;">
                    <image src="/images/JW/Ura/UraPressureBlastBubbled.png" alt="everyone getting bubbled" style="width:100%"/>
                    <figcaption>Everyone getting bubbled by <span style="color:rgb(75,123,255)">Pressure Blast</span></figcaption>
                </figure>
            </div>
        </li>
        <li>
            <h5 style="color:rgb(255, 255, 0);">Propel</h5>
            <p>Ura leaps towards the furthest player. Massive damage on landing, don't chase her until she actually lands as the impact is bigger than it looks.</p>
        </li>
        
        <li>
            <h5 style="color:rgb(80, 200, 0);">Sulfuric Acid <image src="/images/JW/Ura/UraSulfericAcid.png"/></h5>
            <p>
                Deals damage every second and applies Exposed every 10 seconds.
            </p>
        </li>
        <li>
            <h5 style="color:rgb(139, 255, 61);">Sulfuric Froth</h5>
            <p>
                Sulfuric Acid spills out of Ura as she moves around, leaving puddles of <span style="color:rgb(139,255,61);">Sulfuric Froth</span> around. Applies <span style="color:rgb(80,200,0);">Sulfuric Acid</span>.
            </p>
        </li>
        <li>
            <h5 style="color:rgb(162, 216, 126);">Acid Spray</h5> 
            <p>
                Ura sprays acid from her hands. Applies <span style="color:rgb(80,200,0);">Sulfuric Acid</span>.
            </p>
        </li>
        <li>
            <h5>Toxic Geyser</h5>
            <p>
                Applies poison and Sulfuric Acid, and grants protection and might to Ura.
            </p>
        </li>
        <!-- These moves might not exist in convergence
        <li>
            <h5>Return</h5>
            <p>
                Ura creates a whirlpool, sucking in players and teleporting them ot the center of her arena.
            </p>
        </li>
        <li>
            <h5>Eruption Vent</h5>
            <p>
                Ura causes a sulfuric geyser to erupt at target's location after several seconds, creating a shockwave and leaving behind a geyser that inflicts poison and Sulfuric Acid on enemies and benefits allies.
            </p>
        </li>
        <li>
            <h5>Steam Prison</h5>
            <p>
                Creates a steam prison that reflects projectiles.
            </p>
        </li>
        -->
    </ul>

    <h3 id="UraFuma" style="color:rgb(24,124,255);">Fumaroller</h3>
    <p>Elite Fumarollers start spawning in the 2nd phase(75%). They have MASSIVE CC bars and will need to be focused by the whole squad to break it.</p>
    <p>Champion Fumarollers will spawn in the 4th phase(25%). They can not be CC'd at all and gain enhanced skills over their Elite versions.</p>
    <ul>
      <li>
         <h5 style="color:rgb(28,222,255);">Rock Smash</h5>
         <p>The Fumaroller hits a player with its face.</p>
      </li>
      <li>
        <h5 style="color:rgb(28,222,255);">Full Steam</h5>
        <p>The Fumaroller charges a player.</p>
      </li>
      <li>
        <h5 style="color:rgb(28,222,255);">Mantle Grinder</h5>
        <p>The Fumaroller spins around on the ground.</p>
      </li>
      <li>
        <h5 style="color:rgb(28,222,255);">Ejects</h5>
        <p>The Fumaroller Ejects several streams of <span style="color:rgb(80,200,0)">Sulfuric Acid</span> from the top of themselves, similar to Ura's <span style="color:rgb(139,255,61)">Sulfuric Froth</span>.</p>
        <p>The Champion Fuma Ejects more streams over a larger area.</p>
      </li>
      <li>
        <h5 style="color:rgb(255,0,0);">Breaking Ground (Red Star)</h5>
        <p>The Champion Fumaroller applies a star symbol on the ground. Applies burning.</p>
      </li>
   </ul>
</section>