<h3>Gliding Skills</h3>
<p>
    There are a few gliding skills that can be purchased from Natto.
    Which skills you can buy depend on which map youre in.
    He can be found in a few locations:
</p>
<ul>
    <li>The back of Soulkeeper's Airship[&BEsJAAA=] in Bloodstone Fen.</li>
    <li>Xunlai Jade Quarry in Dragon's End.</li>
    <li>To the right of the convergence portal in the Wizard's Tower [&BOgNAAA=].</li>
</ul>
<p>Gliding skills can only be used in maps with high concentrations of magic.</p>
<ul>
    <li>
        <image src="/icons/Skills/Glider/Focused_Magic.png" alt="Focused Magic Icon" style="width:50px;float:left;"/>
        <h5>Focused Magic</h5>
        <p>Shoot a beam at your foe. The farther away they are, the less damage you deal. Requires a target to use.</p>
    </li>
    <li>
        <image src="/icons/Skills/Glider/Unstable_Magic_Volley.png" alt="Unstable Magic Volley Icon" style="width:50px;float:left;"/>
        <h5>Unstable Magic Volley</h5>
        <p>Release a volley of unstable magic on the target area, damaging and knocking down foes, and applying a random condition.</p>
    </li>
    <li>
        <image src="/icons/Skills/Glider/Pacified_Magical_Storm.png" alt="Pacified Magical Storm Icon" style="width:50px;float:left;"/>
        <h5>Pacified Magical Storm</h5>
        <p>Call down a pacified magical storm on the target area, healing, curing conditions and granting regen in an area.</p>
    </li>
    <li>
        <image src="/icons/Skills/Glider/Dogfight_or_Flight.png" alt="Dogfight or Flight Icon" style="width:50px;float:left;"/>
        <h5>Dogfight or Flight</h5>
        <p>Evade and heal yourself. This skill is only available in Bloodstone Fen and Lake Doric.</p>
    </li>
    <li>
        <image src="/icons/Skills/Glider/Ride_the_Ley_Line.png" alt="Ride the Ley Line Icon" style="width:50px;float:left;"/>
        <h5>Ride the Ley Line</h5>
        <p>Focus unbound magic and create a ley line to propel yourself forward.</p>
    </li>
</ul>