<h2 id="Items">Items</h2>
<p>
    These items will help you move around the map faster.
</p>
<ul>
    <li>
        <h3>
            <image src="https://render.guildwars2.com/file/E3E4F0D2D1C155550C29A16AF163A40ABB5B7532/1451820.png" alt="White Mantle Portal Device Icon" />
            <a href="https://wiki.guildwars2.com/wiki/White_Mantle_Portal_Device" target="_blank">White Mantle Portal Device</a>
        </h3>
        <p>
            Allows you to place a portal once every 30 minutes.
            Same range as a mesmer or theif portal(5000).
        </p>
        <p>
            Must defeat Raid Wing 3 to purchase.
            Purchase from 
            <a href="https://wiki.guildwars2.com/wiki/Scholar_Glenna_(Stronghold_of_the_Faithful)" target="_blank">
                Scholar Glenna
            </a>
            inside W3.
            Also drops rarely from <a href="https://wiki.guildwars2.com/wiki/Xera" target="_blank">Xera</a> (W3 final boss).
        </p>
    </li>
    <li>
        <h3>
            <image src="https://render.guildwars2.com/file/7AA8AB02545F3DDA09B25230FD72D37CD36BCF17/2595094.png" alt="Jade Assistant: Gliding Booster 3 Icon" />
            <a href="https://wiki.guildwars2.com/index.php?title=Jade_Assistant%3A_Gliding_Booster_3" target="_blank">Jade Assistant: Gliding Booster 3</a>
        </h3>
        <p>
            Significantly increases the vertical distance of your Jade Bot Glider Booster skill.
        </p>
        <p>
            Needs a 
            <a href="https://wiki.guildwars2.com/wiki/Recovered_Hover_Engine" target="_blank">
                <image src="https://render.guildwars2.com/file/E240960604E7CBD54144117340031C1D4450FA44/1504149.png" style="width:20px;" />
                Recovered Hover Engine
            </a> to upgrade. <br />
            Drops from <span class="eod">EoD</span> Strike missions.
        </p>
    </li>
    <li>
        <h3>
            <image src="https://render.guildwars2.com/file/2BEA4CC13BFA04EE1DB312D55D61C6C2C227F4FC/2595084.png" alt="Mount Energy Booster 3" />
            <a href="https://wiki.guildwars2.com/index.php?title=Mount_Energy_Booster_3" target="_blank">Mount Energy Booster 3</a>
        </h3>
        <p>
            Increases Mount Energy Regeneration by 30%.
        </p>
        <p>
            Needs a 
            <a href="https://wiki.guildwars2.com/wiki/High-Energy_Capacitor" target="_blank">
                <image src="https://render.guildwars2.com/file/11C1C733C014E344A75EFB7EF6E4C60D65C0CFF9/1205791.png" style="width:20px;" />
                High-Energy Capacitor
            </a> to upgrade.<br/>
            Drops from the <a href="https://wiki.guildwars2.com/wiki/Kaineng_Blackout" target="_blank">Kaineng Blackout meta</a>.
        </p>
    </li>
    <li>
        <h3>
            <image src="https://render.guildwars2.com/file/C34E0BA9050B06D152B1010DE0E391D96554440E/1947135.png" alt="Prototype Position Rewinder" />
            <a href="https://wiki.guildwars2.com/wiki/Prototype_Position_Rewinder" target="_blank">Prototype Position Rewinder</a>
        </h3>
        <p>
            The PPR 'Mark Location' function stores where you are for 30 seconds.<br/>
            Be careful to not use any teleport/blink type skills(shadowstep, portals, etc...), as it will erase the location.
        </p>
        <p>
            Use the 'Rewind' function to instantly teleport back to the marked location from anywhere on the map. (incurs a loading screen if the distance is over 5000 range).
        </p>
        <p>
            Buy this from 
            <a href="https://wiki.guildwars2.com/wiki/Hafren" target="_blank">Hafren</a>
            in Sandswept Isles.
        </p>
    </li>
    <!--CCMovementItemsLast-->
    <!--
    <Ad dataAdSlot="5680293310" dataAdFormat="horizontal" />
    -->
</ul>
