<h3>Items</h3>
<ul>
    <li>
        <image src="https://render.guildwars2.com/file/E3E4F0D2D1C155550C29A16AF163A40ABB5B7532/1451820.png" alt="White Mantle Portal Device Icon"/>
        <h5><a href="https://wiki.guildwars2.com/wiki/White_Mantle_Portal_Device">White Mantle Portal Device</a></h5>
        <p>
            Allows you to place a portal once every 30 minutes.<br>
            Same range as a mesmer or theif portal(5000).
        </p>
        <p>
            Must defeat Wing 3 to purchase.<br>
            Cost: 1000 Magnetite Shards and 3 Gold.<br>
            Earn Magnetite Shards from doing Raids.<br>
            Also drops rarely from <a href="https://wiki.guildwars2.com/wiki/Xera">Xera</a> (Wing 3 boss).<br>
        </p>
    </li>
    <li>
        <image src="https://render.guildwars2.com/file/7AA8AB02545F3DDA09B25230FD72D37CD36BCF17/2595094.png" alt="Jade Assistant: Gliding Booster 3 Icon"/>
        <h5><a href="https://wiki.guildwars2.com/index.php?title=Jade_Assistant%3A_Gliding_Booster_3">Jade Assistant: Gliding Booster 3</a></h5>
        Significantly increases the vertical distance of your Jade Bot Glider Booster skill.<br>
        Requires EoD.<br>
        Needs a <a href="https://wiki.guildwars2.com/wiki/Recovered_Hover_Engine">Recovered Hover Engine</a> to upgrade. Drops from EoD Strike missions.
    </li>
    <li>
        <image src="https://render.guildwars2.com/file/2BEA4CC13BFA04EE1DB312D55D61C6C2C227F4FC/2595084.png" alt="Mount Energy Booster 3"/>
        <h5><a href="https://wiki.guildwars2.com/index.php?title=Mount_Energy_Booster_3">Mount Energy Booster 3</a></h5>
        Increases Mount Energy Regeneration by 30%.<br>
        Requires EoD.<br>
        Needs a <a href="https://wiki.guildwars2.com/wiki/High-Energy_Capacitor">High-Energy Capacitor</a> to upgrade. Drops from the Kaineng Blackout meta.
    </li>
</ul>
