<h2 id="Items">Items</h2>
<p>
    These items will help you move around the map faster.
</p>
<ul>
    <li>
        <h3>
            <image src="https://render.guildwars2.com/file/E3E4F0D2D1C155550C29A16AF163A40ABB5B7532/1451820.png" alt="White Mantle Portal Device Icon" />
            <a href="https://wiki.guildwars2.com/wiki/White_Mantle_Portal_Device" target="_blank">White Mantle Portal Device</a>
        </h3>
        <p>
            Allows you to place a portal once every 30 minutes.
            Same range as a mesmer or theif portal(5000).
        </p>
        <p>
            Must defeat Raid Wing 3 to purchase.
            Cost: 1000 Magnetite Shards and 3 Gold.
            Earn Magnetite Shards from doing Raids.
            Also drops rarely from <a href="https://wiki.guildwars2.com/wiki/Xera" target="_blank">Xera</a> (Wing 3 boss).
        </p>
    </li>
    <li>
        <h3>
            <image src="https://render.guildwars2.com/file/7AA8AB02545F3DDA09B25230FD72D37CD36BCF17/2595094.png" alt="Jade Assistant: Gliding Booster 3 Icon" />
            <a href="https://wiki.guildwars2.com/index.php?title=Jade_Assistant%3A_Gliding_Booster_3" target="_blank">Jade Assistant: Gliding Booster 3</a>
        </h3>
        <p>
            Significantly increases the vertical distance of your Jade Bot Glider Booster skill.
            Requires EoD.
            Needs a <a href="https://wiki.guildwars2.com/wiki/Recovered_Hover_Engine" target="_blank">Recovered Hover Engine</a> to upgrade. Drops from EoD Strike missions.
        </p>
    </li>
    <li>
        <h3>
            <image src="https://render.guildwars2.com/file/2BEA4CC13BFA04EE1DB312D55D61C6C2C227F4FC/2595084.png" alt="Mount Energy Booster 3" />
            <a href="https://wiki.guildwars2.com/index.php?title=Mount_Energy_Booster_3" target="_blank">Mount Energy Booster 3</a>
        </h3>
        <p>
            Increases Mount Energy Regeneration by 30%.
            Requires EoD.
            Needs a <a href="https://wiki.guildwars2.com/wiki/High-Energy_Capacitor" target="_blank">High-Energy Capacitor</a> to upgrade. Drops from the Kaineng Blackout meta.
        </p>
    </li>
    <!--CCMovementItemsLast-->
    <Ad dataAdSlot="5680293310" dataAdFormat="horizontal" />
</ul>
