<h3>Items</h3>
<ul>
    <li>
        <h5><a href="https://wiki.guildwars2.com/wiki/White_Mantle_Portal_Device">White Mantle Portal Device</a></h5>
        1000 Magnetite Shards and 3 Gold. Earn Magnetite Shards from doing Raids.<br>
        Also a rare drop from Xera (wing 3 boss).<br>
        Must defeat wing 3 to purchase.<br>
        Allows you to place a portal once every 30 minutes.<br>
        Same range as a mesmer or theif portal (5000).
    </li>
    <br>
    <li>
        <h5><a href="https://wiki.guildwars2.com/index.php?title=Jade_Assistant%3A_Gliding_Booster_3">Jade Assistant: Gliding Booster 3</a></h5>
        Significantly increases the vertical distance of your Jade Bot Glider Booster skill.<br>
        Requires EoD.<br>
        Needs a <a href="https://wiki.guildwars2.com/wiki/Recovered_Hover_Engine">Recovered Hover Engine</a> to craft. Drops from EoD Strike missions.
    </li>
    <br>
    <li>
        <h5><a href="https://wiki.guildwars2.com/index.php?title=Mount_Energy_Booster_3">Mount Energy Booster 3</a></h5>
        Increases Mount Energy Regeneration by 30%.<br>
        Requires EoD.<br>
        Needs a <a href="https://wiki.guildwars2.com/wiki/High-Energy_Capacitor">High-Energy Capacitor</a> to craft. Drops from the Kaineng Blackout meta.
    </li>
    <br>
</ul>
