ul{
    align-items:center;
}
li{
    width:100%;
}
li > ul > li {
    display: flex;
    flex-direction: column;
    align-items:center;
}
li > ul > li > ul{
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    width:100%;
    max-width:1200px;
    align-items:baseline;
    justify-content:center;
}
li > ul > li > ul > li{
    max-width:300px;
}

.masteryHeaders{
    object-fit:none;
    object-position:top left;
    height:80px;
    width:490px;
    justify-self:center;
}
.masteryIcon{
    width: 75px;
}
@media(max-width:490px){
    .masteryHeaders {
        width:100%;
    }
}
