<h2 id="Masteries">Masteries</h2>
<p>
    There are several masteries that deal with movement. While they're not all required for convergences, most are used at least once during each run.
</p>
<p>
    <a href="/movement#MasteriesCentralTyria" class="core">Central Tyria</a> | 
    <a href="/movement#MasteriesHeartofThorns" class="hot">Heart of Thorns</a> | 
    <a href="/movement#MasteriesPathofFire" class="pof">Path of Fire</a> |
    <a href="/movement#MasteriesIcebroodSaga" class="ibs">Icebrood Saga</a> |
    <a href="/movement#MasteriesEndofDragons" class="eod">End of Dragons</a> |
    <a href="/movement#MasteriesSecretsoftheObscure" class="soto">Secrets of the Obscure</a> |
    <a href="/movement#MasteriesJanthirWilds" class="jw">Janthir Wilds</a> | 
    <a href="/movement#MasteriesVisionsofEternity" class="voe">Visions of Eternity</a>
</p>
<ul>
    <li id="MasteriesCentralTyria" class="coreborder">
        <h2>Central Tyria</h2>
        <ul>
            <li>
                <h3>Pact Commander - 19 points</h3>
                <image class="masteryHeaders" src="https://render.guildwars2.com/file/65DE3662C705233AC1073EF297B15AADD7A8A644/1228718.png"/>
                <ul>
                    <li>
                        <h4>
                            <image class="masteryIcon" src="https://render.guildwars2.com/file/EC25C613ED2A35DB4256F0DF4A5F19389765D8E6/1228647.png" alt="Noblesse Oblige icon"/>
                            Noblesse Oblige
                        </h4>
                        <p>
                            Faster reviving of downed players. <br/>
                            This is DISABLED in Challenge Mode content, such as Raids, Strikes, and Convergences.
                        </p>
                    </li>
                    <li>
                        <h4>
                            <image class="masteryIcon" src="https://render.guildwars2.com/file/A41824167F010C0667B3F697DE03E132BD01ED01/1228646.png" alt="Advanced Logistics icon"/>
                            Advanced Logistics
                        </h4>
                        <p>
                            Autoloot.<br/>
                            Not having to run around looting every mob is a huge time save.
                        </p>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <!--CCMovementMasteries1-->
    <Ad dataAdSlot="9941922205" dataAdFormat="horizontal" />
    <li id="MasteriesHeartofThorns"class="hotborder">
        <h2>Heart of Thorns</h2>
        <ul>
            <li>
                <h3>Gliding - 31 points</h3>
                <image class="masteryHeaders" src="https://render.guildwars2.com/file/68A54A21C030C5BA742603D3BF0305F344746F95/1228722.png" />
                <ul>
                    <li>
                        <h4>
                            <image class="masteryIcon" src="https://render.guildwars2.com/file/A13A40AC0D4F0507780039C24B19D6E9C0D2FE1F/962098.png" alt="Glider Basics icon" />
                            Glider Basics
                        </h4>
                        <p>
                            The basic ability to glide.
                        </p>
                    </li>
                    <li>
                        <h4>
                            <image class="masteryIcon" src="https://render.guildwars2.com/file/27C9EDD3F2516E486299ABF50929E759F5BCC4E8/962097.png" alt="Updraft Use icon" style="width:50px;float:left;" />
                            Updraft Use
                        </h4>
                        <p>
                             Use updrafts with the glider.
                        </p>
                    </li>
                    <li>
                        <h4>
                            <image class="masteryIcon" src="https://render.guildwars2.com/file/4D1CAE2F963C7C205BB06C0572040AD33B5BEBD8/962096.png" alt="Lean Techniques icon" style="width:50px;" />
                            Lean Techniques
                        </h4>
                        <p>
                            Move forward and back to speedup and slowdown while gliding. Drains endurance.
                        </p>
                    </li>
                    <li>
                        <h4>
                            <image class="masteryIcon" src="https://render.guildwars2.com/file/610A10527F20E26DBF5402FD4131F1EDAAE6D960/962095.png" alt="Stealh Gliding icon" style="width:50px;" />
                            Stealth Gliding
                        </h4>
                        <p>
                            Stealth while gliding by dodging.
                        </p>
                    </li>
                    <li>
                        <h4>
                            <image class="masteryIcon" src="https://render.guildwars2.com/file/FFD8BC49B85A794B729ABBE8DB1102F7D328D86A/962093.png" alt="Advanced Gliding icon" style="width:50px;" />
                            Advanced Gliding
                        </h4>
                        <p>
                            Gliding doesn't drain endurance. Lean Techniques still do.
                        </p>
                    </li>
                    <li>
                        <h4>
                            <image class="masteryIcon" src="https://render.guildwars2.com/file/A003F17064F5300F0C0705E8DB76D4B3EF51CFD3/962094.png" alt="Leyline Gliding icon" style="width:50px;" />
                            Leyline Gliding
                        </h4>
                        <p>
                            Ley lines can be rode while gliding.
                        </p>
                    </li>
                </ul>
            </li>
            <li>
                <h3>Itzel Lore - 1 point</h3>
                <image class="masteryHeaders" src="https://render.guildwars2.com/file/F2ED9E6B330AA015B8AD06FF222715284E1BC622/1228723.png"/>
                <ul>
                    <li>
                        <h4>
                            <image class="masteryIcon" src="https://render.guildwars2.com/file/C1D5574EF6B9B4CC7AB7EC3600993698D39BF975/1228645.png" alt="Bouncing Mushroom icon"/>
                            Bouncing Mushrooms
                        </h4>
                        <p>
                            You can bounce off bouncing mushrooms.
                        </p>
                    </li>
                </ul>
            </li>
            <li>
                <h3>Ancient Magics - 10 points</h3>
                <image class="masteryHeaders" src="https://render.guildwars2.com/file/929FEABC05B4C9CAA978E0680908E4735CC2C5BC/1477050.png" />

                <ul>
                    <li>
                        <h4>
                            <image class="masteryIcon" src="https://render.guildwars2.com/file/FCFA76723249B00D35FDED21DFD2CC409F4F26D3/1635191.png" alt="Spectral Aid icon"/>
                            Spectral Aid
                        </h4>
                        <p>
                            While not a movement skill, it's a great skill to use if you're downed. 
                            After charging for a few seconds, you deal a large chunk of damage over a large area and hopefully kill a random mob to for you to rez.
                        </p>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <!--CCMovementMasteries2-->
    <Ad dataAdSlot="1331954387" dataAdFormat="horizontal" />
    <li id="MasteriesPathofFire" class="pofborder">
        <h2>Path of Fire</h2> 
        <ul>
            <li>
                <h3 id="RaptorMasteries">Raptor Mount - 10 points</h3>
                <image class="masteryHeaders" src="https://render.guildwars2.com/file/23050D7A5B71477A0201FB1EAFC84A0645E7B772/1770237.png" />

                <ul>
                    <li>
                        <h4>
                            <image class="masteryIcon" src="https://render.guildwars2.com/file/DD07AF0FEECE67AD112E45EB4E6366454216B966/1770197.png" alt="Round Up icon"/>
                            Round up
                        </h4>
                        <p>
                            Raptor engage skill now pulls nearby enemys together.
                        </p>
                    </li>
                    <li>
                        <h4>
                            <image class="masteryIcon" src="https://render.guildwars2.com/file/AF269F5D52B2B13A3CF76B800590C64940DA542D/1770198.png" alt="Canyon Jumping icon"/>
                            Canyon Jumping
                        </h4>
                        <p>
                            Raptor can leap further.
                        </p>
                    </li>   
                    <li>
                        <h4>
                            <image class="masteryIcon" src="https://render.guildwars2.com/file/DAB770DEE1E0BCA673CF2D1DD2F69CAD0CD4469C/1770199.png" alt="Ravenous Discipline icon"/>
                            Ravenous Discipline
                        </h4>
                        <p>
                            All mounts get increased damage on their engage skill.
                        </p>
                    </li>
                </ul>
            </li>
            <li>
                <h3 id="SpringerMasteries">Springer Mount - 14 points</h3>
                <image class="masteryHeaders" src="https://render.guildwars2.com/file/D46208E42E1B53790D485D05473F2A081145806B/1770239.png" />
                <ul>
                    <li>
                        <h4>
                            <image class="masteryIcon" src="https://render.guildwars2.com/file/2BE13847756FBBFC06906DF1D7BD68FB961EDE26/1770192.png" alt="Masterful Descent icon"/>
                            Masterful Descent
                        </h4>
                        <p>
                            All mounts gain greater fall damage tolerance (not immune, just reduced damage).
                        </p>
                    </li>
                </ul>
            </li>
            <li>
                <h3>Skimmer Mount - 14 points</h3>
                <image class="masteryHeaders" src="https://render.guildwars2.com/file/9E3C519270CEECA95E107DA27B980C7A1AC6AAF9/1770240.png" />
                <ul>
                    <li>
                        <h4>
                            <image class="masteryIcon" src="https://render.guildwars2.com/file/AF5F616037EB6AA8DEDD944BF241460EC43847DF/1770196.png" alt="Nimble Benevolence icon"/>
                            Nimble Benevolence
                        </h4>
                        <p>
                            All mounts get Nimble Recovery. If you get knocked off or engage with a mount, you'll gain swiftness and protection.
                        </p>
                    </li>
                    <li>
                        <h4>
                            <image class="masteryIcon" src="https://render.guildwars2.com/file/551A131E52F7BB353404E15A3EA3020E52A2C5E3/2329549.png" />
                            Skimming the Depths
                        </h4>
                        <p>
                            The Skimmer can now swim underwater.
                        </p>
                    </li>
                </ul>
            </li>
            <li>
                <h3>Jackal Mount - 14 points</h3>
                <image class="masteryHeaders" src="https://render.guildwars2.com/file/0343626BF40452A6466C71EBA1539A0204354C01/1770238.png"/>
                <ul>
                    <li>
                        <h4>
                            <image class="masteryIcon" src="https://render.guildwars2.com/file/1FC128CD155E1405F932F7C7DEFC726AB55A3B06/1770188.png" alt="Adroit Evasion icon"/>
                            Adroit Evasion
                        </h4>
                        <p>
                            All mounts gain evasion on movement abilities.
                        </p>
                    </li>
                </ul>
            </li>
            <li>
                <h3>Roller Beetle Mount - 12 points</h3>
                <image class="masteryHeaders" src="https://render.guildwars2.com/file/BF3A0B31191F79CB1B900F0138EF0EBC069BE1CA/1999773.png" />
                <ul> 
                    <li>
                        <h4>
                            <image class="masteryIcon" src="https://render.guildwars2.com/file/72966734E0F4E6EBC37C39272A0CF74B5E9DB992/1999768.png" alt="Big Air Icon"/>
                            Big Air
                        </h4>
                        <p>
                            Perform tricks in the air to regain endurance. Penalized if you land badly.
                        </p>
                    </li>
                </ul>
            </li>
            <li>
                <h3>Griffon Mount - 12 points</h3>
                <image class="masteryHeaders" src="https://render.guildwars2.com/file/C1F1C2410F0203BB43EEFD01FE9FC3FB1F785FE6/1824252.png"/>
                <ul>
                    <li>
                        <h4>
                            <image class="masteryIcon" src="https://render.guildwars2.com/file/3A0E5BAAB3FEFDE7B465703C63B0EC61C22094AE/1824227.png" alt="Soaring Rescue icon"/>
                            Soaring Rescue
                        </h4>
                        <p>
                            You can mount and dismount your griffon midair.
                        </p>
                    </li>
                    <li>
                        <h4>
                            <image class="masteryIcon" src="https://render.guildwars2.com/file/CECD576710393748E9B500ECE1387E33BFF1CE1D/1824228.png" alt="Aerial Prowes icon"/>
                            Aerial Prowess
                        </h4>
                        <p>
                            You can dive and climb.
                        </p>
                    </li>
                    <li>
                        <h4>                        
                            <image class="masteryIcon" src="https://render.guildwars2.com/file/66591AC7EF0236283C2FB557945C264C3748E57B/1824229.png" alt="Aerieal Finesse icon"/>
                            Aerial Finesse
                        </h4>
                        <p>
                            Flap while diving to get more speed.
                        </p>
                    </li>
                </ul>
            </li>
            <li>
                <h3>Skyscale Mount - 12 points</h3>
                <image class="masteryHeaders" src="https://render.guildwars2.com/file/F25BD14B42D20C985C1E0E0A012C23BA9204542C/2141729.png" />
                <ul>
                    <li>
                        <h4>
                            <image class="masteryIcon" src="https://render.guildwars2.com/file/ED7865C74DFBA540E9AADB3A9BF57D4948ED9603/2141722.png" alt="Air Rescue Icon"/>
                            Air Rescue
                        </h4>
                        <p>
                            You can mount and dismount your skyscale midair.
                        </p>
                    </li>
                    <li>
                        <h4>
                            <image class="masteryIcon" src="https://render.guildwars2.com/file/343EAADBB2060248C6791A0C085269A17B43E9EF/2141724.png" alt="Wall Launch Icon"/>
                            Wall Launch
                        </h4>
                        <p>
                            You can launch off a wall, gaining some height.
                        </p>
                    </li>
                </ul>
            </li>
            <li>
                <h3>Crystal Champion - 14 points</h3>
                <image class="masteryHeaders" src="https://render.guildwars2.com/file/020C6454737408ED437D9D7E6D096872F5D66B73/1896046.png" />
                <ul>
                    <li>
                        <h4>
                            <image class="masteryIcon" src="https://render.guildwars2.com/file/B36BD2E2A82367F40C280B47787C164A9BF2D9D1/1948147.png" alt="Bond Of Life Icon"/>
                            Bond of Life
                        </h4>
                        <p>
                            You share YOUR hp with your mount. While this makes your mount tankier, if your hp goes to 0, you go down instead of just dismounting.
                        </p>
                    </li>
                    <li>
                        <h4>
                            <image class ="masteryIcon" src="https://render.guildwars2.com/file/A02FB23C6FDD08E00FBFAD55BFB912904F04B572/2039796.png" alt="Bond Of Vigor Icon"/>
                            Bond of Vigor
                        </h4>
                        <p>
                            Increases your endurance regen rate significantly for a short time. I use this often to gain more height or speed.
                        </p> 
                    </li>
                    <li>
                        <h4>
                            <image class="masteryIcon" src="https://render.guildwars2.com/file/1566A00060ECB0D93DFBADB22542CF6B0C0ED540/2084754.png" alt="Bond Of Faith Icon"/>
                            Bond of Faith
                        </h4>
                        <p>
                            Lets you launch from your mount a good distance very quickly. It's weakness is you can't really control it while in use.
                        </p>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <!--CCMovementMasteries3-->
    <Ad dataAdSlot="9018872719" dataAdFormat="horizontal" />
    <li id="MasteriesIcebroodSaga" class="ibsborder">
        <h2>Ice Brood Saga</h2>
        <ul>
            <li>
                <h3>United Legions Waystation Synchonization - 12 points</h3>
                <image class="masteryHeaders" src="https://render.guildwars2.com/file/AB79F9789F16B8F8B99D0D22E16A60630C33FDCC/2293646.png" />
                <ul>
                    <li>
                        <h4>
                            <image class="masteryIcon" src="https://render.guildwars2.com/file/F23627C4AA96FA4E130CE01911D60E045E541B00/2314931.png" alt="Bond Of Faith Icon"/>
                            Ash Legion Mount Stealth
                        </h4>
                        <p>
                            Mounts can now stealth.
                        </p>
                    </li>
                </ul>
            </li>
        </ul>
    </li>

    <li id="MasteriesEndofDragons" class="eodborder">
        <h2>End of Dragons</h2>
        <ul>
            <li>
                <h3>Jade Bots - 15 points</h3>
                <image class="masteryHeaders" src="https://render.guildwars2.com/file/1711033F9546551537B906EE33CF09919B15E6E4/2604770.png" />
                <ul>
                    <li>
                        <h4>
                            <image class="masteryIcon" src="https://render.guildwars2.com/file/EAA9B1C80148D91A2298FEBE0670FECA18B87131/2604709.png" alt="Gliding Booster Icon"/>
                            Gliding Booster
                        </h4>
                        <p>
                            The Jade Bot boosts upward while gliding.
                        </p>
                    </li>
                    <li>
                        <h4>
                            <image class="masteryIcon" src="https://render.guildwars2.com/file/7B4B053650AF470DFDB355F5BAB81BC2B01FEFC5/2604713.png" alt="Rescue Protocol Icon"/>
                            Rescue Protocol
                        </h4>
                        <p>
                            The Jade Bot can now help rally you when you are downed. Allowed to equip tier 10 power cores.
                        </p>
                    </li>
                </ul>
            </li>
            <li>
                <h3>Turtle Mount - 20 points total</h3>
                <image class="masteryHeaders" src="https://render.guildwars2.com/file/7D17D24C08027FE1066A10B221F60542A422E80B/2604762.png" />
                <ul>
                    <li>
                        <h4>
                            <image class="masteryIcon" src="https://render.guildwars2.com/file/DB0C68675D94C3DDFC9A58DEDBCCE99BCBAF0554/2604718.png" alt="Sharing is Caring Icon"/>
                            Sharing is Caring
                        </h4>
                        <p>
                            50% increased health to all mounts.
                        </p>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <!--CCMovementMasteries4-->
    <Ad dataAdSlot="7625899997" dataAdFormat="horizontal" />
    <li id="MasteriesSecretsoftheObscure" class="sotoborder">
        <h2>Secrets of the Obscure</h2>
        <ul>
            <li>
                <h3>Heart of the Obscure Research - 14 points</h3>
                <image class="masteryHeaders" src="https://render.guildwars2.com/file/06B8D3B0C5B2F2B8E80579BC9F5DB5B776666BC7/3124925.png" />
                <ul>
                    <li>
                        <h4>
                            <image class="masteryIcon" src="https://render.guildwars2.com/file/51F9F7DA7AAFA52B0A019FCBF2709AE7DEDE1AC5/3124881.png" alt="Updraft Generator Icon"/>
                            Updraft Generator
                        </h4>
                        <p>
                            Flying mounts can use Updrafts to climb and gain energy.
                        </p>
                    </li>
                    <li>
                        <h4>
                            <image class="masteryIcon" src="https://render.guildwars2.com/file/DDFFAD2E640DB84264711DC4750D16C89ACAA10C/3124883.png" alt="Ley-Loom Operation Icon"/>
                            Ley-Loom Operation
                        </h4>
                        <p>
                            Flying mounts can ride ley lines to travel.
                        </p>
                    </li>
                </ul>
            </li>
            <li>
                <h3>Flight Training - 25 points</h3>
                <image class="masteryHeaders" src="https://render.guildwars2.com/file/9434F6805AC5F9B5F5F1310038F60D2EC2A4284E/3124929.png" />
                <p>
                    This line includes the SotO skyscale masteries as well as some general flying ones.
                </p>
                <ul>
                    <li>
                        <h4>
                            <image class ="masteryIcon" src="https://render.guildwars2.com/file/4568B0C768A80FBFC49BF663300BE3F3D96AF979/3124889.png" alt="Who Rescues Whom? Icon"/>
                            Who Rescues Whom?
                        </h4>
                        <p>
                            Mount and dismount midair.
                        </p>
                    </li>
                    <li>
                        <h4>
                            <image class="masteryIcon" src="https://render.guildwars2.com/file/6292A816339A7CB412ED9B62DC4AAF0301BFB9D6/3124890.png" alt="Fireball Icon"/>
                            Fireball
                        </h4>
                        <p>
                            Skyscale gets a fireball attack.
                        </p>
                    </li>
                    <li>
                        <h4>
                            <image class="masteryIcon" src="https://render.guildwars2.com/file/4EC9C70C051C7CB4B5B5CE25FC71ECC49655CAC1/3124891.png" alt="Wall Spring Icon"/>
                            Wall Spring
                        </h4>
                        <p>
                            Allows skyscale to leap off the side of a wall to gain additional air. If you also have the PoF mastery, it's improved.
                        </p>
                    </li>
                    <li>
                        <h4>
                            <image class="masteryIcon" src="https://render.guildwars2.com/file/CBAE43192E5BC427FAB0C49F03EDB5BE616BE2FB/3124892.png" alt="Enhanced Updrafts Icon"/>
                            Enhanced Updrafts
                        </h4>
                        <p>
                            Allows flying mounts to use updrafts.
                        </p>
                    </li>
                    <li>
                        <h4>
                            <image class="masteryIcon" src="https://render.guildwars2.com/file/EDD15BE3C406F652377B95733608A90C961A3B4E/3124893.png" alt="Combat Launch Icon"/>
                            Combat Launch
                        </h4>
                        <p>
                            While in combat, launch up and get on skyscale.
                        </p>
                    </li>
                    <li>
                        <h4>
                            <image class="masteryIcon" src="https://render.guildwars2.com/file/FC5C0372FE0ED15A0E774ED11BC1179A000CA104/3124894.png" alt="Ley-Line Acclimation Icon"/>
                            Ley-Line Acclimation
                        </h4>
                        <p>
                            Flying mounts can ride ley-lines.
                        </p>
                    </li>
                    <li>
                        <h4>
                            <image class="masteryIcon" src="https://render.guildwars2.com/file/E4AD6608A55657FA36ADBA1A1C0AD14536796D6A/3124895.png" alt="Rising Spirits Icon"/>
                            Rising Spirits
                        </h4>
                        <p>
                            Flying mounts regain endurance upon using an updraft or leyline.
                        </p>
                    </li>   
                </ul>
            </li>
            <li>
                <h3>Astral Ward - 20 points</h3>
                <image class="masteryHeaders" src="https://render.guildwars2.com/file/E8423B6B090F0FD7F305C941BF7668D17A6AE243/3124927.png" />
                <p>
                    No movement,  but you'll want these if you are making an Obsidian legendary armor set.
                </p>
                <ul>
                    <li>
                        <h4>
                            <image class="masteryIcon" src="https://render.guildwars2.com/file/E9323CB167E63CF50C7D505914C3169555FBE770/3256320.png" alt="Obby Armor Crafting Icon"/>
                            Obsidian Armor Crafting
                        </h4>
                        <p>
                            Legendary armor recipes are purchasable from Lyhr.
                        </p>
                    </li>
                </ul>
            </li>
            <li>
                <h3>Inner Nayos - 16 points</h3>
                <image class="masteryHeaders" src="https://render.guildwars2.com/file/E4927F361F990E0F360C7C76745CE6EB14234206/3189305.png" />
                <p>
                    No movement, but gives bonuses related to Convergences.
                </p>
                <ul>
                    <li>
                        <h4>
                            <image class="masteryIcon" src="https://render.guildwars2.com/file/5517FDAC5DB54808D517C6E1B800ED1ED2552508/3189297.png" alt="Sieging Fireball Icon"/>
                            Sieging Fireball
                        </h4>
                        <p>
                            Skyscale's Fireball now does siege damage.
                        </p>
                    </li>
                    <li>
                        <h4>
                            <image class="masteryIcon" src="https://render.guildwars2.com/file/3CA3644E1D03DA15FFF125590D4FEAD60A476315/3189298.png" alt="Wizard's Blessing Icon"/>
                            Wizard's Blessing
                        </h4>
                        <p>
                            Turning in essence gives <a href="https://wiki.guildwars2.com/wiki/Wizard%27s_Blessing_(effect)">Wizard's Blessing</a>.
                        </p>
                    </li>
                    <li>
                        <h4>
                            <image class="masteryIcon" src="https://render.guildwars2.com/file/A0F8C068C1010DC5D0B3EEBF48BF4A32B8C55774/3189299.png" alt="Wisp Pockets Icon"/>
                            Wisp Pockets
                        </h4>
                        <p>
                            Essence can be gathered even in wisp form.
                        </p>
                    </li>
                    <li>
                        <h4>
                            <image class="masteryIcon" src="https://render.guildwars2.com/file/9FAF90CEC4F4554E36C8EE3A54FA589BA2F75132/3189300.png" alt="Essence Attunement Icon"/>
                            Essence Attunement
                        </h4>
                        <p>
                            Essence can now be stacked to 50. Picking up essence now heals.
                        </p>
                    </li>
                    <li>
                        <h4>
                            <image class="masteryIcon" src="https://render.guildwars2.com/file/7D1877CC41AE0D54F8E2C5DFFAFE0D550448B3F7/3189301.png" alt="Convergence Mastery Icon"/>
                            Convergence Mastery
                        </h4>
                        <p>
                            More rewards from convergences.
                        </p>
                    </li>
                </ul>
            </li>
        </ul>
    </li>

    <li id="MasteriesJanthirWilds" class="jwborder">
        <h2>Janthir Wilds</h2>
        <ul>
            <li>
                <h3>Warclaw Mount - 20 points</h3>
                <image class="masteryHeaders" src="https://render.guildwars2.com/file/487B2B93E3B5F0AC062C68A2FBEC3ED498D4D3FD/3379059.png" />
                <ul>
                    <li>
                        <h4>
                            <image class="masteryIcon" src="/icons/Masteries/Warclaw/Nine_Lives.png" alt="Nine Lives Icon"/>
                            Nine Lives
                        </h4>
                        <p>
                            no fall damage while on the warclaw.
                        </p>
                    </li>
                    <li>
                        <h4>
                            <image class="masteryIcon" src="/icons/Masteries/Warclaw/Feline_Reflexes.png" alt="Feline Reflexes Icon"/>
                            Feline Reflexes
                        </h4>
                        <p>
                            midair jumping while on the warclaw.
                        </p>
                    </li>
                    <li>
                        <h4>
                            <image class="masteryIcon" src="/icons/Masteries/Warclaw/Wild_Claws.png" alt="Wild Claws Icon"/>
                            Wild Claws
                        </h4>
                        <p>
                            When dashing with the warclaw, if you hit a foe you gain a little endurance at the end of the dash.
                        </p>
                    </li>
                    <li>
                        <h4>
                            <image class="masteryIcon" src="/icons/Masteries/Warclaw/Feral_Fury.png" alt="Feral Fury Icon"/>
                            Feral Fury
                        </h4>
                        <p>
                            Skill 4 and 1 do increased CC.
                        </p>
                    </li>
                    <li>
                        <h4>
                            <image class="masteryIcon" src="/icons/Masteries/Warclaw/Well_Rested.png" alt="Well Rested Icon"/>
                            Well Rested
                        </h4>
                        <p>
                            20% endurance regen for ALL mounts.
                        </p>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <!--CCMovementMasteries5-->
    <Ad dataAdSlot="6196094793" dataAdFormat="horizontal" />
    <li id="MasteriesVisionsofEternity" class="voeborder">
        <h2>Visions of Eternity</h2>
        <ul>

            <!-- Lucky Shield does NOT survive a map swap, and is gotten from survivalists supply stash -->
            <!-- It MIGHT be in the VoE Converge, but I wouldn't count on it. -->
            <!--
            <li>
                <h3>Castoran Survivalist - 13 points</h3>
                <image class="masteryHeaders" src="https://render.guildwars2.com/file/2C7397D1A4F6BAB099F94ED27738E6937A90BA44/3713125.png" />
                <ul>
                    <li>
                        <h4>
                            <image class="masteryIcon" src="https://render.guildwars2.com/file/DDD12F03AB0CCB490F5D90BDFB3A5CC1D4FD1A77/3713077.png"/>
                            Lucky Shield
                        </h4>
                        <p>
                            While IN CASTORA<br/> 
                            Create a 50%hp barrier when your hp reaces 25%. 30sec CD.
                        </p>
                    </li>
                </ul>
            </li>
            -->
            <li>
                <h3>Skimmer Adaptation - 10 points</h3>
                <image class="masteryHeaders" src="https://render.guildwars2.com/file/49F62CE6C3212BCABCA205F4766209C474377547/3713127.png" />
                <ul>
                    <li>
                        <h4>
                            <image class="masteryIcon" src="https://render.guildwars2.com/file/CAB4975575CAB107CC162979ED42B56929550DD7/3713079.png" />
                            Advance Hydrodynamics
                        </h4>
                        <p>
                            Unlocks diving underwater.<br />
                            If you also have Skimming the Depths, 
                            increases ground speed and grants 3 seconds of stealth upon entering or exiting water.
                        </p>
                    </li>
                    <li>
                        <h4>
                            <image class="masteryIcon" src="https://render.guildwars2.com/file/76B76A022D40F0FE3732734D43F63CCC0A53ECCF/3713080.png" />
                            Castoran Intuition
                        </h4>
                        <p>
                            The Skimmer's Barrel Roll skill won't dismount you unless you HOLD the key down.<br/>
                            Also gains an Aetherlocation skill to find treasure underwater.
                        </p>
                    </li>
                    <li>
                        <h4>
                            <image class="masteryIcon" src="https://render.guildwars2.com/file/C3761A1B313876C9D33BCB681A3AA739D30AEC03/3713081.png" />
                            Convergent Evolution
                        </h4>
                        <p>
                            Gain Slipstream Boost. 
                            Your Skimmer is fast while boosted and will gain height when using Hover High.<br />
                            Gain Water Jets. Fires projectiles, damaging enemies and healing allies.
                        </p>
                    </li>
                    <li>
                        <h4>
                            <image class="masteryIcon" src="https://render.guildwars2.com/file/0D640356AC77460B6E2DC30890F6B310469DCAE7/3713082.png" />
                            Riptide Rider
                        </h4>
                        <p>
                            Your Skimmer can ride ley lines and updrafts.
                        </p>
                    </li>
                </ul>
            </li>

            <!--Prosperity Unending? Improved rewards from event chests-->
            <!--
            <li>
                <h3>Wild Castoran Magic</h3>
                <image class="masteryHeaders" src="https://render.guildwars2.com/file/214E2EA7E7B0D4050CAA56A9EFF2170FB4DA41C3/3713126.png" />
            </li>
            -->
        </ul>
    </li>
</ul>