<h2>Mounts</h2>
<p>
    <!--
    Mounts in gw2 are second to none.
    -->
</p>
<ul>
    <li>
        <image src="https://render.guildwars2.com/file/2F4AAA52F573C5425BFCD7525FB70C9E6DCAD791/1766903.png" alt="raptor" style="width:50px;" />
        <h3 style="color:rgb(255,100,100);">Raptor</h3>
        <p>
            Unlocks automatically at level 10 if you own ANY expansion. <span style="color:rgb(255,100,100);">Raptor</span> Masteries are trained in Path of Fire.
        </p>
        <p>
            As your first mount, the <span style="color:rgb(255,100,100);">Raptor</span> is a good A to B mount, having an average run speed, and a jump that lets you move any smaller gaps.
            Once you train the masteries, it'll jump further and pull enemies together with Tail Spin.
            At max mastery, it increases the damage of all the other mounts engage skills.
        </p>
    </li>
    <li>
        <image src="https://render.guildwars2.com/file/EAD3540691D702A52E617140055725DF41BBBA49/1766899.png" alt="Springer" style="width:50px;" />
        <h3 style="color:rgb(255,255,0);">Springer</h3>
        <p>
            Own PoF, EoD, or JW to unlock. <span style="color:rgb(255,255,0);">Springer</span> Masteries are trained in Path of Fire.
        </p>
        <p>
            The <span style="color:rgb(255,255,0);">Springer</span> can be unlocked 3 ways:
        </p>
        <ul>
            <li>
                <h4>Path of Fire</h4>
                <p>
                    Completing the heart at Highjump Ranch[&BCMKAAA=] and purchasing it for 50 Trade Contracts and 1 Gold.
                </p>
            </li>
            <li>
                <h4>End of Dragons</h4>
                <p>
                    Talking to the heart npc Lieutenant Zhao in Grub Lane, east of Lutgardis Plaza Waypoint[&BCANAAA=]. You do not need to complete the heart.
                </p>
            </li>
            <li>
                <h4>Janthir Wilds</h4>
                <p>
                    Starting the Janthir Wilds story. Clearly this is the easiest way.
                </p>
            </li>
        </ul>
        <p>
            The <span style="color:rgb(255,255,0);">Springer</span> is the second mount you can get in PoF, after <span style="color:rgb(255,100,100);">Raptor</span>. 
            It can jump high and has a high CC dismount skill.
            Training the masteries will let the Springer jump higher, have more CC on Cannonball, and reduces it's fall damage.
            At max mastery, all mounts gain the reduced fall damage.
        </p>
        <p>
            Sadly, the <span style="color:rgb(255,255,0);">Springer</span> gets outclassed in both how high it can jump, and how much CC it can do. 
            The Skyscale can scale significantly higher cliffs,
            and the Warclaw can do significantly more breakbar damage.
        </p>
    </li>
    <li>
        <image src="https://render.guildwars2.com/file/BD357CB6A25EEFA961B974B6E980DFB0A396A5A4/1766901.png" alt="Skimmer" style="width:50px;" />
        <h3 style="color:rgb(122,143,239)">Skimmer</h3>
        <p>
            Own PoF to unlock and train the <span style="color:rgb(122,143,239);">Skimmer</span>.
        </p>
        <p>
            To unlock the <span style="color:rgb(122,143,239);">Skimmer</span>, you must complete the heart at Skimmer Ranch [&BGcKAAA=] and then purchase it for 50 Trade Contracts and 4 Gold.
        </p>
        <p>
            The <span style="color:rgb(122,143,239);">Skimmer</span> is THE water mount in Guild Wars 2. 
            It's able to cruise above or submarine below and get around quickly. 
            The <span style="color:rgb(122,143,239);">Skimmer</span> can also float over land but is slower than most other mounts outside of the water.
        </p>
        <p>
            Upgrading the masteries will let it hover higher, heal allies with Barrel Roll, and swim underwater.
            Nimble Recovery will give you Protection and Swiftness whenever you're knocked off of your <span style="color:rgb(122,143,239);">Skimmer</span>.
            Nimble Benevolence will allow all your mounts to take on the same effect.
            The final mastery, Skimming the Depths, allows your <span style="color:rgb(122,143,239);">Skimmer</span> to swim underwater.
        </p>
        <p>
            The SotO convergences have some water that will dismount you if you run into the deep end. The <span style="color:rgb(122,143,239);">Skimmer</span> can get you out faster than just swimming.
        </p>
    </li>
    <li>
        <image src="https://render.guildwars2.com/file/01D6BF672FDBC1A22D11CF1090BCAE7A05372B65/1766897.png" alt="Jackal" style="width:50px;" />
        <h3 style="color:rgb(150,228,255);">Jackal</h3>
        <p>
            Own PoF to unlock and train the Jackal.
        </p>
        <p>
            To unlock the <span style="color:rgb(150,228,255);">Jackal</span>, you must complete the heart at the Djinn Enclave [&BOYKAAA=] and then purchase it for 200 Trade Contracts and 20 Gold.
        </p>
        <p>
            The <span style="color:rgb(150,228,255);">Jackal</span> can move by blinking, dissappearing and reappearing a short distance away. <span style="color:rgb(150,228,255);">Jackals</span> can also use sand portals to teleport larger distances.
        </p>
        <p>
            Training the <span style="color:rgb(150,228,255);">Jackal</span> masteries will allow it to use the sand portals, and grant a sand barrier to allies when it pounces.
            The last mastery, Adroit Evasion, lets all mounts evade attacks when using a movement ability.
        </p>
        <p>
            While not all that useful outside of PoF, granting evasion on movement abilities for all mounts makes it worth spending the points on the <span style="color:rgb(150,228,255);">Jackal</span>.
        </p>
    </li>
    <li>
        <image src="https://render.guildwars2.com/file/9E4E086CC9EE03D0F196A1FAE30AFF9123A8A0A6/1998894.png" alt="Roller Beetle" style="width:50px;" />
        <h3 style="color:rgb(221,144,73);">Roller Beetle</h3>
            <p>
                Own PoF and LWS4 to unlock and train the Roller Beetle.
            </p>
        Own PoF and LWS4 to unlock and train masteries.<br>
            The roller beetle is a great mount if you have a long distance to cover and relatively flat land to traverse, having the ability to go just as fast as the griffon.<br>
    </li>
    <li>
        <image src="https://render.guildwars2.com/file/0307F624D93C09236934C3CEE63063CD1C96ACAB/1822130.png" alt="Griffon" style="width:50px;"/>
        <h3 style="color:rgb(160,137,255);">Griffon</h3>
        <p>
            Own PoF to unlock and train masteries.
        </p>
        <p>
            You must complete the entire story of PoF to unlock the <a href="https://wiki.guildwars2.com/wiki/Griffon#Unlocking">questline</a> for the <span style="color:rgb(160,137,255);">Griffon</span>.
            This quest will take 250 Gold to complete.
        </p>
        
    </li>
    <li>
        <image src="https://render.guildwars2.com/file/461C02AE745D07C69EC2FBC1AE10E140D8E3E96B/2140530.png" alt="Skyscale" style="width:50px;" />
        <h3 style="color:rgb(255,182,255);">Skyscale</h3>
        <p>
            Own PoF and LWS4 OR SotO to unlock and train masteries. Getting both the PoF and SotO masteries increases skills further than just one.
        </p>
        <p>
            The skyscale is extremely versatile, having the highest vertical and able to fly.
        </p>
    </li>
    <li>
        <image src="https://render.guildwars2.com/file/91080E41EE1CEBDBE4056D54F1217835FCF8BCC0/2565493.png" alt="Turtle" style="width:50px;" />
        <h3 style="color:rgb(0,241,113)">Siege Turtle</h3>
        <p>
            Own EoD to unlock and train masteries.
        </p>
        <p>
            Not particularly useful in convergences, the turtle can be used to attempt to get people stuck in the walls out.
        </p>
    </li>
    <li>
        <image src="https://render.guildwars2.com/file/3E1C0A4FB27ED0CCAB304A13AAF16AA24F37D606/2109664.png" alt="Warclaw" style="width:50px;" />
        <h3 style="color:rgb(165,230,219);">Warclaw</h3>
        <p>
            Own PoF to unlock the WvW version (playable in PvE). No Masteries.
            Own JW to unlock and train masteries.
        </p>
        <p>
            The warclaw is a great mount for rough terrain, as it can just bounce over anything that's not flat.
            It also has great CC skills, having the ability to put out over 1k breakbar damage in under 10 seconds.
        </p>
    </li>
</ul>