<h2 id="Mounts">Mounts</h2>
<p>
    Mounts in Guild Wars 2 all have unique skills and try to fill a niche role. Once you unlock a mount, it unlocks account wide.
</p>
<ul>
    <li>
        <h3 class="raptor">
            <image src="https://render.guildwars2.com/file/2F4AAA52F573C5425BFCD7525FB70C9E6DCAD791/1766903.png" alt="raptor" style="width:50px;" />
            <a href="https://wiki.guildwars2.com/wiki/Raptor" target="_blank">Raptor</a>
        </h3>
        <ul>
            <li>
                Unlock: Owning ANY expansion OR the Guild Wars 2 Starter Pack and being level 10 or above.
            </li>
            <li>
                Masteries: <span class="pof">Path of Fire</span>
            </li>
            <li>
                Combat Mount: NO
            </li>
            <li>
                <p>
                    As your first mount, the <span class="raptor">Raptor</span> is a good A to B mount, having an average run speed, and a jump that lets you traverse any smaller gaps with ease.
                    Once you train the masteries, your <span class="raptor">Raptor</span> will jump further and pull enemies together with Tail Spin.
                    At max mastery, it increases the damage of all the other mounts engage skills.
                </p>
            </li>
        </ul>
    </li>
    <li>
        <h3 class="springer">
            <image src="https://render.guildwars2.com/file/EAD3540691D702A52E617140055725DF41BBBA49/1766899.png" alt="Springer" style="width:50px;" />
            <a href="https://wiki.guildwars2.com/wiki/Springer" target="_blank">Springer</a>
        </h3>
        <ul>
            <li>
                Unlock: <span class="pof">Path of Fire</span> || <span class="eod">End of Dragons</span> || <span class="jw">Janthir Wilds</span> || <span class="voe">Visions of Eternity</span>
            </li>
            <li>
                Masteries: <span class="pof">Path of Fire</span>
            </li>
            <li>
                Combat Mount: NO
            </li>
            <li>
                <p>
                    The <span class="springer">Springer</span> is the second mount you can get in PoF, after <span class="raptor">Raptor</span>.
                    It can jump high and has a high CC dismount skill.
                    Training the masteries will let the <span class="springer">Springer</span> jump higher, have more CC on Cannonball, and reduces it's fall damage.
                    At max mastery, all mounts gain the reduced fall damage.
                </p>
                <p>
                    Sadly, the <span class="springer">Springer</span> gets outclassed in both how high it can jump, and how much CC it can do.
                    The <span class="skyscale">Skyscale</span> can scale significantly higher cliffs,
                    and the <span class="warclaw">Warclaw</span> can do significantly more breakbar damage.
                </p>
            </li>
        </ul>        
    </li>
    <!--CCMovementMount1-->
    <!--
    <Ad dataAdSlot="9631996671" dataAdFormat="horizontal" />
    -->
    <li>
        
        <h3 class="skimmer">
            <image src="https://render.guildwars2.com/file/BD357CB6A25EEFA961B974B6E980DFB0A396A5A4/1766901.png" alt="Skimmer" style="width:50px;" />
            <a href="https://wiki.guildwars2.com/wiki/Skimmer" target="_blank">Skimmer</a>
        </h3>
        <ul>
            <li>
                Unlock: <span class="pof">Path of Fire</span> || <span class="voe">Visions of Eternity</span>
            </li>
            <li>
                Masteries: <span class="pof">Path of Fire</span> & <span class="voe">Visions of Eternity</span>
            </li>
            <li>
                Combat Mount: YES. Shared CD with <span class="warclaw">Warclaw</span>.
            </li>
            <li>
                <p>
                    The <span class="skimmer">Skimmer</span> is THE water mount in Guild Wars 2.
                    It's able to cruise above or submarine below and get around quickly.
                    The <span class="skimmer">Skimmer</span> can also float over land but is slower than most other mounts outside of the water.
                </p>
                <p>
                    Upgrading the masteries will let it hover higher, heal allies with Barrel Roll, and swim underwater.
                    Nimble Recovery will give you Protection and Swiftness whenever you're knocked off of your <span class="skimmer">Skimmer</span>.
                    Nimble Benevolence will allow all your mounts to take on the same effect.
                    The final mastery, Skimming the Depths, allows your <span class="skimmer">Skimmer</span> to swim underwater.
                </p>
            </li>
        </ul>
    </li>
    <li>
        
        <h3 class="jackal">
            <image src="https://render.guildwars2.com/file/01D6BF672FDBC1A22D11CF1090BCAE7A05372B65/1766897.png" alt="Jackal" style="width:50px;" />
            <a href="https://wiki.guildwars2.com/wiki/Jackal" target="_blank">Jackal</a>
        </h3>
        <ul>
            <li>
                Unlock: <span class="pof">Path of Fire</span>
            </li>
            <li>
                Masteries: <span class="pof">Path of Fire</span>
            </li>
            <li>
                Combat Mount: NO
            </li>
            <li>
                <p>
                    The <span class="jackal">Jackal</span> can move by blinking, dissappearing and reappearing a short distance away. <span class="jackal">Jackals</span> can also use sand portals to teleport larger distances.
                </p>
                <p>
                    Training the <span class="jackal">Jackal</span> masteries will allow it to use the sand portals, and grant a sand barrier to allies when it pounces.
                    The last mastery, Adroit Evasion, lets all mounts evade attacks when using a movement ability.
                </p>
                <p>
                    While the <span class="jackal">Jackal</span> is not all that useful outside of PoF, granting evasion on movement abilities for all mounts makes it worth spending the points on the <span class="jackal">Jackal</span>.
                </p>
            </li>
        </ul>
    </li>
    <!--CCMovementMount2-->
    <!--
        <Ad dataAdSlot="5614706529" dataAdFormat="horizontal" />
        -->
    <li>
        
        <h3 class="beetle">
            <image src="https://render.guildwars2.com/file/9E4E086CC9EE03D0F196A1FAE30AFF9123A8A0A6/1998894.png" alt="Roller Beetle" style="width:50px;" />
            <a href="https://wiki.guildwars2.com/wiki/Roller_Beetle" target="_blank">Roller Beetle</a>
        </h3>
        <ul>
            <li>
                Unlock: <span class="pof">Path of Fire: Living World Story 4</span>
            </li>
            <li>
                Masteries: <span class="pof">Path of Fire: Living World Story 4</span>
            </li>
            <li>
                Combat Mount: NO
            </li>
            <li>
                <p>
                    The roller beetle is a great mount if you have a long distance to cover and relatively flat land to traverse, having the ability to go just as fast as the griffon.
                    The <span class="beetle">Roller Beetle's</span> biggest weakness is running into objects and losing all of its momentum.
                    If you don't have any energy to get back up to speed, the <span class="beetle">Roller Beetle</span> is slower than even the turtle.
                    Don't hesitate to use Bond of Vigor to regain your endurance quickly.
                </p>
            </li>
        </ul>
    </li>
    <li>
        
        <h3 class="griffon">
            <image src="https://render.guildwars2.com/file/0307F624D93C09236934C3CEE63063CD1C96ACAB/1822130.png" alt="Griffon" style="width:50px;" />
            <a href="https://wiki.guildwars2.com/wiki/Griffon" target="_blank">Griffon</a>
        </h3>
        <ul>
            <li>
                Unlock: <span class="pof">Path of Fire</span>
            </li>
            <li>
                Masteries: <span class="pof">Path of Fire</span>
            </li>
            <li>
                Combat Mount: NO
            </li>
            <li>
                <p>
                    You must complete the entire <span class="pof">Path of Fire</span> story to unlock the 
                    <a href="https://wiki.guildwars2.com/wiki/Griffon#Unlocking" target="_blank">questline</a>
                    for the <span class="griffon">Griffon</span>.
                    This quest will take 250 Gold to complete.
                </p>
                <p>
                    The <span class="griffon">Griffon</span> is your fastest mount, given you have enough height to get up to speed with a dive.
                </p>
            </li>
        </ul>
        
    </li>
    <li>
        <h3 class="skyscale">
            <image src="https://render.guildwars2.com/file/461C02AE745D07C69EC2FBC1AE10E140D8E3E96B/2140530.png" alt="Skyscale" style="width:50px;" />
            <a href="https://wiki.guildwars2.com/wiki/Skyscale" target="_blank">Skyscale</a>
        </h3>
        <ul>
            <li>
                Unlock: <span class="pof">Path of Fire: Living World Story 4</span> || <span class="soto">Secrets of the Obscure</span>
            </li>
            <li>
                Masteries: <span class="pof">Path of Fire: Living World Story 4</span> & <span class="soto">Secrets of the Obscure</span>
            </li>
            <li>
                Combat Launch: 3min CD, mount your <span class="skyscale">Skyscale</span> while in combat!
            </li>
            <li>
                <p>
                    The <span class="skyscale">Skyscale</span> is extremely versatile, having the highest vertical and able to fly. 
                    The <span class="skyscale">Skyscale</span> can move upward from a standstill, even higher than the <span class="springer">Springer</span>.
                    It can also cling to walls and boost upward, allowing you to scale very high walls with ease.
                </p>
            </li>
        </ul>
    </li>
    <!--CCMovementMount3-->
    <!--
    <Ad dataAdSlot="8498028342" dataAdFormat="horizontal" />
    -->
    <li>
        <h3 class="turtle">
            <image src="https://render.guildwars2.com/file/91080E41EE1CEBDBE4056D54F1217835FCF8BCC0/2565493.png" alt="Turtle" style="width:50px;" />
            <a href="https://wiki.guildwars2.com/wiki/Siege_Turtle" target="_blank">Siege Turtle</a>
        </h3>
        <ul>
            <li>
                Unlock: <span class="eod">End of Dragons</span>
            </li>
            <li>
                Masteries: <span class="eod">End of Dragons</span>
            </li>
            <li>
                Combat Mount: NO
            </li>
            <li>
                <p>
                    Not particularly useful in convergences, the <span class="turtle">Turtle</span> can be used to attempt to get people stuck in the walls out.
                </p>
            </li>
        </ul>
        
    </li>
    <li>
        <h3 class="warclaw">
            <image src="https://render.guildwars2.com/file/3E1C0A4FB27ED0CCAB304A13AAF16AA24F37D606/2109664.png" alt="Warclaw" style="width:50px;" />
            <a href="https://wiki.guildwars2.com/wiki/Warclaw" target="_blank">Warclaw</a>
        </h3>
        <ul>
            <li>
                Unlock: <span class="pof">Path of Fire</span> (via WvW) || <span class="jw">Janthir Wilds</span>
            </li>
            <li>
                Masteries: <span class="jw">Janthir Wilds</span>
            </li>
            <li>
                Combat Mount: YES. Shared CD with <span class="skimmer">Skimmer</span>
            </li>
            <li>
                <p>
                    The warclaw is a great mount for rough terrain, as it can just bounce over anything that's not flat.
                    It also has great CC skills, having the ability to put out over 1k breakbar damage in under 10 seconds.
                </p>
            </li>
        </ul>
    </li>
    <!--CCMovementMountLast-->
    <!--
        <Ad dataAdSlot="6422529345" dataAdFormat="horizontal" />
    -->
</ul>
