<h3>Mounts</h3>
Mounts in gw2 are second to none.
<ul>
    <li>
        <h5>Raptor</h5>
        Own any expansion to unlock. Own PoF to train masteries.<br>
        <p>
            The raptor is a good A to B mount, having an average run speed, but a jump that lets you move smaller distances very fast. If it could be used from combat, it would be more useful than warclaw in get away from x situations.
        </p>
    </li>
    <li>
        <h5>Springer</h5>
        Own PoF, EoD, or JW to unlock. Own PoF to train masteries.<br>
        <p>The springer gets outclassed in all ways by the skyscale and warclaw. The only reason to put points into it is for the fall damage reduction.</p>
    </li>
    <li>
        <h5>Skimmer</h5>
        Own PoF to unlock and train masteries.<br>
        <p>
            The SotO convergences have some water, making the skimmer good for getting out of the water if you fall in. 
        </p>
    </li>
    <li>
        <h5>Jackal</h5>
        Own PoF to unlock and train masteries.<br>
        <p>
            While not all that useful outside of PoF, granting evasion on movement abilities for all mounts makes it worth spending the points on the jackal.
        </p>
    </li>
    <li>
        <h5>Roller Beetle</h5>
        Own PoF and LWS4 to unlock and train masteries.<br>
        <p>
            The roller beetle is a great mount if you have a long distance to cover and relatively flat land to traverse, having the ability to go just as fast as the griffon. 
        </p>
    </li>
    <li>
        <h5>Griffon</h5>
        Own PoF to unlock and train masteries.<br>
        Must complete PoF story to unlock the <a href="https://wiki.guildwars2.com/wiki/Crystal_Desert_(achievements)#Open_Skies:_Sunspear_Sanctuary">unlock quest achievement</a>.
    </li>
    <li>
        <h5>Skyscale</h5>
        Own PoF and LWS4 OR SotO to unlock and train masteries.<br>
        Getting both the PoF and SotO masteries increases skills further than just one.<br>
        <p>
            The skyscale is extremely versatile, having the highest vertical and able to fly.
        </p>
    </li>
    <li>
        <h5>Turtle</h5>
        Own EoD to unlock and train masteries.<br>
        <p>
            Not particularly useful in convergences, the turtle can be used to attempt to get people stuck in the walls out.
        </p>
    </li>
    <li>
        <h5>Warclaw</h5>
        Own PoF to unlock the WvW version (playable in PvE). No Masteries.<br>
        Own JW to unlock and train masteries.<br>
        <p>The warclaw is a great mount for rough terrain, as it can just bounce over anything that's not flat.
        It also has great CC skills, having the ability to put out over 1k breakbar damage in under 10 seconds.
        </p>
    </li>
</ul>