<section id="building">
    <h2 style="color:rgb(171,205,50);">Camp Building</h2>
    <figure style="max-width:400px;float:right;clear:right;">
        <image src="/images/JW/Thumper/WarclawDoors.png" alt="Warclaw door path" style="width:100%"/>
        <figcaption>Take down the <span style="color:rgb(171,205,50);">warclaw doors</span> and pickup the essence.</figcaption>
    </figure>
    <p>
        After the 2nd wave of <span style="color:rgb(255,0,0);">Bombers</span> in the <span style="color:rgb(255,215,0);">dolyak phase</span> are dead, the ENTIRE squad should run up and take down the <span style="color:rgb(34,177,76);">Warclaw Doors</span>.
        Each <span style="color:rgb(34,177,76);">Warclaw Door</span> drops about 5 essence for everyone. Taking out all 6 <span style="color:rgb(34,177,76);">Warclaw Doors</span> along the path will give everyone about 30 essence effectively for free.
    </p>
    <p>
        While the <span style="color:rgb(171,205,50)">Base Camp</span> is being built the timer is paused, so this is basically free essence gathering time.
    </p>
</section>