<section id="building">
    <h2 style="color:rgb(171,205,50);">Camp Building</h2>
    <p>
        The timer is paused while the <span style="color:rgb(171,205,50)">Base Camp</span> is being built, use this time to take out the <span style="color:rgb(34,177,76);">Warclaw Doors</span>.
    </p>
    <p>
        The ENTIRE squad should run up and take down the <span style="color:rgb(34,177,76);">Warclaw Doors</span>.
        Each <span style="color:rgb(34,177,76);">Warclaw Door</span> drops about 5 essence for every person. Taking out all 6 <span style="color:rgb(34,177,76);">Warclaw Doors</span> along the path will give everyone about 30 essence for a total of 1500 essence to start with.
    </p>
    
    <figure style="max-width:600px;">
        <image src="/images/JW/Thumper/WarclawDoors.png" alt="Warclaw door path" style="width:100%"/>
        <figcaption>Take down the <span style="color:rgb(171,205,50);">warclaw doors</span> and pickup the essence.</figcaption>
    </figure>
</section>