<section id="Decima">
   <h2>Decima, the Stormsinger</h2>
   <p>Extensive Rock Collection</p>
   
   <!--<image src="/images/JW/Decima/Decima.png" alt="Decima" style="width:100%;"></image><br>-->
   <!-- Description here -->
   <h4>Strategy</h4>
   <p>
      Decima employs several physical and electric attacks. 
      She surrounds herself with several <span style="color:rgb(24,124,255);">pylons</span> and charges them with her <span style="color:rgb(255,128,0);">Fluxlances</span>.
      She also creates <span style="color:rgb(28,222,255);">Fulgent Fences</span> between the <span style="color:rgb(24,124,255);">pylons</span> and attempts to <span style="color:rgb(167,22,255);">push</span> and <span style="color:rgb(244,34,255);">pull</span> you into them.
      Bring stability to avoid getting pushed into the <span style="color:rgb(28,222,255);">fences</span>.
      A single dedicated subgroup can bait <span style="color:rgb(255,128,0);">Fluxlances</span> by being the furthest people from Decima(while still in combat).
      Minimize the amount of <span style="color:rgb(24,124,255);">pylons</span> you charge by aiming the orange <span style="color:rgb(255,128,0);">Fluxlances</span> away from them.
   </p>
   

   <h4>Decima's Rotation</h4>
   <p>
      <span style="color:rgb(62,138,0);">Foreshock</span> -> <span style="color:rgb(95,212,0);">Mainshock</span> -> <span style="color:rgb(255,128,0);">Fluxlance</span> -><br>
      <span style="color:rgb(244,34,255);">Earthrend</span> -> <span style="color:rgb(167, 22, 255);">Seismic Crash</span> -> <span style="color:rgb(255,128,0);">Fluxlance</span> -><br>
   </p>
   <p>
      Phase 3 and 4, <span style="color:rgb(255,128,0);">Fluxlance</span> turns into <span style="color:rgb(255,0,0);">Fluxlance Fusilade</span>.
   </p>
   <h4>Decima's Passives</h4>
   <ul>
      <li>
         <h5 style="color:rgb();">Chorus of Thunder</h5>
         <p>   
            At the end of each phase Decima consumes all stacks of Peal of Harmony and Discord.
            She deals damage with <span style="color:rgb();">Chorus of Thunder</span> based on how many stacks she consumed.
            Decima gets stacks by having the <span style="color:rgb(255,242,0);">greens</span> reach her.
         </p>
      </li>
      <li>
         <h5 style="color:rgb();">Peal of Harmony</h5>
         <p>
            For each stack: Decima targets an <span style="color:rgb(24,124,255);">uncharged conduit</span> nearest the farthest player with <span style="color:rgb();">Chorus of Thunder</span>.
         </p>
      </li>
      <li>
         <h5 style="color:rgb();">Peal of Discord</h5>
         <p>
            For each stack: Decima targets the closest player with <span style="color:rgb();">Chorus of Thunder</span>.
         </p>
      </li>
   </ul>
   <br>
   <h4>Decima's Skills</h4>

   <!-- Decima skill IDs:
      Foreshock            76048,75821,75729,75683,75231,74887,74842,74801
      Mainshock            75826,75659,75613,75318,75185,75179,74771
      Aftershock
      Seismic Crash        76470,75965,75793,75549,75546,75515,75454,75422,75346,75030,74927,74870,74653
      Earthrend            76472,76384,75961,75823,75277,75197,75168,74946,74920
      Fluxlance            75450,75155,74924
      Fluxlance Fusillade  75954,75097,74660
      Discordant Thunder   75561,75249,74750 //might not be in converge
      Chorus of Thunder    75523,74706,74641
      
      //Likely raid only skills
      Fluxlance Salvo      76015,75870,75637,75569,75524,75348,75141,75098,74973,74964,74916,74742,74725,74705,74702
      Flux Nova            76026,75869,75666,75526,74953,74911,74878,74790
      Fulminate(Decima)    75988,75548,74978,74800
      Seismic Reposition   75984,75795,75764,75647,75430
      Decimation           75973,74909,74864
      Focused Fluxlance    75957,75644,74737,74689
      Harmonic Sensitivity 75751,74794
      Fracture Armor       75657,74903
      "nameless"           75585                      //unstable orb that decima charges, if she succeeds, its a wipe. Sounds like Flux Nova
      Thrumming Presence   75536,75191,74872
      Harmonious Thunder   75518,74894
      Galvanic Sensitivity 75428,74970                      //applied by fluxlances in raid

   -->
   <!-- Pylon skill IDs:
      Fulgent Aura      76019,75812,75486,75221,75114,74686
      Fulgent Fence     75850,75291,74697
      Fulminate(pylon)  75645,75205,75050
   -->
   <!-- Green skill IDs:
      Sparking Aura     76034,75999,75865,75270,74898,74827
   -->
   <ul>
      <li>
         <h5>Phase 1 and 2 (100%->50%)</h5>
         <ul>
            <li>
               <h5 style="color:rgb(62,138,0);">Foreshock</h5>
               <p>
                   Decima stomps to the left, then the right, and then in front of her.
               </p>
               <div id="ForeshockFigures">
                  <figure style="float:none;max-width:500px;">
                     <image src="/images/JW/Decima/DecForeshockOne.png" alt="ForeshockOne" style="width:100%;"/>
                     <figcaption>Decima <span style="color:rgb(62,138,0)">stomps</span> to her left, then to her right.</figcaption>
                  </figure>
                  <figure style="float:none;max-width:500px;">
                     <image src="/images/JW/Decima/DecForeshockThree.png" alt="ForeshockTwo" style="width:100%;"/>
                     <figcaption>Decima <span style="color:rgb(62,138,0)">stomps</span> a large circle in front of her.</figcaption>
                  </figure>
               </div>
               
            </li>
            <li>
               <h5 style="color:rgb(95,212,0);">Mainshock(Pizza)</h5>
               <p>
                  Decima slams an orb of arcane flux into the ground, causing the ground to rupture up around her. The ground ruptures from the front to the back. This knocksback and applies Vulnerability.
               </p>
               <figure style="float:none;max-width:800px;">
                  <image src="/images/JW/Decima/DecMainshock.png" alt="Mainshock" style="width:100%;"/>
                  <figcaption></figcaption>
               </figure>
            </li>
            <li>
               <h5 style="color:rgb(111, 255, 45)">Aftershock</h5>
               Electric explosions slowly explode outward to the edge of Decimas attack range, then come back inward.<br>
               <image src="/images/JW/Decima/DecAftershock.png" alt="Aftershock"  style="width:100%;max-width:500px;"></image><br>
            </li>
            
            <li>
               <h5 style="color:rgb(167,22,255);">Seismic Crash(body slam)</h5>
               <p>
                  Decima jumps up and slams into the ground, causing the immediate vicinity to erupt with jagged rocks and pyrite.
                  This deals more damage the closer you are to Decima.
                  Players hit will be pushed outward toward the <span style="color:rgb(28,222,255);">Fulgent Fences</span>.
                  Players that collide with the <span style="color:rgb(28,222,255);">fence</span> will be hit with <span style="color:rgb(0, 255, 200);">Reverberating Impact</span> and ricochet.
               </p>
               
               <image src="/images/JW/Decima/DecSeismic.png" alt="Seismic Slam" style="width:100%;max-width:800px;"></image>
            </li>
            <li>
               <h5 style="color:rgb(244,34,255);">Earthrend (outside pizza ring)</h5> 
               <p>
                  Decima jumps up and attacks beyond the pylons, causing the ground to erupt with jagged rocks and pyrite.
                  The tremendous force pulls players inward toward the <span style="color:rgb(28,222,255);">Fulgent Fences</span>.
                  Players that collide with the <span style="color:rgb(28,222,255);">fence</span> will be hit with <span style="color:rgb(0, 255, 200);">Reverberating Impact</span> and ricochet.
               </p>
               <figure style="float:none;max-width:800px;">
                  <image src="/images/JW/Decima/DecEarthrend.png" alt="Earthrend" style="width:100%;"/>
                  <figcaption>High above Decima, you can see how large <span style="color:rgb(244,34,255);">Earthrend</span> is as she pulls your allies into the <span style="color:rgb(28,222,255);">Fulgent Fence</span>.</figcaption>
               </figure>
            </li>
            <li>
               <h5 style="color:rgb(255,128,0);">Fluxlance</h5>
               <p>
                  <span style="color:rgb(255,128,0);">Fluxlance</span> fires once.
                  It has an orange or red version.
                  Both versions use a red border on your screen to indicate you are being targeted.
                  If you have the orange version, aim the arrow behind you to avoid hitting a <span style="color:rgb(24,124,255);">pylon</span>.
                  Hitting one of the <span style="color:rgb(24,124,255);">pylons</span> charges it, creating a <span style="color:rgb(0,0,255)">Fulgent Aura</span> around it and making the <span style="color:rgb(24,124,255);">pylon</span> send a <span style="color:rgb(255,242,0);">green</span> when Decima calls for them.
               <!-- <image src="DecFluxlanceOrange.png" alt="Orange Fluxlance" style="width:100%;max-width:600px;"></image><br> -->
                  If you have the red version, hide behind any <span style="color:rgb(24,124,255);">pylon</span> or you will be deleted. It deals over 700k damage and cannot be blocked or dodged.
               </p>
               <figure style="float:none;max-width:600px;">
                  <image src="/images/JW/Decima/DecFluxlanceRed.png" alt="Red Fluxlance" style="width:100%;"/>
                  <figcaption>Hiding behind a <span style="color:rgb(24,124,255);">pylon</span> with a red <span style="color:rgb(255,128,0);">Fluxlance</span>.</figcaption>
               </figure>
               <figure style="float:none;max-width:800px;">
                  <image src="/images/JW/Decima/DecFluxlanceRedActive.png" alt="Red Fluxlance Active" style="width:100%;"/>
                  <figcaption>Decima firing the Red <span style="color:rgb(255,128,0);">Fluxlance</span>.</figcaption>
               </figure>
            </li>
            <!-- most likely these are Decimas raid only skills
            <li>
               <h5>Fluxlance Salvo</h5>
               <p>
                  Decima fires a salvo of fluxlance beams simultaneously.
               </p>
            </li>
            <li>
               <h5>Flux Nova</h5>
               <p>
                  Decima gathers a colossal amount of arcane flux into an unstable orb. After several seconds, she detonates this orb to obliterate her enemies.\n\nIf Decima reaches full charge while channeling this skill, it ends early, and the damage becomes unsurvivable.
               </p>
            </li>
               
            -->
            
         </ul>
      </li>
      <li>
         <h5>Phase 3 and 4 (50%->0%)</h5>
         <ul>
            <li>
               <h5 style="color:rgb(255,0,0);">Fluxlance Fusilade</h5>
               <p>
                  In the last 2 phases <span style="color:rgb(255,128,0);">Fluxlance</span> is exchanged for <span style="color:rgb(255,0,0)">Fluxlance Fusilade</span>.
                  <span style="color:rgb(255,0,0);">Fluxlance Fusilade</span> is fired five times in sequence, and alternates between 5 orange arrows, or 4 orange and 1 red arrow.
                  The arrows target the five furthest players from Decima that are still in combat.
                  They fire in order, marked by a roman numeral over the targeted players heads.
                  Just like the normal <span style="color:rgb(255,128,0)">Fluxlance</span>, avoid hitting <span style="color:rgb(24,124,255)">pylons</span> with the orange arrows.
                  Hide behind a <span style="color:rgb(24,124,255)">pylon</span> with the red arrow.
               </p>
            </li>
            <li>
               <h5 style="color:rgb()">Swirling Winds</h5>
               <p>
                  Decima channels the storm winds to push players either clockwise or counter-clockwise.
                  She usually does this in combination with <span style="color:rgb(255,128,0)">Fluxlance Fusilade</span> in an attempt to get you to hit/miss pylons.
               </p>
            </li>
         </ul>
      </li>
   </ul>

   <h4 style="color:rgb(24,124,255);">Enlightened Conduit (pylons)</h4>
   <figure style="float:right;max-width:600px;margin:10px;">
         <image src="/images/JW/Decima/DecPylonwithAura.png" alt="pylon with AURA" style="width:100%;"/>
         <figcaption>A <span style="color:rgb(24,124,255);">Charged Enlightened Conduit</span> with <span style="color:rgb(0,0,255)">Fulgent Aura</span>. A <span style="color:rgb(255,242,0)">green</span> is moving toward Decima.</figcaption>
   </figure>
   <ul>
      <li>
         <h5 style="color:rgb(28,222,255);">Fulgent Fence</h5>
         <p>
            <span style="color:rgb(24,124,255);">Pylons</span> link up with each other to create electric fences.
            If you run into the <span style="color:rgb(28,222,255);">Fulget Fence</span>, it'll kick you back with <span style="color:rgb(0,255,200)">Reverberating Impact</span>.
         </p>
      </li>
      <li>
         <h5 style="color:rgb(0,0,255);">Fulgent Aura</h5>
         <p>
            Red aoe around the pylon. Grows when hit by <span style="color:rgb(255,128,0)">Fluxlances</span>.
            The bigger the <span style="color:rgb(0,0,255)">Fulgent Aura</span>, the bigger the <span style="color:rgb(255,242,0)">green</span> that will spawn from the <span style="color:rgb(24,124,255);">pylon</span>.
         </p>
      </li>
      <li>
         <h5 style="color:rgb(0, 255, 200)">Reverberating Impact</h5>
         When you get pushed into a <span style="color:rgb(24,124,255);">pylon</span> or <span style="color:rgb(28,222,255);">Fulgent Fence</span>, the electric shock kicks you back the other direction.<br>
      </li>
      
      
   </ul>

   <h4 style="color:rgb(255,242,0);">Greens</h4>
   <p>
      <span style="color:rgb(255,242,0);">Greens</span> spawn from <span style="color:rgb(24,124,255);">charged pylons</span> and move toward Decima.
      If it reaches Decima, she gains a stack of Peal of Harmony/Discord.
      The more charge a <span style="color:rgb(24,124,255);">pylon</span> has, the bigger the <span style="color:rgb(255,242,0);">green</span> that spawns from it.
      Stand inside the <span style="color:rgb(255,242,0);">green</span> to stop it from reaching Decima.
      Above the <span style="color:rgb(255,242,0);">green</span> is an icon indicating the number of people that are needed to stand inside it.
      Downed and wisped people still count towards satisfying the <span style="color:rgb(255,242,0);">greens</span>.
   </p>
   <figure style="max-width:1200px;float:none;">
      <image src="images/JW/Decima/DecGreenChaos.png" alt="greens" style="width:100%;"/>
      <figcaption>
         This group managed to charge nearly every <span style="color:rgb(24,124,255)">pylon</span>, leading to <span style="color:rgb(255,242,0);">greens</span> spawning from every <span style="color:rgb(24,124,255)">charged pylon</span>.
      </figcaption>
   </figure>
   
   
   <h5>Green Skills</h5>
   <ul>
      <li>
         <h5 style="color:rgb()">Sparking Aura</h5>
         <p>
            <span style="color:rgb(255,242,0);">Greens</span> deal a small amount of damage to people standing in them. This is unblockable.
         </p>
      </li>
   </ul>
</section>