<section>
   <h3>Decima, the Stormsinger</h3>
   Extensive Rock Collection<br>
   <br>

   <h4>Strategy</h4>
   <br>

   <h4>Decima's Rotation</h4>
   <ul>
      <li>
         Foreshock -> Mainshock -> Fluxlance ->
      </li>
      <li>Earthrend -> Seismic Crash -> Fluxlance -></li>
      <li>Phase 3 and 4, Fluxlance turns into Fluxlance Fusilade.</li>
   </ul>

   <h4>Decima's Skills</h4>
   <ul>
      <li>
         Phase 1 and 2 (100%->50%)
         <ul>
            <li>
               <h5 style="color:rgb(62,138,0)">Foreshock</h5>
               Decima stomps to the left, then the right, and then in front of her.<br>
               <image src="/images/JW/Decima/DecForeshockOne.png" alt="ForeshockOne" style="width:100%;max-width:500px;"></image><br>
               <image src="/images/JW/Decima/DecForeshockThree.png" alt="ForeshockTwo" style="width:100%;max-width:500px;"></image><br>
            </li>
            <li>
               <h5>Mainshock(Pizza)</h5>
            </li>
            <li>
               <h5>Aftershock</h5>
               Shockwaves explode from the outside of the arena and work their way inward.
            </li>
            <li>
               <h5>Fluxlance</h5>
               Fluxlance fires once.<br>
               It has an orange or red version.<br>
               Both versions use a red border on your screen to indicate you are being targeted.<br>
               If you have the orange version, aim the arrow behind you to avoid hitting a pylon.<br>
               Hitting one of the pylons charges it, creating a red aoe around it and making the pylon send a green when Decima calls for them.<br><!-- pic here -->
               <image src="DecFluxlanceOrange.png" alt="Orange Fluxlance" style="width:100%;max-width:600px;"></image>
               If you have the red version, hide behind any pylon or you will be deleted. It deals over 700k damage and cannot be blocked or dodged(confirm?).<br><!-- pic here -->
               <image src="DecFluxlanceRed.png" alt="Red Fluxlance" style="width:100%;max-width:600px;"></image>
            </li>
            <li>
               <h5>Seismic Crash(body slam)</h5>
               Decima slams the ground, downing anyone directly under her and pushing back everyone near her.<br>
               If you get pushed into a fence, you'll take more damage and be ping ponged.<br>
            </li>
            <li>
               <h5>Earthrend (outside pizza ring)</h5>
               Decima attacks beyond the pylons pulling people toward her (and into the pylon fences).<br>
               <!-- 2 pics, one for 2 sides, and one for front -->
            </li>
            <li>
               <h5>Chorus of Thunder</h5>
               At the end of each phase, Decima consumes Peal of Discord and Peal of Harmony, dealing damage based on how many stacks were consumed.<br>
            </li>
            <li>
               <h5>Peal of Harmony</h5>
               For each stack Decima targets an uncharged conduit nearest the farthest player with Chorus of Thunder.<br>
            </li>
            <li>
               <h5>Peal of Discord</h5>
               For each stack Decima targets the closest player with Chorus of Thunder.<br>
            </li>
         </ul>
      </li>
      <li>
         Phase 3 and 4 (50%->0%)
         <ul>
            <li>
               <h5>Fluxlance Fusilade</h5>
               Fluxlance is exchanged for Fluxlance Fusilade.<br>
               Fluxlance Fusilade is fired five times, and alternates between 5 orange arrows, or 4 orange and 1 red arrow.<br>
               The arrows target the five furthest players from Decima.<br>
               They fire in order, marked by a roman numeral over the targeted players heads.<br>
               Just like the normal Fluxlance, avoid hitting pylons with the orange arrow and hide behind a pylon with the red arrow.<br>
            </li>
            <li>
               <h5>Swirling Winds</h5>
               Decima channels the storm winds to push players either clockwise or counter-clockwise.<br>
               She usually does this in combination with Fluxlance Fusilade in an attempt to get you to hit/miss pylons.<br>
            </li>
         </ul>
      </li>
   </ul>

   <h4>Enlightened Conduit (pylons)</h4>
   <ul>
      <li>
         <h5>Fulgent Fence</h5>
         Pylons link up with each other to create electric fences.<br>
      </li>
      <li>
         <h5>Fulgent Aura</h5>
         Red aoe around the pylon. Grows when hit by Fluxlances.<br>
      </li>
      <li>
         <h5>Reverberating Impact</h5>
         When you get pushed into a pylon or Fulgent Fence, it kicks you back the other direction.<br>
      </li>
   </ul>
   <h4>Greens</h4>
   Greens spawn from charged pylons and move toward Decima.<br>
   If it reaches Decima, they get a stack of Peal of Harmony/Discord. (find out which one)<br>
   Stand inside the green to stop it from reaching Decima.<br>
   Above the green is an icon indicating the number of people that are needed to stand inside it.<br>
   <br>
   <h5>Green Skills</h5>
   <ul>
      <li>
         <h5>Sparking Aura</h5>
         Greens deal a small amount of damage to people standing in them.<br>
         In raids, you get debuffed by Fluxlances, which makes you take tons of Sparking Aura damage.<br>
         This might come into play for CMs.<br>
      </li>
   </ul>
</section>