<section>
   <h3>Decima, the Stormsinger</h3>
   Extensive Rock Collection<br>
   <br>

   <h4>Strategy</h4>
   Decima employs several physical and electric attacks.<br>
   She surrounds herself with several <span style="color:rgb(24,124,255);">pylons</span> and charges them with her <span style="color:rgb();">Fluxlances</span>.<br>
   She also creates <span style="color:rgb(28,222,255);">Fulgent Fences</span> between the <span style="color:rgb(24,124,255);">pylons</span> and attempts to <span style="color:rgb(167,22,255);">push</span> and <span style="color:rgb(244,34,255);">pull</span> you into them.<br>
   Bring stability to avoid getting pushed into the <span style="color:rgb(28,222,255);">fences</span>.<br>
   A dedicated group can bait <span style="color:rgb();">Fluxlances</span> by being the furthest people from Decima(while still in combat).<br>
   Minimize the amount of pylons you charge by aiming the orange Fluxlances away from them.<br>
   <br>

   <h4>Decima's Rotation</h4>
   <span style="color:rgb(62,138,0);">Foreshock</span> -> <span style="color:rgb();">Mainshock</span> -> <span style="color:rgb();">Fluxlance</span> -><br>
   <span style="color:rgb(244,34,255);">Earthrend</span> -> <span style="color:rgb(167, 22, 255);">Seismic Crash</span> -> <span style="color:rgb();">Fluxlance</span> -><br>
   Phase 3 and 4, <span style="color:rgb();">Fluxlance</span> turns into <span style="color:rgb();">Fluxlance Fusilade</span>.<br>
   <br>
   <h4>Decima's Passives</h4>
   <ul>
      <li>
            <h5 style="color:rgb();">Chorus of Thunder</h5>
            At the end of each phase Decima consumes all stacks of Peal of Harmony and Discord.<br>
            She deals damage with <span style="color:rgb();">Chorus of Thunder</span> based on how many stacks she consumed.<br>
            Decima gets stacks by having the <span style="color:rgb(255,242,0);">greens</span> reach her.<br>
      </li>
      <li>
         <h5 style="color:rgb();">Peal of Harmony</h5>
         For each stack Decima targets an <span style="color:rgb(24,124,255);">uncharged conduit</span> nearest the farthest player with <span style="color:rgb();">Chorus of Thunder</span>.<br>
      </li>
      <li>
         <h5 style="color:rgb();">Peal of Discord</h5>
         For each stack Decima targets the closest player with <span style="color:rgb();">Chorus of Thunder</span>.<br>
      </li>
   </ul>
   <br>
   <h4>Decima's Skills</h4>
   <ul>
      <li>
         Phase 1 and 2 (100%->50%)
         <ul>
            <li>
               <h5 style="color:rgb(62,138,0);">Foreshock</h5>
               Decima stomps to the left, then the right, and then in front of her.<br>
               <image src="/images/JW/Decima/DecForeshockOne.png" alt="ForeshockOne" style="width:100%;max-width:500px;"></image><br>
               <image src="/images/JW/Decima/DecForeshockThree.png" alt="ForeshockTwo" style="width:100%;max-width:500px;"></image><br>
            </li>
            <li>
               <h5 style="color:rgb();">Mainshock(Pizza)</h5>
               Decima creates a wave starting in front of her and circling around to the back.<br>
               <image src="/images/JW/Decima/DecMainshock.png" alt="Mainshock" style="width:100%;max-width:500px;"></image><br>
            </li>
            <li>
               <h5 style="color:rgb()">Aftershock</h5>
               Electric explosions slowly explode outward to the edge of Decimas attack range, then come back inward.<br>
               <image src="/images/JW/Decima/DecAftershock.png" alt="Aftershock"  style="width:100%;max-width:500px;"></image><br>
            </li>
            
            <li>
               <h5 style="color:rgb(167,22,255);">Seismic Crash(body slam)</h5>
               Decima jumps up and slams into the ground, downing anyone directly underneath her.<br>
               This causes the ground around her to errupt and push people around here outward toward the <span style="color:rgb(28,222,255);">Fulgent Fences</span>.<br>
               If you get pushed into a <span style="color:rgb(28,222,255);">Fulgent Fence</span>, you'll take more damage and be ping ponged.<br>
               <image src="/images/JW/Decima/DecSeismic.png" alt="Seismic Slam" style="width:100%;max-width:800px;"></image>
            </li>
            <li>
               <h5 style="color:rgb(244,34,255);">Earthrend (outside pizza ring)</h5>
               Decima jumps up and attacks beyond the pylons pulling people inward toward the <span style="color:rgb(28,222,255);">Fulgent Fences</span>.<br>
               She slams down, downing anyone underneath her.<br>
               <image src="/images/JW/Decima/DecEarthrend.png" alt="Earthrend" style="width:100%;max-width:800px;"></image><br>
               High above Decima, you can see how large <span style="color:rgb(244,34,255);">Earthrend</span> is as she pulls your allies into the <span style="color:rgb(28,222,255);">Fulgent Fence</span>.<br>
            </li>
            <li>
               <h5 style="color:rgb();">Fluxlance</h5>
               <span style="color:rgb();">Fluxlance</span> fires once.<br>
               It has an orange or red version.<br>
               Both versions use a red border on your screen to indicate you are being targeted.<br>
               If you have the orange version, aim the arrow behind you to avoid hitting a <span style="color:rgb(24,124,255);">pylon</span>.<br>
               Hitting one of the <span style="color:rgb(24,124,255);">pylons</span> charges it, creating a <span style="color:rgb(0,0,255)">Fulgent Aura</span> around it and making the <span style="color:rgb(24,124,255);">pylon</span> send a <span style="color:rgb(255,242,0);">green</span> when Decima calls for them.<br><!-- pic here -->
               <image src="DecFluxlanceOrange.png" alt="Orange Fluxlance" style="width:100%;max-width:600px;"></image><br>
               If you have the red version, hide behind any <span style="color:rgb(24,124,255);">pylon</span> or you will be deleted. It deals over 700k damage and cannot be blocked or dodged(confirm?).<br><!-- pic here -->
               <image src="/images/JW/Decima/DecFluxlanceRed.png" alt="Red Fluxlance" style="width:100%;max-width:600px;"></image><br>
               Hiding behind a <span style="color:rgb(24,124,255);">pylon</span> with a red <span style="color:rgb();">Fluxlance</span>.<br>
               <br>
            </li>
            
            
         </ul>
      </li>
      <li>
         Phase 3 and 4 (50%->0%)
         <ul>
            <li>
               <h5 style="color:rgb()">Fluxlance Fusilade</h5>
               <span style="color:rgb()">Fluxlance</span> is exchanged for <span style="color:rgb()">Fluxlance Fusilade</span>.<br>
               <span style="color:rgb()">Fluxlance Fusilade</span> is fired five times, and alternates between 5 orange arrows, or 4 orange and 1 red arrow.<br>
               The arrows target the five furthest players from Decima.<br>
               They fire in order, marked by a roman numeral over the targeted players heads.<br>
               Just like the normal <span style="color:rgb()">Fluxlance</span>, avoid hitting <span style="color:rgb(24,124,255)">pylons</span> with the orange arrow and hide behind a <span style="color:rgb(24,124,255)">pylon</span> with the red arrow.<br>
            </li>
            <li>
               <h5 style="color:rgb()">Swirling Winds</h5>
               Decima channels the storm winds to push players either clockwise or counter-clockwise.<br>
               She usually does this in combination with <span style="color:rgb()">Fluxlance Fusilade</span> in an attempt to get you to hit/miss pylons.<br>
            </li>
         </ul>
      </li>
   </ul>

   <h4 style="color:rgb(24,124,255);">Enlightened Conduit (pylons)</h4>
   <ul>
      <li>
         <h5 style="color:rgb(28,222,255);">Fulgent Fence</h5>
         <span style="color:rgb(24,124,255);">Pylons</span> link up with each other to create electric fences.<br>
         If you run into the <span style="color:rgb(28,222,255);">Fulget Fence</span>, it'll kick you back with <span style="color:rgb()">Reverberating Impact</span>.
      </li>
      <li>
         <h5 style="color:rgb(0,0,255);">Fulgent Aura</h5>
         Red aoe around the pylon. Grows when hit by <span style="color:rgb()">Fluxlances</span>.<br>
         The bigger the <span style="color:rgb(0,0,255)">Fulgent Aura</span>, the bigger the <span style="color:rgb(255,242,0)">green</span> that will spawn from it.<br>
      </li>
      <li>
         <h5 style="color:rgb()">Reverberating Impact</h5>
         When you get pushed into a <span style="color:rgb(24,124,255);">pylon</span> or <span style="color:rgb(28,222,255);">Fulgent Fence</span>, the electric shock kicks you back the other direction.<br>
      </li>
      <image src="/images/JW/Decima/DecPylonwithAura.png" alt="pylon with AURA" style="width:100%;max-width:600px; "></image><br>
      A <span style="color:rgb(24,124,255);">Charged Enlightened Conduit</span> with <span style="color:rgb(0,0,255)">Fulgent Aura</span>. A <span style="color:rgb(255,242,0)">green</span> is moving toward Decima.<br>
   </ul>
   <h4 style="color:rgb(255,242,0);">Greens</h4>
   <span style="color:rgb(255,242,0);">Greens</span> spawn from <span style="color:rgb(24,124,255);">charged pylons</span> and move toward Decima.<br>
   The more charge a <span style="color:rgb(24,124,255);">pylon</span> has, the bigger the <span style="color:rgb(255,242,0);">green</span> that spawns from it.<br>
   If it reaches Decima, they get a stack of Peal of Harmony/Discord. (note:find out specifics)<br>
   Stand inside the <span style="color:rgb(255,242,0);">green</span> to stop it from reaching Decima.<br>
   Above the <span style="color:rgb(255,242,0);">green</span> is an icon indicating the number of people that are needed to stand inside it.<br>
   Downed and wisped people still count towards satisfying the <span style="color:rgb(255,242,0);">greens</span>.<br>
   <br>
   <h5>Green Skills</h5>
   <ul>
      <li>
         <h5 style="color:rgb()">Sparking Aura</h5>
         <span style="color:rgb(255,242,0);">Greens</span> deal a small amount of damage to people standing in them.<br>
         In raids, you get debuffed by <span style="color:rgb();">Fluxlances</span>, which makes you take tons of <span style="color:rgb();">Sparking Aura</span> damage.<br>
         This might come into play for CMs.<br>
      </li>
   </ul>
</section>