<section>
   <h3>Decima, the Stormsinger</h3>


   <h4>Decima's Rotation</h4>
   <ul>
      <li>
         Foreshock -> Mainshock -> Fluxlance ->
      </li>
      <li>Earthrend -> Seismic Crash -> Fluxlance -></li>
      <li>Phase 3 and 4, the fluxlance turns into Fluxlance Fusilade.</li>
   </ul>

   <h4>Decima's Skills</h4>
   <ul>
      <li>
         Phase 1 and 2 (100%->50%)
         <ul>
            <li>
               Foreshock <br>
               Decima stomps each side of her, then in front.
            </li>
            <li>
               Mainshock (Pizza)<br>
            </li>
            <li>
               Aftershock <br>
            </li>
            <li>
               Fluxlance<br>
               Fluxlance fires once.<br>
               It has an orange or red version.<br>
               If you have the orange version, try to avoid hitting any pylons behind you.<br><!-- pic here -->
               If you have the red version, hide behind a pylon or you will be downed. It deals over 700k damage.<br><!-- pic here -->
            </li>
            <li>
               Seismic Crash (body slam)<br>
               Decima slams the ground, downing anyone directly under her and pushing back everyone near her.<br>
               If you get pushed into a fence, you'll take more damage and be ping ponged.<br>
            </li>
            <li>
               Earthrend (outside pizza ring)<br>
               Decima attacks beyond the pylons pulling people toward her (and into the pylon fences).<br>
               <!-- 2 pics, one for 2 sides, and one for front -->
            </li>
            <li>
               Chorus of Thunder<br>
               At the end of each phase, Decima consumes Peal of Discord and Peal of Harmony, dealing damage based on how many stacks were consumed.<br>


            </li>
            <li>
               Peal of Harmony<br>
               For each stack Decima targets an uncharged conduit nearest the farthest player with Chorus of Thunder.<br>
            </li>
            <li>
               Peal of Discord<br>
               For each stack Decima targets the closest player with Chorus of Thunder.<br>
            </li>
         </ul>
      </li>
      <li>
         Phase 3 and 4 (50%->0%)
         <ul>
            <li>
               Fluxlance is exchanged for Fluxlance Fusilade.<br>
               Fluxlance Fusilade is fired five times, and alternates between 5 orange arrows, or 4 orange and 1 red arrow.<br>
               The arrows target the five furthest players from Decima.<br>
               They fire in order, marked by a roman numeral over the targeted players heads.<br>
               Just like the normal Fluxlance, avoid hitting pylons with the orange arrow and hide behind a pylon with the red arrow.<br>
            </li>
            <li>
               Swirling Winds<br>
               Decima channels the storm winds to push players either clockwise or counter-clockwise.<br>
               She usually does this in combination with Fluxlance Fusilade in an attempt to get you to hit/miss pylons.<br>
            </li>
         </ul>
      </li>
   </ul>

   <h4>Enlightened Conduit (pylons)</h4>
   <ul>
      <li>
         Fulgent Fence<br>
         Pylons link up with each other to create electric fences.<br>
      </li>
      <li>
         Fulgent Aura<br>
         Red aoe around the pylon. Grows when hit by Fluxlances.<br>
      </li>
      <li>
         Reverberating Impact<br>
         idk what this is, maybe its the spawn green skill?<br>
      </li>
   </ul>
   <h4>Greens</h4>
   Greens spawn from charged pylons and move toward Decima.<br>
   If it reaches Decima, they get a stack of Peal of Harmony/Discord. (find out which one)<br>
   Stand inside the green to stop it from reaching Decima.<br>
   Above the green is an icon indicating the number of people that are needed to stand inside it.<br>
   <h5>Green Skills</h5>
   <ul>
      <li>
         Sparking Aura<br>
         Greens deal a small amount of damage to people standing in them.<br>
         In raids, you get debuffed by Fluxlances, which makes you take tons of Sparking Aura damage.<br>
         This might come into play for CMs.<br>
      </li>
   </ul>
</section>