<section>
    <figure style="max-width:300px;float:left;clear:left;">
        <image src="/images/JW/DolyakEscort/JWConvergeDolyakRoute50.png" alt="Dolyak Route" style="width:100%;"/>
        <figcaption>Dolyak Route</figcaption>
    </figure>
    <h3 style="color:rgb(255,215,0)">Dolyak Escort</h3>
    <p>
        The initial phase of a Mt. Balrior Convergence is to escort the teams <span style="color:rgb(255,215,0);">pack dolyak</span> up to the <span style="color:rgb(171, 205, 50)">Base Camp</span>.
        On the way you'll be met with <span style="color:rgb(255,0,0);">waves of Titanspawn Bombers</span>.
        The <span style="color:rgb(255,0,0);">bombers</span> are susceptible to CC and will die quickly when their breakbar is broken.
        While the <span style="color:rgb(255,215,0)">dolyak</span> is traveling, it can be given swiftness or superspeed to help speed things along.
        Upon reaching the <span style="color:rgb(171, 205, 50)">base camp</span>, the timer pauses while the npcs build it.
    </p>
    <figure style="max-width:500px;">
        <image src="/images/JW/DolyakEscort/JWConvergeDolyakParty.png" alt="Dolyak Party" style="width:100%;"/>
        <figcaption>Dolyak Party</figcaption>
    </figure>
</section>