<section id="Dolyak">
    <h2 style="color:rgb(255,215,0)">Dolyak Escort</h2>
    <figure id="DolyakRouteFigure">
        <image src="/images/JW/DolyakEscort/JWConvergeDolyakRoute50.png" alt="Dolyak Route" style="width:100%;"/>
        <figcaption>Dolyak Route</figcaption>
    </figure>
    <p>
        The initial phase of a Mt. Balrior Convergence is to escort the teams <span style="color:rgb(255,215,0);">pack dolyak</span> up to the <span style="color:rgb(171, 205, 50)">Base Camp</span>.
        On the way up you'll be met with 2 waves of <span style="color:rgb(255,0,0);">Titanspawn</span> and <span style="color:rgb(255,0,0);">Bombers</span>.
        Each wave must clear the <span style="color:rgb(255,0,0);">Titanspawn</span> and then the <span style="color:rgb(255,0,0);">Bombers</span> for the <span style="color:rgb(255,215,0);">pack dolyak</span> to advance.
        The <span style="color:rgb(255,0,0);">bombers</span> will die quickly after breaking their breakbar.
    </p>
    <p>
        While the <span style="color:rgb(255,215,0)">dolyak</span> is traveling, it can be given <image src="https://render.guildwars2.com/file/20CFC14967E67F7A3FD4A4B8722B4CF5B8565E11/102836.png" alt="swiftness" style="width:20px;"/>swiftness or <image src="https://render.guildwars2.com/file/E04392C3D8ED985125973AEB99D8460C483263F9/103458.png" alt="superspeed" style="width:20px;"/>superspeed.
        Doing this is important as the second wave <span style="color:rgb(255,0,0);">Bombers</span> won't spawn until the <span style="color:rgb(255,215,0);">dolyak's party</span> arrives.
    </p>
    <p>
        After killing the second wave of <span style="color:rgb(255,0,0);">Bombers</span>, continue on to the <span style="color:rgb(34,177,76)">Warclaw Doors</span> while the <span style="color:rgb(255,215,0);">dolyak party</span> finishes running to the <span style="color:rgb(171,205,50)">Base Camp</span>!
    </p>
    <figure style="max-width:500px;float:left;clear:left;">
        <image src="/images/JW/DolyakEscort/JWConvergeDolyakParty.png" alt="Dolyak Party" style="width:100%;"/>
        <figcaption>Dolyak Party</figcaption>
    </figure>
</section>