#DolyakRouteFigure{
    max-width:300px;
    float:right;
    clear:none;
}

@media(max-width:1200px){
    #DolyakRouteFigure{
        float:none;
    }
}
@media(max-width:1000px){
    #DolyakRouteFigure{
        float:right;
    }
}
@media(max-width:850px){
    #DolyakRouteFigure{
        float:none;
    }
}