<section>
    <h3 style="color:rgb(255,215,0)">Dolyak Escort</h3>
    <image src="/images/JW/DolyakEscort/JWConvergeDolyakRoute50.png"/>
    <image src="/images/JW/DolyakEscort/JWConvergeDolyakParty.png"/>
    <br>
    The initial phase of a Mt. Balrior Convergence is to escort the teams <span style="color:rgb(255,215,0);">pack dolyak</span> up to the <span style="color:rgb(171, 205, 50)">Base Camp</span>.<br>
    On the way you'll be met with <span style="color:rgb(255,0,0);">waves of Titanspawn Bombers</span>.<br>
    The <span style="color:rgb(255,0,0);">bombers</span> are susceptible to CC and will die quickly when their breakbar is broken.<br>
    While the <span style="color:rgb(255,215,0)">dolyak</span> is traveling, it can be given swiftness or superspeed to help speed things along.<br>
    Upon reaching the <span style="color:rgb(171, 205, 50)">base camp</span>, the timer pauses while the npcs build it.<br>
</section>