<section id="Greer">
<h2>Greer, the Blightbringer</h2>
<p>Poison | Area Control | Boon Corruption</p>

<h4>Strategy</h4>
<p>
    Greer has an arsenal of large aoes that can corrupt your boons and stack conditions on the whole squad. 
    Bring reflects and blocks to take care of his projectiles.
    Condi cleanse for when your boons get corrupted and move out of the <span style="color:rgb(255,255,0);">Noxious Blight</span>!
</p>

<h5>Gree and Reeg</h5>
<p>
    Gree, the Bringer and Reeg, the Blighter are at the start of each phase.
    They are positioned on opposite sides of Greer from each other.
    Fight them BEFORE moving on to Greer to simplify the mechanics significantly.
    They go away after losing 25% of their hp each phase.
    Gree and Reeg both use several of the same skills that Greer uses.
</p>
<!-- Gree skill IDs:
    Cage of Decay           75682
-->
<!-- Reeg skill IDs:
    Enfeebling Miasma       75994,75919,75288
    Blob of Blight          76031,74881
-->
<!-- Greer skill IDs:
    Rain of Spores          76001,75289
    Sweep the Mold          75968,75210,75070,74804
    Noxious Blight          75966,75774,75559,75481,75103,75026,74843,74829
    Cage of Decay           75873,75750,75685,75554,75025,74917,74773
    Rake the Rot            75868,75696,75681,75195,75036
    Rot Eruption            75866,75434,75251       //failed green?
    Seeds of Decay          75707,75534,75416,75343,75082,74792
    Ripples of Rot          75688,75519,75123
    Eruption of Rot         75607,75541,75491,75414,75182,75037,74132
    Blob of Blight          75591,75551,75294,75089
    Rot the World           75499,75425,75287
    Scattering Sporeblast   75477,75330 

    unsure if convergence or raid
    Enfeebling Miasma       75749,75702,74851                         //raid version, based on description, says 3 cones instead of in a spiral pattern
    Invulnerable Barrier    75982,75042
    Infectious Rot          75979,75506,74900
    Stomp the Growth        75827,75782,75248,74710                   //convergences have "stomp the convergence"
    The World Ends in Decay 75665
    Empowering Blast        75542,75516,75154,75046             //gree or reeg might shoot this? unlikely in convergence.
    Wave of Corruption      75417,74867
    Plague Rot              74883
-->

<h5>Breakbar</h5>
<p>
    Each phase has a breakbar to break when Greer gets to a health threshhold.
    These threshholds are 80%, 60%, 30%, 10%.
    After using all the CC skills you have, mount up on your warclaw and spam skills 3 and 4 for additional CC.
    Greer uses <span style="color:rgb(34,177,76)">Rot the World</span> while the breakbar is up.
</p>

<h4>Greer's Skills</h4>
<ul>
    <li>
        <h5>Phase 1 (100%->75%)</h5>
        <ul>
            <li>
                <h5 style="color:rgb(144,238,144);">Eruption of Rot(Greens)</h5>
                <p>
                    People at random get green circles on them.
                    An icon above them indicates how many people need to be inside <span style="color:rgb(144,238,144);">EoR</span> to satisfy it.
                    Failing to satisfy the <span style="color:rgb(144,238,144);">EoR</span> requirements results in you getting knocked up and a <span style="color:rgb(255,255,0);">Noxious Blight</span> spawned directly underneath you.
                    In Convergences, <span style="color:rgb(144,238,144);">EoR</span> can be stacked without penalty.
                </p>
                <figure style="float:none;max-width:400px;">
                    <image src="/images/JW/Greer/GreerEoR25.png" alt="Eruption of Rot" style="width:100%;"></image>
                    <figcaption>Players stacking to try and satisfy the three <span style="color:rgb(144,238,144);">EoR</span>.</figcaption>
                </figure>
                
            </li>
            <li>
                <h5 style="color:rgb(255,255,0);">Noxious Blight</h5>
                <p>
                    Large purple pools of corruption, don't stand inside.
                    Standing inside corrupts two boons into conditions every tick.
                </p>
                <figure style="float:none;max-width:600px;">
                    <image src="/images/JW/Greer/GreerNB50.png" alt="A Noxious Blight" style="width:100%;"/>
                    <figcaption>A <span style="color:rgb(255,255,0);">Noxious Blight</span>. Don't stand inside it.</figcaption>
                </figure>
                
            </li>
            <li>
                <h5 style="color:rgb(255, 255, 100)">Aura of Corruption</h5>
                <p> 
                    Greer casts a purple aoe directly beneath himself.
                    Standing inside adds a stack of poison every tick.
                </p>
            </li>
            <li>
                <h5 style="color:rgb(0, 162, 232);">Blob of Blight(Orbs)</h5>
                <p>
                    Greer spawns several purple/gold orbs that chase the furthest people from him.
                    The orbs emit smaller orbs in all directions.
                    If the big orb hits a player, it becomes stationary and continues to fire smaller orbs for several seconds.
                </p>
                <figure style="float:none;max-width:800px;">
                    <image src="/images/JW/Greer/GreerBoB50.png" alt="Blob of Blight" style="width:100%;"/>
                    <figcaption><span style="color:rgb(0,162,232);">Blob of Blight</span></figcaption>
                </figure>
                
                
            </li>
            <li>
                <h5 style="color:rgb(132, 0, 255)">Scattering Sporeblast</h5>
                <p>
                    Greer aims with his left arm and blasts several spores in a cone in front of him. Players in this cone will be directly targeted.
                </p>
            </li>
            <li>
                <h5 style="color:rgb(179,79,234);">Rain of Spores</h5>
                <p>
                    Greer leans forward and shovels up some spores with his hands.
                    He then holds them up and fires the spores at players.
                </p>
                
            </li>
            <li>
                <h5 style="color:rgb(34,177,76)">Rot the World</h5>
                <p>
                    Greer uses this skill when his breakbar is up.
                    Greer raises up his left hand and emits orbs across the whole court.
                    When the orbs land, they explode.
                </p>
                <figure style="float:none;max-width:760px;">
                     <image src="/images/JW/Greer/GreerRotTheWorld.png" alt="Rot the World" style="width:100%;"/>
                     <figcaption><span style="color:rgb(34,177,76);">Rot the World</span></figcaption>
                </figure>
               
            </li>
            <li>
                <h5 style="color:rgb(0, 0, 255);">Sweep the Mold</h5>
                <p>
                    Greer raises his left arm to the right and sweeps it across the ground in a 60-degree cone, damaging, bleeding, poisoning, and knocking back players.
                    Sets up <span style="color:rgb(0,100,255);">Rake the Rot</span>.
                </p>
            </li>
            <li>
                <h5 style="color:rgb(0, 100, 255);">Rake the Rot</h5>
                <p>
                    Follows <span style="color:rgb(0,0,255);">Sweep the Mold</span>, but only sometimes.
                    Greer raises his left arm to the left and and rakes it across the ground in front of himself.
                    Sets up <span style="color:rgb(0,200,255);">Stomp the Convergence</span>.
                </p>
            </li>
            <li>
                <h5 style="color:rgb(0,200,255);">Stomp the Convergence</h5>
                <p>
                    Follows <span style="color:rgb(0,100,255);">Rake the Rot</span>, but only sometimes.
                    Greer raises up and stomps the ground three times.
                </p>
            </li>
        </ul>
    </li>
    <li>
        <h5>Phase 2 (75%->50%)</h5>
        <ul>
            <li>
                <h5 style="color:rgb(255,127,39);">Ripples of Rot(Fence)</h5>
                <p>
                    Greer casts two waves on either side of him.
                    They push back anyone hit by the wave and create a fence at the edge.
                    You can't go through them.
                </p>
                <figure style="float:none;max-width:600px;">
                    <image src="/images/JW/Greer/GreerRoROne25.png" alt="Ripple of Rot One" style="width:100%;max-width:600px;"/>
                    <figcaption><span style="color:rgb(255,127,39);">Ripple of Rot</span> spreads from Greer in 2 waves.</figcaption>
                </figure>
                <figure style="float:none;max-width:600px;">
                    <image src="/images/JW/Greer/GreerRoRTwo25.png" alt="Ripple of Rot Two" style="width:100%;"/>
                    <figcaption><span style="color:rgb(255,127,39);">Ripple of Rot</span> creates fences at the edge of the waves reach.</figcaption>
                </figure>
            </li>
        </ul>
    </li>
    <li>
        <h5>Phase 3 (50%->25%)</h5>
        <ul>
            <li>
                <h5 style="color:rgb(255, 192, 203);">Cage of Decay</h5>
                <p>
                    Greer shoots out 5 <span style="color:rgb(255,192,203);">Cage of Decay</span> projectiles that travel along the ground.
                    When they reach their destination, it becomes a <span style="color:rgb(255,255,0);">Noxious Blight</span> with <span style="color:rgb(255,127,39);">Ripple of Rot</span> fences surrounding it.
                </p>
                <figure style="float:none;max-width:500px;">
                    <image src="/images/JW/Greer/GreerCoDOne25.png" alt="Cage of Decay" style="width:100%;"/>
                    <figcaption></figcaption>
                </figure>
                <figure style="float:none; max-width:500px;">
                    <image src="/images/JW/Greer/GreerCoDTwo50.png" alt="Cage of Decay Two" style="width:100%;"/>
                    <figcaption>A <span style="color:rgb(255,192,203);">Cage of Decay</span>, made up of a <span style="color:rgb(255,255,0);">Noxious Blight</span> with <span style="color:rgb(255,127,39);">RoR Fence</span> surrounding it.</figcaption>
                </figure>
                
            </li>
            <li>
                <h5 style="color:rgb(255,201,14)">Enfeebling Miasma</h5>
                <p>
                    Greer leans forward and roars, spawning several purple aoes that move away from Greer in a clockwise spiral pattern.
                </p>
                <figure style="float:none;max-width:800px;">
                    <image src="/images/JW/Greer/GreerEM.png" alt="Greer emitting Enfeebling Miasma" style="width:100%;"/>
                    <figcaption><span style="color:rgb(255,201,14);">Enfeebling Miasma</span> spiraling away from Greer's head.</figcaption>
                </figure>
            </li>
            <li>
                <h5 style="">Seeds of Decay</h5>
                <p>
                    The shattered fragments of Greer's armor rain down on the arena.
                    Smaller pieces explode on impact, but larger fragments transform into titanspawn, ready to help Greer in the fight. 
                    I believe this happens upon breaking Greer's breakbar.
                </p>
            </li>
        </ul>
    </li>
    <li>
        <h5>Phase 4 (25%->0%)</h5>
        <p>
            Greer has no new skills in phase 4.
        </p>
        
    </li>
</ul>
</section>