<section>
<h3>Greer, the Blightbringer</h3>
Poison | Area Control | Boon Corruption<br>
<br>

<h4>Strategy</h4>
<br>

<h5>Gree and Reeg</h5>
Gree, the Bringer and Reeg, the Blighter are at the start of each phase.<br>
They are positioned on opposite sides of Greer from each other.<br>
Fight them before moving on to Greer.<br>
They go away after losing 25% of their hp each phase.<br>
<br>

<h5>Breakbar</h5>
Each phase has a breakbar to break when Greer gets to a health threshhold.<br>
These threshholds are 80%, 60%, 30%, 10%.<br>
The Warclaw 3 and 4 skills put out significant amounts of CC, mount up and use them until the bar is gone.<br>
Greer bombards the area while the breakbar is up (similar to leyline anom/vale guardian from w1)<br>
<br>

<h4>Greer's skills</h4>
Each skill continues on in the later phases, usually increasing in the amount of circles or projectiles per skill use.
<ul>
    <li>
        <h5>Phase 1 (100%->75%)</h5>
        <ul>
            <li>
                <h5 style="color:lightgreen;">Eruption of Rot(Greens)</h5>
                People at random get green circles on them.<br>
                An icon above them indicates how many people need to be inside the green circle to satisfy it.<br>
                If the green is not satisfied, a large purple aoe is spawned directly on the person.<br>
            </li>
            <li>
                <h5 style="color:rgb(0, 162, 232)">Blob of Blight(Orbs)</h5>
                Greer spawns several purple/gold orbs that chase the furthest people from him.<br>
                The orbs emit smaller orbs in all directions.<br>
                <image src="images/JW/Greer/GreerBoB50.png" alt="" style="width:100%;max-width:600px;"></image>
            </li>
            <li>
                <h5 style="">Scattering Sporeblast</h5>
            </li>
            <li>
                <h5 style="">Stomp the Convergence</h5>
            </li>
            <li>
                <h5 style="color:yellow">Noxious Blight</h5>
                Large purple aoes, don't stand inside.<br>
                Standing inside corrupts two boons into conditions every tick.<br>
                <image src="/images/JW/Greer/GreerNB50.png" alt="A Noxious Blight" style="width:100%;max-width:600px;"></image><br>
            </li>
            <li>
                <h5 style="">Rot the World</h5>
                The skill Greer uses during the breakbar phase.<br>
                Greer raises up both hands and fires orbs across the whole stage.<br>
                Break the breakbar to stop it.<br>
                Warclaw skills 3 and 4 put out significant amounts of CC, mount up and use them until the bar is broken.<br>
                <image src="" alt="Rot the World" style="width:100%;max-width:700px;"></image><br>
            </li>
            <li>
                <h5 style="">Rain of Spores</h5>
            </li>
            <li>
                <h5 style="">Aura of Corruption</h5>
                Greer casts a purple aoe directly beneath himself. Standing inside adds a stack of poison every tick.<br>
            </li>
            <li>
                <h5 style="">Sweep the Mold</h5>
            </li>
            <li>
                <h5 style="">Rake the Rot</h5>
            </li>
            <li>
                <h5 style="color:rgb(179,79,234)">Blighters Rain of Spores</h5>
                Greer shoots several spores in a thick line over a large area.<br>
                He uses this while Gree and Reeg are still up.<br>
                <image src="/images/JW/Greer/GreerBRoS25.png" alt="Blighter's Rain of Spores" style="width:100%;max-width:600px;"></image>
            </li>
        </ul>
    </li>
    <li>
        <h5>Phase 2 (75%->50%)</h5>
        <ul>
            <li>
                <h5 style="color:rgb(255,127,39)">Ripples of Rot(Fence)</h5>
                Greer casts two waves on either side of him. They push back anyone within and create a fence at the edge.<br>
                You can't go through them.<br>
                <image src="/images/JW/Greer/GreerRoROne25.png" alt="Ripple of Rot One" style="width:100%;max-width:600px;"></image><br>
                <image src="/images/JW/Greer/GreerRoRTwo25.png" alt="Ripple of Rot Two" style="width:100%;max-width:600px;"></image><br>
            </li>
        </ul>
    </li>
    <li>
        <h5>Phase 3 (50%->25%)</h5>
        <ul>
            <li>
                <h5 style="color:rgb(255, 192, 203)">Cage of Decay</h5>
                Greer shoots out 5 Cages of Decay.<br>
                When they reach their destination, it becomes a Noxious Blight with Ripple of Rot fences surrounding it.<br>
                <image src="/images/JW/Greer/GreerCoDOne25.png" alt="Cage of Decay" style="width:100%;max-width:500px;"></image><br>
                <image src="/images/JW/Greer/GreerCoDTwo50.png" alt="Cage of Decay Two" style="width:100%;max-width:500px;"></image><br>
            </li>
            <li>
                <h5 style="">Enfeebling Miasma</h5>
                Greer leans forward and roars, spawning several purple aoes that move from greers mouth in a clockwise spiral pattern.<br>
            </li>
            <li>
                <h5 style="">Seeds of Decay</h5>
            </li>
        </ul>
    </li>
    <li>
        <h5>Phase 4 (25%->0%)</h5>
        Greer has no new skills in phase 4.<br>
    </li>
</ul>
</section>