<section>
<h3>Greer, the Blightbringer</h3>
<p>Poison | Area Control | Boon Corruption</p>

<h4>Strategy</h4>
<p>
    Greer has an arsenal of large aoes that can corrupt your boons and stack conditions on the whole squad. 
    Bring reflects and blocks to take care of his projectiles.
    Condi cleanse for when your boons get corrupted and move out of the <span style="color:rgb(255,255,0);">Noxious Blight</span>!
</p>

<h5>Gree and Reeg</h5>
<p>
    Gree, the Bringer and Reeg, the Blighter are at the start of each phase.
    They are positioned on opposite sides of Greer from each other.
    Fight them BEFORE moving on to Greer to simplify the mechanics significantly.
    They go away after losing 25% of their hp each phase.
    Gree and Reeg both use several of the same skills that Greer uses.
</p>

<h5>Breakbar</h5>
<p>
    Each phase has a breakbar to break when Greer gets to a health threshhold.
    These threshholds are 80%, 60%, 30%, 10%.
    After using all the CC skills you have, mount up on your warclaw and spam skills 3 and 4 for additional CC.
    Greer uses <span style="color:rgb(34,177,76)">Rot the World</span> while the breakbar is up.
</p>

<h4>Greer's Skills</h4>
<ul>
    <li>
        <h5>Phase 1 (100%->75%)</h5>
        <ul>
            <li>
                <h5 style="color:rgb(144,238,144);">Eruption of Rot(Greens)</h5>
                <p>
                    People at random get green circles on them.
                    An icon above them indicates how many people need to be inside <span style="color:rgb(144,238,144);">EoR</span> to satisfy it.
                    Failing to satisfy the <span style="color:rgb(144,238,144);">EoR</span> requirements results in you getting knocked up and a <span style="color:rgb(255,255,0);">Noxious Blight</span> spawned directly underneath you.
                    In Convergences, <span style="color:rgb(144,238,144);">EoR</span> can be stacked without penalty.
                </p>
                <figure style="float:none;max-width:400px;">
                    <image src="/images/JW/Greer/GreerEoR25.png" alt="Eruption of Rot" style="width:100%;"></image>
                    <figcaption>Players stacking to try and satisfy the three <span style="color:rgb(144,238,144);">EoR</span>.</figcaption>
                </figure>
                
            </li>
            <li>
                <h5 style="color:rgb(255,255,0);">Noxious Blight</h5>
                <p>
                    Large purple aoes, don't stand inside.
                    Standing inside corrupts two boons into conditions every tick.
                </p>
                <figure style="float:none;max-width:600px;">
                    <image src="/images/JW/Greer/GreerNB50.png" alt="A Noxious Blight" style="width:100%;"/>
                    <figcaption>A <span style="color:rgb(255,255,0);">Noxious Blight</span>. Don't stand inside it.</figcaption>
                </figure>
                
            </li>
            <li>
                <h5 style="color:rgb(255, 255, 100)">Aura of Corruption</h5>
                <p> 
                    Greer casts a purple aoe directly beneath himself.
                    Standing inside adds a stack of poison every tick.
                </p>
            </li>
            <li>
                <h5 style="color:rgb(0, 162, 232);">Blob of Blight(Orbs)</h5>
                <p>
                    Greer spawns several purple/gold orbs that chase the furthest people from him.
                    The orbs emit smaller orbs in all directions.
                </p>
                <figure style="float:none;max-width:800px;">
                    <image src="/images/JW/Greer/GreerBoB50.png" alt="Blob of Blight" style="width:100%;"/>
                    <figcaption><span style="color:rgb(0,162,232);">Blob of Blight</span></figcaption>
                </figure>
                
                
            </li>
            <li>
                <h5 style="color:rgb(132, 0, 255)">Scattering Sporeblast</h5>
                <p>
                    Greer aims with his left arm and blasts several spores at players.
                </p>
                
            </li>
            <li>
                <h5 style="color:rgb(179,79,234);">Rain of Spores</h5>
                <p>
                    Greer leans forward and shovels up some spores with his hands.
                    He then holds them up and fires the spores at players.
                </p>
                
            </li>
            <li>
                <h5 style="color:rgb(34,177,76)">Rot the World</h5>
                <p>
                    Greer uses this skill when his breakbar is up.
                    Greer raises up his left hand and emits orbs across the whole court.
                    When the orbs land, they explode.
                </p>
                <figure style="float:none;max-width:760px;">
                     <image src="/images/JW/Greer/GreerRotTheWorld.png" alt="Rot the World" style="width:100%;"/>
                     <figcaption><span style="color:rgb(34,177,76);">Rot the World</span></figcaption>
                </figure>
               
            </li>
            <li>
                <h5 style="color:rgb(0, 0, 255);">Sweep the Mold</h5>
                <p>
                    Greer raises his left arm to the right and sweeps it across the ground infront of himself.
                </p>
            </li>
            <li>
                <h5 style="color:rgb(0, 100, 255);">Rake the Rot</h5>
                <p>
                    Follows <span style="color:rgb(0,0,255);">Sweep the Mold</span>, but only sometimes.
                    Greer raises his left arm to the left and and rakes it across the ground in front of himself.
                </p>
            </li>
            <li>
                <h5 style="color:rgb(0,200,255);">Stomp the Convergence</h5>
                <p>
                    Follows <span style="color:rgb(0,100,255);">Rake the Rot</span>, but only sometimes.
                    Greer raises up and stomps the ground three times.
                </p>
            </li>
        </ul>
    </li>
    <li>
        <h5>Phase 2 (75%->50%)</h5>
        <ul>
            <li>
                <h5 style="color:rgb(255,127,39);">Ripples of Rot(Fence)</h5>
                <p>
                    Greer casts two waves on either side of him.
                    They push back anyone hit by the wave and create a fence at the edge.
                    You can't go through them.
                </p>
                <figure style="float:none;max-width:600px;">
                    <image src="/images/JW/Greer/GreerRoROne25.png" alt="Ripple of Rot One" style="width:100%;max-width:600px;"/>
                    <figcaption><span style="color:rgb(255,127,39);">Ripple of Rot</span> spreads from Greer in 2 waves.</figcaption>
                </figure>
                <figure style="float:none;max-width:600px;">
                    <image src="/images/JW/Greer/GreerRoRTwo25.png" alt="Ripple of Rot Two" style="width:100%;"/>
                    <figcaption><span style="color:rgb(255,127,39);">Ripple of Rot</span> creates fences at the edge of the waves reach.</figcaption>
                </figure>
            </li>
        </ul>
    </li>
    <li>
        <h5>Phase 3 (50%->25%)</h5>
        <ul>
            <li>
                <h5 style="color:rgb(255, 192, 203);">Cage of Decay</h5>
                <p>
                    Greer shoots out 5 <span style="color:rgb(255,192,203);">Cage of Decay</span> projectiles that travel along the ground.
                    When they reach their destination, it becomes a <span style="color:rgb(255,255,0);">Noxious Blight</span> with <span style="color:rgb(255,127,39);">Ripple of Rot</span> fences surrounding it.
                </p>
                <figure style="float:none;max-width:500px;">
                    <image src="/images/JW/Greer/GreerCoDOne25.png" alt="Cage of Decay" style="width:100%;"/>
                    <figcaption></figcaption>
                </figure>
                <figure style="float:none; max-width:500px;">
                    <image src="/images/JW/Greer/GreerCoDTwo50.png" alt="Cage of Decay Two" style="width:100%;"/>
                    <figcaption>A <span style="color:rgb(255,192,203);">Cage of Decay</span>, made up of a <span style="color:rgb(255,255,0);">Noxious Blight</span> with <span style="color:rgb(255,127,39);">RoR Fence</span> surrounding it.</figcaption>
                </figure>
                
            </li>
            <li>
                <h5 style="color:rgb(255,201,14)">Enfeebling Miasma</h5>
                <p>
                    Greer leans forward and roars, spawning several purple aoes that move away from Greer in a clockwise spiral pattern.
                </p>
                <figure style="float:none;max-width:800px;">
                    <image src="/images/JW/Greer/GreerEM.png" alt="Greer emitting Enfeebling Miasma" style="width:100%;"/>
                    <figcaption><span style="color:rgb(255,201,14);">Enfeebling Miasma</span> spiraling away from Greer's head.</figcaption>
                </figure>
            </li>
            <li>
                <h5 style="">Seeds of Decay</h5>
                <p>
                    Still figuring this one out.
                </p>
            </li>
        </ul>
    </li>
    <li>
        <h5>Phase 4 (25%->0%)</h5>
        <p>
            Greer has no new skills in phase 4.
        </p>
        
    </li>
</ul>
</section>