<section>
<h3>Greer, the Blightbringer</h3>
Poison | Area Control | Boon Corruption<br>
<br>

<h4>Strategy</h4>
Greer has an arsenal of large aoes that can corrupt your boons and stack conditions on the whole squad.<br>
Bring reflects and blocks to take care of his projectiles.<br>
Condi cleanse for when your boons get corrupted.<br>
<br>

<h5>Gree and Reeg</h5>
Gree, the Bringer and Reeg, the Blighter are at the start of each phase.<br>
They are positioned on opposite sides of Greer from each other.<br>
Fight them before moving on to Greer.<br>
They go away after losing 25% of their hp each phase.<br>
Gree and Reeg both use several of the same skills that Greer uses.<br>
<br>

<h5>Breakbar</h5>
Each phase has a breakbar to break when Greer gets to a health threshhold.<br>
These threshholds are 80%, 60%, 30%, 10%.<br>
After using all the CC skills you have, mount up on your warclaw and spam skills 3 and 4 for additional CC.<br>
Greer uses <span style="color:rgb(34,177,76)">Rot the World</span> while the breakbar is up.<br>
<br>

<h4>Greer's Skills</h4>
Each skill continues on in the later phases, usually increasing in the amount of circles or projectiles per skill use.
<ul>
    <li>
        <h5>Phase 1 (100%->75%)</h5>
        <ul>
            <li>
                <h5 style="color:rgb(144,238,144);">Eruption of Rot(Greens)</h5>
                People at random get green circles on them.<br>
                An icon above them indicates how many people need to be inside <span style="color:rgb(144,238,144);">EoR</span> to satisfy it.<br>
                If <span style="color:rgb(144,238,144);">EoR</span> is not satisfied, you get knocked up and a <span style="color:rgb(255,255,0);">Noxious Blight</span> is spawned directly underneath you.<br>
                <image src="/images/JW/Greer/GreerEoR25.png" alt="Eruption of Rot" style="width:100%;max-width:400px;"></image><br>
                Players stacking to try and satisfy the three <span style="color:rgb(144,238,144);">EoR</span>.<br>
            </li>
            <li>
                <h5 style="color:rgb(0, 162, 232);">Blob of Blight(Orbs)</h5>
                Greer spawns several purple/gold orbs that chase the furthest people from him.<br>
                The orbs emit smaller orbs in all directions.<br>
                <image src="/images/JW/Greer/GreerBoB50.png" alt="" style="width:100%;max-width:600px;"></image>
            </li>
            <li>
                <h5 style="">Scattering Sporeblast</h5>
                Greer 
            </li>
            <li>
                <h5 style="color:rgb(255,255,0);">Noxious Blight</h5>
                Large purple aoes, don't stand inside.<br>
                Standing inside corrupts two boons into conditions every tick.<br>
                <image src="/images/JW/Greer/GreerNB50.png" alt="A Noxious Blight" style="width:100%;max-width:600px;"></image><br>
            </li>
            <li>
                <h5 style="color:rgb(34,177,76)">Rot the World</h5>
                Greer uses this skill when his breakbar is up.<br>
                Greer raises up his left hand and emits orbs across the whole stage.<br>
                When the orbs land, they explode.<br>
                <image src="/images/JW/Greer/GreerRotTheWorld50.png" alt="Rot the World" style="width:100%;max-width:700px;"></image><br>
            </li>
            <li>
                <h5 style="">Rain of Spores</h5>
                Greer leans forward and shovels up some spores with his hands.<br>
                He then holds them up and fires the spores at players.<br>
            </li>
            <li>
                <h5 style="color:rgb(255, 255, 100)">Aura of Corruption</h5>
                Greer casts a purple aoe directly beneath himself.<br>
                Standing inside adds a stack of poison every tick.<br>
            </li>
            <li>
                <h5 style="">Sweep the Mold</h5>
                Greer raises his left arm to the right and sweeps it across the ground infront of himself.<br>
            </li>
            <li>
                <h5 style="">Rake the Rot</h5>
                Follows Sweep the Mold, but only sometimes.<br>
                Greer raises his left arm to the left and and rakes it across the ground in front of himself.<br>
            </li>
            <li>
                <h5 style="">Stomp the Convergence</h5>
                Greer raises up and stomps the ground three times.
            </li>
            <li>
                <h5 style="color:rgb(179,79,234);">Blighters Rain of Spores</h5>
                Greer shoots several spores in a thick line over a large area.<br>
                He uses this while Gree and Reeg are still up.<br>
                This might be a speed read issue, I have only seen it once and it went thru the combat log super fast.<br>
                It could just be a unique use of the regular Rain of Spores skill.<br>
                <image src="/images/JW/Greer/GreerBRoS25.png" alt="Blighter's Rain of Spores" style="width:100%;max-width:600px;"></image>
            </li>
        </ul>
    </li>
    <li>
        <h5>Phase 2 (75%->50%)</h5>
        <ul>
            <li>
                <h5 style="color:rgb(255,127,39);">Ripples of Rot(Fence)</h5>
                Greer casts two waves on either side of him. They push back anyone within and create a fence at the edge.<br>
                You can't go through them.<br>
                <image src="/images/JW/Greer/GreerRoROne25.png" alt="Ripple of Rot One" style="width:100%;max-width:600px;"></image><br>
                <image src="/images/JW/Greer/GreerRoRTwo25.png" alt="Ripple of Rot Two" style="width:100%;max-width:600px;"></image><br>
            </li>
        </ul>
    </li>
    <li>
        <h5>Phase 3 (50%->25%)</h5>
        <ul>
            <li>
                <h5 style="color:rgb(255, 192, 203);">Cage of Decay</h5>
                Greer shoots out 5 Cages of Decay.<br>
                When they reach their destination, it becomes a <span style="color:">Noxious Blight</span> with <span style="color:">Ripple of Rot</span> fences surrounding it.<br>
                <image src="/images/JW/Greer/GreerCoDOne25.png" alt="Cage of Decay" style="width:100%;max-width:500px;"></image><br>
                <image src="/images/JW/Greer/GreerCoDTwo50.png" alt="Cage of Decay Two" style="width:100%;max-width:500px;"></image><br>
            </li>
            <li>
                <h5 style="color:rgb(255,201,14)">Enfeebling Miasma</h5>
                Greer leans forward and roars, spawning several purple aoes that move away from Greer in a clockwise spiral pattern.<br>
                <image src="/images/JW/Greer/GreerEM25.png" alt="Greer emitting Enfeebling Miasma" style="width:100%;max-width:700px;"></image>
            </li>
            <li>
                <h5 style="">Seeds of Decay</h5>
                Still figuring this one out.<br>
            </li>
        </ul>
    </li>
    <li>
        <h5>Phase 4 (25%->0%)</h5>
        Greer has no new skills in phase 4.<br>
    </li>
</ul>
</section>