<section>
<h3>Greer, the Blightbringer</h3>

<h5>Gree and Reeg</h5>
Gree, the Bringer and Reeg, the Blighter are at the start of each phase, on opposite sides of Greer.<br>
Fight them before moving on to Greer.<br>
They go away after losing 25% of their hp each phase.<br>
<br>

<h5>Breakbar</h5>
Each phase has a breakbar to break.<br>
They start when Greer's HP gets to 80%, 60%, 30%, 10%.<br>
The Warclaw 3 and 4 skills put out significant amounts of CC, mount up and use them until the bar is gone.<br>
Greer bombards the area while the breakbar is up (similar to leyline anom/vale guardian from w1)<br>
<br>

<h4>Greer's skills</h4>
Each skill continues on in the later phases, usually increasing in the amount of circles or projectiles per skill use.
<ul>
    <li>
        Phase 1 (100%->75%)
        <ul>
            <li>
                Greens
                <p>
                    People at random get green circles on them.<br>
                    An icon above them indicates how many people need to be inside the green circle to satisfy it.<br>
                    If the green is not satisfied, a large purple aoe is spawned directly on the person.<br>
                </p>
            </li>
        </ul>
    </li>
    <li>
        Phase 2 (75%->50%)
        <ul>
            <li>
                Fence
                <p>
                    Greer cleaves both sides of him and creates fences at the edges of the cleave.<br>
                    You can't go through them.<br>
                </p>
            </li>
            <li>
                Orbs
                <p>
                    Greer spawns several purple/gold orbs that chase the furthest people from him.<br>
                    The orbs emit smaller orbs in all directions.<br>
                </p>
            </li>
        </ul>
    </li>
    <li>
        Phase 3 (50%->25%)
        <ul>
            <li>
                Barrage
                <p>
                    Greer bombard the largest group of players with several aoes. These can be reflected or blocked with skills like mesmers feedback.
                </p>
            </li>
            <li>
                Lines
                <p>
                    Greer spawns several lines, sending a projectile along them that ends in a circle. When the projectile reaches the center of the circle, it becomes a large purple puddle with fence around it.
                </p>
            </li>
            <li>
                Roar
                <p>
                    Greer leans forward and roars, spawning purple aoes that move from greers mouth (cone? all directions? 180?)
                </p>
            </li>
        </ul>
    </li>
    <li>
        Phase 4 (25%->0%)<br> 
        I don't believe there are any extra skills in phase 4. I could be wrong.
    </li>
</ul>
</section>