<section id="JWPre">
    <h2 id="BeforeStart">Before you start!</h2>
    <h3 id="GettingIn">How to get into the Convergence</h3>
    <figure style="max-width:300px;float:right;">
        <image src="/images/JW/Shared/LowlandWaypoint.png" alt="convergenceentrancemini" style="width:100%;"/>
        <figcaption>East side of the building</figcaption>
    </figure>
    <p>
        For the Janthir Wilds convergences, go to the Harvest Den waypoint [&BK4OAAA=] in Lowland Shore.
        In the east side of the Bonfire Lodge is the convergence portal(blue swirl on minimap).
    </p>
    <figure style="float:none;clear:none;max-width:600px;">
        <image src="/images/JW/Shared/Lowland.png" alt="convergenceentrance" style="width:100%;max-width:600px;" />
    </figure>
    <p>
        Janthir Wilds public convergences happen every 3 hours.
        You can check when they are by typing '/wiki et' in game or going to <a href="https://wiki.guildwars2.com/wiki/Event_timers">https://wiki.guildwars2.com/wiki/Event_timers</a>.
    </p>
    <p>
        Private convergences can be opened whenever you want.
        To open one, it costs an <a href="https://wiki.guildwars2.com/wiki/Unstable_Rift_Motivation">Unstable Rift Motivation</a>.
        It's recommended you bring a full 50 man squad with you.
    </p>
    <h3 id="Itemstobring">Items you should bring</h3>
    <p>
        All titans are now correctly marked as Titans, and are thus affected by the Demon Slaying items.
    </p>
    <ul>
        <li>
            <image src="https://render.guildwars2.com/file/7A9EA9E0C702F8BA595973FED3A853646B2E07F8/222720.png" alt="potion of demon slaying" style="width:50px;"/>
            <h5><a href="https://wiki.guildwars2.com/wiki/Powerful_Potion_of_Demon_Slaying">Powerful Potion of Demon Slaying</a></h5>
            (1 hour): 10% Damage vs. Demons, Kryptis, and Titanspawn. -10% Damage from Demons, Kryptis, and Titanspawn.
        </li>
        <li>
            <image src="https://render.guildwars2.com/file/D7420E430D002E07382035EF0D0F77370C4EE6B8/220662.png" alt="sigil of force" style="width:50px;"/>
            <h5><a href="https://wiki.guildwars2.com/wiki/Superior_Sigil_of_Force">Superior Sigil of Force</a></h5>
            5% Damage.
        </li>
        <li>
            <image src="https://render.guildwars2.com/file/991BD2CC63CFE343C5E55D49F657C95E71FD0439/340600.png" alt="sigil of demon slaying" style="width:50px;"/>
            <h5><a href="https://wiki.guildwars2.com/wiki/Superior_Sigil_of_Demon_Slaying">Superior Sigil of Demon Slaying</a></h5>
            3% Strike Damage, +7% Strike Damage vs. Demons, Kryptis, and Titanspawn. Totals to 10% Strike Damage when satisfied.
        </li>
    </ul>
    <p>
        Consider taking a <a href="https://wiki.guildwars2.com/wiki/Sigil#Stacking_bonus">stacking sigil</a>. It's easy to fully stack it during the Thumper phase.
    </p>
    <h3 id="LowlandExpertise">Lowland Expertise</h3>
    <p>
        Lowland Expertise is a buff you can purchase from each of the <image src="" alt="heart" style="width:20px;"/>hearts in Janthir Wilds. At 7 stacks, it gives 5% Damage vs titanspawn.
        You can farm all 7 stacks in a single day, as there are 3 hearts in Lowland Shores, 3 hearts in Janthir Syntri, and 1 heart in Mistburned Barrens.
    </p>
    <p>
        Each time you buy LE from a finished heart, it adds a stack, capping at 7. It also adds 4 hours to the timer, capping at 24 hours.
        You should only need to do the hearts every couple days to keep the buff up, as it doesn't tick unless you're logged in on that character. 
        If you let it expire, you will need to redo all 7 stacks.
    </p>
</section>