<section>
    <h3>Before you start!</h3>
    <figure style="max-width:300px;">
        <image src="/images/JW/Shared/LowlandWaypoint.png" alt="convergenceentrancemini" style="width:100%;"/>
        <figcaption>East side of the building</figcaption>
    </figure>
    <h4>How to get into the Convergence</h4>
    <p>
        
    For the Janthir Wilds convergences, go to the Harvest Den waypoint in Lowland Shore.
    In the east side of the Bonfire Lodge is the convergence portal(blue swirl on minimap).
    </p>
    <figure style="float:none;clear:none;max-width:600px;">
        <image src="/images/JW/Shared/Lowland.png" alt="convergenceentrance" style="width:100%;max-width:600px;" />
    </figure>
    <p>
    Janthir Wilds public convergences happen every 3 hours.
    You can check when they are by typing '/wiki et' in game or going to <a href="https://wiki.guildwars2.com/wiki/Event_timers">https://wiki.guildwars2.com/wiki/Event_timers</a>.
    </p>
    <p>
        Private convergences can be opened whenever you want.
        To open one, it costs an <a href="https://wiki.guildwars2.com/wiki/Unstable_Rift_Motivation">Unstable Rift Motivation</a>.
        It's recommended you bring a full 50 man squad with you.
    </p>    
</section>