<section id="JWPre">
    <h2 id="BeforeStart">Before you start!</h2>
    <h3 id="GettingIn">How to get into the Convergence</h3>
    <figure style="max-width:300px;float:right;">
        <image src="/images/JW/Shared/LowlandWaypoint.png" alt="convergenceentrancemini" style="width:100%;"/>
        <figcaption>East side of the building</figcaption>
    </figure>
    <p>
        The entrance for Janthir Wilds Convergences is in Lowland Shore. Go to Harvest Den waypoint <span>[&BK4OAAA=]</span>.
        The Convergence Portal is on the east side of the Bonfire Lodge (blue swirl on minimap).
    </p>
    <figure style="float:none;clear:none;max-width:600px;">
        <image src="/images/JW/Shared/Lowland.png" alt="convergenceentrance" style="width:100%;max-width:600px;" />
        <figcaption>JW Convergence Entrance</figcaption>
    </figure>
    <p>
        Public Convergences can be entered for free at designated times. Public Convergences are always normal mode.
    </p>
    <JWPublicTimes/>
    <p>
        Private Convergences can be opened whenever you want.
        To open one, it costs an <a href="https://wiki.guildwars2.com/wiki/Unstable_Rift_Motivation"><image src="https://render.guildwars2.com/file/56573075759450DD5112F1B4C7366AD85470DC2C/3187526.png" style="width:40px;"/>Unstable Rift Motivation</a>.
        Private Convergences can choose between normal or challenge mode.
        It's recommended you bring a full 50 man squad with you.
    </p>
    <h3 id="Itemstobring">Items you should bring</h3>
    <p>
        The Titans in Convergences are vulnerable to Demon Slaying items. 
        Using the Force Sigil with the Demon Slaying Sigil and Potion gives you +25% damage for the entire fight. 
        The typical power build with Force and Impact Sigils with a Sharpening Stone comes in around 10-12%, 17-19% when the foe is stunned.
    </p>
    <ul>
        <li>
            <image src="https://render.guildwars2.com/file/7A9EA9E0C702F8BA595973FED3A853646B2E07F8/222720.png" alt="potion of demon slaying" style="width:50px;"/>
            <h5><a href="https://wiki.guildwars2.com/wiki/Powerful_Potion_of_Demon_Slaying">Powerful Potion of Demon Slaying</a></h5>
            (1 hour): 10% Damage vs. Demons, Kryptis, and Titanspawn. -10% Damage from Demons, Kryptis, and Titanspawn.
        </li>
        <li>
            <image src="https://render.guildwars2.com/file/D7420E430D002E07382035EF0D0F77370C4EE6B8/220662.png" alt="sigil of force" style="width:50px;"/>
            <h5><a href="https://wiki.guildwars2.com/wiki/Superior_Sigil_of_Force">Superior Sigil of Force</a></h5>
            5% Damage.
        </li>
        <li>
            <image src="https://render.guildwars2.com/file/991BD2CC63CFE343C5E55D49F657C95E71FD0439/340600.png" alt="sigil of demon slaying" style="width:50px;"/>
            <h5><a href="https://wiki.guildwars2.com/wiki/Superior_Sigil_of_Demon_Slaying">Superior Sigil of Demon Slaying</a></h5>
            <p>
                3% Strike Damage, +7% Strike Damage vs. Demons, Kryptis, and Titanspawn. Totals to 10% Strike Damage when satisfied.
            </p>
            
        </li>
        <li>
            <image src="https://render.guildwars2.com/file/C34E0BA9050B06D152B1010DE0E391D96554440E/1947135.png" alt="prototype position rewinder" style="width:50px;"/>
            <h5><a href="https://wiki.guildwars2.com/index.php?title=Prototype_Position_Rewinder">Prototype Position Rewinder</a></h5>
            <p>
                The PPR Mark Location function stores where you are for 30 seconds and rewind back to that location from anywhere on the map. 
                During the Thumper phase, when you have enough essence to turn in, use this at your thumper and race to turn in the essence.
                After turning in, use the PPR Rewind function to instantly teleport back to your thumper.
                
            </p>
            <p>
                Do note that any form of teleporting will delete the stored location (e.g. using a portal or shadowstepping).
            </p>
        </li>
    </ul>
    <p>
        Consider taking a <a href="https://wiki.guildwars2.com/wiki/Sigil#Stacking_bonus">stacking sigil</a>. It's easy to fully stack it during the Thumper phase.
    </p>
    <h3 id="LowlandExpertise">Lowland Expertise</h3>
    <image src="images/JW/Lowland_Expertise.png" alt="lowland expertise icon" style="width:40px;"/>
    <p>
        Lowland Expertise is a buff you can purchase from each of the <image src="https://render.guildwars2.com/file/B3DEEC72BBEF0C6FC6FEF835A0E275FCB1151BB7/102439.png" alt="heart" style="width:20px;"/>hearts in Janthir Wilds.
        This buff is per character, so you'll need to do this for each character you plan to Converge with.
        Each stack of Lowland Expertise gives a different buff:
    </p>
    <ol>
        <li>+10%  <image src="/icons/15px-Experience.png" alt="exp" style="width:15px;" /> Experience</li>
        <li>+10% <image src="https://render.guildwars2.com/file/94953FA23D3E0D23559624015DFEA4CFAA07F0E5/155026.png" alt="karma" style="width:20px;"/> Karma </li>
        <li>+10% <image src="https://render.guildwars2.com/file/98457F504BA2FAC8457F532C4B30EDC23929ACF9/619316.png" alt="gold" style="width:20px;"/> Gold </li>
        <li>Gain additional map material from Kodan Caches</li>
        <li>Gain <image src="https://render.guildwars2.com/file/96D90DF84CAFE008233DD1C2606A12C1A0E68048/102842.png" alt="fury icon" style="width:20px;"/>fury when striking an enemy with the warclaw's dismount attack</li>
        <li>Gain additional <image src="https://render.guildwars2.com/file/662D371A6C145EDDDA2DE6B53BC05F5F08CE386F/2596977.png" alt="unusual coins" style="width:20px;"/>Unusual Coins from Kodan Caches</li>
        <li>+5% Damage vs. titanspawn</li>
    </ol>
    <p>
        As far as Convergences go, we care only about the 5th and 7th stacks.
    </p>
    <p>
        You can farm all 7 stacks in a single day. Each of the <image src="https://render.guildwars2.com/file/B3DEEC72BBEF0C6FC6FEF835A0E275FCB1151BB7/102439.png" alt="heart" style="width:20px;"/>hearts in Janthir Wilds sells it after completing that <image src="https://render.guildwars2.com/file/B3DEEC72BBEF0C6FC6FEF835A0E275FCB1151BB7/102439.png" alt="heart" style="width:20px;"/>heart.
    </p>
    <p>
        Each time you buy <image src="images/JW/Lowland_Expertise.png" alt="lowland expertise icon" style="width:20px;"/>Lowland Expertise, it adds a stack. Additional purchases won't increase it past 7 stacks, but will increase the timer before it expires by 4 hours. This timer also caps at 24 hours.
        You should only need to do some <image src="https://render.guildwars2.com/file/B3DEEC72BBEF0C6FC6FEF835A0E275FCB1151BB7/102439.png" alt="heart" style="width:20px;"/>hearts every couple days to keep the buff up, as it doesn't count down unless you're logged in on that character. 
    </p>
    <p>If you let it expire, you will need to redo all 7 stacks of <image src="images/JW/Lowland_Expertise.png" alt="lowland expertise icon" style="width:20px;"/>Lowland Expertise.</p>
</section>