<section>
    <h3>Before you start!</h3>
    <h4>How to get into the Convergence</h4>
    For the Janthir Wilds convergences, go to the Harvest Den waypoint in Lowland Shore.<br>
    <image src="/images/JW/Shared/LowlandWaypoint.png" alt="convergenceentrancemini" style="width:100%;max-width:300px;"></image><br>
    In the east side of the Bonfire Lodge is the convergence portal(blue swirl on minimap).<br>
    <image src="/images/JW/Shared/Lowland.png" alt="convergenceentrance" style="width:100%;max-width:600px;"></image><br>
    <br>
    Janthir Wilds public convergences happen every 3 hours.<br>
    You can check when they are by typing '/wiki et' in game or going to <a href="https://wiki.guildwars2.com/wiki/Event_timers">https://wiki.guildwars2.com/wiki/Event_timers</a>.<br>
    <br>
    Private convergences can be opened whenever you want.<br>
    To open one, it costs an <a href="https://wiki.guildwars2.com/wiki/Unstable_Rift_Motivation">Unstable Rift Motivation</a>.<br>
    It's recommended you bring a full 50 man squad with you.<br>
    <br>
    
    
    
</section>