<section>
    <h3>Shared Boss Mechanics (JW)</h3>
    <h4>Calibrated Essence</h4>
    The Tectonic Thumper still needs to stay calibrated while you fight the boss.<br>
    The boss drops essence every 10% of their hp, and at the end of each phase.<br>
    Hold on to the essence for increased stats.<br>
    Turn it in to Distant Memory's projection to boost the Tectonic Thumper's Synchronization bar and get progress on the Frozen Soil Dispell.<br>
    <br>
    <h4>Phase Transitions</h4>
    Each boss has 4 phases.<br>
    At the end of each phase, the boss will burrow into the mountain and move to a new location.<br>
    The titan will always start at the Steamshrieker's Court.<br>
    The second and third phases will be at Stormsinger's and Blightbringer's Courts, in random order.<br>
    The last phase will always come back to Steamshrieker's Court.<br>
    <image src="/images/JW/Shared/TitanTransitionPaths.png" alt="Titan Transition Paths" style="width:100%;max-width:600px;"></image><br>
    The titans could take any combination of these <span style="color:rgb(255, 255, 0);">paths</span> inbetween each Court.<br>
    They leave behind a trail of Titan Stench.<br>
    <image src="/images/JW/Shared/Sniffa.png" alt="Sniffa" style="width:100%;max-width:50px;"></image>
    Track it with your warclaws sniff skill and collect as much Titan Stench as you can.<br>
    <image src="/images/JW/Shared/TitanStench.png" alt="Titan Stench" style="width:100%;max-width:350px;"></image><br>
    When enough Titan Stench has been collected by the group, the boss will unburrow.<br>
    <image src="/images/JW/Shared/TransitionTPtoBoss.png" alt="TptoBossSpecialActionIcon" style="width:100%;max-width:50px;"></image>
    A special action key will appear near your health, use it to TP to the boss.<br>
    
</section>