<section id="JWShared">
    <h2>Shared Boss Mechanics</h2>
    <figure style="max-width:600px;">
        <image src="/images/JW/Shared/TitanTransitionPaths.png" alt="Titan Transition Paths" style="width:100%;"/>
        <figcaption>The titans could take any combination of these <span style="color:rgb(255, 255, 0);">paths</span> inbetween each Court.</figcaption>
    </figure>
    <h4>Calibrated Essence</h4>
    <p>
        The boss drops essence every 10% of their hp. Unlike SotO, there is no extra essence at the end of each phase.
        Hold on to the essence for increased stats.
        During the boss fights, you should hold onto all of the essence you can, It's rare enough that building it back up to 50 will take you at least 2 full phases.
        The Tectonic Thumper should stay calibrated for the whole fight.
    </p>
    <p>As a result, people that get wisped will likely never come back after the initial boss spawn. Every down counts.</p>
    
   
    <figure style="max-width:350px;float:left;clear:left;">
        <image src="/images/JW/Shared/TitanStench.png" alt="Titan Stench" style="width:100%;max-width:350px;"></image>
        <figcaption>Trail of Titan Stench</figcaption>
    </figure>
    <h4>Phase Transitions</h4>
    <p>
        Each boss has 4 phases.
        At the end of each phase, the boss will burrow into the mountain and move to a new location.
        The titan will always start at the <span style="color:rgb(255, 128, 0)">Steamshrieker's Court</span>.
        The second and third phases will be at <span style="color:rgb(0, 128, 255);">Stormsinger's</span> and <span style="color:rgb(128, 255, 0);">Blightbringer's</span> Courts, in random order.
        The last phase will always come back to <span style="color:rgb(255, 128, 0)">Steamshrieker's Court</span>.
    </p>
    <figure style="max-width:50px;float:inline-end;clear:none;">
        <image src="/images/JW/Shared/Sniffa.png" alt="Sniffa" style="width:100%;"></image>
        <figcaption>Sniffa</figcaption>
    </figure>
    <p>
        They leave behind a trail of Titan Stench.
        Track it with your warclaws sniff skill and collect as much Titan Stench as you can.
    </p>
    <figure style="max-width:50px;float:inline-end;clear:none;">
        <image src="/images/JW/Shared/TransitionTPtoBoss.png" alt="TptoBossSpecialActionIcon" style="width:100%;max-width:50px;"/>
        <figcaption>TP to boss</figcaption>
    </figure>
    <p>
        When enough Titan Stench has been collected by the group, the boss will unburrow.
        A special action key will appear near your health, use it to TP to the boss.
    </p>
</section>