<section>
    <h3>Shared Boss Mechanics (JW)</h3>
    Each boss has 4 phases.<br>
    At the end of each phase, the boss will burrow into the mountain and move to a new location.<br>
    They leave behind a trail of Titan Stench.<br>
    Track it with your warclaws sniff skill and collect as much Titan Stench as you can.<br>
    When enough Titan Stench has been collected by the group, the boss will unburrow.<br>
    A special action key will appear near your health, use it to TP to the boss.<br>
    <image src="/images/JW/Shared/TransitionTPtoBoss.png" alt="TptoBossSpecialActionIcon" style="width:100%;max-width:50px;"></image><br>
</section>