<section>
    <h3>Thumper phase</h3>
    The start of the thumper phase starts once the Base Camp is built!<br>
    The goal of the thumper phase is to fill the Tectonic Thumper Synchronization bar.<br>
    Fill this bar by turning in essence.<br>
    Keep control of the base camp to prevent the bar from falling.<br>
    Completed thumper sites 

    There are 5 thumper sites around the map that can be built.<br>
    3 minute defense for each thumper.<br>
    Afterwards a titan disrupter spawns. Kill it to finish that thumper.<br>
    <image src="/images/JW/Thumper/ThumperSplits.png"></image><br>

    <h4>Side Events</h4>
    <ul>
        <li>
            <h5>Titanspawn Sapper</h5>
            The sapper steals essence from the <span style="color:rgb(171,205,50)">main camp thumper</span>.<br>
            Track it down with your warclaw's Sniff skill.<br>
            Break the sappers defiance bar to ping it on the map for everyone.<br>
            Upon dying, it drops a ton of essence. Bring everyone that's available so you can feed it all back to the thumper.<br>
            <image src="" alt="Titanspawn Sapper" style="width:100%;max-width:500px;"></image><br>
            <image src="" alt="Sapper essence" style="width:100%;max-width:500px;"></image><br>
        </li>
        <li>
            <h5>Titanspawn Leaders</h5>
            During the thumper phase, one of three Titanspawn Leaders will spawn.<br>
            <ul>
                <li>
                    <h5 style="color:rgb(0,242,255)">Northwest Titanspawn Leader</h5>
                    Stormsinger's Court<br>
                    Walks south to the <span style="color:rgb(237,28,36)">West Thumper</span> and attacks if it's up.<br>
                    Continues on to the <span style="color:rgb(171,205,50)">Main Camp</span>.
                </li>
                <li>
                    <h5 style="color:rgb(145,82,255)">North Titanspawn Leader</h5> 
                    Steamshrieker's Court<br>
                    Walks west through the tunnel to the <span style="color:rgb(0,162,232)">Center Thumper</span> and attacks if it's up.<br>
                    Continues on to the <span style="color:rgb(171,205,50)">Main Camp</span>.
                </li>
                <li>
                    <h5 style="color:rgb(244,255,60)">Southeast Titanspawn Leader</h5>
                    Blightbringer's Court<br>
                    Walks west to the <span style="color:rgb(255,127,39)">Southeast Thumper</span> and attacks if it's up.<br>
                    Continues on to the <span style="color:rgb(171,205,50)">Main Camp</span>.

                </li>
            </ul>
            Once the Titanspawn Leader is defeated, Distant Memory will create several projections around the map.<br>
            Collect the essence the leader dropped and turn it in to the nearest projection!<br>
            <image src="/images/JW/Thumper/ThumperTSLeaders.png" alt="TitanspawnLeaderRoutes" style="width:100%;max-width:800px;"></image><br>
        </li>
    </ul>

    <h4>Weather</h4>
    When the Tectonic Thumper Synchronization bar is 30% full, Mt. Balrior will create one of four types of weather.<br>
    <ul>
        <li>
            <h5>Sandstorm</h5>
        </li>
        <li>
            <h5>Snowstorm</h5>
            Blizzard - Ice formations fall on the ground, damaging and chilling.<br>
            Snowballs roll down the mountain.<br>
        </li>
        <li>
            <h5>Thunderstorm</h5>
            Lightning Strikes - Lightning hits all over the mountain.<br>
        </li>
        <li>
            <h5>Volcano</h5>
            Rain of Fire - Meteors and Shockwaves.<br>
            Crush - Lava Rocks roll down the main paths.<br>
        </li>
    </ul>
    <br>
    <h4>Mist Tides</h4>
    When the Tectonic Thumper Synchonization bar reaches 70%, the Mists Tide rolls in.<br>
    Which Mist Tide depends on which boss is chosen.<br>
    <ul>
        <li>
            Decima<br>
            Lightning Strikes<br>
        </li>
        <li>
            Greer<br>
            Blighted Strikes<br>
        </li>
        <li>
            Ura<br>
            TBD, Steam Strikes? lol<br>
        </li>
    </ul>
</section>