<section style="justify-content: center;" id="Thumper">
    <h2>Thumper phase</h2>
    <p>
        After running the entire warclaw door route, you'll be back at the <span style="color:rgb(171,205,50)">Base Camp</span>!
        Do not immediately turn in your essence. 
    </p>
    <p>
        Grab a Supply Crate with your warclaw from the Calibration Thumper Supplies pile in the <span style="color:rgb(171,205,50)">Base Camp</span> and take it to your assigned Thumper.
        The subgroup assigned to the <span style="color:rgb(171,205,50)">Base Camp</span> should help South East build their thumper.
    </p>
    <figure style="max-width:500px;">
        <image src="/images/JW/Thumper/Supplies.png" alt="Supplies" style="width:100%;"/>
        <figcaption>Pickup supplies from the wagon!</figcaption>
    </figure>
    <p>
        Be careful when revealing the Thumper, if multiple people sniff it, it can become bugged and be unusable.
        Some convergence groups will assign a designated sniffer for each thumper.
    </p>
    <p>
        Once built, the thumper needs to be defended from waves of titanspawn for 3 minutes.
        After those 3 minutes, a titan disruptor spawns. Kill it to finish the thumper.
    </p>
    <p> 
        The goal of the thumper phase is to fill the Tectonic Thumper Synchronization bar.
        Fill this bar by turning in essence produced by the thumpers.
        Every time you get 40+ essence, you should turn it in to fill the bar.
    </p>
    <div style="display:flex; flex-wrap:wrap;">
    <figure style="max-width:600px;">
        <image src="/images/JW/Thumper/ThumperRightbar.png" alt="rightbar" style="width:100%;"/>
        <figcaption>Keep control of the <span style="color:rgb(171,205,50)">Base Camp</span> to prevent the Synchronization bar from falling.</figcaption>
    </figure>
    <figure style="max-width:200px;">
        <image src="/images/JW/Thumper/Essence.png" alt="essence" style="width:100%;"/>
        <figcaption>A lone essence waiting to be collected.</figcaption>
    </figure>
    </div>

    <figure style="max-width:700px;float:inline-end;clear:right;">
        <image src="/images/JW/Thumper/ThumperRoutesv2.png" alt="Thumper Splits" style="width:100%;"/>
        <figcaption>Shortest paths to each Thumper from the <span style="color:rgb(171,205,50)">Base Camp</span></figcaption>
    </figure>
    <!--
    <figure>
        <image src="/images/JW/Thumper/TitanDisruptor.png" alt="disruptor" style="width:100%;max-width:500px;"/>
        <figcaption><figcaption>
    </figure>
    -->
    <h4 id="splittingup">Splitting up the squad</h4>
    <p>
        As with any 50 man squad, there should be 10 subgroups.
        The issue here is that there are 6 areas requiring attention.
        I suggest sending 1 subgroup to <span style="color:rgb(255,242,0);">North</span> and designate 1 to defend <span style="color:rgb(171,205,50);">Base Camp</span>. The other thumpers should all get 2 subgroups.
        When a side event comes, the thumpers with two subgroups should send one of their subs to the side event.
    </p>
    <h4 id="sideevents">Side Events</h4>
    <ul>
        <li>
            <h5>Titanspawn Sapper</h5>
            <p>
                The sapper steals essence from the <span style="color:rgb(171,205,50);">main camp thumper</span>.
                <figure style="width:50px;float:inline-start;clear:none;">
                    <image src="/images/JW/Shared/Sniffa.png" alt="Sniffa" style="width:100%;"/>
                    <figcaption>Sniffa</figcaption>
                </figure>
                Track it down with your warclaw's Sniff skill.
                Break the sappers defiance bar to ping it on the map for everyone.
                Upon dying, it drops a ton of essence. Bring everyone that's available so you can feed it all back to the thumper.
            </p>
            
            <!--<image src="" alt="Titanspawn Sapper" style="width:100%;max-width:500px;"></image><br>-->
            <figure style="max-width:500px;">
                <image src="/images/JW/Thumper/SapperEssence.png" alt="Sapper essence" style="width:100%;"/>
                <figcaption>Sappers and Leaders drop a ton of essence.</figcaption>
            </figure>
        </li>
        <li>
            <h5>Titanspawn Leaders</h5>
            <p>During the thumper phase, one of three Titanspawn Leaders will spawn.</p>
            <ul>
                <li>
                    <h5 style="color:rgb(0,242,255);">Northwest Titanspawn Leader</h5>
                    <p>
                        Starts at <span style="color:rgb(0,242,255);">Stormsinger's Court</span>.
                        Walks south to the <span style="color:rgb(237,28,36);">West Thumper</span>.
                        Continues on to the <span style="color:rgb(171,205,50);">Main Camp</span>.
                    </p>
                </li>
                <li>
                    <h5 style="color:rgb(145,82,255);">North Titanspawn Leader</h5>
                    <p>
                        Starts at <span style="color:rgb(145,82,255);">Steamshrieker's Court</span>.
                        Walks west through the tunnel to the <span style="color:rgb(0,162,232);">Center Thumper</span>.
                        Continues on to the <span style="color:rgb(171,205,50);">Main Camp</span>.
                    </p>
                </li>
                <li>
                    <h5 style="color:rgb(244,255,60);">Southeast Titanspawn Leader</h5>
                    <p>
                        Starts at <span style="color:rgb(244,255,60);">Blightbringer's Court</span>.
                        Walks west to the <span style="color:rgb(255,127,39);">Southeast Thumper</span>.
                        Continues on to the <span style="color:rgb(171,205,50);">Main Camp</span>.
                    </p>
                </li>
            </ul>
            <p>
                Once the Titanspawn Leader is defeated, Distant Memory will create several projections around the map.
                Collect the essence the leader dropped and turn it in to the nearest projection!
            </p>
            <figure>
                <image src="/images/JW/Thumper/ThumperTSLeaders.png" alt="TitanspawnLeaderRoutes" style="width:100%;max-width:800px;"/>
                <figcaption></figcaption>
            </figure>
        </li>
    </ul>

    <h4 id="weather">Weather</h4>
    <p>
        When the Tectonic Thumper Synchronization bar is 30% full, Mt. Balrior will create one of four types of weather.
    </p>
    <ul>
        <li>
            <h5>Sandstorm</h5>
            Reduced Visibility.<br>
            <span style="color:rgb(255,201,14);">Sand Swirls</span> - Knock up and blind.<br>
            <figure>
                <image src="/images/JW/Thumper/Sandswirl.png" alt="Sandswirl" style="width:100%;max-width:500px;"></image>
                <figcaption>A sandswirl </figcaption>
            </figure>
        </li>
        <li>
            <h5>Snowstorm</h5>
            <span style="color:rgb(0,162,232);">Blizzard</span> - Ice formations fall on the ground, damaging and chilling.<br>
            <span style="color:rgb(153,217,234);">Snowballs</span> roll down the mountain.<br>
            <figure>
                <image src="/images/JW/Thumper/Snowstorm.png" alt="Snowball and Blizzard" style="width:100%;max-width:500px;"/>
            </figure>
        </li>
        <li>
            <h5>Thunderstorm</h5>
            Lightning Strikes - Lightning hits all over the mountain.<br>
        </li>
        <li>
            <h5>Volcano</h5>
            <span style="color:rgb(232,99,47)"></span>Rain of Fire - Meteors and Shockwaves.<br>
            <figure>
                <image src="/images/JW/Thumper/MeteorWarning.png" alt="Meteor predict" style="width:100%;max-width:600px;"></image>
                <figcaption>Indicator for a meteor impact</figcaption>
            </figure>
            <figure>
                <image src="/images/JW/Thumper/MeteorShockwave.png" alt="Meteor Shockwave" style="width:100%;max-width:600px;"></image>
                <figcaption>Shockwave from the meteor impact</figcaption>
            </figure>
            <span style="color:rgb(237,28,36)">Lava Rocks</span> roll down the main paths.<br>
            <figure>
                <image src="/images/JW/Thumper/LavaRock.png" alt="Lavarock rolling down the path" style="width:100%;max-width:500px;"></image>
                <figcaption>A lava rock rolling down the hill</figcaption>
            </figure>
        </li>
    </ul>
    <h4 id="misttides">Mist Tides</h4>
    <p>
        When the Tectonic Thumper Synchonization bar reaches 70%, the Mists Tide rolls in.
        Which Mist Tide depends on which boss is chosen.
    </p>
    <ul>
        <li>
            Decima - Lightning Strikes
        </li>
        <li>
            Greer - Blighted Strikes
            <figure>
                <image src="/images/JW/Thumper/BlightedStrikes.png" alt="Blighted Strikes" style="width:100%;max-width:600px;"/>
                <figcaption>Blighted Strikes</figcaption>
            </figure>
        </li>
        <li>
            Ura - Titanspawn Gysers
            <figure>
                <image src="/images/JW/Thumper/Gyser.png" alt="Titanspawn Gyser" style="width:100%;max-width:600px;"/>
                <figcaption>Titanspawn Gyser</figcaption>
            </figure>
        </li>
    </ul>
</section>