<section>
    <h3>Thumper phase</h3>
    The start of the thumper phase starts once the <span style="color:rgb(171,205,50)">Base Camp</span> is built!<br>
    The goal of the thumper phase is to fill the Tectonic Thumper Synchronization bar.<br>
    Fill this bar by turning in essence produced by the thumpers.<br>
    <image src="/images/JW/Thumper/ThumperRightbar.png" alt="rightbar" style="width:100%;max-width:800px;"></image><br>
    Keep control of the <span style="color:rgb(171,205,50)">Base Camp</span> to prevent the Synchronization bar from falling.<br>
    <br>

    There are 5 thumper sites around the map.<br>
    Each one takes 5 supplies to be built, take a subgroup to each one.<br>
    3 minute defense for each thumper.<br>
    Afterwards a titan disrupter spawns. Kill it to finish that thumper.<br>
    Each completed thumper site increases the amount of Synchronization for turning in each essence.<br>
    <image src="/images/JW/Thumper/ThumperSplits.png" alt="Thumper Splits" style="width:100%;max-width:800px;"></image><br>
    <br>
    <h4>Splitting up the squad</h4>
    As with any 50 man squad, there should be 10 subgroups.<br>
    The issue here is that there are 6 areas requiring attention.<br>
    I suggest sending 2 subgroups each to the <span style="color:rgb(255,242,0);">North</span> and <span style="color:rgb(163,73,164);">East</span> thumpers.<br>
    <span style="color:rgb(237,28,36)">West</span>, <span style="color:rgb(0,162,232);">Center</span>, <span style="color:rgb(255,127,39)">Southeast</span>, and <span style="color:rgb(171,205,50)">Main Camp</span> each get 1 subgroup.<br>
    That leaves 2 subgroups to tackle the side events.<br>
    When theyre not handling a side event, they should be helping either <span style="color:rgb(255,127,39)">Southeast</span>, <span style="color:rgb(237,28,36)">West</span> or <span style="color:rgb(0,162,232);">Center</span>.<br>
    <br>

    <h4>Side Events</h4>
    <ul>
        <li>
            <h5>Titanspawn Sapper</h5>
            The sapper steals essence from the <span style="color:rgb(171,205,50)">main camp thumper</span>.<br>
            Track it down with your warclaw's Sniff skill.<br>
            Break the sappers defiance bar to ping it on the map for everyone.<br>
            Upon dying, it drops a ton of essence. Bring everyone that's available so you can feed it all back to the thumper.<br>
            <image src="" alt="Titanspawn Sapper" style="width:100%;max-width:500px;"></image><br>
            <image src="" alt="Sapper essence" style="width:100%;max-width:500px;"></image><br>
        </li>
        <li>
            <h5>Titanspawn Leaders</h5>
            During the thumper phase, one of three Titanspawn Leaders will spawn.<br>
            <ul>
                <li>
                    <h5 style="color:rgb(0,242,255)">Northwest Titanspawn Leader</h5>
                    Stormsinger's Court<br>
                    Walks south to the <span style="color:rgb(237,28,36)">West Thumper</span> and attacks if it's up.<br>
                    Continues on to the <span style="color:rgb(171,205,50)">Main Camp</span>.
                </li>
                <li>
                    <h5 style="color:rgb(145,82,255)">North Titanspawn Leader</h5> 
                    Steamshrieker's Court<br>
                    Walks west through the tunnel to the <span style="color:rgb(0,162,232)">Center Thumper</span> and attacks if it's up.<br>
                    Continues on to the <span style="color:rgb(171,205,50)">Main Camp</span>.
                </li>
                <li>
                    <h5 style="color:rgb(244,255,60)">Southeast Titanspawn Leader</h5>
                    Blightbringer's Court<br>
                    Walks west to the <span style="color:rgb(255,127,39)">Southeast Thumper</span> and attacks if it's up.<br>
                    Continues on to the <span style="color:rgb(171,205,50)">Main Camp</span>.

                </li>
            </ul>
            Once the Titanspawn Leader is defeated, Distant Memory will create several projections around the map.<br>
            Collect the essence the leader dropped and turn it in to the nearest projection!<br>
            <image src="/images/JW/Thumper/ThumperTSLeaders.png" alt="TitanspawnLeaderRoutes" style="width:100%;max-width:800px;"></image><br>
        </li>
    </ul>

    <h4>Weather</h4>
    When the Tectonic Thumper Synchronization bar is 30% full, Mt. Balrior will create one of four types of weather.<br>
    <ul>
        <li>
            <h5>Sandstorm</h5>
            Visibility is reduced significantly.<br>
            Sand Swirls - Knock up and blind.<br>
            <image src="/images/JW/Thumper/Sandswirl.png"></image>
        </li>
        <li>
            <h5>Snowstorm</h5>
            <span style="color:rgb(0,162,232);">Blizzard</span> - Ice formations fall on the ground, damaging and chilling.<br>
            <span style="color:rgb(153,217,234);">Snowballs</span> roll down the mountain.<br>
            <image src="/images/JW/Thumper/Snowstorm.png" alt="Snowball and Blizzard" style="width:100%;max-width:500px;"></image><br>
        </li>
        <li>
            <h5>Thunderstorm</h5>
            Lightning Strikes - Lightning hits all over the mountain.<br>
        </li>
        <li>
            <h5>Volcano</h5>
            <span style="color:rgb(232,99,47)"></span>Rain of Fire - Meteors and Shockwaves.<br>
            <image src="/images/JW/Thumper/MeteorShockwave.png" alt="Meteor Shockwave" style="width:100%;max-width:600px;"></image><br>
            <span style="color:rgb(237,28,36)">Lava Rocks</span> roll down the main paths.<br>
            <image src="/images/JW/Thumper/LavaRock.png" alt="Lavarock rolling down the path" style="width:100%;max-width:500px;"></image><br>
        </li>
    </ul>
    <br>
    <h4>Mist Tides</h4>
    When the Tectonic Thumper Synchonization bar reaches 70%, the Mists Tide rolls in.<br>
    Which Mist Tide depends on which boss is chosen.<br>
    <ul>
        <li>
            Decima<br>
            Lightning Strikes<br>
        </li>
        <li>
            Greer<br>
            Blighted Strikes<br>
        </li>
        <li>
            Ura<br>
            TBD, Steam Strikes? lol<br>
        </li>
    </ul>
</section>