<section>
    <h3>Thumper phase</h3>
    The start of the thumper phase starts once the Base Camp is built!<br>
    The goal of the thumper phase is to fill the Tectonic Thumper Synchronization bar.<br>
    Fill this bar by turning in essence.<br>
    Keep control of the base camp to prevent the bar from falling.<br>
    Completed thumper sites 

    There are 5 thumper sites around the map that can be built.<br>

</section>