#PressureBlastFigures{
    flex-direction:column;
    width:100%;
    display:flex;
    justify-content:center;
}
@media(min-width: 1400px){
    #PressureBlastFigures{
        flex-direction: row;
    }
}