<section>
    <h3>Ura, the Steamshrieker</h3>
    Mistress of Effluence<br>
    <br>
    <h4>Strategy</h4>
    <p>
        Bring CC! Ura's breakbar comes up every 5%. When it's up she builds up stacks of Rising Pressure. Break the breakbar to remove them.
        Also avoid standing infront of Ura to avoid being bubbled. Consider dumping some healers in favor of more boondps for more dps.
    </p>
    <h4>Ura's Passives</h4>
    <ul>
        <li> 
            <h5 style="color:rgb(255,208,0);">Rising Pressure <image src="/images/JW/Ura/UraRisingPressure.png" alt="rising pressure icon"/></h5>
            
            When Ura's breakbar is up, she gains stacks of <span style="color:rgb(255, 208, 0);">Rising Pressure</span>. Every stack gives Ura 5% increased damage and 5% damage reduction. 
            CC the breakbar and the stacks she's built up will fall off.
        </li>
        <li>
            <h5 style="color:rgb(255, 0, 0);">Scalding Aura</h5>
            <p>
                Ura has a super heated puddle of acid underneath her the entire fight. Applies burning.
            </p>
        </li>
    </ul>
    <h4>Ura's Skills</h4>
    <ul>
        <li>
            <h5 style="color:rgb(0, 255, 255);">Slam</h5>
            Ura slams side to side, then raises up and slams a cone in front of her.
            <figure style="float:none;max-width:600px;">
                <image src="/images/JW/Ura/UraSlamThree.png" alt="SlamThree" style="width:100%"/>
                <figcaption>Ura's third <span style="color:rgb(0,255,255);">Slam</span></figcaption>
            </figure>
        </li>
        <li>
            <h5 style="color:rgb(75, 123, 255);">Pressure Blast - Bubble</h5>
            <p>
            Ura reaches forward with her hands and <span style="color:rgb(75,123,255);">Pressure Blasts</span> directly in front of her. 
            Don't stand in front of her or you'll get lifted. 
            The bubbles spread to nearby players, potentially lifting the whole group even if only one person was standing in the aoe.
            </p>
            <div id="PressureBlastFigures">
                <figure style="float:none;max-width:600px;">
                    <image src="/images/JW/Ura/UraPressureBlastOne.png" alt="Pressure Blast" style="width:100%;"></image>
                    <figcaption>Ura using <span style="color:rgb(75,123,255)">Pressure Blast</span> and everyone avoiding it.</figcaption>
                </figure>
                <figure style="float:none;max-width:600px;">
                    <image src="/images/JW/Ura/UraPressureBlastBubbled.png" alt="everyone getting bubbled" style="width:100%"/>
                    <figcaption>Everyone getting bubbled by <span style="color:rgb(75,123,255)">Pressure Blast</span></figcaption>
                </figure>
            </div>
        </li>
        <li>
            <h5 style="color:rgb(255, 255, 0);">Propel</h5>
            <p>Ura leaps forward. Massive damage on landing, don't chase her until she actually lands as the impact is bigger than it looks.</p>
        </li>
        
        <li>
            <h5 style="color:rgb(80, 200, 0);">Sulfuric Acid</h5>
            <p>
                Deals damage every second and applies Exposed every 10 seconds.
            </p>
        </li>
        <li>
            <h5 style="color:rgb(139, 255, 61);">Sulfuric Froth</h5>
            <p>
                Sulfuric Acid spills out of Ura as she moves around, leaving puddles of <span style="color:rgb(139,255,61);">Sulfuric Froth</span> around. Applies <span style="color:rgb(80,200,0);">Sulfuric Acid</span>.
            </p>
        </li>
        <li>
            <h5 style="color:rgb(162, 216, 126);">Acid Spray</h5>
            <p>
                Ura sprays acid from her hands. Applies <span style="color:rgb(80,200,0);">Sulfuric Acid</span>.
            </p>
        </li>
        
    </ul>
</section>