<section>
    <h3>Ura, the Steamshrieker</h3>
    Mistress of Effluence<br>
    <br>
    <h4>Strategy</h4>
    <p>
        Bring CC! When Ura's breakbar is up, she builds up stacks of Rising Pressure. Break the breakbar to remove them.
        Also avoid standing infront of Ura to avoid being bubbled. Consider dumping some healers in favor of more boondps for more dps.
    </p>
    <h4>Ura's Passives</h4>
    <ul>
        <li> 
            <h5>Rising Pressure</h5>
            When Ura's breakbar is up, she gains stacks of Rising Pressure. Every stack gives 5% damage and 5% damage reduction. 
            CC the breakbar and the stacks she's built up will fall off.
        </li>
        <li>
            <h5>Scalding Aura</h5>
            <p>
                Ura has a super heated puddle of acid under her the entire fight. Applies burning.
            </p>
        </li>
    </ul>
    <h4>Ura's Skills</h4>
    <ul>
        <li>
            <h5>Slam</h5>
            Ura slams the ground three times, the final time in a cone in front of her.
        </li>
        <li>
            <h5>Pressure Blast - Bubble</h5>
            Ura reaches forward with her hands and Pressure Blasts directly in front of her. Don't stand in front of her or you'll get lifted.
        </li>
        <li>
            <h5>Propel</h5>
            <p>Ura leaps forward. Massive damage on landing, don't chase her until she actually lands as the impact is bigger than it looks.</p>
        </li>
        
        <li>
            <h5>Sulfuric Acid</h5>
            <p>
                Deals damage every second and applies Exposed every 5 seconds.
            </p>
        </li>
        <li>
            <h5>Sulfuric Froth</h5>
            <p>
                Applies Sulfuric Acid.
            </p>
        </li>
        <li>
            <h5>Acid Spray</h5>
            <p>
                Ura sprays acid from her hands. Applies Sulfuric Acid.
            </p>
        </li>
        
    </ul>
</section>