<section>
    <h3>Ura, the Steamshrieker</h3>
    Mistress of Effluence<br>
    <br>
    Ura was just confirmed as the third Convergence boss.<br>
    She should be available with the June 3rd patch.<br>
    <a href="https://www.guildwars2.com/en/news/studio-update-absolution-launches-june-3/">Studio Update: "Absolution" Launches June 3rd</a><br>
    <br>
    <image src="/images/JW/Ura/Absolution.png" alt="Absolution features" style="width:100%;max-width:700px;"></image><br>
    <br>
</section>