@using ConvergenceCorpBlazor.Classes.Model;
@using ConvergenceCorpBlazor.Classes.Model.Game;

<h2>Public Convergences</h2>
@if(SotoTime < JWTime)
{    
    if(VoETime < SotoTime)
    {
        <PublicTimer gameRegion="GameRegion.Magic" TimerSize="Small" />
        <PublicTimer gameRegion="GameRegion.Sky" TimerSize="Small" />
        <PublicTimer gameRegion="GameRegion.Wild" TimerSize="Small" />
    }
    else if(VoETime < JWTime)
    {
        <PublicTimer gameRegion="GameRegion.Sky" TimerSize="Small" />
        <PublicTimer gameRegion="GameRegion.Magic" TimerSize="Small" />
        <PublicTimer gameRegion="GameRegion.Wild" TimerSize="Small" />
    }
    else
    {
        <PublicTimer gameRegion="GameRegion.Sky" TimerSize="Small" />
        <PublicTimer gameRegion="GameRegion.Wild" TimerSize="Small" />
        <PublicTimer gameRegion="GameRegion.Magic" TimerSize="Small" />
    }
}
else if(JWTime < SotoTime)
{
    if (VoETime < JWTime)
    {
        <PublicTimer gameRegion="GameRegion.Magic" TimerSize="Small" />
        <PublicTimer gameRegion="GameRegion.Wild" TimerSize="Small" />
        <PublicTimer gameRegion="GameRegion.Sky" TimerSize="Small" />
    }
    else if (VoETime < SotoTime)
    {
        <PublicTimer gameRegion="GameRegion.Wild" TimerSize="Small" />
        <PublicTimer gameRegion="GameRegion.Magic" TimerSize="Small" />
        <PublicTimer gameRegion="GameRegion.Sky" TimerSize="Small" />
    }
    else
    {
        <PublicTimer gameRegion="GameRegion.Wild" TimerSize="Small" />
        <PublicTimer gameRegion="GameRegion.Sky" TimerSize="Small" />
        <PublicTimer gameRegion="GameRegion.Magic" TimerSize="Small" />
    }
}

@code{
    DateTimeOffset SotoTime = PublicTime.GetNextAreaTime(GameRegion.Sky);
    DateTimeOffset JWTime = PublicTime.GetNextAreaTime(GameRegion.Wild);
    DateTimeOffset VoETime = PublicTime.GetNextAreaTime(GameRegion.Magic);
}
