@using ConvergenceCorpBlazor.Classes.Model.Game; <!-- for GameRegion -->
@using ConvergenceCorpBlazor.Classes.Model; <!-- for PublicTime -->

<div style="text-align:center;padding-bottom:10px;">
    <h3>
        <image src="/images/JW/Janthir_Wilds_logo.png" alt="jw logo" style="width:50px;"/>
        Janthir Wilds Public Convergence times
    </h3>
    <p>
        Public instances open every 3 hours.
    </p>
    @if(JWTime < DateTimeOffset.Now)
    {
        <p>
            The Janthir Wilds Public Convergence is open <span class="time">NOW</span>!
        </p>
    }
    else
    {
        <p>
            Next one opens at <span class="time jwtimes">@JWTime</span> in 
            <span class="time">@countdownTime.ToString(@"%h\:mm\:ss")</span>
        </p>
    }

    <script>
        var jwtimes = document.getElementsByClassName('jwtimes');
        for(var jt of jwtimes){
            let jwnewdate = new Date(jt.innerText);
            jt.innerText = jwnewdate.toLocaleString([], {
                hour:'numeric',
                minute:'2-digit'
            });
        }
    </script>
</div>

@code {
    DateTimeOffset JWTime = PublicTime.GetNextAreaTime(GameRegion.Wild);
    TimeSpan countdownTime { get; set; } = TimeSpan.Zero;

    public void CheckTime()
    {
        countdownTime = DateTimeOffset.Now - JWTime;
        InvokeAsync(() =>
        {
            StateHasChanged();
        });
    }

    protected override void OnAfterRender(bool firstRender)
    {
        Timer timerA = new Timer(new TimerCallback(_ =>
        {
            CheckTime();
        }), null, 1000, 1000);
    }
}