@using ConvergenceCorpBlazor.Classes.Model.Game; <!-- for GameRegion-->
@using ConvergenceCorpBlazor.Classes.Model; <!-- for PublicTime-->

<div style="text-align:center;padding-bottom:10px;">
    <h3>
        <image src="/images/SotO/Secrets_of_the_Obscure_logo.png" alt="soto logo" style="width:50px;"/>
        SotO Public Convergence Times
    </h3>

    <p>
        Public instances open every 3 hours.
    </p>
    @if (SotoTime < DateTimeOffset.Now)
    {
        <p>
                The Secrets of the Obscure Public Convergence is open <span class="time">NOW</span>!
        </p>
    }
    else
    {
        <p>
            Next one opens at <span class="time sototimes">@SotoTime</span> in 
            <span class="time">@countdownTime.ToString(@"%h\:mm\:ss")</span>
        </p>
    }



    <script> //convert to local on client side
        var sototimes = document.getElementsByClassName('sototimes');
        for(var st of sototimes){
            let sotonewdate = new Date(st.innerText);
            st.innerText = sotonewdate.toLocaleString([], {
                hour:'numeric',
                minute:'2-digit'
            });
        }
        
    </script>
</div>

@code {
    DateTimeOffset SotoTime = PublicTime.GetNextAreaTime(GameRegion.Sky);

    TimeSpan countdownTime { get; set; } = TimeSpan.Zero;

    public void CheckTime()
    {
        countdownTime = DateTimeOffset.Now - SotoTime;
        InvokeAsync(() =>
        {
            StateHasChanged();
        });
    }

    //After the component renders, setup a timer for the countdown.
    protected override void OnAfterRender(bool firstRender)
    {
        Timer timerA = new Timer(new TimerCallback(_ =>
        {
            CheckTime();
        }), null, 1000, 1000);
    }
        
}