<section id="Warclaw_Doors">
    <h2 class="JWWarclawDoors">Warclaw Door Essence Collection</h2>
    <p>
        The timer is paused while the bears build the <span class="JWBaseCamp">Base Camp</span>.
        Use this time to take out the <span class="JWWarclawDoors">Warclaw Doors</span>!
    </p>
    <p>
        The ENTIRE squad should run up and take down the <span class="JWWarclawDoors">Warclaw Doors</span>.
        Each door drops about 5 essence. 
        Taking out all 6 <span class="JWWarclawDoors">Warclaw Doors</span> along the path will give everyone about 30 essence to start the Thumper Phase with.
    </p>
    
    <figure style="max-width:400px;">
        <img src=@Assets["/images/JW/Thumper/Warclawv350.png"] alt="Warclaw door path" style="width:100%"/>
        <figcaption>Take down the <span class="JWWarclawDoors">warclaw doors</span> and pickup the essence!</figcaption>
    </figure>
</section>