<section id="Dolyak">
    <h2 class="JWDolyak">Dolyak Escort</h2>
    <p>
        The initial phase of a Mt. Balrior Convergence is to escort the teams <span class="JWDolyak">pack dolyak</span> up to the <span class="JWBaseCamp">Base Camp</span>.
        On the way up you'll be met with 2 waves of <span class="enemy">Titanspawn</span> and <span class="enemy">Bombers</span>.
        Each wave must clear the <span class="enemy">Titanspawn</span> and then the <span class="enemy">Bombers</span> for the <span class="JWDolyak">pack dolyak</span> to advance.
        The <span class="enemy">bombers</span> will die quickly after breaking their breakbar.
    </p>
    <figure style="max-width:500px;">
        <image src="/images/JW/DolyakEscort/JWConvergeDolyakParty.png" alt="Dolyak Party" style="width:100%;" />
        <figcaption class="JWDolyak">Dolyak Party</figcaption>
    </figure>
    <p>
        While the <span class="JWDolyak">dolyak</span> is traveling, it can be given <image src="https://render.guildwars2.com/file/20CFC14967E67F7A3FD4A4B8722B4CF5B8565E11/102836.png" alt="swiftness" style="width:20px;" />swiftness or <image src="https://render.guildwars2.com/file/E04392C3D8ED985125973AEB99D8460C483263F9/103458.png" alt="superspeed" style="width:20px;" />superspeed.
        Doing this is important as the second wave <span class="enemy">Bombers</span> won't spawn until the <span class="JWDolyak">dolyak's party</span> arrives.
    </p>
    <p>
        After killing the second wave of <span class="enemy">Bombers</span>, continue on to the <span class="JWWarclawDoors">Warclaw Doors</span> while the <span class="JWDolyak">dolyak party</span> finishes running to the <span class="JWBaseCamp">Base Camp</span>!
    </p>
    <figure id="DolyakRouteFigure">
        <img src=@Assets["/images/JW/DolyakEscort/JWConvergeDolyakRoute50.png"] alt="Dolyak Route" style="width:100%;" />
        <figcaption class="JWDolyak">Dolyak Route</figcaption>
    </figure>
    
</section>