#itemstobringul {
    display: grid;
    grid:auto / auto auto auto;
    justify-content: center;
}

li {
    width: 300px;
}

ol {
    justify-self:center;
}
#jwentrance{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-evenly;
}

#LEPurchase {
    display: block;
    justify-self: center;
    width: 100%;
    max-width: 486px;
}

@media(max-width:900px){
    #itemstobringul{
        grid:auto / auto auto;
    }
}
@media(max-width:800px){
    #jwentrance{
        flex-direction:column;
    }
}
@media(max-width:600px){
    #itemstobringul{
        grid:auto / auto;
    }
}
