#itemstobringul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

li {
    width: 300px;
}

ol {
    justify-self:center;
}
#jwentrance{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-evenly;
}
@media(max-width:800px){
    #jwentrance{
        flex-direction:column;
    }
}

#LEPurchase {
    display:block;
    justify-self:center;
    width:100%;
    max-width:486px;
}