@page "/Festivals/DragonBash"
@using ConvergenceCorpBlazor.Components.Pages.Festivals.DragonBash.DragonBashAchievements
@using ConvergenceCorpBlazor.Components.Pages.Festivals.DragonBash.DragonBashActivities

<HeadContent>
    <meta name="description" content="Bash the Dragon!">
    <link rel="canonical" href="https://convergencecorp.net/Festivals/DragonBash" />
    <meta property="og:title" content="Dragon Bash! | Convergence Corp!" />
    <meta property="og:url" content="https://convergencecorp.net/Festivals/DragonBash" />
    <meta property="og:image" content="https://convergencecorp.net/favicon/android-chrome-512x512.png" />
    <meta property="og:description" content="Bash the Dragon!" />
</HeadContent>

<article class="festival-article">
    <h1>Dragon Bash!</h1>
    <section>
        <img src=@Assets["/images/Festivals/DragonBash/DragonBash-Banner.png"] style="width:100%;" />
        <p>
            Dragon Bash in the past was thrown as a symbol of resistance against the dragons.
            Today, they're thrown in celebration of our victories over the dragons.
        </p>
        <p>Dragon Bash is typically held for 3 weeks in June.</p>
    </section>
    <figure style="width:100%;max-width:800px;">
        <img src=@Assets["/images/Festivals/DragonBash/DragonBash-Activities.png"] style="width:100%;" />
        <figcaption>Hoelbrak's City Center has many vendors and activities.</figcaption>
    </figure>
    
    <figure>
        <img src=@Assets["/images/Festivals/DragonBash/DragonBash-ActivitiesWest.png"] style="width:100%;max-width:500px;" />
        <figcaption>Dragon Arena and Effigies to the west of the city center.</figcaption>
    </figure>
    <DragonBashAchievements/>
    <DragonBashActivities/>
        
</article>