@page "/Festivals/DragonBash"
<HeadContent>
    <meta name="description" content="Bash the Dragon!">
    <link rel="canonical" href="https://convergencecorp.net/Festivals/DragonBash" />
    <meta property="og:title" content="Dragon Bash! | Convergence Corp!" />
    <meta property="og:url" content="https://convergencecorp.net/Festivals/DragonBash" />
    <meta property="og:image" content="https://convergencecorp.net/favicon/android-chrome-512x512.png" />
    <meta property="og:description" content="Bash the Dragon!" />
</HeadContent>

<article class="festival-article">
    <h1>Dragon Bash!</h1>
    <section>
        <img src=@Assets["/images/Festivals/DragonBash/DragonBash-Banner.png"] style="width:100%;" />
        <p>
            Dragon Bash in the past was thrown as a symbol of resistance against the dragons.
            Today, they're thrown in celebration of our victories over the dragons.
        </p>
        <p>Dragon Bash is typically held for 3 weeks in June.</p>
    </section>
    <section>
        <h2>Achievements!</h2>
        <h3 style="background:linear-gradient(75deg,rgba(164, 75, 181, 1) 0%, rgba(164, 75, 181, 0) 100%);">
            <img src="https://render.guildwars2.com/file/FF9DF23C6DE40E3F09EC1AE06169379048DA3C94/602783.png" style="width:48px;" />
            One Time achievements</h3>
        <p>These achievements can only be done once, but can be done over multiple years.</p>
        <button class="dragonbashcollapsebutton" onclick="opencloseachieves('dragonbash-onetimeachieves')">V Open</button>
        <ul class="achievelist dragonbash-onetimeachieves">
            <li>
                <img src="https://render.guildwars2.com/file/FF9DF23C6DE40E3F09EC1AE06169379048DA3C94/602783.png" style="width:48px;" />
                The Dragon Bash Experience - Complete 7 of the following (eligible marked with *)
            </li>
            <li id="achievePinataPro">
                <img src="https://render.guildwars2.com/file/FF9DF23C6DE40E3F09EC1AE06169379048DA3C94/602783.png" style="width:48px;" />
                <sup><sup>*</sup></sup>Piñata Pro - Earn a gold medal in the&ensp;
                <a href="/Festivals/DragonBash#PinataAdventure"> Piñata Bashing adventure</a>.
            </li>
            <li>
                <img src="https://render.guildwars2.com/file/FF9DF23C6DE40E3F09EC1AE06169379048DA3C94/602783.png" style="width:48px;" />
                <sup><sup>*</sup></sup>Color the Sky - Set off firework launchers or personal fireworks in Hoelbrak.
            </li>
            <li>
                <img src="https://render.guildwars2.com/file/FF9DF23C6DE40E3F09EC1AE06169379048DA3C94/602783.png" style="width:48px;" />
                <sup><sup>*</sup></sup>So Lifelike - Vanquish 500 holographic dragon minions.
            </li>
            <li id="achieveWinnersCircle">
                <img src="https://render.guildwars2.com/file/FF9DF23C6DE40E3F09EC1AE06169379048DA3C94/602783.png" style="width:48px;" />
                <sup><sup>*</sup></sup>Winner's Circle - Pick the winning moa racer 10 times.
            </li>
            <li>
                <img src="https://render.guildwars2.com/file/FF9DF23C6DE40E3F09EC1AE06169379048DA3C94/602783.png" style="width:48px;" />
                <sup><sup>*</sup></sup>Paper Dragon - Break 300 piñatas in Hoelbrak. (The adventure does not count.)
            </li>
            <li>
                <img src="https://render.guildwars2.com/file/FF9DF23C6DE40E3F09EC1AE06169379048DA3C94/602783.png" style="width:48px;" />
                <sup><sup>*</sup></sup>Zhaitasty - Consume 5000 zhaitaffy.
            </li>
            <li id="achieveHologramHerder">
                <img src="https://render.guildwars2.com/file/FF9DF23C6DE40E3F09EC1AE06169379048DA3C94/602783.png" style="width:48px;" />
                <sup><sup>*</sup></sup>Hologram Herder - Participate in Hologram Stampede 10 times.
            </li>
            <li id="achieveMastersOfTheArena">
                <img src="https://render.guildwars2.com/file/FF9DF23C6DE40E3F09EC1AE06169379048DA3C94/602783.png" style="width:48px;" />
                <sup><sup>*</sup></sup>Masters of the Arena - Defeat the first 5 holographic champions in Dragon Arena.
            </li>
            <li id="achieveICanOutrunADragon">
                <img src="https://render.guildwars2.com/file/FF9DF23C6DE40E3F09EC1AE06169379048DA3C94/602783.png" style="width:48px;" />
                <sup><sup>*</sup></sup>I Can Outrun a Dragon - Complete a lap of Dragon Bash Rally with a silver time, 3 minutes.
            </li>
            <li>
                <img src="https://render.guildwars2.com/file/FF9DF23C6DE40E3F09EC1AE06169379048DA3C94/602783.png" style="width:48px;" />
                <sup><sup>*</sup></sup>Burn Them All - Light 3 effigies on fire.
            </li>
            <li>
                <img src="https://render.guildwars2.com/file/FF9DF23C6DE40E3F09EC1AE06169379048DA3C94/602783.png" style="width:48px;" />
                Cheerful Ingester - Consume 3000 pieces of Dragon Bash food (Zhaitaffy does not count).
            </li>
            <li>
                <img src="https://render.guildwars2.com/file/FF9DF23C6DE40E3F09EC1AE06169379048DA3C94/602783.png" style="width:48px;" />
                Eye Survived - Defeat the Eye of Zhaitan at difficulty 3 or above in Dragon Arena.
                This must be done in a private instance.
            </li>
            <li>
                <img src="https://render.guildwars2.com/file/FF9DF23C6DE40E3F09EC1AE06169379048DA3C94/602783.png" style="width:48px;" />
                Saltspray Survived - Defeat the Saltspray dragon at difficulty 3 or above in Dragon Arena.
                This must be done in a private instance.
            </li>
            <li>
                <img src="https://render.guildwars2.com/file/FF9DF23C6DE40E3F09EC1AE06169379048DA3C94/602783.png" style="width:48px;" />
                Record Basher - Complete a lap of Dragon Bash Rally with a gold time, 1 minute 30 seconds.
            </li>
        </ul>
        <h3 style="background:linear-gradient(75deg,rgba(164, 75, 181, 1) 0%, rgba(164, 75, 181, 0) 100%);">
            <img src="https://render.guildwars2.com/file/53CC4EBAD60ADB409273D2AC5A640C72935CDEF2/2163496.png" style="width:48px;" />
            Annual achievements
        </h3>
        <p>These achievements refresh every year and must be done within a single festival.</p>
        <button class="dragonbashcollapsebutton" onclick="opencloseachieves('dragonbash-annuals')">V Open</button>
        <ul class="achievelist dragonbash-annuals">
            <li>
                <img src="https://render.guildwars2.com/file/53CC4EBAD60ADB409273D2AC5A640C72935CDEF2/2163496.png" style="width:48px;" />
                (Annual) Dragon Bash Feats - Complete 7 of the Annual Dragon bash achievements below.
            </li>
            <li>
                <img src="https://render.guildwars2.com/file/53CC4EBAD60ADB409273D2AC5A640C72935CDEF2/2163496.png" style="width:48px;" />
                (Annual) Color the Sky - Use 100 fireworks launchers or set off your own fireworks within Hoelbrak.
            </li>
            <li>
                <img src="https://render.guildwars2.com/file/53CC4EBAD60ADB409273D2AC5A640C72935CDEF2/2163496.png" style="width:48px;" />
                (Annual) So Lifelike - Vanquish 300 holographic dragon minions.
            </li>
            <li>
                <img src="https://render.guildwars2.com/file/53CC4EBAD60ADB409273D2AC5A640C72935CDEF2/2163496.png" style="width:48px;" />
                (Annual) Winner's Circle - Pick the winning moa racer 5 times.
            </li>
            <li>
                <img src="https://render.guildwars2.com/file/53CC4EBAD60ADB409273D2AC5A640C72935CDEF2/2163496.png" style="width:48px;" />
                (Annual) Paper Dragon - Bash 150 piñatas in Hoelbrak. (The adventure does not count.)
            </li>
            <li>
                <img src="https://render.guildwars2.com/file/53CC4EBAD60ADB409273D2AC5A640C72935CDEF2/2163496.png" style="width:48px;" />
                (Annual) Zhaitasty - Consume 1000 zhaitaffy.
            </li>
            <li>
                <img src="https://render.guildwars2.com/file/53CC4EBAD60ADB409273D2AC5A640C72935CDEF2/2163496.png" style="width:48px;" />
                (Annual) Hologram Herder - Participate in 5 Hologram Stampedes.
            </li>
            <li>
                <img src="https://render.guildwars2.com/file/53CC4EBAD60ADB409273D2AC5A640C72935CDEF2/2163496.png" style="width:48px;" />
                (Annual) Masters of the Arena - Defeat all 6 holographic champions in the Dragon Arena.
            </li>
            <li>
                <img src="https://render.guildwars2.com/file/53CC4EBAD60ADB409273D2AC5A640C72935CDEF2/2163496.png" style="width:48px;" />
                (Annual) Piñata Pummeler - Earn silver in the Piñata Bashing Adventure.
            </li>
            <li>
                <img src="https://render.guildwars2.com/file/53CC4EBAD60ADB409273D2AC5A640C72935CDEF2/2163496.png" style="width:48px;" />
                (Annual) Going the Distance - Complete 15 laps in the Dragon Bash Rally. The race events awards extra progress.
            </li>
        </ul>
        <h3 style="background:linear-gradient(75deg,rgba(164, 75, 181, 1) 0%, rgba(164, 75, 181, 0) 100%);">
            <img src="https://render.guildwars2.com/file/53CC4EBAD60ADB409273D2AC5A640C72935CDEF2/2163496.png" style="width:48px;" />
            Repeatable Achievements
        </h3>
        <p>These achievements are repeatable for achievement points (up to an amount).</p>
        <button class="dragonbashcollapsebutton" onclick="opencloseachieves('dragonbash-repeatables')">V Open</button>
        <ul class="achievelist dragonbash-repeatables">
            <li>
                <img src="https://render.guildwars2.com/file/53CC4EBAD60ADB409273D2AC5A640C72935CDEF2/2163496.png" style="width:48px;" />
                Help a Quaggan Out - Feed Drooburt 1000 Zhaitaffy.
                Repeatable 5x for 5AP each time, 25 total.
            </li>
            <li>
                <img src="https://render.guildwars2.com/file/53CC4EBAD60ADB409273D2AC5A640C72935CDEF2/2163496.png" style="width:48px;" />
                Stampede Survivor - Complete 3 rounds of Hologram Stampede.
                Repeatable 5x for 5AP each time, 25 total.
            </li>
            <li>
                <img src="https://render.guildwars2.com/file/53CC4EBAD60ADB409273D2AC5A640C72935CDEF2/2163496.png" style="width:48px;" />
                Arena Slayer - Defeat the first 5 holographic champions in the Dragon Arena.
                Repeatable 5x for 5AP each time, 25 total.
            </li>
            <li>
                <img src="https://render.guildwars2.com/file/53CC4EBAD60ADB409273D2AC5A640C72935CDEF2/2163496.png" style="width:48px;" />
                Party Commander - Complete the Dragon Basher achievemnt 5 times.
                Repeatable 10x for 10AP each time, 100 total.
            </li>
            <li>
                <img src="https://render.guildwars2.com/file/53CC4EBAD60ADB409273D2AC5A640C72935CDEF2/2163496.png" style="width:48px;" />
                Annual Feats - Complete the (Annual) Dragon Bash Feats achievement.
                Repeatable once a year, rewards 50 AP, 1000 AP total.
            </li>
        </ul>
    </section>
    <script>
        function opencloseachieves(classtoopenclose){
            var obj = document.getElementsByClassName(classtoopenclose);
            for(i = 0; i < obj.length; ++i){
                if(obj[i].style.display == "block"){
                    obj[i].style.display = "none";
                }
                else{
                    obj[i].style.display = "block";
                }
            }
        }
    </script>
    <section>
        <h2 id="Activities">Activities!</h2>
        <p>
            Dragon Bash has many activities in and around Hoelbrak!
        </p>
        <figure>
            <img src=@Assets["/images/Festivals/DragonBash/DragonBash-Activities.png"] style="max-width:600px;" />
            <figcaption>Hoelbrak City Center, many vendors and activities.</figcaption>
        </figure>
        <figure>
            <img src=@Assets["/images/Festivals/DragonBash/DragonBash-ActivitiesWest.png"] style="max-width:300px;" />
            <figcaption>Dragon Arena and Effigies, in the western part of Hoelbrak.</figcaption>
        </figure>
        
        

        <!--Moa Racing-->
        <h3 id="MoaRacing">Moa Racing</h3>
        <img src=@Assets["/images/Festivals/DragonBash/Dragonbash-MoaRacers.png"] style="width:100%;"/>
        <p>An event near Legends Waypoint [&BIwDAAA=] where you can bet on racing moas. Talk to Tigg to bet 10 Zhaitaffy on each of the moas before the race begins.</p>
        <p>Note: You need the Zhaitaffy in your inventory to bet on the moas.</p>
        <h4>Related Achievements</h4>
        <ul>
            <li>
                <img src="https://render.guildwars2.com/file/53CC4EBAD60ADB409273D2AC5A640C72935CDEF2/2163496.png" style="width:48px;"/>
                (Annual) Winner's Circle - Pick the winning moa racer 5 times.
            </li>
            <li>
                <img src="https://render.guildwars2.com/file/FF9DF23C6DE40E3F09EC1AE06169379048DA3C94/602783.png" style="width:48px;" />
                Winner's Circle - Pick the winning moa racer 10 times.
            </li>
        </ul>


        <!--Dragon Arena-->
        <h3 id="Arena">Dragon Arena</h3>
        <img src=@Assets["/images/Festivals/DragonBash/DragonBash-Arena.png"] style="width:100%;" />
        <p>Fight waves of holographic dragon minions.</p>
        <p>Public instances throw 10 players together and will start the events automatically.</p>
        <p>
            Private instances are limited to a 5 man party.
            You can enter the private Dragon Arena by entering the portal on the north east side of the arena.
            You can raise/lower the difficulty of the arena by talking to Taddra (from 1 to 10).
        </p>
        <h4>Related Achievements:</h4>
        <ul style="margin-top:0px;">
            <li>
                <img src="https://render.guildwars2.com/file/53CC4EBAD60ADB409273D2AC5A640C72935CDEF2/2163496.png" style="width:48px;" />
                (Annual) Masters of the Arena - Defeat all 6 holographic champions.
            </li>
            <li>
                <img src="https://render.guildwars2.com/file/FF9DF23C6DE40E3F09EC1AE06169379048DA3C94/602783.png" style="width:48px;" />
                Masters of the Arena - Defeat all 6 holographic champions.
            </li>
            <li>
                <img src="https://render.guildwars2.com/file/53CC4EBAD60ADB409273D2AC5A640C72935CDEF2/2163496.png" style="width:48px;" />
                Arena Slayer - Defeat the first 5 holographic champions.
            </li>
            <li>
                <img src="https://render.guildwars2.com/file/FF9DF23C6DE40E3F09EC1AE06169379048DA3C94/602783.png" style="width:48px;" />
                Eye Survived - Defeat the Eye of Zhaitan at difficulty 3 or above. This requires doing a Private Instance.
            </li>
            <li>
                <img src="https://render.guildwars2.com/file/FF9DF23C6DE40E3F09EC1AE06169379048DA3C94/602783.png" style="width:48px;" />
                Saltspray Survived - Defeat the Saltspray Dragon champion at difficulty 3 or above. This requires doing a Private Instance.
            </li>
        </ul>


        <!--Hologram Stampede-->
        <h3 id="Stampede">Hologram Stampede</h3>
        <p>
            Every 15 minutes, a Hologram Stampede starts in 1 of 4 maps.
            Wayfairer Foothills, Dredgehaunt Cliffs, Lornar's Pass, or Snowden Drifts.
            You can see what map will be starting next by looking at the Dragon Bash event in the top right.
        </p>
        <img src=@Assets["/images/Festivals/DragonBash/DragonBash-StampedeRotation.png"] style="max-height:400px;"/>
        
        <p>
            Each Hologram Stampede has 3 phases.
            Each phase places several Hologram Projectors around the map.
            Activate the projectors and defeat the hologram dragon minions!
        </p>
        <img src=@Assets["/images/Festivals/DragonBash/DragonBash-StampedeStand.png"] style="max-height:300px;" />
        <h4>Related Achievements:</h4>
        <ul style="margin-top:0px;">
            <li>
                <img src="https://render.guildwars2.com/file/53CC4EBAD60ADB409273D2AC5A640C72935CDEF2/2163496.png" style="width:48px;" />
                (Annual) So Lifelike - Vanquish holographic dragon minions 300 times.
            </li>
            <li>
                <img src="https://render.guildwars2.com/file/53CC4EBAD60ADB409273D2AC5A640C72935CDEF2/2163496.png" style="width:48px;" />
                (Annual) Hologram Herder - Participate in Hologram Stampede 5 times.
            </li>
            <li>
                <img src="https://render.guildwars2.com/file/FF9DF23C6DE40E3F09EC1AE06169379048DA3C94/602783.png" style="width:48px;" />
                Hologram Herder - Participate in Hologram Stampede 10 times.
            </li>
        </ul>
        

        <!--Pinata Bashing (Adventure)-->
        <h3 id="PinataAdventure">Piñata Bashing (Adventure)</h3>
        <img src=@Assets["/images/Festivals/DragonBash/DragonBash-PinataBashing.png"] style="width:100%;" />
        <p>An adventure starting near Upper Balcony Waypoint [&BAgFAAA=]. Smash as many piñatas within the time limit as you can!</p>
        <p>Your skills are replaced by special Piñata bashing skills.</p>
        <ul>
            <li>
                <div>
                    <img src=@Assets["/images/Festivals/DragonBash/Sohothin's_Roar.png"] style="width:40px;"/> 
                    Piñata Popper
                </div>
                <div>Swing your Piñata hammer, if you pop a Piñata it refreshes all your skills.</div>
            </li>
            <li>
                <div>
                    <img src=@Assets["/images/Festivals/DragonBash/Engage_and_Assault.png"] style="width:40px;" />
                    Pinata Bowl
                </div>
                <div>
                    Throw yourself towards an area, breaking any piñatas in your path.
                    Recharges Dragon Launch if you break a piñata.
                </div>
            </li>
            <li>
                <div>
                    <img src=@Assets["/images/Festivals/DragonBash/Sohothin's_Speed.png"] style="width:40px;" />
                    Dragon Launch
                </div>
                <div>Leap forward into the air. Restets Piñata Bowl.</div>
            </li>
        </ul>
        <h4>Related Achievements:</h4>
        <ul style="margin-top:0px;">
            <li>
                <img src="https://render.guildwars2.com/file/53CC4EBAD60ADB409273D2AC5A640C72935CDEF2/2163496.png" style="width:48px;" />
                (Annual) Piñata Pummeler - Earn a silver medal or better in the Piñata Pummeler adventure.
            </li>
            <li>
                <img src="https://render.guildwars2.com/file/FF9DF23C6DE40E3F09EC1AE06169379048DA3C94/602783.png" style="width:48px;" />
                Piñata Pro - Earn a gold medal in the Piñata Pummeler adventure.
            </li>
        </ul>


        <!--Dragon Bash Rally (the race)-->
        <h3 id="Rally">Dragon Bash Rally</h3>
        <img src=@Assets["/images/Festivals/DragonBash/DragonBash-RallyLineup.png"] style="width:100%;" />
        <p>
            A mount race starting near Trade Commons Waypoint [&BIYDAAA=],
            the mount race can either be done as part of the race event
            or as the Time Trial adventure.
        </p>
        <p>Roller Beetles can be rented for 10 silver directly across from the waypoint.</p>
        <img src=@Assets["/images/Festivals/DragonBash/DragonBash-BeetleRental.png"] style="width:100%;"/>
        <h4>Related Achievements:</h4>
        <ul style="margin-top:0px;">
            <li>
                <img src="https://render.guildwars2.com/file/53CC4EBAD60ADB409273D2AC5A640C72935CDEF2/2163496.png" style="width:48px;" />
                (Annual) Going the Distance - Complete 15 laps. The race event awards extra progress.
            </li>
            <li>
                <img src="https://render.guildwars2.com/file/FF9DF23C6DE40E3F09EC1AE06169379048DA3C94/602783.png" style="width:48px;" />
                I Can Outrun a Dragon - Complete the mount race within the time limit. 3:00
            </li>
            <li>
                <img src="https://render.guildwars2.com/file/FF9DF23C6DE40E3F09EC1AE06169379048DA3C94/602783.png" style="width:48px;" />
                Record Basher - Complete the mount race within the challenge time limit. 1:30
            </li>
        </ul>
    </section>
        
</article>