<section style="margin-top:20px;">
    <h2 id="SharedMechs">Shared Boss Mechanics</h2>
    <p style="text-align:center;text-indent:initial;">
        These mechanics are the same, no matter what boss is chosen.
    </p>

    <h3 id="SharedZojja" class="zojja">Zojja</h3>
    <p>
        During the boss phase, <span class="zojja">Zojja</span> is using her power to make the boss vulnerable.
        She is constantly taking damage over time from the boss, that gets stronger the further it is into the fight.
        If her health falls to 0, she will pull everyone back to the Wizard's Tower.
        Once the boss spawns, <span class="zojja">Zojja</span> will no longer be able to receive healing from players, except for Essence.
        Feed her the essence dropped by the boss to keep her healthy.
    </p>

    <h3 id="SharedEssence" class="sotoessence">Kryptis Essence</h3>
    <p>
        The bosses drop essence every 10% of their health and at the end of each phase.
        DPS players should hold onto it as long as they can for a significant power boost.
        Healers and boondps players should be feeding theirs to <span class="zojja"> Zojja</span> to keep her healthy.
        Don't overfeed her when her HP is full, as the essence just gets wasted.
    </p>
    <div style="justify-self:center;">
        <h4>Effects of Kryptis Essence (per stack -> 25 stacks -> 50 stacks)</h4>
        <ul>
            <li>
                Max HP: -1% -> -25% -> -50%
            </li>
            <li>
                Concentration: 10 -> 250 -> 500
            </li>
            <li>
                Power: 20 -> 500 -> 1000
            </li>
            <li>
                Condition Damage: 20 -> 500 -> 1000
            </li>
        </ul>
    </div>

    <h3 id="SharedPhasing">Phasing</h3>
    <p>
        Every 25%, the boss will move to a new island.
        Which island they go to is random, and they won't revisit an island they've already been to.
        The boss will always go to the <span class="sotomid">middle</span> island in the last phase.
    </p>
</section>