<div class="tableofcontents" id="SotOToC">
    <div class="ToCTitle">Table of Contents</div>
    
    <div class="ToCListContain">
        
        <div class="ToCHeaders"><a href="/soto/#BeforeStart">Prerequisites</a></div>
        <div class="ToCPhase ToCPhaseHeader"><a href="/soto/#HowToGetIn">How to get in!</a></div>
        <div class="ToCPhase ToCPhaseHeader"><a href="/soto/#ItemsToBring">Items you should bring!</a></div>

        <div class="ToCHeaders">Early Phases</div>
        
        <div class="ToCPhase">
            <div class="ToCPhaseHeader"><a href="/soto/#FirstTwoMin">First Two Minutes</a></div>
        </div>
        
        <div class="ToCPhase">
            <div class="ToCPhaseHeader"><a href="/soto/#SplitPhase">Split Phase</a></div>
        </div>
        <div class="ToCPhase">
            <div class="ToCPhaseHeader"><a href="/soto/#SharedMechs">Shared Boss Mechanics</a></div>
        </div>
            
        <div class="ToCHeaders">Bosses</div>
        <div class="ToCPhase">
            <div class="ToCPhaseHeader"><a href="/soto/#DemonKnight">Demon Knight</a></div>
        </div>
        <div class="ToCPhase">
            <div class="ToCPhaseHeader"><a href="/soto/#Dreadwing">Dreadwing</a></div>
        </div>
        <div class="ToCPhase">
            <div class="ToCPhaseHeader"><a href="/soto/#HellSister">Hell Sister</a></div>
        </div>
        <div class="ToCPhase">
            <div class="ToCPhaseHeader"><a href="/soto/#Sorrow">Sorrow</a></div>
        </div >
        <div class="ToCPhase">
            <div class="ToCPhaseHeader"><a href="/soto/#Umbriel">Umbriel</a></div>
            
        </div>
    </div>
</div>