<section>
    <h2 id="SharedMechs">Shared Boss Mechanics</h2>
    <p>
        These mechanics are the same for every boss.
    </p>

    <h3 id="SharedZojja" class="zojja">Zojja</h3>
    <p>
        <span class="zojja">Zojja</span> is always taking damage from the boss. If her hp falls to 0 the Convergence fails.
    </p>
    <p>
        Prior the boss appearing, you can heal <span class="zojja">Zojja</span> with any normal sources of healing.
    </p>
    <p>
        The only way to heal <span class="zojja">Zojja</span> after the boss spawns is to give her the <span class="sotoessence">Kryptis Essence</span> that you've collected.
    </p>

    <h3 id="SharedEssence" class="sotoessence"><img src="/images/SotO/Kryptis_Essence.png" style="width:32px;" />Kryptis Essence</h3>
    <p>
        Kryptis Essence drops from most things in SotO convergences. 
        Bosses will drop essence every 10% of their hp and at the end of each phase.
    </p>
    <p>
        The essence has 2 purposes, healing <span class="zojja">Zojja</span> and powering you up.
    </p>
    <p>
        DPS players should hold onto their essence for as long as possible to maximize the groups damage.
    </p>
    <p>
        Healers and boonDPS should be feeding their essence to <span class="zojja">Zojja</span> to keep her hp over 0%.
        Don't overfeed her when her HP is full as the essence just gets wasted.
    </p>
    <table style="max-width:700px; text-align:center;">
        <tr>
            <th>Effects of Kryptis Essence</th>
        </tr>
        <tr>
            <th>Stat</th>
            <th>1 stack</th>
            <th>25 stacks</th>
            <th>50 stacks</th>
        </tr>
        <tr>
            <td>Max HP</td>
            <td>-1%</td>
            <td>-25%</td>
            <td>-50%</td>
        </tr>
        <tr>
            <td>Concentration</td>
            <td>10</td>
            <td>250</td>
            <td>500</td>
        </tr>
        <tr>
            <td>Power</td>
            <td>20</td>
            <td>500</td>
            <td>1000</td>
        </tr>
        <tr>
            <td>Condition Damage</td>
            <td>20</td>
            <td>500</td>
            <td>1000</td>
        </tr>
    </table>

    <h3 id="SharedPhasing">Phasing</h3>
    <p>
        Every 25% of the bosses hp they will move to a new island.
        Which island they move to is random and they won't go back to an island that they've been to already.
    </p>
    <p>
        The boss will always go to the <span class="sotomid">middle</span> island in the last phase.
    </p>
</section>