<div class="tableofcontents" id="JWToC">
    <div class="ToCTitle">Table of Contents</div>

    <div class="ToCListContain">
        <div class="ToCHeaders"><a href="/jw/#BeforeStart">Prerequisites</a></div>
        <div class="ToCPhase ToCPhaseHeader"><a href="/jw/#GettingIn">How to Enter!</a></div>
        <div class="ToCPhase ToCPhaseHeader"><a href="/jw/#Itemstobring">Items you should bring!</a></div>
        <div class="ToCPhase ToCPhaseHeader"><a href="/jw/#LowlandExpertise">Lowland Expertise!</a></div>

        <div class="ToCHeaders">Early Phases</div>
        <div class="ToCPhase ToCPhaseHeader"><a href="/jw/#Dolyak">Dolyak Escort</a></div>
        <div class="ToCPhase ToCPhaseHeader"><a href="/jw/#Warclaw_Doors">Warclaw Doors</a></div>
        <div class="ToCPhase">
            <div class="ToCPhaseHeader"><a href="/jw/#Thumper">Thumper Phase</a></div>
        </div>
        <div class="ToCPhase">
            <div class="ToCPhaseHeader"><a href="/jw/#JWShared">Shared Boss Mechanics</a></div>
        </div>

        <div class="ToCHeaders">Bosses</div>
        <div>
            <div class="ToCPhase">
                <div class="ToCPhaseHeader"><a href="/jw/#Decima">Decima, the Stormsinger</a></div>
            </div>
            <div class="ToCPhase">
                <div class="ToCPhaseHeader"><a href="/jw/#Greer">Greer, the Blightbringer</a></div>
            </div>
            <div class="ToCPhase">
                <div class="ToCPhaseHeader"><a href="/jw/#Ura">Ura, the Steamshrieker</a></div>
            </div>
        </div>
    </div>
</div>