<div id="jwtoc">
    <h2 style="text-align:center;">Table of Contents</h2>
    <div id="JWToCListContain">
        <div>
            <h3 style="text-align:center;"><a href="/jw/#BeforeStart">Before Entering!</a></h3>
            <ol style="justify-items:center;">
                <li><a href="/jw/#GettingIn">How to get in!</a></li>
                <li><a href="/jw/#Itemstobring">Items you should bring!</a></li>
                <li><a href="/jw/#LowlandExpertise">Lowland Expertise!</a></li>
            </ol>
        </div>

        <h3 style="text-align:center;">Pre Boss</h3>
        <div id="JWToCListPreContainer">
            <div>
                <h4><a href="/jw/#Dolyak">Dolyak Escort</a></h4>
            </div>
            <div>
                <h4><a href="/jw/#building">Door Essence Collecting</a></h4>
            </div>
            <div>
                <h4><a href="/jw/#Thumper">Thumper Phase</a></h4>
                <ol>
                    <li><a href="/jw/#splittingup">Splitting up the squad</a></li>
                    <li><a href="/jw/#sideevents">Side Events</a></li>
                    <li><a href="/jw/#weather">Weather</a></li>
                    <li><a href="/jw/#misttides">Mist Tides</a></li>
                </ol>
            </div>
            <div>
                <h4><a href="/jw/#JWShared">Shared Boss Mechanics</a></h4>
                <ol>
                    <li><a href="/jw/#Calibrated">Calibrated Essence</a></li>
                    <li><a href="/jw/#phase">Phase Transitions</a></li>
                </ol>
            </div>
        </div>

        <h3 style="text-align:center;">Bosses</h3>
        <div id="JWToCBossesContainer">
            <div>
                <h4><a href="/jw/#Decima">Decima, the Stormsinger</a></h4>
                <ol>
                    <li><a href="/jw/#DecStrat">Strategy</a></li>
                    <li><a href="/jw/#DecRotation">Rotation</a></li>
                    <li><a href="/jw/#DecPassives">Passives</a></li>
                    <li><a href="/jw/#DecSkills">Skills</a></li>
                    <li><a href="/jw/#DecEC">Enlightened Conduit</a></li>
                    <li><a href="/jw/#DecGreens">Greens</a></li>
                </ol>
            </div>
            <div>
                <h4><a href="/jw/#Greer">Greer, the Blightbringer</a></h4>
                <ol>
                    <li><a href="/jw/#GreerStrat">Strategy</a></li>
                    <li><a href="/jw/#GreerGnR">Gree and Reeg</a></li>
                    <li><a href="/jw/#GreerSkills">Skills</a></li>
                </ol>
            </div>
            <div>
                <h4><a href="/jw/#Ura">Ura, the Steamshrieker</a></h4>
                <ol>
                    <li><a href="/jw/#UraStrat">Strategy</a></li>
                    <li><a href="/jw/#UraPassive">Passives</a></li>
                    <li><a href="/jw/#UraSkills">Skills</a></li>
                    <li><a href="/jw/#UraFuma">Fumaroller</a></li>
                </ol>
            </div>
        </div>
    </div>
</div>