@page "/news/april-2026-patch-preview"
<HeadContent>

</HeadContent>
<article class="news-article">
    <h1>April 14th patch preview!</h1>
    <div>Author: SunMatrix</div>
    <div>Published: <span class="time">April 12th, 2026</span></div>
    <div>Last Updated: <span class="time">April 12th, 2026</span></div>
    <section>
        <p>
            This Tuesday, Guild Wars 2 will be getting a new update! 
            I'm here to give you a preview on what to look forward to on April 14th.
        </p>
    </section>
    <section>
        
        <h2>Balance Patch!</h2>
        <p>
            Anet is making sweeping changes to every class in this patch in order to bring the average dps down from
            the sky high values that we've had ever since End of Dragons released.
            They plan to bring the numbers down around 10-15% for most DPS builds. 
            See the <a target="_blank" href="https://en-forum.guildwars2.com/topic/169078-april-14-balance-update-preview/">full patch preview here.</a>
        </p>
        <p>
            Additionally, Anet is also nerfing the HP for most enemies from EoD onwards, according to a <a target="_blank" href="https://en-forum.guildwars2.com/topic/169078-april-14-balance-update-preview/page/29/#comment-2444156">comment by Anet Richie</a>.
        </p>
        <p>
            The team over at Snowcrows has been hard at work crunching the numbers to 
            figure out what classes are getting hit by the nerf hammer the hardest.
            Check out their <a href="https://snowcrows.com/news/game/april-balance-patch-preview-2026" target="_blank">Nerf Forecast</a> over on the Snowcrows website!
        </p>
    </section>
    <section>
        <h2>
            Super Adventure Box!
        </h2>
        <p>
           Everyone's favorite jumping festival is back!
           Dust off the Bauble Bubbles in your bank and grab a set of powered armor from the closet!
           It's time to go on a Super Adventure!
        </p>
        
        <p>New SAB content:</p>
        
        <ul style="list-style:square;list-style-position:inside;width:100%;align-items:baseline;">
            
            <li>17 new Blue <a target="_blank" href="https://wiki.guildwars2.com/wiki/Hardlight_weapons">Hardlight weapon skins</a>! (unofficial name until the patch)</li>
            <li>3 new <a target="_blank" href="https://wiki.guildwars2.com/wiki/Retro-Forged_weapons">Retro-Forged weapon skins</a>!</li>
            <li>A new area??</li>
        </ul>
    </section>
    <section>
        <h2>New Converging Season!</h2>
        <p>
            Here at Convergence Corp! a large balance patch means a new season for the <a target="_blank" href="/records">Converging leaderboard!</a>
            Get your Converging group together and strategize the best ways to beat each boss.
            Make sure to submit your runs in the <DiscordLink disctype=2/> to get onto the April leaderboard.
        </p>
    </section>
    
    <div class="video-container">
        <iframe width="560"
                height="315"
                src="https://youtube.com/embed/WVfKG9Gahx0"
                frameborder="0"
                allow="accelerometer;encrypted-media;gyroscope;web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen>
        </iframe>
    </div>

    <section>
        <h3>Sources</h3>
        <div>"April 14 Balance Update Preview"</div> 
        <a target="_blank" href="https://en-forum.guildwars2.com/topic/169078-april-14-balance-update-preview/">https://en-forum.guildwars2.com/topic/169078-april-14-balance-update-preview/</a>
        <div>Anet Richie Comment on additional balance changes</div> 
        <a target="_blank" href="https://en-forum.guildwars2.com/topic/169078-april-14-balance-update-preview/page/29/#comment-2444156">https://en-forum.guildwars2.com/topic/169078-april-14-balance-update-preview/page/29/#comment-2444156</a>
        <div>"Super Adventure Festival 2026 | Guild Wars 2"</div> 
        <a target="_blank" href="https://www.youtube.com/watch?v=WVfKG9Gahx0">https://www.youtube.com/watch?v=WVfKG9Gahx0</a>
        <div>"Nerf Forecast: What to Expect from the April 14 Balance Patch Benchmarks"</div> 
        <a target="_blank" href="https://snowcrows.com/news/game/april-balance-patch-preview-2026">https://snowcrows.com/news/game/april-balance-patch-preview-2026</a>
    </section>
</article>
@code {

}
