<section id="Umbriel">
    <h1>Umbriel, Halberd of House Aurkus</h1>
    <h2>Frightful Gaze | Conjures Aspects</h2>
    <p>
        Umbriel is a demon from the House Aurkus, one of the noble houses in the demon society under The Midnight King Eparch.
        Umbriel shares the same master as Kanaxai, Master Aurkus the Lord of House Aurkus. 
        Unsurprisingly, they share similar fighting styles.
        Umbriel wields 2 double sided axes, using his skills to entangle players and land massive blows with large stacks of <image src="https://render.guildwars2.com/file/79FF0046A5F9ADA3B4C4EC19ADB4CB124D5F0021/102848.png" alt="bleeding" style="width:20px;"/>bleeding. 
    </p>

    <h3 id="UmbStrategy">Strategy</h3>
    <p>
        Umbriel uses his Rending Storm axes to snare and weaken his foes with conditions to setup for big damage attacks.
        To combat this, bring plenty of condi cleanse and blocks to prevent being bogged down by conditions.
        When Umbriel uses Frightening Speed, get out of the numbered orange circles immediately.
        Remembering where the axes on the ground are will help to avoid them while running out of Frightening Speed.
        If you have a Warclaw, it can be mounted and escape the oranges very quickly, even if you're snared.
    </p>
    <SkillBox bossID="Classes.Model.Bosses.Umbriel" />
    <h3 id="UmbPhasing">Phasing</h3>

    <p>
        At the end of each phase Umbriel summons 2 of each aspect listed below. 
        Each aspect applies a different condition.
    </p>
    <table id="umbaspecttable">
        <tr>
            <th>Phase</th>
            <th>Death</th>
            <th>Exposure</th>
            <th>Lethargy</th>
            <th>Torment</th>
            <th>Fear</th>
        </tr>
        <tr>
            <td></td>
            <td><image src="https://render.guildwars2.com/file/559B0AF9FB5E1243D2649FAAE660CCB338AACC19/102840.png" alt="Poisoned" style="width:20px;" /></td>
            <td><image src="https://render.guildwars2.com/file/3A394C1A0A3257EB27A44842DDEEF0DF000E1241/102850.png" alt="Vulnerability" style="width:20px;" /></td>
            <td><image src="https://render.guildwars2.com/file/F60D1EF5271D7B9319610855676D320CD25F01C6/961397.png" alt="Slow" style="width:20px;" /></td>
            <td><image src="https://render.guildwars2.com/file/10BABF2708CA3575730AC662A2E72EC292565B08/598887.png" alt="Torment" style="width:20px;" /></td>
            <td><image src="https://render.guildwars2.com/file/6CB0E64AF9AA292E332A38C1770CE577E2CDE0E8/102853.png" alt="Weakness" style="width:20px;" /></td>
        </tr>
        <tr>
            <td>75%</td>
            <td>x</td>
            <td>x</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>50%</td>
            <td></td>
            <td></td>
            <td>x</td>
            <td>x</td>
            <td>x</td>
        </tr>
        <tr>
            <td>25%</td>
            <td>x</td>
            <td>x</td>
            <td>x</td>
            <td>x</td>
            <td></td>
        </tr>
        <tr>
            <td>0%</td>
            <td>x</td>
            <td>x</td>
            <td>x</td>
            <td>x</td>
            <td>x</td>
        </tr>
    </table>
    
    <figure style="max-width:600px;">
        <image src="/images/SotO/Umb/UmbwithAspects.png" alt="Umbriel's Aspects" style="width:100%;" />
        <figcaption>Umbriel at 0% with his Aspects.</figcaption>
    </figure>
    <p>
        After defeating all of the aspects, Umbriel's breakbar will open. CC him and the phase will end.
    </p>
    <figure style="max-width:600px;">
        <image src="/images/SotO/Umb/UmbBreakbar.png" alt="Umbriel's Breakbar" style="width:100%;"/>
        <figcaption>Break Umbriel's Breakbar to end the phase!</figcaption>
    </figure>
</section>