@page "/research"

<PageTitle>Convergence Corp: Research Division!</PageTitle>
<HeadContent>
    <meta name="description" content="Convergence Corp: Research Division!">
    <link rel="canonical" href="https://convergencecorp.net/research" />
    <meta property="og:title" content="Convergence Corp: Research Division!" />
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://convergencecorp.net/research"/>
    <meta property="og:image" content="https://convergencecorp.net/favicon/android-chrome-512x512.png"/>
    <meta property="og:description" content="Convergence Corp: Research Division!" />
    <meta property="og:site_name" content="Convergence Corp!"/>
</HeadContent>

<h1>Convergence Corp: Research Division</h1>



<a href="/research/rewards">rewards</a>