.adslotcontainer {
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: center;
}

.adslot {
    background-color: rgb(18,18,18);
    width: 320px;
    height: 100px;
}

@media(min-width:500px) {
    .adslot {
        width: 468px;
        height: 60px;
    }
}

@media(min-width:800px) {
    .adslot {
        width: 728px;
        height: 90px;
    }
}

.adBanner {
    width: 728px;
    height: 90px;
}
