@if (disctype == 0)
{
    <a href=@link>Join the Discord! <img src=@button alt="discord button" /></a>
}
else if (disctype == 1)
{
    <a href=@link>Discord! <img src=@button alt="discord button" /></a>
}

@code {
    private static readonly String link = "https://discord.gg/HyVZqAuAQ2";
    private static readonly String button = "https://discord.com/api/guilds/1247627166733172818/widget.png";

    [Parameter]
    public int disctype { get; set; } = 0;

} 