<p>
    <image src="/images/SotO/Secrets_of_the_Obscure_logo.png" alt="soto logo" style="width:50px;"/>
    SotO Public Convergence Times
</p>

<p>
<span class="sototimes">2015-03-25 01:30:00 UTC-0</span>, <span class="sototimes">2015-03-25 04:30:00 UTC-0</span>, 
<span class="sototimes">2015-03-25 07:30:00 UTC-0</span>, <span class="sototimes">2015-03-25 10:30:00 UTC-0</span>, 
<span class="sototimes">2015-03-25 13:30:00 UTC-0</span>, <span class="sototimes">2015-03-25 16:30:00 UTC-0</span>, 
<span class="sototimes">2015-03-25 19:30:00 UTC-0</span>, <span class="sototimes">2015-03-25 22:30:00 UTC-0</span>
</p>
<script>
    var sototimes = document.getElementsByClassName('sototimes');
    for(var st of sototimes){
        st.innerText = new Date(st.innerText).toLocaleString([], {
            hour:'numeric',
            minute:'2-digit'
        });
    }
</script>