<div style="text-align:center;padding-bottom:10px;">
    <h3>
        <image src="/images/VoE/VoE_logo_gradient_800.png" alt="voe logo" style="width:50px;" />
        Visions of Eternity Public Convergence times
    </h3>
    <div>
        New Convergence coming in Update 3!
    </div>
</div>