<div style="text-align:center;">
    <div style="padding:10px;">
        <image src="/images/VoE/VoE_logo_gradient_800.png" alt="voe logo" style="width:50px;" />
        Visions of Eternity Public Convergence times
    </div>
    <div style="padding:10px;">
        New Convergence coming in Update 3!
    </div>
    <image src="/images/VoE/gw2-ex6-voe-feature-table.jpg" alt="voe feature table" style="width:100%;max-width:800px;"/>
</div>