@page "/Festivals"
<HeadContent>
    <meta name="description" content="Guild Wars 2 festival guides">
    <link rel="canonical" href="https://convergencecorp.net/Festivals" />
    <meta property="og:title" content="Festivals! | Convergence Corp!" />
    
    <meta property="og:url" content="https://convergencecorp.net/Festivals" />
    <meta property="og:image" content="https://convergencecorp.net/favicon/android-chrome-512x512.png" />
    <meta property="og:description" content="Festival Guides!" />
</HeadContent>

<article style="display:flex;flex-direction:column; align-items:center;">
<h1>Festivals!</h1>
<p>
    Festivals in Guild Wars 2 are yearly recurring events that typically last for 3 weeks.
    Each festival has it's own activities, lore, rewards and achievements.
</p>
    <section class="festivalpage">
        <!--
        <h2>
            <a href="/Festivals/LunarNewYear">Lunar New Year</a>
        </h2>
        <p>Starts mid January to early February</p>
        <h2>
            <a href="/Festivals/SuperAdventureBox">Super Adventure Box</a>
        </h2>
        <p>Starts late March to mid April</p>
    
        -->
        <h2>
            <a href="/Festivals/DragonBash">Dragon Bash</a>
        </h2>
        <p>Starts in early to late June.</p>
        <a href="/Festivals/DragonBash">
            <img src=@Assets["/images/Festivals/DragonBash/DragonBash-Banner.png"] style="max-width:100%;" />
        </a>
        <!--
        <h2>
            <a href="/Festivals/FourWinds">Festival of Four Winds</a>
        </h2>
        <p>Starts late July to August</p>
        <h2>
            <a href="/Festivals/Halloween">Halloween</a>
        </h2>
        <p>Starts mid October</p>
        <h2>
            <a href="/Festivals/Wintersday">Wintersday</a>
        </h2>
        <p>Starts mid December</p>
        -->
    </section>
</article>



@code{
    
}