@page "/Festivals"
<HeadContent>

</HeadContent>

<h1>Festivals!</h1>
<!--
<a href="/Festivals/LunarNewYear">Lunar New Year</a>
<a href="/Festivals/SuperAdventureBox">Super Adventure Box</a>
-->
<a href="/Festivals/DragonBash">Dragon Bash</a>
<!--
<a href="/Festivals/FourWinds">Festival of Four Winds</a>
<a href="/Festivals/Halloween">Halloween</a>
<a href="/Festivals/Wintersday">Wintersday</a>
-->




@code{
    
}