@page "/Festivals"
<HeadContent>
    <meta name="description" content="Guild Wars 2 festival guides">
    <link rel="canonical" href="https://convergencecorp.net/Festivals" />
    <meta property="og:title" content="Festivals! | Convergence Corp!" />
    
    <meta property="og:url" content="https://convergencecorp.net/Festivals" />
    <meta property="og:image" content="https://convergencecorp.net/favicon/android-chrome-512x512.png" />
    <meta property="og:description" content="Festival Guides!" />
</HeadContent>

<article style="display:flex;flex-direction:column; align-items:center;">
<h1>Festivals!</h1>
<p>
    Festivals in Guild Wars 2 are yearly recurring events that typically last for 3 weeks.
    Each festival has it's own activities, lore, rewards and achievements.
</p>
<div>Their exact start date changes from year to year, so I've just given general start ranges.</div>
    <section class="festivalpage">
        <h2>
            <a href="/Festivals/LunarNewYear">Lunar New Year</a>
        </h2>
        <p>Starts mid January to early February</p>
        <a href="/Festivals/LunarNewYear">
            <img src=@Assets["/images/Festivals/LunarNewYear/LunarNewYear-Banner.png"] style="max-width:100%;" />
        </a>
        <h2>
            <a href="/Festivals/SuperAdventureBox">Super Adventure Box</a>
        </h2>
        <p>Starts late March to mid April</p>
        <a href="/Festivals/SuperAdventureBox">
            <img src=@Assets["/images/Festivals/SAB/SAB-Banner.png"] style="max-width:100%;" />
        </a>
        <h2>
            <a href="/Festivals/DragonBash">Dragon Bash</a>
        </h2>
        <p>Starts in early to late June.</p>
        <a href="/Festivals/DragonBash">
            <img src=@Assets["/images/Festivals/DragonBash/DragonBash-Banner.png"] style="max-width:100%;" />
        </a>
        
        <h2>
            <a href="/Festivals/LabyrinthineCliffs">Festival of Four Winds: Labyrinthine Cliffs</a>
        </h2>
        <p>Starts late July to August</p>
        <a href="/Festivals/LabyrinthineCliffs">
            <img src=@Assets["/images/Festivals/FourWinds/Cliffs/LabyrinthineCliffs-Banner.png"] style="max-width:100%;" />
        </a>


        <h2>
            <a href="/Festivals/CrownPavilion">Festival of Four Winds: The Crown Pavilion</a>
        </h2>
        <p>Starts late July to August</p>
        <a href="/Festivals/CrownPavilion">
            <img src=@Assets["/images/Festivals/FourWinds/Pavilion/CrownPavilion-Banner.png"] style="max-width:100%;" />
        </a>
        <h2>
            <a href="/Festivals/Halloween">Halloween</a>
        </h2>
        <p>Starts mid October</p>
        <a href="/Festivals/Halloween">
            <img src=@Assets["/images/Festivals/Halloween/Halloween-Banner.png"] style="max-width:100%;" />
        </a>
        <h2>
            <a href="/Festivals/Wintersday">Wintersday</a>
        </h2>
        <p>Starts mid December</p>
        <a href="/Festivals/Wintersday">
            <img src=@Assets["/images/Festivals/Wintersday/Wintersday-Banner.png"] style="max-width:100%;" />
        </a>
    </section>
</article>



@code{
    
}