@using ConvergenceCorpBlazor.Components.Widget.PublicTimers;
<section>
    <h2 id="BeforeStart">Before you start!</h2>
    <div style="margin-bottom:20px;">
        <h3 id="HowToGetIn">How to get into the Convergence</h3>
        <p style="max-width:800px;justify-self:center;">
            The entrance for the Secret of the Obscure Convergences is in the Wizard's Tower.
            From the Tower Courtyard Waypoint [&BB8OAAA=], walk up the stairs and turn right into the Rift Hunter Lounge [&BOgNAAA=].
            The entrance is the portal archway, marked on your minimap with a blue swirl.
        </p>
        <div id="sotoEntrance">
            <figure style="max-width:600px;">
                <image src="/images/SotO/Shared/SotoConvergenceEntrance.png" alt="convergenceentrance" style="width:100%;"></image>
                <figcaption>SotO Convergence Entrance</figcaption>
            </figure>
            <figure style="max-width:300px;">
                <image src="/images/SotO/Shared/SotOEntranceMinimap.png" alt="convergenceentrancemini" style="width:100%;"></image>
                <figcaption>Walk up the stairs, and to the right</figcaption>
            </figure>
        </div>
        <h3>Public Convergences</h3>
        <p>
            Public Convergences can be entered for free at designated times and are always normal mode.
            What boss you face is random and is chosen from a pool that changes each week.
        </p>

        <SotOPublicTimes/>

        <h3>Private Convergences</h3>
        <p>
            Private convergences can be opened at any time and gives a choice between normal or challenge mode.
            Challenge mode has the squad vote on the boss to fight, while normal is random from the same weekly pool as public.
            To open a private convergence instance, an <a href="https://wiki.guildwars2.com/wiki/Unstable_Rift_Motivation" style="display:inline-flex;align-items:center;"><image src="https://render.guildwars2.com/file/56573075759450DD5112F1B4C7366AD85470DC2C/3187526.png" style="width:25px;"/> Unstable Rift Motivation</a> is consumed from the openers inventory.
            A full 50 man squad is recommended.
        </p>
    </div>
    <h3 id="ItemsToBring" style="padding-top:10px;">Items you should bring</h3>
    <ul id="itemstobringul">
        <li>
            <h4>
                <image src="https://render.guildwars2.com/file/7A9EA9E0C702F8BA595973FED3A853646B2E07F8/222720.png" alt="potion of demon slaying" style="width:50px;" />
                <a href="https://wiki.guildwars2.com/wiki/Powerful_Potion_of_Demon_Slaying">Powerful Potion of Demon Slaying</a>
            </h4>
            <p>
                (1 hour): 10% Damage vs. Demons, Kryptis, and Titanspawn. -10% Damage from Demons, Kryptis, and Titanspawn.
            </p>
        </li>
        <li>
            <h4>
                <image src="https://render.guildwars2.com/file/CFDC642093029E790C03381D73C703BDFFA9CDFF/499391.png" alt="sigil of night" style="width:50px;" />
                <a href="https://wiki.guildwars2.com/wiki/Superior_Sigil_of_Force">Superior Sigil of Night</a>
            </h4>
            <p>
                3% Strike Damage, +7% Strike Damage at night. Totals to 10% Strike Damage. SotO Convergences are always at night, so this is always at the full 10%.
            </p>
        </li>
        <li>
            <h4>
                <image src="https://render.guildwars2.com/file/991BD2CC63CFE343C5E55D49F657C95E71FD0439/340600.png" alt="sigil of demon slaying" style="width:50px;" />
                <a href="https://wiki.guildwars2.com/wiki/Superior_Sigil_of_Demon_Slaying">Superior Sigil of Demon Slaying</a>
            </h4>
            <p>
                3% Strike Damage, +7% Strike Damage vs. Demons, Kryptis, and Titanspawn. Totals to 10% Strike Damage when satisfied.
            </p>
        </li>
        <li>
            
            <h4>
                <image src="https://render.guildwars2.com/file/E3E4F0D2D1C155550C29A16AF163A40ABB5B7532/1451820.png" alt="White Mantle Portal Device" style="width: 50px;" />
                <a href="https://wiki.guildwars2.com/wiki/White_Mantle_Portal_Device">White Mantle Portal Device</a>
            </h4>
            <p>
                The White Mantle Portal Device can be used once every 30 minutes. Has the same portal distance as the mesmer's portal skill. 
                Smart portal play during the split phase can shave off a full minute by reducing travel time between each lieutenant.
            </p>
        </li>
        <li>
            <h4>
                <image src="https://render.guildwars2.com/file/DFF4EB43AD0803F60D105658052321A0BE1AF02C/3592832.png" alt="Relic of the Eagle" style="width:50px;"/>
                <a href="https://wiki.guildwars2.com/wiki/Relic_of_the_Eagle">Relic of the Eagle</a>
            </h4>
            <p>
                10% Strike Damage when an enemy is below 50% hp. Change to this when transitioning between the 2nd and 3rd boss phases.
            </p>
        </li>
        <li>
            <h4>
                <a href="https://wiki.guildwars2.com/wiki/Sigil#Stacking_bonus">Stacking Sigils</a>
            </h4>
            <p>
                Stacking sigils can be built up easily in the pre and split phases.
            </p>
        </li>
    </ul>
</section>