<section>
    <div>
        <h2 id="SplitPhase">Split Phase</h2>
        <p>
            The split phase starts once all three <span class="enemy">champions</span> in <span class="sotomid">mid</span> have been killed.
        </p>
        <p>
            Each corner <span class="sotonw">NW</span>, <span class="sotone">NE</span>, <span class="sotosw">SW</span>, <span class="sotose">SE</span>, becomes active and spawns 5 lieutenants each.
            Kill all of a corners lieutenants to spawn its General. Defeating the General will finish the corner.
            When all four corners are finished, the split phase ends and the boss phase begins.
        </p>
    </div>
    

    <div>
        <h3 id="Splitting">Splitting</h3>
        <p>
            2 subgroups should go to each corner.
            2 subgroups should stay <span class="sotomid">mid</span> to defend <span class="zojja">Zojja</span> 
            from the kryptis and <span class="enemy">spites</span>.
            When a corner is finished, the 2 subgroups should return <span class="sotomid">mid</span> and help with <span class="zojja">Zojja</span> and the <span class="enemy">spites</span>.
        </p>
        <figure style="max-width:600px;">
            <image src="/images/SotO/splits/SotOConvergenceSplitsv2.png" alt="islands" style="width:100%;"></image>
            <figcaption>Split to the Islands!</figcaption>
        </figure>
    </div>
    <div>
        <h3 id="Trebuchets" class="sototreb">Trebuchets</h3>
        <p>
            <span class="sototreb">Trebuchets</span> should be mostly ignored during the split phase.
            A player with projectile blocking skills can stop the treb shots from hitting <span class="zojja">Zojja</span>, but this isn't required.
            Each <span class="sototreb">trebuchet</span> will perish when the general in their corner is killed.
        </p>
    </div>
    
    <div>
        <h3 id="NW" class="sotonw">Northwest - The Spire</h3>
        <p>
            <span class="sotonw">Northwest</span> is full of rocky terrain.
            Use your Warclaw and Skyscale to avoid rocks and get over terrain height differences.
        </p>
        <p>
            While the group fights the 4th lieutenant, 1 person can setup a portal from 4 up to 5.
            If the portal is not done, everyone will have to take the Jump Mushroom up to 5, which is slower.
        </p>
        <p>
            After killing the 5th lieutenant, jump off and griffon to the general.
        </p>
        <figure style="max-width:500px; justify-self:center;">
            <image src="/images/SotO/splits/SotOSplitNWv2.png" alt="Route for Northwest Split" style="width:100%;" />
            <figcaption class="sotonw">Northwest</figcaption>
        </figure>
    </div>
    <div>
        <h3 id="NE" class="sotone">Northeast - Watcher of the Woods</h3>
        <p>
            <span class="sotone">Northeast</span> is an easy corner.
            When dropping down from 1, make sure to use a mount or glide or you'll die from fall damage.
        </p>
        <figure style="max-width: 500px; justify-self:center;">
            <image src="/images/SotO/splits/SotOSplitNEv2.png" alt="Route for Northeast Split" style="width:100%;" />
            <figcaption class="sotone">Northeast</figcaption>
        </figure>
    </div>
    <div>
        <h3 id="SW" class="sotosw">Southwest - Twisted Cathedral</h3>
        <p>
            <span class="sotosw">Southwest</span> is a little unintuitive to navigate.
            The basic strategy is just starting at the bottom and working up to the top.
        </p>
        <p>
            While the group is fighting the second lieutenant, 1 person can setup a portal from 2 up to 3.
            If the portal is not done, everyone will have to scale the pillar up to 3 with their skyscales.
        </p>
        <figure style="max-width:500px;justify-self:center;">
            <image src="/images/SotO/splits/SotOSplitSWv2.png" alt="Route for Southwest Split" style="width:100%;" />
            <figcaption class="sotosw">Southwest</figcaption>
        </figure>
    </div>
    <div>
        <h3 id="SE" class="sotose">Southeast - The Killing Fields</h3>
        <p>
            <span class="sotose">Southeast</span> is pretty simple.
            From <span class="sotomid">mid</span>, use the skyscale launcher to get to <span class="sotose">1</span> quickly.
            The fall from <span class="sotose">1</span> to <span class="sotose">2</span> is high enough to kill you.
            Mount up or glide down to prevent dying to fall damage.
            Everything else is pretty straight forward.
        </p>
        <figure style="max-width:500px;justify-self:center;">
            <image src="/images/SotO/splits/SotOSplitSEv2.png" alt="Route for Southeast Split" style="width:100%;" />
            <figcaption class="sotose">Southeast</figcaption>
        </figure>
    </div>

    <div>
        <h3 id="Mid" class="sotomid">Mid with<span class="zojja">&ensp;Zojja&ensp;</span> - Valley of the Damned</h3>
        <p>
            <span class="enemy">Spites</span> are still spawning and walking to <span class="zojja">Zojja</span>, defend her!
        </p>
        <figure style="max-width:500px;justify-self:center;">
            <image src="/images/SotO/splits/SotOSplitMidv2.png" alt="Mid with Zojja :)" style="width:100%;" />
            <figcaption class="sotomid">Mid</figcaption>
        </figure>
    </div>
    <div>
        <h3 id="DeadGeneral">My general died, what's next?</h3>
        <p>

            Go to <span class="sotomid">mid</span> to help defend <span class="zojja">Zojja</span>.
            Heading to another corner will only scale up their lieutenants and general.
            When all four generals have been defeated, the boss phase will begin.
        </p>
        <p>
            Before the boss spawns, <span class="zojja">Zojja</span> can still be healed from sources other than <span class="sotoessence">Kryptis Essence</span>.
            The skimmer's Water Jets skill can be used to heal Zojja.
            When the boss spawns, <span class="zojja">Zojja</span> will gain 20% hp. This means she needs to be over 80% when the last corner is finished.
        </p>
    </div>
</section>