<section>
    <h2 id="FirstTwoMin">First Two Minutes</h2>
    <p>
        The first <span class="time">two minutes</span> of every SotO Convergence starts the same.

    </p>
    <p>
        While <span class="zojja">Zojja</span> stand in the middle of the map, waves of Kryptis start attacking.
    </p>

    <h3 id="FirstTwoMain" class="sotomid">Main Group</h3>
    <p>
        <span class="enemy">Spites</span> will appear at <span class="enemy">1, 2</span> and <span class="enemy">3</span> in order.
        They <span class="enemy">walk</span> toward <span class="zojja">Zojja</span>, exploding when they reach her.
        A <span class="enemy">Spite</span> that has its breakbar broken will stop moving and take increased damage for a few seconds.
        Normal kryptis will also randomly spawn around the middle island and attack <span class="zojja">Zojja</span>.
    </p>
    <figure style="justify-self:center;">
        <image src="images/SotO/Pre/SotOConvergenceTwoMinutesMid.png" alt="First two minute, Main Group" style="width:100%;" />
        <figcaption> <span class="enemy">Spite</span> routes</figcaption>
    </figure>

    <h3 id="TrebGroup" class="sototreb">Treb Group (2 subgroups)</h3>
    <p>
        Every <span class="time">30 seconds</span>, a <span class="sototreb">trebuchet</span> spawns. They always spawn in the same order, starting at <span class="sototreb">position 1</span>.
        After killing a <span class="sototreb">treb</span>, quickly move onto the next one.
        The last <span class="sototreb">treb</span>, <span class="sototreb">position 4</span>, spawns when the Kryptis Reinforcements timer reaches <span class="time">0:00</span>.
        After killing the last <span class="sototreb">treb</span>, head back to mid to help with the <span class="enemy">3 champions</span>.
    </p>
    <figure id="trebfigure" style="max-width:800px;justify-self:center;">
        <image src="/images/SotO/Pre/SotOConvergenceTwoMinutesTrebs.png" alt="Treb Route" style="width:100%;"></image>
        <figcaption><span class="sototreb">Treb Route</span> for the first two minutes.</figcaption>
    </figure>
    <h3 id="ThreeChamps" class="enemy">Three Champions</h3>
    <p>
        When the Kryptis Reinforcements timer reaches <span class="time">0:00</span>, <span class="enemy">3 champions</span> will spawn.
        One at each spot <span class="enemy">1</span>, <span class="enemy">2</span>, <span class="enemy">3</span>.
        They will initially be invulnerable until they <span class="enemy">walk</span> about halfway to <span class="zojja">Zojja</span>.
        Try and spread evenly to these champs, not killing them one by one. 
     </p>
     <p>
        I recommend sending 3 subs to West, 3 subs to NE, and 2 subs to SE.
        The 2 subs killing the last <span class="sototreb">treb</span> should return and help with the SE champ.
    </p>
    <p>
        After all 3 <span class="enemy">champions</span> are killed, the split phase will begin.<br>
    </p>
    
</section>