NA Times in Eastern/Pacific
<ul>
    <li>
        Monday
        <ul>
            <li>
                11/8am - 
                <a href="https://twitch.tv/DarensWithS">twitch.tv/DarensWithS</a>
            </li>
        </ul>
    </li>
    <li>
        Tuesday
    </li>
    <li>
        Wednesday
        <ul>
            <li>
                10/7pm - Unfit Heroes Heroing Heroically [UHHH] - Hella Crates
            </li>
        </ul>
    </li>
    <li>
        Thursday
        <ul>
            <li>
                4/1pm - The Silverwastes Anonymous [SAS]
            </li>
        </ul>
    </li>
    <li>
        Friday
        <ul>
            <li>
                9/6pm - The Sleepiest Warriors [SLPY] - 
                <a href="https://twitch.tv/projektdyad">twitch.tv/projektdyad</a> - 
                <a href="https://projektdyad.com">projektdyad.com</a>
            </li>
        </ul>
    </li>
    <li>
        Saturday
        <ul>
            <li>
                2pm/11am - Convergence Corp [CC] - 
                <a href="https://discord.gg/HyVZqAuAQ2">Discord</a>
            </li>
            <li>
                6:30/3:30pm - Cabaret Velour [LILY] - <span class="caution">not running 5/24</span> -
                <a href="https://twitch.tv/lilyvelour">twitch.tv/lilyvelour</a> - 
                <a href="https://discord.gg/lilyvelour">Discord</a>
            </li>
            <!--
            <li>
                Saturdays at R+1.5 or 2.5? MarshAll.3528, I tried messaging them ingame but got 0 response.
            </li>
            -->
        </ul>
    </li>
    <li>
        Sunday
        <ul>
            <li>
                2pm/11am - Ownly [FUN] - 
                <a href="https://discord.gg/vQ5asNhZYB">Discord</a>
            </li>
            <li> <!-- https://discord.gg/Kcf62kejz6 perma link-->
                5/2pm - The Astral Light Of Tyria [STAR] - 
                <a href="https://discord.gg/ytbVsRgv9j">Discord</a>
            </li>
        </ul>
    </li>
    <li>
        During the week
        <ul>
            <li>
                8/5am - Godlyarms [GDAM], they do CMs in parts throughout the week.
            </li>
        </ul>
    </li>
</ul>