@rendermode InteractiveServer
    EU Times in UTC-0
<ul>
    <li>
        Monday
        <ul>
        </ul>
    </li>
    <li>
        Tuesday
    </li>
    <li>
        Wednesday
    </li>
    <li>
        Thursday
        <ul>
            <li>
                <span class="EUtime">@cutetime.ToString("MM/dd/yy H:mm:ss zzz")</span> - Cruel Unending Tyrannic Entity [CUTE]
            </li>
        </ul>
    </li>
    <li>
        Friday
        <ul>
        </ul>
    </li>
    <li>
        Saturday
        <ul>
            <li>
                <span class="EUtime">@skeintime.ToString("MM/dd/yy H:mm:ss zzz")</span> - Skein Gang [SG] - <a href="https://discord.gg/skeingang">Discord</a>
            </li>
        </ul>
    </li>
    <li>
        Sunday
        <ul>
        </ul>
    </li>
    <li>
        During the week
        <ul>
        </ul>
    </li>
</ul>

@code{
    DateTime cutetime =     new DateTime(2025,6,12,18,00,00,DateTimeKind.Utc);
    DateTime skeintime =    new DateTime(2025,6,14,18,30,00,DateTimeKind.Utc);
}


<script>
    var times = document.getElementsByClassName("EUtime");
    for(var time of times){
        time.innerText = new Date(time.innerText).toLocaleTimeString();
    }
</script>
