    EU Times in UTC-0
<ul>
    <li>
        Monday
        <ul>
        </ul>
    </li>
    <li>
        Tuesday
    </li>
    <li>
        Wednesday
    </li>
    <li>
        Thursday
        <ul>
            <li>
                6pm - Cruel Unending Tyrannic Entity [CUTE]
            </li>
        </ul>
    </li>
    <li>
        Friday
        <ul>
        </ul>
    </li>
    <li>
        Saturday
        <ul>
            <li>
                6:30pm - Skein Gang [SG] - <a href="https://discord.gg/skeingang">Discord</a>
            </li>
        </ul>
    </li>
    <li>
        Sunday
        <ul>
        </ul>
    </li>
    <li>
        During the week
        <ul>
        </ul>
    </li>
</ul>