<p>
    Current time: <span id="CNCurTime">@CNCurTime.ToString("MM/dd/yy H:mm:ss zzz")</span>!
</p>
<ul>
    <li>
        Monday
        <ul>
        </ul>
    </li>
    <li>
        Tuesday
    </li>
    <li>
        Wednesday
    </li>
    <li>
        Thursday
        <ul>
        </ul>
    </li>
    <li>
        Friday
        <ul>
        </ul>
    </li>
    <li>
        Saturday
        <ul>
        </ul>
    </li>
    <li>
        Sunday
        <ul>
        </ul>
    </li>
    <li>
        During the week
        <ul>
        </ul>
    </li>
</ul>

@code{
    //no china times :(
    DateTime CNCurTime =    DateTime.Now;
}

<script>
    var times = document.getElementsByClassName("CNtime");
    for(var time of times){
        time.innerText = new Date(time.innerText).toLocaleTimeString([], {
            hour:'numeric',
            minute:'2-digit'
        });
    }
    var CNCurTime = document.getElementById("CNCurTime");
    CNCurTime.innerText = new Date(CNCurTime.innerText).toLocaleTimeString([], {
        hour:'numeric',
        minute:'2-digit',
        timeZoneName:'short'
    });
</script>