@page "/Deprecated"
<PageTitle>Deprecated | Convergence Corp!</PageTitle>
<HeadContent>
    <meta name="description" content="Deprecated content on the Convergence Corp website!">
    <link rel="canonical" href="https://convergencecorp.net/Deprecated" />
    <meta property="og:title" content="Deprecated | Convergence Corp!" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://convergencecorp.net/Deprecated" />
    <meta property="og:image" content="https://convergencecorp.net/favicon/android-chrome-512x512.png" />
    <meta property="og:description" content="Deprecated content on the Convergence Corp website!" />
    <meta property="og:site_name" content="Convergence Corp!" />
</HeadContent>
<h2>Old Stuff</h2>
<p>
    This page has links to old pages that I will no longer update.
</p>
<p>
    Stuff may be broken in there.
</p>
<ul>
    <li>
        <a href="/VoEOld">VoE Expac hype page</a>
        Deprecated: January 3rd, 2026
    </li>
</ul>