@page "/"
@using ConvergenceCorpBlazor.Components.Widget.PublicTimers;
@rendermode InteractiveServer

<PageTitle>Convergence Corp!</PageTitle>
<HeadContent>
    <meta name="description" content="Convergence Corp! A website for all things Convergences in Guild Wars 2!">
    <link rel="canonical" href="https://convergencecorp.net" />
    <meta property="og:title" content="Convergence Corp!" />
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://convergencecorp.net"/>
    <meta property="og:image" content="https://convergencecorp.net/favicon/android-chrome-512x512.png"/>
    <meta property="og:description" content="Convergence Corp! A website for all things Convergences in Guild Wars 2!"/>
    <meta property="og:site_name" content="Convergence Corp!"/>
</HeadContent>
<!-- home page text  -->
<h1>Convergence Corp, a website for Convergences!</h1>
<p>
    <DiscordLink />
    <div>
        Check out the <a href="/schedule">schedule</a> to find a convergence group running soon&trade;.
    </div>
    <CurrentTime />
</p>
<SotOPublicTimes />
<JWPublicTimes />
<VoEPublicTimes />

<CombinedTimer />